<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>下载按钮广告</h3>
            </div>
            <div class="box-content">
                <form action="<!--{{url('v4adv/btndownload/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
                    <input name="id" type="hidden" value="<!--{{tpl.id}}-->" />
                    
                    <!--{%if tpl.id%}-->
	                    <div class="control-group appType">
	                        <label for="textfield" class="control-label">应用类型</label>
	                        <div class="controls">
	                            <!--{{form_select('appType',appType,tpl.appType,{'class':'input-small','id':'appType'})}}-->
	                        </div>
	                    </div>
                    <!--{%else%}-->
	                <div class="control-group">
	                	<label class="control-label">应用类型</label>
	                    <div class="controls appTypeList">
	                    	<!--{{form_checkbox('appTypeList[]','yxdjqb',appType=='yxdjqb')}}-->游戏多
	                        <!--{{form_checkbox('appTypeList[]','youxiduojiu3',appType=='youxiduojiu3')}}-->游戏多业内版
	                        <!--{{form_checkbox('appTypeList[]','glwzry',appType=='glwzry')}}-->攻略
	                    </div>
	                </div>
                    <!--{%endif%}-->
                    
                    <div class="control-group">
                        <label for="textfield" class="control-label">应用版本</label>
                        <div class="controls">
                            <input name="appVersion" type="text" class="input-xxlarge" value="<!--{{tpl.appVersion}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">关联的游戏</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="selected_game_id" name="gameId" type="hidden" value="<!--{{tpl.gameId}}-->" />
                                <img id="selected_game_icon" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
                                <input type="text" id="selected_game_name" name="gameName" class="input-xlarge" value="<!--{{tpl.gameName}}-->" data-rule-required="true" data-msg-required="关联游戏不能为空" />
                                <span class="add-on select-pop-game">选择游戏</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">厂商回调advid</label>
                        <div class="controls">
                            <input name="advId" type="text" class="input-xxlarge" value="<!--{{tpl.advId}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">跳转地址</label>
                        <div class="controls">
                            <input name="owmUrl" type="text" class="input-xxlarge" value="<!--{{tpl.owmUrl}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">浏览器类型</label>
                        <div class="controls">
                            <label class="radio inline">
                                <!--{{form_radio('linkType',2,tpl.linkType==2)}}-->内置浏览器
                            </label>
                            <label class="radio inline">
                                <!--{{form_radio('linkType',1,tpl.linkType==1)}}-->Safari浏览器
                            </label>
                        </div>
                    </div>
                    <!-- <div class="control-group">
                        <label for="textfield" class="control-label">是否自动登录</label>
                        <div class="controls">
                            <label class="radio inline">
                                <!--{{form_radio('isAutoLogin',1,tpl.isAutoLogin==1)}}-->是
                            </label>
                            <label class="radio inline">
                                <!--{{form_radio('isAutoLogin',2,tpl.isAutoLogin==2)}}-->否
                            </label>
                        </div>
                    </div> -->
                    <div id="third">
                    <input id="third-count" name="third-count" type="hidden" value="<!--{{tpl.thirdCount}}-->" />
                    <input id="third-delids" name="third-delids" type="hidden" value="" />
                    <!--{% for third in tpl.thirdVendorsList %}-->
                    <!--{% set i = 1 %}-->
                    <div id="third-sub-<!--{{i}}-->" >
                    <button type="button" class="btn btn-danger third-del control-group">X</button> 
                    <input name="thirdid[]" type="hidden" class="input-xxlarge thirdid" value="<!--{{third.id}}-->" />
                    <input name="gameDownloadId[]" type="hidden" class="input-xxlarge" value="<!--{{third.gameDownloadId}}-->" />
                    <div class="control-group">
                        <label for="textfield" class="control-label">第三方地址</label>
                        <div class="controls">
                            <input name="thirdUrl[]" type="text" class="input-xxlarge" value="<!--{{third.thirdUrl}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">mac</label>
                        <div class="controls">
                            <input name="mac[]" type="text" class="input-xxlarge" value="<!--{{third.mac}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">idfa</label>
                        <div class="controls">
                            <input name="idfa[]" type="text" class="input-xxlarge" value="<!--{{third.idfa}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">openudid</label>
                        <div class="controls">
                            <input name="openudid[]" type="text" class="input-xxlarge" value="<!--{{third.openudid}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">os</label>
                        <div class="controls">
                            <input name="os[]" type="text" class="input-xxlarge" value="<!--{{third.os}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">plat</label>
                        <div class="controls">
                            <input name="plat[]" type="text" class="input-xxlarge" value="<!--{{third.plat}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">callback</label>
                        <div class="controls">
                            <input name="callback[]" type="text" class="input-xxlarge" value="<!--{{third.callback}}-->" />
                        </div>
                    </div>
                    </div>
                    <!--{% set i = i + 1 %}-->
                    <!--{% endfor %}-->
					</div>
					<div>
                        <button type="button" class="btn btn-primary third-add">新增第三方链接</button>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="third-module" style="display:none">
    <button type="button" class="btn btn-danger third-del control-group">X</button>  
	<input name="thirdid[]" type="hidden" class="input-xxlarge thirdid" value="" />
	<input name="gameDownloadId[]" type="hidden" class="input-xxlarge" value="" />
	<div class="control-group">
	<label for="textfield" class="control-label">第三方地址</label>
	<div class="controls">
	<input name="thirdUrl[]" type="text" class="input-xxlarge" value="" />
	</div>
	</div>
	<div class="control-group">
	<label for="textfield" class="control-label">mac</label>
	<div class="controls">
	<input name="mac[]" type="text" class="input-xxlarge" value="" />
	</div>
	</div>
	<div class="control-group">
	<label for="textfield" class="control-label">idfa</label>
	<div class="controls">
	<input name="idfa[]" type="text" class="input-xxlarge" value="" />
	</div>
	</div>
	<div class="control-group">
	<label for="textfield" class="control-label">openudid</label>
	<div class="controls">
	<input name="openudid[]" type="text" class="input-xxlarge" value="" />
	</div>
	</div>
	<div class="control-group">
	<label for="textfield" class="control-label">os</label>
	<div class="controls">
	<input name="os[]" type="text" class="input-xxlarge" value="" />
	</div>
	</div>
	<div class="control-group">
	<label for="textfield" class="control-label">plat</label>
	<div class="controls">
	<input name="plat[]" type="text" class="input-xxlarge" value="" />
	</div>
	</div>
	<div class="control-group">
	<label for="textfield" class="control-label">callback</label>
	<div class="controls">
	<input name="callback[]" type="text" class="input-xxlarge" value="" />
	</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    var set_selected_game = function(game_id,game_name,icon){
        $('#selected_game_id').val(game_id);
        $('#selected_game_icon').attr('src',icon);
        $('#selected_game_name').val(game_name);
    };
    $(function(){
        $('.select-pop-game').bind('click',function(){
            $.ajax({
                url:'/game/api/game-search',
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });
        $('.third-add').bind('click',function(){
        	var c = Number($('#third-count').val());
        	c = c + 1;
        	$('#third-count').val(c);
			$('#third').append('<div id="third-sub-'+c+'">'+$('#third-module').html()+'</div>');
        });
        $('.third-del').live('click',function(){
        	if ($(this).parent().children('.thirdid').val()) {
        		var ids = $('#third-delids').val();
        		if (ids) {
        			ids += ',';
        		}
        		ids += $(this).parent().children('.thirdid').val();
        		$('#third-delids').val(ids);
        	}
        	var c = Number($('#third-count').val());
        	c = c - 1;
        	$('#third-count').val(c);
        	$(this).parent().remove();
        });
    });
</script>
<!--{%endblock%}-->