<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    下载按钮链接管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('v4adv/btndownload/list')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td>
                                    <input type="text" class="input-small" name="gameName" placeholder="游戏名称" value="<!--{{ search.gameName }}-->">
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a href="<!--{{url('v4adv/btndownload/add')}}-->" class="btn btn-teal">添加链接</a></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                    	<th class="col-60">advid</th>
                        <th class="col-60">游戏ID</th>
                        <th class="col-150">游戏名称</th>
                        <th class="col-80">类型</th>
                        <th class="col-80">版本</th>
                        <th class="col-80">浏览器</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                    	<td><!--{{item.advId}}--></td>
                        <td><!--{{item.gameId}}--></td>
                        <td><!--{{item.gameName}}--></td>
                        <td><!--{{item.appType}}--></td>
                        <td><!--{{item.appVersion}}--></td>
                        <td><!--{{linkType[item.linkType]}}--></td>
                        <td>
                            <a href="<!--{{url('v4adv/btndownload/edit',{gid:item.id})}}-->" class="btn btn-primary">编辑</a>
                        	<a href="javascript:void(0);" data="<!--{{ item.id }}-->" class="btn btn-primary ajax-del">删除</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
		$('.ajax-del').bind('click',function(){
			var id = $(this).attr('data');
			alertify.confirm('是否删除该广告？',function(e){
				if(e){
					$.get('/v4adv/btndownload/del/'+ id,function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
    });
</script>
<!--{%endblock%}-->