<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>顶部弹窗设置
				</h3>				
			</div>
			<div class="box-content">			    
			    <form action="<!--{{url('wcms/home/top-adv')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">			    
				<!--{%if setting.smallPicUrl%}-->
			    <div class="control-group">
			        <label class="control-label">小图片</label>
					<div class="controls">
					    <input name="smallPicUrl" type="hidden" value="<!--{{setting.smallPicUrl}}-->" />
					    <a href="#bigimg" data-toggle="modal"><img src="<!--{{setting.smallPicUrl}}-->" width="150px" /></a>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label class="control-label">上传小图片</label>
					<div class="controls">
					    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
								<input type="file" name="filedata_small" />
							</div>
						</div>
					</div>
				</div>
				<!--{%if setting.bigPicTopUrl%}-->
			    <div class="control-group">
			        <label class="control-label">大图片</label>
					<div class="controls">
					    <input name="bigPicTopUrl" type="hidden" value="<!--{{setting.bigPicTopUrl}}-->" />
					    <a href="#bigimg" data-toggle="modal"><img src="<!--{{setting.bigPicTopUrl}}-->" width="150px" /></a>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label class="control-label">上传大图片</label>
					<div class="controls">
					    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
								<input type="file" name="filedata_big_top" />
							</div>
						</div>
					</div>
				</div>	
				<!--{%if setting.bigPicBottomUrl%}-->
			    <div class="control-group">
			        <label class="control-label">大图片</label>
					<div class="controls">
					    <input name="bigPicBottomUrl" type="hidden" value="<!--{{setting.bigPicBottomUrl}}-->" />
					    <a href="#bigimg" data-toggle="modal"><img src="<!--{{setting.bigPicBottomUrl}}-->" width="150px" /></a>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label class="control-label">上传大图片</label>
					<div class="controls">
					    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
								<input type="file" name="filedata_big_bottom" />
							</div>
						</div>
					</div>
				</div>											
				<div class="control-group">
					<label class="control-label">跳转URL</label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="url" class="input-xxlarge" value="<!--{{setting.url}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">最后修改人</label>
					<div class="controls">
					    <div class=" input-append">
							<label class="control-label"><!--{{setting.userName}}--></label>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>	    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>

$(function(){   
	
});    
</script>
<!--{%endblock%}-->