<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>新游预告
				</h3>				
			</div>
			<div class="box-content">			    
			    <form id="form_slide" action="<!--{{url('wcms/home/advance')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				<!--{%if setting.picUrl%}-->
			    <div class="control-group">
			        <label class="control-label">图片</label>
					<div class="controls">
					    <input name="picUrl" type="hidden" value="<!--{{setting.picUrl}}-->" />
					    <a href="#bigimg" data-toggle="modal"><img src="<!--{{setting.picUrl}}-->" width="150px" /></a>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label class="control-label">上传图片</label>
					<div class="controls">
					    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
								<input type="file" name="filedata" class="validate[required]" data-errormessage-value-missing="请选择图片" />
							</div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">标题</label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="title" class="input-xxlarge validate[condRequired[type-url]]" value="<!--{{setting.title}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">跳转URL</label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="url" class="input-xxlarge validate[condRequired[type-url]]" value="<!--{{setting.url}}-->" />
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>	    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){        
});    
</script>
<!--{%endblock%}-->