<!--{%extends "sub-layout-sproject.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>修改游戏</h3>
			</div>
			<div class="box-content">
				<form id="admin-add" action="<!--{{url('sproject/attestation/save/')}}-->" method="POST" enctype="multipart/form-data" class='form-horizontal form-validate'>
				<div class="control-group">
					<label for="title" class="control-label">名称</label>
					<div class="controls">
						<input id="title" type="text" name="title" class="input-normal" data-rule-required="true" value="<!--{{result.title}}-->" data-msg-required="不能为空">
						<span for="title" class="help-inline error">名称最多13个汉字</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">认证信息</label>
					<div class="controls">
						<input id="info" type="text" name="info" class="input-normal" data-rule-required="true" value="<!--{{result.info}}-->" data-msg-required="不能为空">
						<span for="info" class="help-inline error">认证信息最多14个汉字</span>
					</div>
				</div>

				<div class="control-group">
					<label for="textfield" class="control-label">icon</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{result.icon}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="icon"  value="<!--{{result.icon}}-->"/>
						            <input type="hidden" name="oldicon"  value="<!--{{result.icon}}-->"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>

				<div class="control-group">
					<label for="detail" class="control-label">详细介绍</label>
					<div class="controls">
						<textarea class="input-xxlarge" name="detail"><!--{{result.detail}}--></textarea>
					</div>
				</div>
				
				
				
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>完成</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$("[class='my-checkbox']").bootstrapSwitch();
</script>

<!--{%endblock%}-->