<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>礼包信息</h3>
            </div>
            <div class="box-content">
                <form id="gift-info-form" action="<!--{{url('v4agiftbag/gift/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label">名称</label>
                        <div class="controls">
                            <input type="text" name="title" class="input-large" value="<!--{{ input_old('title') }}-->" data-rule-required="true" data-msg-required="请填写名称"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">所属游戏</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="selected_game_id" name="game_id" type="hidden" value="<!--{{ input_old('game_id') }}-->"/>
                                <input name="icon" type="hidden" value="<!--{{ input_old('icon') }}-->"/>
                                <img id="selected_game_icon" class="add-on" src="<!--{{ input_old('icon')|default('/static/img/wu_ss.gif') }}-->"/>
                                <input type="text" id="selected_game_name" name="game_name" class="input-medium"
                                       value="<!--{{ input_old('game_name') }}-->"  readonly/>
                                <span class="add-on select-pop-game">选择游戏</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="control-group" id="select_cardCode">
                                <label for="textfield" class="control-label">发布礼包库</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input id="selected_cardCode" name="card_code" value="<!--{{ input_old('card_code') }}-->" type="hidden"/>
                                        <input type="text" id="selected_card_name" readonly class="input-small" name="card_des" data-rule-required="true" data-msg-required="请选择卡密"  value="<!--{{ input_old('card_des') }}-->"  />
                                        <span class="add-on select-card-code">选择</span>
                                        <span class="add-on can-use">可上架礼包<span class="text-error">0</span>个</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label for="textfield" class="control-label">发布数量</label>
                                <div class="controls">
                                    <input type="text" name="card_stock" class="input-small" value="<!--{{ input_old('card_stock') }}-->" data-rule-digits="true" data-msg-digits="请填写整数">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid virtual">
                        <div class="span3">
                            <div class="control-group"  id="card-import">
                                <label class="control-label">礼包文件</label>
                                <div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail"style="max-width: 120px; max-height: 120px;">
                                            请选择文件
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"  id="uploadTxt" ></div>
                                        <div>
                                            <span class="btn btn-file uploadNow"><i class="icon-picture"></i><span class="fileupload-new">选择文件</span><span class="fileupload-exists">重新选择</span><input  type="file" name='importFile' id="file_upload" /></span>
                                        </div><span class="add-on text-error  card-line" id="upload-kami"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <a class="btn btn-lime upload-card" style="display: none;" href="#">上传</a>卡密类产品 请上传卡密-不然会添加失败!
                        </div>
                    </div>
                    <!--
                    <div class="row-fluid append-file">
                        <div class="span4">
                            <div class="control-group">
                                <label for="textfield" class="control-label">添加礼包库</label>
                                <div class="controls">
                                    <div data-provides="fileupload" class="fileupload fileupload-new">
										<span class="btn btn-file"><span class="fileupload-new">选择</span>
											<span class="fileupload-exists">重选</span>
											<input type="file" name="append_file"></span>
                                        <span class="fileupload-preview"></span>
                                        <a style="float: none" data-dismiss="fileupload" class="close fileupload-exists" href="#">×</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">开始时间</label>
                                <div class="controls">
                                    <div class="input-append date">
                                        <input name="start_time" type="text" class="input-medium datetimepicker" value="<!--{{ input_old('start_time') }}-->" >
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">结束时间</label>
                                <div class="controls">
                                    <div class="input-append date">
                                        <input name="end_time" type="text" class="input-medium datetimepicker" value="<!--{{ input_old('end_time') }}-->" >
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="control-group">
                                <label class="control-label">属性</label>
                                <label class="checkbox inline">
                                    <!--{{form_checkbox('is_top',1,input_old('is_top'),{'class':'checkbox'})}}-->置顶
                                </label>
                                <div class="input-append date hot_end_time" style="margin-left: 20px;">
                                    <input name="top_end_time" type="text" class="input-medium datetimepicker" value="<!--{{ input_old('top_end_time') }}-->" >
                                    <span class="add-on"><i class="icon-calendar"></i> 置顶结束时间</span>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">
                                    游币
                                </label>
                                <div class="controls">
                                    <input id="coin" type="text" placeholder="游币数" name="coin" value="<!--{{ input_old('coin')|default(0) }}-->"  class="input-small" data-rule-digits="true" data-msg-digits="请填写整数"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">领取设定</label>
                                <div class="controls">
                                    <input name="type_set" type="radio" value="1"
                                    <!--{{ input_old('type_set') == 1 ? 'checked' : 'checked' }}-->/>普通领取
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="controls">
                                <input id="exclusive-set" name="type_set" type="radio" value="2"
                                <!--{{ input_old('type_set') == 2 ? 'checked' : '' }}-->/>授权领取
                            </div>
                        </div>
                        <div class="span3">
                            <div class="controls">
                                <input name="type_set" type="radio" value="3"
                                <!--{{ input_old('type_set') == 3 ? 'checked' : '' }}-->/>新手礼包
                            </div>
                        </div>
                    </div>
                    <div id="exclusive" style="display: none;">
                        <div class="control-group">
                            <label for="textfield" class="control-label">选择用户</label>
                            <div class="controls">
                                <div class="input-append">
                                    <a href="javascript:void(0);" id="users" class="btn btn-primary select-unames">请选择用户</a>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" >
                            <label class="control-label">授权用户</label>
                            <div class="controls">
                                <textarea id="uid" readonly name="account_ids"
                                          class="input-xlarge validate[condRequired[exclusive-set]] input-selected-uids"><!--{{ input_old('account_ids') }}--></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <div class="controls">
                                    <!--{{form_radio('limit_type',-1,1)}}-->限领一个
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="controls">
                                <!--{{form_radio('limit_type',0)}}-->不限领取
                            </div>
                        </div>
                        <div class="span3">
                            <div class="controls">
                                <!--{{form_radio('limit_type',1,0,{'id':'limit'})}}-->按规则限领
                            </div>
                        </div>
                    </div>

                    <div class="control-group limit">
                        <label class="control-label">限购规则设定</label>
                        <div class="controls">
                            <input name="limit[]" type="checkbox" id="mr-count" value="1" <!--{{ 1 in input_old('limit') ? 'checkedn' : '' }}-->/> 限制每人可领取总数
                            <input type="text" data-rule-digits="true" class="validate[condRequired[mr-count]]"
                                   data-msg-digits="请填写整数" data-rule-min="2" data-msg-min="总数至少为2" name="single_limit"
                                   id="single-limit" style="width:50px" value="<!--{{ input_old('single_limit') }}-->"> 个
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span5 limit">
                            <div class="control-group">
                                <div class="controls">
                                    <input name="limit[]" type="checkbox" id="mt-count" value="2" <!--{{ 2 in input_old('limit') ? 'checkedn' : '' }}-->/> 限制每人每

                                    <input type="text" name="time_value" data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1"
                                           class="daily-limit-1 validate[condRequired[mt-count]]" data-msg-digits="请填写整数" style="width:30px" value="<!--{{ input_old('time_value') }}-->">
                                    <select name="time_type" style="width:80px" >
                                        <option value="day">天</option>
                                        <option value="hour">小时</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="span4 limit">
                            <div class="control-group">
                                <div class="controls">
                                    可领取数 <input type="text" name="rule_limit" data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数"
                                                class="daily-limit-2 validate[condRequired[mt-count]] input-small" value="<!--{{ input_old('rule_limit') }}-->" style="width:30px;"> 个
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group append">
                        <label class="control-label">追加发布设定</label>
                        <div class="controls">
                            <input id="is-append" name="is_append" <!--{{ input_old('is_append') ? 'checked' : '' }}--> data-on-color="success" data-on-text="追加"
                            data-off-color="danger" data-off-text="不追加" class="switchbox" type="checkbox"/>
                        </div>
                    </div>

                    <div class="control-group appends">
                        <div class="controls">
                            <input name="append" id="append-1" type="radio" value="1" class="r-append validate[condRequired[is-append]]"/> 按时间追加
                            每 <input type="text" name="add_period"  data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1"
                                     id="add-period" class="validate[condRequired[append-1]] zhuijia_3" data-msg-digits="请填写整数" style="width:30px" value="">
                            <select name="add_period_type" style="width:80px" >
                                <option value="day">天</option>
                                <option value="hour">小时</option>
                            </select>
                            追加 <input id="add-num-1" name="add_num_1" class="input-small validate[condRequired[append-1]] zhuijia_3" type="text"
                                      data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数">
                            追加上限 <input id="add-num-max-1" name="add_num_max_1" class="input-small validate[condRequired[append-1]] zhuijia_3" type="text"
                                        data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数">
                        </div>
                    </div>
                    <div class="control-group appends">
                        <div class="controls">
                            <input id="append-2" name="append" type="radio" value="2" class="r-append validate[condRequired[is-append]]"/> 按剩余数追加
                            当剩余礼包数小于 <input type="text" id="condition-num-1" name="condition_num_1" data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1"
                                            class="validate[condRequired[append-2]] zhuijia_1" data-msg-digits="请填写整数" style="width:30px" value="">
                            追加 <input id="add-num-2" name="add_num_2" class="input-small validate[condRequired[append-2]] zhuijia_1" type="text"
                                      data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数">
                            追加上限 <input id="add-num-max-2" name="add_num_max_2" class="input-small validate[condRequired[append-2]] zhuijia_1" type="text"
                                        data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数">
                        </div>
                    </div>
                    <div class="control-group appends">
                        <div class="controls">
                            <input id="append-3" name="append" type="radio" value="3" class="r-append validate[condRequired[is-append]]"/> 按剩余率追加
                            当剩余礼包比小于 <input type="text" id="condition-num-2" name="condition_num_2" data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1"
                                            class="validate[condRequired[append-3]] zhuijia_2" data-msg-digits="请填写整数" style="width:30px" value=""> %
                            追加 <input id="add-num-3" name="add_num_3" class="input-small validate[condRequired[append-3]] zhuijia_2" type="text"
                                      data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数">
                            追加上限 <input id="add-num-max-3" name="add_num_max_3" class="input-small validate[condRequired[append-3]] zhuijia_2" type="text"
                                        data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数">
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label">礼包来源</label>
                        <div class="controls">
                            <input id="belong_us" name="belong_us" <!--{{ input_old('belong_us') ? 'checked' : '' }}--> data-on-color="success" data-on-text="自购"
                            data-off-color="danger" data-off-text="商务" class="switchbox" type="checkbox"/>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">排序</label>
                                <div class="controls">
                                    <input type="text" name="sort" class="input-small" value="<!--{{input_old('sort')|default('0')}}-->"
                                           data-rule-digits="true" data-rule-min="0" data-msg-min="最小为0" data-msg-digits="请填写整数"/>
                                    <span class="add-on text-warning">越大越靠前</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group append">
                        <label class="control-label">淘号</label>
                        <div class="controls">
                            <input id="is_draw" name="isDraw" <!--{{ input_old('isDraw') ? 'checked' : '' }}--> data-on-color="success" data-on-text="淘号"
                            data-off-color="danger" data-off-text="不淘号" class="switchbox" type="checkbox"/>
                        </div>
                    </div>

                    <div id="draw_show" style="display: none">
                        <div class="control-group ">
                            <div class="controls">
                                玩家领取礼包后<input  name="afterTime"  type="text" value="60" style="width:30px"> 分钟后可被淘 免费淘号次数<input name="freeNumber"  type="text" value="1" style="width:30px">每次淘号花费游币数 <input  name="cost"  type="text" value="1" style="width:30px">
                            </div>
                        </div>
                        <!--
                            class="input-small validate[condRequired[append-1]]" type="text"
									data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数"
                        -->
                        <div class="control-group ">
                            <div class="controls">
                                <input id="draw_1" name="draw_radio" <!--{{ input_old('draw_radio')==1 ? 'checked' : '' }}--> type="radio" value="1"  class=""/> 按时间开启 开始时间 <div class="input-append date"> <input name="beginTime" type="text" class="input-medium datetimepicker validate[condRequired[draw_1]]"   value="<!--{{ input_old('beginTime') }}-->" ><span class="add-on"><i class="icon-calendar"></i></span></div> 持续时间 <input type="text" id="<!--{{ input_old('dataValue') }}-->" name="dataValue" class="validate[condRequired[draw_1]]" data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数" style="width:30px"  value="">
                                <select name="dataType" id="dataType" style="width:80px" >
                                    <option value="day">天</option>
                                    <option value="hour">小时</option>
                                    <option value="minute">分钟</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group ">
                            <div class="controls">
                                <input id="draw_2" name="draw_radio" type="radio" value="2" class=""/> 按领取数量开启 当领取礼包大于<input type="text" id="dataValue_2" name="dataValue_2" class="input-small validate[condRequired[draw_2]]"  style="width:30px"  value="<!--{{input_old('dataValue_2')}}-->"> 开启淘号
                            </div>
                        </div>

                        <div class="control-group ">
                            <div class="controls">
                                <input id="draw_3" name="draw_radio" type="radio" value="3" class=""/> 按领取率开启 当领取礼包大于<input type="text" id="dataValue_3" name="dataValue_3" class="input-small validate[condRequired[draw_3]]"  style="width:30px"  value="<!--{{ input_old('dataValue_3')}}-->">％ 开启淘号
                            </div>
                        </div>

                        <div class="control-group ">
                            <div class="controls">
                                <input id="draw_4" name="draw_radio" type="radio" value="4" class=""/>全部领完<input type="text"  id="dataValue_4" class="validate[condRequired[draw_4]]" name="dataValue_4" class="input-small" data-rule-digits="true" data-rule-min="1" data-msg-min="最小为1" data-msg-digits="请填写整数" style="width:30px"  value="<!--{{ input_old('dataValue_4')}}-->">分钟后可被淘号
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">热门礼包</label>
                        <div class="controls">
                            <input id="isHot" name="isHot" <!--{{ input_old('isHot') ? 'checked' : '' }}--> data-on-color="success" data-on-text="是" data-off-color="danger" data-off-text="否" class="switchbox" type="checkbox"/>
                        </div>
                    </div>


                    <div class="control-group">
                        <label for="textfield" class="control-label">礼包简介</label>
                        <div class="controls">
                            <script id="summary" name="summary" type="text/plain"><!--{{ input_old('summary') }}--></script>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">礼包说明</label>
                        <div class="controls">
                            <script id="intro" name="intro" type="text/plain"><!--{{ input_old('intro') }}--></script>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">礼包备注</label>
                        <div class="controls">
                            <script id="des" name="des" type="text/plain"><!--{{ input_old('des') }}--></script>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">上架设定</label>
                                <div class="controls">
                                    <input name="shelf_set" type="radio" value="1"
                                    <!--{{ input_old('shelf_set') == 1 ? 'checked' : 'checked' }}-->/>上架
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="controls">
                                <input name="shelf_set" type="radio" value="2"
                                <!--{{ input_old('shelf_set') == 2 ? 'checked' : '' }}-->/>下架
                            </div>
                        </div>
                        <div class="span3">
                            <div class="controls">
                                <input name="shelf_set" type="radio" value="3"
                                <!--{{ input_old('shelf_set') == 3 ? 'checked' : '' }}-->/>自动上架（礼包开始时间）
                            </div>
                        </div>
                    </div>
                    <div id="clone_" >
                        <input type="hidden" name="tmp" id="tmp" value="">
                        <input type="hidden" name="filename" id="filename" value="">
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script src="<!--{{asset('/static/js/layer.js')}}-->"></script>
<script src="<!--{{asset('/static/js/laypage.js')}}-->"></script>
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>

    function set_selected_card(card_code,card_name,card_stock,can_use){
        $('#selected_cardCode').val(card_code);
        $('#selected_card_name').val(card_name);
        $("input[name='card_name']").val(card_name);
        $("input[name='card_stock']").val(can_use);

        var stock = $("input[name='card_stock']");
        stock.after(stock.clone().attr('data-rule-max',can_use).attr('data-msg-max','最大为'+can_use+'个'));
        stock.remove();

        $(".can-use span").text(can_use);
    }

    function set_selected_game(game_id,game_name,icon){
        $('#selected_game_id').val(game_id);
        $('#selected_game_icon').attr('src',icon);
        $('#selected_game_name').val(game_name);
        $("input[name='name']").val(game_name);
        $("input[name='icon']").val(icon);
    };
    function limit_fade(check_val){
        switch(check_val){
            case '-1' :
            case '0' :
                $("input[name='limit[]']").removeClass('validate[minCheckbox[1]]');
                $('.limit').fadeOut();
                break;
            case '1' :
                $("input[name='limit[]']").addClass('validate[minCheckbox[1]]');
                $('.limit').fadeIn();
        }
    }
    $(function(){
        $(document).on('change','#file_upload',function(){
            $('#upload-kami').html("载入数据中...");
            $("#uploadTxt").html($("#file_upload").val());
            $.ajaxFileUpload({
                url:'/v4agiftbag/package/file-count',
                type : 'post',
                secureuri :false,
                fileElementId :'file_upload',
                dataType : 'JSON',
                success : function (data){
                    var dataObj=eval("("+data+")");
                    if(dataObj.errorCode == 0){
                        $('#upload-kami').html("上传卡密数为:"+dataObj.size);
                        alertify.success('礼包数确认成功!');
                        $("#tmp").val(dataObj.file.tmp);
                        $("#filename").val(dataObj.file.filename);
                        $("#selected_card_name").removeAttr("data-rule-required data-msg-required");
                        $("input[name='card_stock']").val(dataObj.size);
                    }else{
                        alertify.error(dataObj.errortxt);
                        $('#upload-kami').html("载入数据错误");
                        $('#tmp,#filename').val('');
                    }
                    return ;
                }

            });
        });
        $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i:s',lang:'ch','minDate':''});
        UE.getEditor('summary',{toolbars:[['undo', 'redo']],initialFrameHeight:100});
        UE.getEditor('intro',{initialFrameHeight:100});
        UE.getEditor('des',{toolbars:[['undo', 'redo']],initialFrameHeight:100});
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
        $('.switchbox').bootstrapSwitch();

        //授权
        if($("input[name='type_set']:checked").val() == 2) $("#exclusive").show();

        $("input[name='type_set']").on('ifChecked', function (e) {
            if(e.currentTarget.value == 2){
                $("#exclusive").fadeIn();
            }else{
                $("#exclusive").fadeOut();
            }
        });

        //置顶
        var top = $("input[name='is_top']:checked").val();
        if(top){
            $(".hot_end_time").show();
        }else{
            $(".hot_end_time").hide();
        }
        $("input[name='is_top']").on('ifChanged',function(e){
            if(e.currentTarget.checked){
                $(".hot_end_time").fadeIn();
            }else{
                $(".hot_end_time").fadeOut();
            }
        });



        //限领
        limit_fade($("input[name='limit_type']:checked").val());
        $("input[name='limit_type']").on('ifChecked',function(e){
            var check_val = e.currentTarget.value;
            limit_fade(check_val);
        });

        //追加
        var append = $("input[name='is_append']:checked").val();
        if(append){
            $(".appends").show();
            $(".append-file").hide();
        }else{
            $(".appends").hide();
            $(".append-file").show();
        }
        $("input[name='is_append']").on('switchChange.bootstrapSwitch',function(e,data){
            if(data){
                $(".appends").fadeIn();
                $(".append-file").fadeOut();
            }else{
                $(".appends").fadeOut();
                $(".append-file").fadeIn();
            }
        });

        $("#mt-count").on('ifChanged', function (e) {
            $("#time_value,#time_type,#rule_limit").val('').removeAttr("data-rule-digits data-rule-min data-msg-min data-msg-digits").removeClass("validate[condRequired[mt-count]]");
            if(e.currentTarget.checked==true){
                $("#time_value,#rule_limit").attr({'data-rule-digits':"true", 'data-rule-min':"1", 'data-msg-min':"最小为1",'data-msg-digits':"请填写整数"});
            }
        });
        $("#mr-count").on('ifChanged', function (e) {
            $("#single-limit").val('').removeAttr("data-rule-digits data-rule-min data-msg-min data-msg-digits").removeClass("validate[condRequired[mr-count]]");
            if(e.currentTarget.checked==true){
                $("#single-limit").attr({'data-rule-digits':"true", 'data-rule-min':"1", 'data-msg-min':"最小为1",'data-msg-digits':"请填写整数"});
            }
        });
        $("#is_draw").on('switchChange.bootstrapSwitch',function(e,data){
            if(data){
                $("#draw_show").fadeIn();
            }else{
                $("#draw_show").fadeOut();
            }
        });


        $(".select-card-code").on('click',function(){
            $.ajax({
                url:'/v4agiftbag/package/cate-card-select',
                dataType:'json',
                success:function(json){
                    var html = json.html;
                    $.dialog({id:'pop-card-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });

        $('.select-pop-game').bind('click',function(){
            $.ajax({
                url:'/a_game/api/game-search',
                dataType:'json',
                success:function(json){
                    var html = json.html;
                    $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });
        var setting={
            url:'/v4agiftbag/gift/readbylist',
            needforinput:'uid',
        };
        checksBylayer("#users",setting);
        //关联验证
        jQuery("#gift-info-form").validationEngine({'custom_error_messages':{
            "#uid":{
                "condRequired": {'message':'<span style="color:#b94a48;left:45px;position: absolute;width: 100px;">请选择授权用户</span>'}
            },
            "minCheckbox":{
                'message':'<span style="left:240px;top:25px;color:#b94a48; position: absolute;width: 200px;">请至少选择一个规则</span>'
            },
            "#single-limit":{
                "condRequired": {'message':'<span style="color:#b94a48;left:220px;top:-20px;position:relative;width:100px;">请填写购买总数</span>'}
            },
            ".daily-limit-1":{
                "condRequired": {'message':'<span style="color:#b94a48;left:240px;top:-20px;position:relative;width:100px;">请填写限制项</span>'}
            },
            ".daily-limit-2":{
                "condRequired": {'message':'<span style="color:#b94a48;left:120px;top:-15px;position:relative;width:100px;">请填写限制项</span>'}
            },
            ".r-append":{
                "condRequired": {'message':'<span style="color:#b94a48;left:120px;top:-20px;position:absolute;width:100px;">请选择追加项</span>'}
            },
            ".r-draw":{
                "condRequired": {'message':'<span style="color:#b94a48;left:120px;top:-222px;position:absolute;width:100px;">请选择淘号项</span>'}
            },
            "#add-period":{
                "condRequired": {'message':'<span style="color:#b94a48;left:120px;top:-45px;position:absolute;width:100px;">请填写追加周期</span>'}
            },
            "#add-num-1":{
                "condRequired": {'message':'<span style="color:#b94a48;left:220px;top:-50px;position:absolute;width:100px;">请填写追加数</span>'}
            },
            "#add-num-max-1":{
                "condRequired": {'message':'<span style="color:#b94a48;left:390px;top:-50px;position:absolute;width:120px;">请填写追加上限数</span>'}
            },
            "#condition-num-1":{
                "condRequired": {'message':'<span style="color:#b94a48;left:220px;top:-45px;position:absolute;width:100px;">请填写小于量</span>'}
            },
            "#add-num-2":{
                "condRequired": {'message':'<span style="color:#b94a48;left:240px;top:-50px;position:absolute;width:100px;">请填写追加数</span>'}
            },
            "#add-num-max-2":{
                "condRequired": {'message':'<span style="color:#b94a48;left:400px;top:-50px;position:absolute;width:120px;">请填写追加上限数</span>'}
            },
            "#condition-num-2":{
                "condRequired": {'message':'<span style="color:#b94a48;left:220px;top:-45px;position:absolute;width:100px;">请填写小于量</span>'}
            },
            "#add-num-3":{
                "condRequired": {'message':'<span style="color:#b94a48;left:255px;top:-50px;position:absolute;width:100px;">请填写追加数</span>'}
            },
            "#add-num-max-3":{
                "condRequired": {'message':'<span style="color:#b94a48;left:420px;top:-50px;position:absolute;width:120px;">请填写追加上限数</span>'}
            }
        }});
    });
</script>
<!--{%endblock%}-->