<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					礼包库
				</h3>
				<div class="actions">
					<form id="myform2" action="<!--{{url('v4agiftbag/package/card-download')}}-->"></form>
					<form action="<!--{{url('/v4agiftbag/package/search')}}-->">
						<table class="table-filter">
							<tr>
								<td><span class="label label-blue"><input class="input_align_5" type="checkbox" name="editor" <!--{% if editor%}-->checked<!--{%endif%}--> />我添加的</span></td>
								<td><span class="label label-blue"><input class="input_align_5" type="checkbox" name="sign" <!--{% if sign == 'true'%}-->checked<!--{%endif%}-->/>我标记的</span></td>
								<td><span class="label label-blue"><input class="input_align_5" type="checkbox" name="isEmpty" <!--{% if isEmpty == 'true'%}-->checked<!--{%endif%}-->>已领完的</span></td>
								<td><span class="label label-blue"><input class="input_align_5" type="checkbox" name="qEmpty" <!--{% if qEmpty == 'true'%}-->checked<!--{%endif%}-->>已分配完的</span></td>
								<td><span class="label label-blue">建库时间</span>
									<div class="input-append date datepick" id="dpEnd" data-date="">
										<input name="timeBegin" type="text" class="input-small" value="<!--{{timeBegin}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td>到
									<div class="input-append date datepick" id="dpEnd" data-date="">
										<input name="timeEnd" type="text" class="input-small" value="<!--{{timeEnd}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
							</tr>

							<tr>
								<td colspan=4></td>
								<td colspan=3>
									<span class="label label-blue">库名：</span>
									 <input name="cardDesc" type="text" style="width:150px" value="<!--{{cardDesc}}-->">
                                    <input id="gameselect" name="gid" data-from="android" type="hidden" value="<!--{{gid}}-->" class="bigdrop select2-offscreen width_150" tabindex="-1">
                                    <button class="btn btn-teal"><i class="icon-search"></i>搜索</button> <a href="<!--{{url('v4agiftbag/package/add')}}-->" class="btn btn-teal">添加礼包库</a>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th >库名</th>
                        <th class="col-60">游戏</th>
						<th >创建时间</th>
						<th >已领取/已分配</th>
						<th >可分配/总量</th>
						
						<th >操作</th>
						<th >最后操作人</th>
						<th >最后操作时间</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for key,item in datalist%}-->
					<tr>
						<td><!--{{item.cardDesc}}--></td>
                        <td><!--{{item.gname}}--></td>
						<td><!--{{item.createTime}}--></td>
						<td><!--{{item.cardUsedStock}}-->/<!--{{item.cardQuota}}--></td>
						<td><!--{{item.cardStock+item.cardUsedStock-item.cardQuota}}-->/<!--{{item.cardStock+item.cardUsedStock}}--></td>
						<td>
							
							<a href="<!--{{url('v4agiftbag/package/delect',{id:item.id})}}-->" class="btn btn-primary ajax-del">删除</a>
							<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">卡密操作<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">
									<!--{%if item.isSign == 0 %}-->
									<li>
										<a href="<!--{{url('v4agiftbag/package/sign',{id:item.cardCode,sign:1})}}-->" >标记</a>
									</li>
									<!--{%else%}-->
									<li>
										<a href="<!--{{url('v4agiftbag/package/sign',{id:item.cardCode,sign:0})}}-->" >移除标记</a>
									</li>
									<!--{%endif%}-->
									<li>
										<a href="javascript:;" class="daochu" cardcode="<!--{{item.cardCode}}-->" id="daochu">卡密导出</a>
									</li>
                                    <li>
                                        <a class="ajax-append" datacode="<!--{{ item.cardCode }}-->" data="<!--{{ item.cardCode }}-->" href="javascript:void(0);">追加</a>
                                    </li>
                                    <li>
                                        <a href="<!--{{url('v4agiftbag/giftcard/list',{cardCode:item.cardCode})}}-->">查看礼包卡</a>
                                    </li>
								</ul>
							</div>
						</td>
						<td><!--{{item.modifier}}--></td>
						<td><!--{{item.modifyTime}}--></td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--追加-->
    <div id="dialog-append">
        <div class="box-content">
            <div class="control-group">
                <input type="hidden" name="tmp" id="tmp" value="">
                <input type="hidden" name="filename" id="filename" value="">
                <label class="control-label"></label>
                <div class="controls">
                    <input name="append_file" id="file_upload" type="file">
                    <a href="javascript:void(0);" class="btn btn-primary append_">确定</a>
                    <p class="text-error card-line"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="modal-header">
				<button type="button" class="close"
				        data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					导出
				</h4>
			</div>
			<div class="modal-body">
				<div class="box-content">
					<div class="control-group">
						<label class="control-label">导出状态</label>
						<div class="controls">
							<select id="my_status" name="status">
								<option value="0">未使用(库存中) </option>
                                <option value="2">已使用 </option>
							</select>
						</div>

					</div>
					<div class="control-group">
						<label class="control-label">导出卡密数量</label>
						<div class="controls">
							<input type="text" name="cardNumber" id="cardNumber" >
						</div>

					</div>
				</div>
			</div>
			<div id="modal-footer" class="modal-footer">
				<button type="button" class="btn btn-default"
				        data-dismiss="modal">关闭
				</button>
				<a href="javascript:;" id="go_" class="btn btn-primary"> 确定</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ajaxfileupload.js')}}-->"></script>
<script>
	$(function(){
        gameselect('#gameselect');
		$('a.ajax-del').bind('click',function(){
        	if(!confirm('确定要删除数据吗？')){
            return false;
        	}
    	});
		$('input').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			increaseArea: '20%' // optional
		});
		$("a.daochu").bind('click',function(){ 
			$("#myModal").modal("show");
			var cardcode=$(this).attr('cardcode');
			$("#go_").bind('click',function(){
				var my_status=$("#my_status").val(),
					cardNumber=$("#cardNumber").val();
				if(my_status && cardNumber){
					window.location.href=$("#myform2").attr("action")+'?status='+my_status+'&cardNumber='+cardNumber+'&cardCode='+cardcode;
				}else if(!cardNumber){
					window.location.href=$("#myform2").attr("action")+'?status='+my_status+'&cardcode='+cardcode;
				}else{
					window.location.href=$("#myform2").attr("action");
				}
				$("#myModal").modal("hide");
				 
			});
		});

        $(".ajax-append").bind('click',function(){
            var html=$("#dialog-append").html();
            var p_code = $(this).attr('data');
            var datacode = $(this).attr('datacode');
            $.dialog({id:'pop-fafang-html',title:'提示',padding:2,content:html,width:410,height:120});
            $("#file_upload").live('change',function(){
                $.ajaxFileUpload({
                    url:'/v4agiftbag/gift/ajax-check-file',
                    type : 'post',
                    secureuri :false,
                    fileElementId :'file_upload',
                    dataType : 'JSON',
                    success : function (data){
                        data = eval("("+data+")");
                        console.log(data);
                        if(data.state){
                            $("#tmp").val(data.file.tmp);
                            $("#filename").val(data.file.filename);
                            $(".card-line").text('识别出 ' + data.line + ' 行有效卡密');
                        }else{
                            alertify.error(data.msg);
                        }
                    }
                })
            });
            var can_up = true;
            $("a.append_").bind('click',function(){
                var tmp=$("#tmp").val();
                var filename=$("#filename").val();
                if(!tmp || !filename){
                    alertify.error("请选择文件");
                    return false;
                }
                alertify.confirm('确认上传该文件？',function(e){
                    if(e && can_up){
                        can_up = false;
                        $.ajaxFileUpload({
                            url:'/v4agiftbag/package/ajax-upload-append?card_code='+p_code+'&tmp='+tmp+'&filename='+filename+'&datacode='+datacode,
                            type : 'post',
                            secureuri :false,
                            fileElementId :'file_upload',
                            dataType : 'JSON',
                            success : function (data){
                                can_up = true;
                                data = eval("("+data+")");
                                if(data.state){
                                    alertify.success(data.msg);
                                    setTimeout(function(){location.reload();},1000);
                                }else{
                                    alertify.error(data.msg);
                                }
                            }
                        })
                    }
                });
            });
        });
	});
</script>
<!--{%endblock%}-->