<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					调查报表				
				</h3>
				
				</div>
			<div class="box-content nopadding">
			
			<table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
							<th>问题</th>
							<th>结果</th>
							<th>状态</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.title}}--></td>
							<td>
							    <ul class="nav nav-tabs nav-stacked">
							        <li>A:<!--{{item.options.option_a}}--><span class="badge badge-important"><!--{{result[item['id']]['A']}}--></span></li>
							        <li>B:<!--{{item.options.option_b}}--><span class="badge badge-important"><!--{{result[item['id']]['B']}}--></span></li>
							        <li>C:<!--{{item.options.option_c}}--><span class="badge badge-important"><!--{{result[item['id']]['C']}}--></span></li>
							        <li>D:<!--{{item.options.option_d}}--><span class="badge badge-important"><!--{{result[item['id']]['D']}}--></span></li>
							    </ul>
							</td>
							<td><!--{%if item.status==1%}-->显示<!--{%else%}--><span class="badge badge-important">隐藏</span><!--{%endif%}--></td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->