<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>问答活动奖品信息</h3>
			</div>
			<div class="box-content">
			    <form id="form-activity" action="<!--{{url('activity/gameask/save-prize')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <input id="id" name="id" type="hidden" value="<!--{{id}}-->" />				
				<div class="control-group">
					<label class="control-label">奖项一</label>
					<div class="controls">
					    <div class="input-append">
					        <input id="selected_prize_id_1" name="prize_id_1" type="hidden" value="<!--{{ask.prize.prize_1.prize_id}}-->" data-rule-required="true" data-msg-required="奖品不能为空" />
						    <img id="selected_prize_pic_1" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
							<input type="text" id="selected_prize_name_1" name="prize_name_1" class="input-xlarge" value="<!--{{ask.prize.prize_1.prize_name}}-->" data-rule-required="true" data-msg-required="奖品不能为空" />
							<span class="add-on select-pop-prize" data-no="1">选择奖品</span>
						</div>						
						<div class="input-append">
						    <span class="add-on">数量</span>
							<input type="text" name="num_1" class="input-small" value="<!--{{ask.prize.prize_1.num}}-->" />
						</div>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">奖项二</label>
					<div class="controls">
					    <div class="input-append">
					        <input id="selected_prize_id_2" name="prize_id_2" type="hidden" value="<!--{{ask.prize.prize_2.prize_id}}-->" data-rule-required="true" data-msg-required="奖品不能为空" />
						    <img id="selected_prize_pic_2" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
							<input type="text" id="selected_prize_name_2" name="prize_name_2" class="input-xlarge" value="<!--{{ask.prize.prize_2.prize_name}}-->" data-rule-required="true" data-msg-required="奖品不能为空" />
							<span class="add-on select-pop-prize" data-no="2">选择奖品</span>
						</div>						
						<div class="input-append">
						    <span class="add-on">数量</span>
							<input type="text" name="num_2" class="input-small" value="<!--{{ask.prize.prize_2.num}}-->" />
						</div>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">奖项三</label>
					<div class="controls">
					    <div class="input-append">
					        <input id="selected_prize_id_3" name="prize_id_3" type="hidden" value="<!--{{ask.prize.prize_3.prize_id}}-->" data-rule-required="true" data-msg-required="奖品不能为空" />
						    <img id="selected_prize_pic_3" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
							<input type="text" id="selected_prize_name_3" name="prize_name_3" class="input-xlarge" value="<!--{{ask.prize.prize_3.prize_name}}-->" data-rule-required="true" data-msg-required="奖品不能为空" />
							<span class="add-on select-pop-prize" data-no="3">选择奖品</span>
						</div>						
						<div class="input-append">
						    <span class="add-on">数量</span>
							<input type="text" name="num_3" class="input-small" value="<!--{{ask.prize.prize_3.num}}-->" />
						</div>
					</div>
				</div>
															
			    <div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>

var set_selected_prize_1 = function(id,name,pic){
    $('#selected_prize_id_1').val(id);
    $('#selected_prize_pic_1').attr('src',pic);
    $('#selected_prize_name_1').val(name);
};

var set_selected_prize_2 = function(id,name,pic){
    $('#selected_prize_id_2').val(id);
    $('#selected_prize_pic_2').attr('src',pic);
    $('#selected_prize_name_2').val(name);
};

var set_selected_prize_3 = function(id,name,pic){
    $('#selected_prize_id_3').val(id);
    $('#selected_prize_pic_3').attr('src',pic);
    $('#selected_prize_name_3').val(name);
};


$(function(){        
    
    $('.select-pop-prize').bind('click',function(){
        var no = $(this).attr('data-no');
        var url =  '/activity/prize/search/'+ no;        
        $.ajax({
            url:url,
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-prize-list',title:'提示',padding:2,content:html,width:600});
            }
        });        
    });
        
});
</script>
<!--{%endblock%}-->