<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					公会管理				
				</h3>
				<div class="actions">
				    <form action="<!--{{url('activity/club/list')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            				            
				            <td><input type="text" name="keyword" id="" class="input-small" placeholder="关键词" value="<!--{{search.keyword}}-->"/></td>						
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>							
				            <td><a href="<!--{{url('activity/club/edit')}}-->" class="btn btn-teal">添加公会</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
							<th class="col-150">公会名称</th>
							<th class="col-80">创建时间</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.name}}--></td>
							<td><!--{{item.create_time}}--></td>
							<td>
							    <a href="<!--{{url('activity/club/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							    <a href="<!--{{url('activity/club/game-list',{id:item.id})}}-->" class="btn btn-primary">管理游戏</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->