<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					公会游戏管理				
				</h3>
				<div class="actions">
				    <form action="<!--{{url('activity/club/game-list')}}-->" class="">
				    <table class="table-filter">
				        <tr>
				            <td><input name="club_id" type="hidden" value="<!--{{club_id}}-->"/></td>				            
				            <td><input type="text" name="keyword" id="" class="input-small" placeholder="关键词" value="<!--{{search.keyword}}-->"/></td>						
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>							
				            <td><a href="<!--{{url('activity/club/edit-game')}}-->?club_id=<!--{{club_id}}-->" class="btn btn-teal">添加游戏</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
							<th class="col-150">游戏名称</th>
							<th class="col-80">游戏ICON</th>
							<th>下载地址</th>
							<th class="col-40">排序</th>
							<th class="col-40">状态</th>
							<th class="col-40">返利</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.game_name}}--></td>
							<td><img src="<!--{{config('app.img_url')}}--><!--{{item.game_icon}}-->"/></td>
							<td><!--{{item.download_url}}--></td>
							<td><!--{{item.sort}}--></td>
							<td><!--{%if item.is_show==1%}-->显示<!--{%else%}--><span class="badge badge-important">隐藏</span><!--{%endif%}--></td>
							<td><!--{{item.rebate_info}}-->%</td>
							<td>
							    <a href="<!--{{url('activity/club/edit-game',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							    <a href="<!--{{url('activity/club/delete-game',{id:item.id})}}-->" class="btn btn-primary ajax-del">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->