<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>活动信息</h3>
			</div>
			<div class="box-content">
			    <form id="form-game" action="<!--{{url('activity/club/edit-game')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <input name="id" type="hidden" value="<!--{{game.id}}-->" />
			    <input name="club_id" type="hidden" value="<!--{{game.club_id|default(club_id)}}-->" />
				<div class="control-group">
					<label class="control-label">游戏名称</label>
					<div class="controls">
						<input type="text" name="game_name" class="input-xlarge" value="<!--{{game.game_name}}-->" data-rule-required="true" data-msg-required="游戏名称不能为空" />
						<span class="help-inline">游戏名称不要超过15个汉字</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">游戏ICON</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><img src="<!--{%if game.game_icon%}--><!--{{config('app.img_url')}}--><!--{%endif%}--><!--{{game.game_icon|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input type="file" name='game_icon' <!--{%if game.game_icon==''%}-->data-rule-required="true"<!--{%endif%}--> data-msg-required="游戏ICON不能为空" /></span>
							</div>
						</div>
						<span class="help-inline"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">游戏大图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><img src="<!--{%if game.list_pic%}--><!--{{config('app.img_url')}}--><!--{%endif%}--><!--{{game.list_pic|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input type="file" name='list_pic' <!--{%if game.list_pic==''%}-->data-rule-required="true"<!--{%endif%}--> data-msg-required="游戏大图不能为空" /></span>
							</div>
						</div>
						<span class="help-inline"></span>
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label">返利比例</label>
					<div class="controls">
					    <div class="input-append">
							<input type="text" name="rebate_info" class="input-small" value="<!--{{game.rebate_info|default(0)}}-->" data-rule-required="true" data-msg-required="返利信息不能为空" />
							<span class="add-on">%</span>
						</div>
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label">下载地址</label>
					<div class="controls">
						<input type="text" name="download_url" class="input-xxlarge" value="<!--{{game.download_url}}-->" data-rule-required="true" data-msg-required="下载地址不能为空" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="sort">排序</label>
					<div class="controls">
					    <div class="input-append">
					        <input name="sort" type="text" class="input-small" value="<!--{{game.sort}}-->" />
						</div>												
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">状态</label>
					<div class="controls">					    
				        <label class="checkbox inline">
				        <!--{{form_checkbox('is_show',1,game.is_show==1)}}-->显示					        					        
				        </label>				        				       
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->