<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					寻宝箱管理				
				</h3>
				<div class="actions">
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
							<th class="col-150">名称</th>
							<th class="col-80">开始时间</th>
							<th class="col-80">结束时间</th>
							<th class="col-120">入口游戏</th>
							<th>奖项</th>							
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in hunts%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.name}}--></td>
							<td><!--{{item.startdate|date('Y-m-d')}}--></td>
							<td><!--{{item.enddate|date('Y-m-d')}}--></td>
							<td class="user-avatar">
							    <img alt="<!--{{games[item.game_id]['shortgname']}}-->" src="<!--{{games[item.game_id]['ico']}}-->" />
							    <!--{{games[item.game_id]['shortgname']}}-->
							</td>
							<td>
							    <ul class="nav nav-tabs nav-stacked">
							        <li>一等奖：<span class="badge badge-success"><!--{{item.first_prize.prize_name}}--></span><span class="badge"><!--{{item.first_prize.num}}--></span></li>
							        <li>二等奖：<span class="badge badge-warning"><!--{{item.second_prize.prize_name}}--></span><span class="badge"><!--{{item.second_prize.num}}--></span></li>
							        <li>三等奖：<span class="badge badge-important"><!--{{item.third_prize.prize_name}}--></span><span class="badge"><!--{{item.third_prize.num}}--></span></li>
							    </ul>
							</td>
							<td>
							    <a href="<!--{{url('activity/hunt/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>							    							    
							    <div class="btn-group">
							        <a data-toggle="dropdown" class="btn  btn-primary dropdown-toggle">规则<span class="caret"></span></a>
							        <ul class="dropdown-menu dropdown-primary">
							            <li><a href="<!--{{url('activity/rule/edit',{'type':'hunt','id':item.id,'rule_id':item.rule_id})}}-->">编辑规则帖</a></li>
							            <li><a href="<!--{{url('forum/topic/info',{'tid':item.rule_id})}}-->">查看帖子</a></li>
							        </ul>
							    </div>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->