<div class="box">
    <div class="actions">
        <table class="table-filter">
	        <tr>				            
	            <td>
	                <div class="controls">
					    <label class="radio inline">
				        <!--{{form_radio('keytype','id',keytype=='id')}}-->ID					        					        
				        </label>
				        <label class="radio inline">
				        <!--{{form_radio('keytype','name',keytype=='name')}}-->名称					        					        
				        </label>
					</div>				                
	            </td>
	            <td>
					<input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{keyword}}-->">								
				</td>
				<td>
				    <a href="javascript:searchPrize();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
    </div>    
    <table class="table table-hover table-nomargin">
        <thead>
			<tr>
			    <th class="col-60">ID</th>
			    <th class="col-80">图标</th>
				<th class="col-150">名称</th>
				<th class="col-80">类型</th>
				<th class="col-120">价格</th>				
				<th class="table-btn-group">操作</th>
			</tr>
		</thead>
		<tbody>
		    <!--{%for item in prizes%}-->
			<tr>
				<td><!--{{item.id}}--></td>
				<td class="user-avatar"><img id="prize_pic_<!--{{item.id}}-->" src="<!--{{imgurl}}--><!--{{item.listpic}}-->" class="" /></td>
				<td id="prize_name_<!--{{item.id}}-->"><!--{{item.name}}--></td>
				<td><!--{{item.shortname}}--></td>
				<td><!--{{item.prize}}--></td>				
				<td>
				    <a href="javascript:void(0);" data-id="<!--{{item.id}}-->" class="btn btn-primary select-prize-id">选择</a>				    							    
				</td>
			</tr>
			<!--{%endfor%}-->
		</tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>    
    <script>
    function searchPrize()
    {
        var keytype = $("input[name='keytype']:checked").val();
        var keyword = $('#keyword').val();
        $.ajax({
            url:'activity/prize/search/<!--{{no}}-->',
            data:{keytype:keytype,keyword:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['pop-prize-list'].content(html);		                
            }
        });
        return false;
    }    
    function init_prize_page()
    {
        //
        $('.select-prize-id').each(function(){
            $(this).click(function(){
                var prize_id = $(this).attr('data-id');
                var prize_name = $('#prize_name_'+prize_id).text();
                var prize_pic = $('#prize_pic_'+prize_id).attr('src');
                //
                set_selected_prize_<!--{{no}}-->(prize_id,prize_name,prize_pic);
                $.dialog.list['pop-prize-list'].close();
            });
        });
        //
        $('.pagelink a').each(function(){
            var url = $(this).attr('href');            
            $(this).attr('href','javascript:void(0);');
            $(this).click(function(){
                $.ajax({
                    url:url,
                    dataType:'json',
		            success:function(json){
		                var html = '';
		                html = json.html;
		                $.dialog.list['pop-prize-list'].content(html);		                
		            }
                });
            });
            
        });
    }
    init_prize_page();
    </script>