<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					奖品管理				
				</h3>
				<div class="actions">
				    <form action="<!--{{url('activity/prize/home')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            				            
				            <td><a href="<!--{{url('activity/prize/add')}}-->" class="btn btn-teal">添加奖品</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
						    <th class="col-60">图标</th>
							<th class="col-150">奖品名称</th>
							<th class="col-80">类型</th>
							<th class="col-80">内容</th>
							<th class="col-80">时间</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in prizes%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td class="user-avatar"><img src="<!--{{imgurl}}--><!--{{item.listpic}}-->" class="" /></td>
							<td><!--{{item.name}}--></td>
							<td><!--{{item.shortname}}--></td>
							<td>
							    <!--{%if item.type==1%}-->
							    <label>游币<span class="badge badge-important"><!--{{item.score}}--></span></label>
							    <!--{%endif%}-->
							    <!--{%if item.type==2%}-->
							    <label>礼包<span class="badge badge-important"><!--{{gifts[item.gift_id]['title']}}--></span></label>
							    <!--{%endif%}-->
							    <!--{%if item.type==3%}-->
							    <label>实物<span class="badge badge-important"><!--{{item.expense}}--></span></label>
							    <!--{%endif%}-->
							</td>
							<td><!--{{item.addtime|date('Y-m-d')}}--></td>
							<td>
							    <a href="<!--{{url('activity/prize/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>							    							   
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->