<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>规则信息</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('activity/rule/save')}}-->" method="POST" class="form-horizontal">
				<input name="tid" type="hidden" value="<!--{{rule.tid}}-->" />		
				<input name="act_id" type="hidden" value="<!--{{act_id}}-->" />
				<input name="type" type="hidden" value="<!--{{type}}-->" />						
				<div class="control-group">
					<label for="textfield" class="control-label">标题</label>
					<div class="controls">
						<input type="text" name="subject" class="input-xxlarge" value="<!--{{rule.subject}}-->">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">内容</label>
					<div class="controls">
					    <script id="container" name="format_message" type="text/plain"><!--{{rule.format_message}}--></script>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					<a href="<!--{{url('forum/notice-list')}}-->" class="btn btn-info">返回</a>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor-patch-149.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script>

var editor = UE.getEditor('container');
 
</script>
<!--{%endblock%}-->   