<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>奖项新建/编辑</h3>
            </div>
            <div class="box-content">
                <form id="form-topic" action="<!--{{url('jinyu/price/add')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data">
                    <input type="hidden" name="priceId" value="<!--{{ data.priceId }}-->"/>

                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">选择ICON</label>
                                <div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
                                            <img style="width:80px;height:80px;" src="<!--{{data.pricePic|default('/static/img/nopic.gif')}}-->" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                        <div>
                                            <input name="price_img" type="hidden" value="<!--{{data.pricePic}}-->"/>
                                            <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file"  <!--{% if data.pricePic == '' %}-->data-rule-required="true" data-msg-required="请选择照片!"<!--{% endif %}--> name='pricePic' /></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">奖项名称</label>
                        <div class="controls">
                           <input type="text" name="priceTitle" value="<!--{{ data.priceTitle }}-->"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">序列</label>
                        <div class="controls">
                            <input type="text" name="priceSort" class="input-small" value="<!--{{ data.priceSort }}-->"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary">保存</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->