<!--{%extends "sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    首页弹窗广告列表
                </h3>
                <div class="actions">
                    <form action="<!--{{url('/v4adv/video/list/')}}-->">
                        <table class="table-filter">
                            <td><!--{{form_select('platform',platformlist,inputinfo.platform,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}--></td>
                            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>

                            <td><a id="video_add" href="<!--{{url('/v4adv/video/add')}}-->" class="btn btn-primary">添加</a></td>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-80">轮播位置</th>
                        <th class="col-80">广告标题</th>
                        <th class="col-60">广告类型</th>
                        <th class="col-120">开始时间-结束时间</th>
                        <th class="col-60">平台</th>
                        <th class="col-60">状态</th>
                        <th class="col-80">调整排序</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <!--{% for  key,item  in datalist %}-->
                    <tr>
                        <td><!--{{ item.sort }}--></td>
                        <td><!--{{ item.adv_name }}--></td>
                        <td><!--{{ item.adv_type==1 ? '广告图' :'广告视频' }}--></div>
                        <td><!--{{ item.startTime }}--></br><!--{{ item.endTime }}--></td>
                        <td><!--{{ platformlist[item.platform] }}--></td>
                        <td><!--{{ item.attribute==1?'上架':'下架' }}--></td>
                        <td><a  href='javascript:;' id='carousel_top'  datahref="<!--{{url('/v4adv/video/sort',{id:item.id,sort:item.sort,type:1})}}-->" class="btn btn-primary carousel_top" datavalue="<!--{{key}}-->">排序上升</a> <a  href='javascript:;' datahref="<!--{{url('/v4adv/video/sort',{id:item.id,sort:item.sort,type:2})}}-->" class="btn btn-primary carousel_off" id="carousel_off" datavalue="<!--{{key}}-->">排序下降</a></td>
                        <td>
                            <a href="<!--{{url('/v4adv/video/edit',{id:item.id,type:'id'})}}-->" class="btn btn-primary">编辑</a>

                            <!--{% if item.attribute == 1  %}-->
                            <a href="<!--{{url('/v4adv/video/isshow',{id:item.id,is_show:0,attr:4})}}-->" class="btn btn-primary">下架</a>
                            <!--{% else %}-->
                            <a href="<!--{{url('/v4adv/video/isshow',{id:item.id,is_show:1,attr:1,enddate:item.endTime})}}-->" class="btn btn-primary">上架</a>
                            <!--{% endif %}-->
                            
                            <a href="javascript:void(0);" data="<!--{{ item.id }}-->" class="btn btn-primary ajax-del">删除</a>

                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">

                </div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/laydate/laydate.js')}}-->"></script>
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>
    $(function(){
        var video_size=$("#tbody").find("tr").length*1-1;
        //if(video_size > 10){
            //$("#video_add").attr('href',"javascript:;");
            //alertify.error(data.msg);  alertify.success(data.msg);
            //alertify.error('抱歉 只能添加10条记录');
            //return ;
        //}
        $("#video_add").attr('href',"<!--{{url('/v4adv/video/add?sort=')}}-->"+video_size);
        $("a.carousel_top").on('click',function(){
            var datavalue=$(this).attr('datavalue');
            if(datavalue<1){
                alertify.error("这条记录到顶啦");
                return false;
            }
            window.location.href=$(this).attr('datahref');
        });

        $("a.carousel_off").on('click',function(){
            var datavalue=$(this).attr('datavalue');
            if(datavalue>=video_size){
                alertify.error("这条记录到低啦");
                return false;
            }
            window.location.href=$(this).attr('datahref');
        });
        
		$('.ajax-del').bind('click',function(){
			var id = $(this).attr('data');
			alertify.confirm('是否删除该广告？',function(e){
				if(e){
					$.get('/v4adv/video/off/'+ id,function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
    });
</script>
<!--{%endblock%}-->