<!--{%extends 'base-layout.twig'%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <span class="icon-table"></span>
                    订单统计
                </h3>
                <div class="actions">
                    <form action="<!--{{url('IOS_recharge/order/list')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td><span class="label label-blue">开始时间</span>
                                    <div class="input-append date " >
                                        <input name="createTimeAfter" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search.createTimeAfter}}-->" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td>结束时间
                                    <div class="input-append date "  data-date="">
                                        <input name="createTimeBefore" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" type="text" class="input-medium datetimepicker"  value="<!--{{search.createTimeBefore}}-->" id="date_timepicker_end" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <!--{{form_select('key',keys,search.key,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}-->
                                </td>
                                <td>
                                    <input type="text" class="input-small" name="val" placeholder="关键字" value="<!--{{ search.val }}-->">
                                </td>
                                <td>
                                    <!--{{form_select('deliveryStatus',au,search.deliveryStatus,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}-->
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>查询</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-120">用户信息</th>
                        <th class="col-120">下单时间</th>
                        <th class="col-120">订单编号/支付宝流水</th>
                        <th class="col-120">充值金额</th>
                        <th class="col-120">支付金额</th>
                        <th class="col-120">支付状态</th>
                        <th class="col-120">交易状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for key,item in list%}-->
                    <tr>
                        <td><!--{{item.userhtml}}--></td>
                        <td><!--{{item.createTime|date('Y-m-d H:i:s')}}--></td>
                        <td><!--{{item.orderId}}-->/<br><!--{{item.tradeSeq}}--></td>
                        <td><!--{{item.rawPrice}}--></td>
                        <td><!--{{item.payPrice}}--></td>
                        <td>
                            <!--{% if item.payStatus == 'U' %}-->
                            <span class="badge badge-success">未支付</span>
                            <!--{% elseif item.payStatus == 'P' %}-->
                            <span class="badge badge-important">已支付</span>
                            <!--{% endif %}-->
                        </td>
                        <td>
                            <!--{% if item.payStatus == 'P' %}-->
                                <!--{% if item.deliveryStatus == 'U' %}-->
                                <span class="badge badge-success">未发货</span>
                                <!--{% elseif item.deliveryStatus == 'I' %}-->
                                <span class="badge badge-important">发货中</span>
                                <!--{% elseif item.deliveryStatus == 'F' %}-->
                                <span class="badge badge-success">发货失败</span>
                                <!--{% elseif item.deliveryStatus == 'S' %}-->
                                <span class="badge badge-important">发货成功</span>
                                <!--{% endif %}-->
                            <!--{% endif %}-->
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>

<!--{%endblock%}-->