<div class="box">
	<div class="actions">
		<table class="table-filter">
			<tr>
				<td>
					<div class="controls">
						<label class="radio inline"> 实物描述</label>
					</div>
				</td>
				<td>
					<input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{keyword}}-->">
				</td>
				<td>
					<a href="javascript:searchCate();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
	</div>
	<table class="table table-hover table-nomargin">
		<thead>
		<tr>
			<th style="width:60px">描述</th>
			<th style="width:60px">库存</th>
			<th style="width:60px">使用量</th>
			<th style="width:60px">可用量</th>
			<th class="table-btn-group" style="width:50px;">操作</th>
		</tr>
		</thead>
		<tbody>
		<!--{%for item in datalist%}-->
		<tr>
			<td id="card_desc_<!--{{item.id}}-->" code="<!--{{item.materialCode}}-->"><!--{{item.materialDesc}}--></td>
			<td id="card_stock_<!--{{item.id}}-->"><!--{{item.materialStock}}--></td>
			<td><!--{{item.materialUsedStock}}--></td>
			<td id="can_use_<!--{{item.id}}-->"><!--{{item.can_use}}--></td>
			<td>
				<a href="javascript:void(0);" data-id="<!--{{item.id}}-->" gid="<!--{{item.gid}}-->" card_img="<!--{{item.imgPath.listPic}}-->" class="btn btn-primary select-cate-id">选择</a>
			</td>
		</tr>
		<!--{%endfor%}-->
		</tbody>
	</table>
	<div class="pagelink">
		<!--{{pagelinks}}-->
	</div>
</div>
<script>
	function searchCate()
	{
		var keyword = $('#keyword').val();
        var platform = "<!--{{platform}}-->";
		$.ajax({
			url:'/v4giftbag/package/material-select',
			data:{keyword:keyword,platform:platform},
			dataType:'json',
			success:function(json){
				var html = json.html;
				$.dialog.list['pop-card-list'].content(html);
			}
		});
	}
	function init_page()
	{
		$('.select-cate-id').each(function(){
			$(this).click(function(){
				var card_id = $(this).attr('data-id'),card_code = $('#card_desc_'+card_id).attr('code'),
						card_gid = $(this).attr('gid'),
						card_desc = $('#card_desc_'+card_id).text(),
						card_stock = $('#card_stock_'+card_id).text(),
						can_use = $('#can_use_'+card_id).text();
                card_img = $(this).attr('card_img');
                prize_gid = $(this).attr('gid');
				set_selected_card(card_code,card_desc,card_stock,can_use,card_gid);
				$.dialog.list['pop-card-list'].close();
			});
		});
		$('.pagelink a').each(function(){
			var url = $(this).attr('href');
			$(this).attr('href','javascript:void(0);');
			$(this).click(function(){
				$.ajax({
					url:url,
					dataType:'json',
					success:function(json){
						var html = json.html;
						$.dialog.list['pop-card-list'].content(html);
					}
				});
			});

		});
		$('.aui_main').css({"display":"inline-block"});
	}
	init_page();
</script>