<div class="box">
	<div class="actions">
		<table class="table-filter">
			<tr>
				<td>
					<div class="controls">
						<label class="radio inline"> 名称</label>
					</div>
				</td>
				<td>
					<input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{keyword}}-->">
					<input type="hidden" name="p_type" value="p_type">
				</td>
				<td>
					<a href="javascript:searchCate();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
	</div>
	<table class="table table-hover table-nomargin">
		<thead>
		<tr>

			<th style="width:350px">名称</th>

			<th class="table-btn-group" style="width:50px;">操作</th>
		</tr>
		</thead>
		<tbody>
		<!--{%for item in datalist%}-->
		<tr>
			<td id="cat_name_<!--{{item.productCode}}-->"><!--{{item.title}}--></td>
			<td>
				<a href="javascript:void(0);" data-id="<!--{{item.productCode}}-->" class="btn btn-primary select-cate-id">选择</a>
			</td>
		</tr>
		<!--{%endfor%}-->
		</tbody>
	</table>
	<div class="pagelink">
		<!--{{pagelinks}}-->
	</div>
</div>
<script>
	function searchCate(){
		var p_type = $('#p_type').val();
		var keyword = $('#keyword').val();
		$.ajax({
			url:'/v4giftbag/gift/product-select',
			data:{keyword:keyword},
			dataType:'json',
			success:function(json){
				var html = json.html;
				$.dialog.list['pop-product-list'].content(html);
			}
		});
	}

	function init_page(){
		$('.select-cate-id').each(function(){
			$(this).click(function(){
				var product_code = $(this).attr('data-id'),product_name = $('#cat_name_'+product_code).text();
				set_selected_pro(product_code,product_name);
				$.dialog.list['pop-product-list'].close();
			});
		});

		$('.pagelink a').each(function(){
			var url = $(this).attr('href');
			$(this).attr('href','javascript:void(0);');
			$(this).click(function(){
				$.ajax({
					url:url,
					dataType:'json',
					success:function(json){
						var html = json.html;
						$.dialog.list['pop-product-list'].content(html);
					}
				});
			});

		});
		$('.aui_main').css({"display":"inline-block"});
	}
	init_page();
</script>