<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<link rel="stylesheet" href="/static/js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>主播信息</h3>
                <div class="actions">
                    <a href="javascript:void(0)" class="btn btn-teal top-submit"><i class="icon-ok"></i>保存</a>
                </div>
            </div>
            <div class="box-content">
                <form action="<!--{{url('gamelive/anchor/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
                    <input name="id" type="hidden" value="<!--{{anchor.id}}-->" />
                    <div class="control-group">
                        <label class="control-label">主播名字<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="name" class="input-xxlarge" value="<!--{{anchor.name}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">排序</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="idx" class="input-small" value="<!--{{anchor.idx|default(0)}}-->" />
                            </div>
                        </div>
                    </div>
                    <!--{%if anchor.picUrl%}-->
                    <div class="control-group">
                        <label class="control-label">主播头像<i class="tip-star">*</i></label>
                        <div class="controls">
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{anchor.picUrl}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传主播头像</label>
                        <div class="controls">
                            <input name="picUrl" type="hidden" value="<!--{{anchor.picUrl}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="fileavatar" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">上传主播头像<i class="tip-star">*</i></label>
                        <div class="controls">
                            <input name="picUrl" type="hidden" value="<!--{{anchor.picUrl}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="fileavatar" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <!--{%if anchor.picUrl%}-->
                    <div class="control-group">
                        <label class="control-label">主播列表图<i class="tip-star">*</i></label>
                        <div class="controls">
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{anchor.thumbnail}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传主播列表图</label>
                        <div class="controls">
                            <input name="thumbnail" type="hidden" value="<!--{{anchor.thumbnail}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="filepic" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">上传主播列表图<i class="tip-star">*</i></label>
                        <div class="controls">
                            <input name="thumbnail" type="hidden" value="<!--{{anchor.thumbnail}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="filepic" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <div class="control-group">
                        <label class="control-label">主播介绍<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea name="summary" class="input-xxlarge"><!--{{anchor.summary}}--></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">选择上传图片<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div id="div-select"><a href="javascript:void(0);" class="btn reselect">选择图片</a></div>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">主播图集<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div id="div-uploador"><div id="pic-plupload" style="width:520px;"></div></div>
                            <div id="div-imgs" class="img-list-wrap"></div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/plupload/plupload.full.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
    var multi_upload = function(plupload,div_select,div_imgs,image_input_name,image_data){
        var self = this;
        var preview_html = '';
        var $el = $(plupload);
        var init_plupload = function(){
            $(div_select).hide();
            preview_html = '';
            $el.pluploadQueue({
                runtimes : 'html5,gears,flash,silverlight,browserplus',
                url : '/common/uploader/plupload',
                file_data_name:'filedata',
                max_file_size : '10mb',
                chunk_size : '1mb',
                unique_names : true,
                rename: true,
                //resize : {width : 320, height : 240, quality : 90},
                filters : [
                    {title : "Image files", extensions : "jpg,gif,png"}
                ],
                views:{list:true,thumbs:true,active:'thumbs'},
                flash_swf_url : 'js/plupload/plupload.flash.swf',
                silverlight_xap_url : 'js/plupload/plupload.silverlight.xap'
            });
            $(".plupload_header").remove();
            var upload = $el.pluploadQueue();
            upload.bind('FileUploaded',function(up,file,response){
                console.log(response);
                if(response.status==200){

                    var res = $.parseJSON(response.response);
                    preview_html += make_img_html(res.file);
                }
            });
            upload.bind('UploadComplete',function(up,files){
                upload.refresh();
                upload.destroy();
                $(div_select).show();
                $el.empty();
                $(div_imgs).append(preview_html);
                bind_drop();
            });
            upload.bind('Error',function(up,args){
                console.log(args);
                up.stop();
            });
        };

        var make_img_html = function(file){
            //file = 'http://www.youxiduo.com/ziframe/imgs/xjkz.jpg';
            var html = '';
            html += '<div class="img-list-box">';
            html += '<div class="img-box"><img src="'+file+'"/><input name="'+image_input_name+'[]" type="hidden" value="'+file+'"/></div>';
            html += '<div class="extras"><a href="javascript:void(0);"><i class="icon-trash"></i></a></div>';
            html += '</div>';
            return html;
        };

        $('.reselect').bind('click',function(){
            $el.empty();
            init_plupload();
        });
        //init_plupload();
        var bind_drop = function(){
            $(div_imgs+' .extras a').bind('click',function(){
                $(this).parent('.extras').parent('.img-list-box').remove();
            });
        };

        var pic_data = image_data;
        if(pic_data){
            var pic_view = '';
            $.each(pic_data,function(i,o){
                pic_view += make_img_html(o);
            });
            $(div_imgs).append(pic_view);
            bind_drop();
        }
    };
</script>
<script>

    $(function(){

        $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});

        $('.top-submit').bind('click',function(){
            $('form').submit();
        });

        var $el = $('#pic-plupload');
        var div_select = '#div-select';
        var div_imgs = '#div-imgs';
        var image_input_name = 'img_name';
        var image_data = <!--{{pics}}-->;
        //var preview_html = '';
        multi_upload('#pic-plupload',div_select,div_imgs,image_input_name,image_data);
    });
</script>
<!--{%endblock%}-->