<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>编辑文章</h3>
				<div class="actions">
					<a href="javascript:void(0)" class="btn btn-teal top-submit"><i class="icon-ok"></i>保存</a>
				</div>
			</div>
			<div class="box-content">
			    <form action="<!--{{url('gamelive/article/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <input name="id" type="hidden" value="<!--{{article.id}}-->" />
				<div class="control-group">
					<label class="control-label">标题<i class="tip-star">*</i></label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="title" class="input-xxlarge" data-rule-required="true" data-msg-required="请填写标题" value="<!--{{article.title}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
					    <div class=" input-append">
							<span class="add-on">短标题<i class="tip-star">*</i></span><input type="text" name="subtitle" class="input-xlarge" value="<!--{{article.subTitle}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
					    <div class="input-prepend">
							<span class="add-on">来源<i class="tip-star">*</i></span><input type="text" name="source" class="input-medium" value="<!--{{article.source}}-->" /><span class="add-on">作者<i class="tip-star">*</i></span><input type="text" name="author" class="input-medium" value="<!--{{article.author}}-->" />
						</div>
					</div>
				</div>
				 <!--{%if article.titlePic%}-->
			    <div class="control-group">
			        <label class="control-label">列表图<i class="tip-star">*</i></label>
					<div class="controls">
					    <a href="#bigimg" data-toggle="modal"><img src="<!--{{article.titlePic}}-->" width="150px" /></a>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label class="control-label">上传列表图</label>
					<div class="controls">
					    <input name="titlePic" type="hidden" value="<!--{{article.titlePic}}-->"/>
					    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
								<input type="file" name="filedata" class="" />
							</div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">关联游戏</label>
					<div class="controls">
						<div class="input-append">
                            <input type="hidden" id="game_id" name="gameId" class="input-xlarge" value="<!--{{article.refGameId}}-->"  />
                            <input type="text"  id="games"  value="<!--{{article.gameNames}}-->" /><span class="add-on select-game">选择</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">跳转标题</label>
					<div class="controls">
					    <div class="input-append">
							<input name="skipTitle" type="text" class="input-xlarge" value="<!--{{article.skipTitle}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">跳转URL</label>
					<div class="controls">
					    <div class="input-append">
							<input name="skipUrl" type="text" class="input-xlarge" value="<!--{{article.skipUrl}}-->" />
						</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">发布时间</label>
					<div class="controls">
						<div class="input-append date">
							<input name="publishTime" type="text" class="input-medium datetimepicker" value="<!--{{article.publishTime|date('Y-m-d H:i:s')}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">标签</label>
					<div class="controls">
						<div class="span6"><input type="text" name="tags" id="tags" class="tagsinput" value="<!--{{article.tags}}-->"></div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">摘要<i class="tip-star">*</i></label>
					<div class="controls">
					    <textarea name="summary" class="input-xxlarge"><!--{{article.summary}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">内容<i class="tip-star">*</i></label>
					<div class="controls">
					    <script id="container" name="content" type="text/plain"><!--{{article.content}}--></script>
					</div>
				</div>											
			    <div class="form-actions">
					<button type="submit" class="sub btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
    var gameArr = new Array();
	var set_selected_game = function(game_id,game_name,game_icon){

        var gameNames = $('#games').val();
        if(gameNames.length>0){
            var a = gameNames.split(',');
            if(a.indexOf(game_name)!=-1){
                alert(game_name+" 已在列表中！");return false;
            }
            a.push(game_name);
            var b = a.join(',');
            //console.log(b);
            $('#games').val(b);
        }else{
            $('#games').val(game_name);
        }

		var game_ids = $('#game_id').val();
		if(game_ids.length>0){
			var a = game_ids.split(',');
			a.push(game_id);
			var b = a.join(',');
			//console.log(b);
			$('#game_id').val(b);
		}else{
			$('#game_id').val(game_id);
		}
        gameArr[game_name] = game_id;

	};
$(function(){
    var editor = UE.getEditor('container',{initialFrameWidth:800});
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});

	if($(".tagsinput").length > 0){
		$('.tagsinput').tagsInput({width:'auto', height:'auto'});
	}
	$('.select-game').bind('click',function(){
		$.ajax({
			url:'/gamelive/api/pop-game-search',
			dataType:'json',
			success:function(json){
				var html = '';
				html = json.html;
				$.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
			}
		});
	});

	$('.top-submit').bind('click',function(){
		$('form').submit();
	});

    setArr();
    function setArr(){
        var game_ids = $('#game_id').val();
        var gameNames = $('#games').val();

        var gameIdArr = game_ids.split(',');
        var gameNameArr = gameNames.split(',');
        $.each(gameNameArr,function(n,val){
            gameArr[val] = gameIdArr[n];
        })
    }
    $(".sub").click(function(){
        var game_ids = "";
        var gameNames = $('#games').val();

        var gameNameArr = gameNames.split(',');

        $.each(gameNameArr,function(n,val){
            game_ids += gameArr[val]+",";
        })
        game_ids = game_ids.substr(0,game_ids.length-1);
        $('#game_id').val(game_ids)
    })
});
</script>
<!--{%endblock%}-->