<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css" />
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>栏目信息</h3>
                <div class="actions">
                    <a href="javascript:void(0)" class="btn btn-teal top-submit"><i class="icon-ok"></i>保存</a>
                </div>
            </div>
            <div class="box-content">
                <form action="<!--{{url('gamelive/column/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
                    <input name="id" type="hidden" value="<!--{{column.id}}-->" />
                    <div class="control-group">
                        <label class="control-label">栏目名称<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="name" class="input-xxlarge" data-rule-required="true" data-msg-required="请填写名称" value="<!--{{column.name}}-->" />
                            </div>
                        </div>
                    </div>
                    <!--{%if column.thumbnail%}-->
                    <div class="control-group">
                        <label class="control-label">栏目小图<i class="tip-star">*</i></label>
                        <div class="controls">
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{column.thumbnail}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传栏目小图</label>
                        <div class="controls">
                            <input name="thumbnail" type="hidden" value="<!--{{column.thumbnail}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="filepic" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">上传栏目小图<i class="tip-star">*</i></label>
                        <div class="controls">
                            <input name="thumbnail" type="hidden" value="<!--{{column.thumbnail}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="filepic" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <!--{%if column.picUrl%}-->
                    <div class="control-group">
                        <label class="control-label">栏目大图<i class="tip-star">*</i></label>
                        <div class="controls">
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{column.picUrl}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传栏目大图</label>
                        <div class="controls">
                            <input name="picUrl" type="hidden" value="<!--{{column.picUrl}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="filedata" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">上传栏目大图<i class="tip-star">*</i></label>
                        <div class="controls">
                            <input name="picUrl" type="hidden" value="<!--{{column.picUrl}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="filedata" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <div class="control-group">
                        <label class="control-label">关联主播<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="hidden" id="anchor_id" name="peoples" class="input-xlarge" value="<!--{{column.peoples}}-->"/>
                                <input type="text" id="people" class="tagsinput" value="<!--{{column.peopleNames}}-->" /><span class="add-on select-anchor">选择</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">H5直播代码<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea name="H5Code" class="input-xxlarge"><!--{{column.h5Code}}--></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">PC直播代码<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea name="PCCode" class="input-xxlarge"><!--{{column.pccode}}--></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">栏目介绍</label>
                        <div class="controls">
                            <script id="summary" name="summary" type="text/plain"><!--{{column.summary}}--></script>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">本期介绍</label>
                        <div class="controls">
                            <script id="content1" name="content" type="text/plain"><!--{{column.content}}--></script>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">分享用标题</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" name="shareTitle" class="input-xlarge" value="<!--{{column.shareTitle}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">分享用内容</label>
                        <div class="controls">
                            <textarea name="shareSummary" class="input-xxlarge"><!--{{column.shareSummary}}--></textarea>
                        </div>
                    </div>

                    <!--{%if column.sharePicUrl%}-->
                    <div class="control-group">
                        <label class="control-label">分享用图<i class="tip-star">*</i></label>
                        <div class="controls">
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{column.sharePicUrl}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <div class="control-group">
                        <label class="control-label">上传分享用图</label>
                        <div class="controls">
                            <input name="sharePicUrl" type="hidden" value="<!--{{column.sharePicUrl}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="fileshare" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="sub btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
    var peopleArr = new Array();
    var set_selected_anchor = function(anchor_id,anchor_name){
        var people = $('#people').val();
        if(people.length>0){
            var a = people.split(',');
            if(a.indexOf(anchor_name)!=-1){
                alert(anchor_name+" 已在列表中！");return false;
            }
            a.push(anchor_name);
            var b = a.join(',');
            //console.log(b);
            $('#people').val(b);
        }else{
            $('#people').val(anchor_name);
        }

        var anchor_ids = $('#anchor_id').val();
        if(anchor_ids.length>0){
            var a = anchor_ids.split(',');
            a.push(anchor_id);
            var b = a.join(',');
            //console.log(b);
            $('#anchor_id').val(b);
        }else{
            $('#anchor_id').val(anchor_id);
        }
        peopleArr[anchor_name] = anchor_id;

    };
    $(function(){
        UE.getEditor('summary',{initialFrameWidth:800});
        UE.getEditor('content1',{initialFrameWidth:800});

        $('.top-submit').bind('click',function(){
            $('form').submit();
        });

        $('.select-anchor').bind('click',function(){
            $.ajax({
                url:'/gamelive/api/pop-anchor-search',
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog({id:'pop-anchor-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });
        setArr();
        function setArr(){
            var anchor_ids = $('#anchor_id').val();
            var people = $('#people').val();

            var anchorIdArr = anchor_ids.split(',');
            var anchorNameArr = people.split(',');
            $.each(anchorNameArr,function(n,val){
                peopleArr[val] = anchorIdArr[n];
            })
        }

        $(".sub").click(function(){
            var anchor_ids = "";
            var people = $('#people').val();

            var anchorNameArr = people.split(',');

            $.each(anchorNameArr,function(n,val){
                anchor_ids += peopleArr[val]+",";
            })
            anchor_ids = anchor_ids.substr(0,anchor_ids.length-1);
            $('#anchor_id').val(anchor_ids);
        })
    });
</script>
<!--{%endblock%}-->