<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>游戏信息</h3>
                <div class="actions">
                    <a href="javascript:void(0)" class="btn btn-teal top-submit"><i class="icon-ok"></i>保存</a>
                </div>
            </div>
            <div class="box-content">
                <form action="<!--{{url('gamelive/game/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
                    <input name="id" type="hidden" value="<!--{{game.id}}-->" />
                    <div class="control-group">
                        <label class="control-label">游戏名称<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="name" class="input-xxlarge" value="<!--{{game.name}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">排序</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="top" class="input-small" value="<!--{{game.top}}-->" />
                            </div>
                        </div>
                    </div>
                    <!--{%if game.titlePic%}-->
                    <div class="control-group">
                        <label class="control-label">游戏图片<i class="tip-star">*</i></label>
                        <div class="controls">
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{game.titlePic}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传游戏图片</label>
                        <div class="controls">
                            <input name="titlePic" type="hidden" value="<!--{{game.titlePic}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="file_pic" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">上传游戏图片<i class="tip-star">*</i></label>
                        <div class="controls">
                            <input name="titlePic" type="hidden" value="<!--{{game.titlePic}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="file_pic" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <!--{%if game.gicon%}-->
                    <div class="control-group">
                        <label class="control-label">ICON图片<i class="tip-star">*</i></label>
                        <div class="controls">
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{game.gicon}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">上传ICON图片</label>
                        <div class="controls">
                            <input name="gicon" type="hidden" value="<!--{{game.gicon}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="file_icon" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">上传ICON图片<i class="tip-star">*</i></label>
                        <div class="controls">
                            <input name="gicon" type="hidden" value="<!--{{game.gicon}}-->"/>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <input type="file" name="file_icon" class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <div class="control-group">
                        <label class="control-label">视频代码<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea name="defVideo" class="input-xxlarge"><!--{{game.defVideo}}--></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏简介<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea name="summary" class="input-xxlarge"><!--{{game.summary}}--></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>

    $(function(){

        $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
        if($(".tagsinput").length > 0){
            $('.tagsinput').tagsInput({width:'auto', height:'auto',autocomplete_url:'<!--{{url('wcms/api/tags')}}-->'});
        }

        $('.top-submit').bind('click',function(){
            $('form').submit();
        });
    });
</script>
<!--{%endblock%}-->