<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    游戏列表
                </h3>
                <div class="actions">
                    <form action="<!--{{url('gamelive/article/list')}}-->" class="">
                        <table class="table-filter">
                            <tr><!--{##}
                                <td>标题关键词</td>
                                <td>
                                    <input name="keyword" type="text" class="input-medium" placeholder="ID/关键字" value="<!--{{search.keyword}}-->">
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>#}-->
                                <td><a href="<!--{{url('gamelive/game/edit')}}-->" class="btn btn-teal"><i class="icon-plus"></i>添加游戏</a></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">ID</th>
                        <th>游戏名称</th>
                        <th>游戏ICON</th>
                        <th>游戏图片</th>
                        <th class="col-150">发布时间</th>
                        <th class="col-120">属性</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.id}}--></td>
                        <td>
                            <!--{{item.name}}-->
                        </td>
                        <td class="table-list-img"><a href="#bigimg" data-toggle="modal"><img src="<!--{{item.gicon}}-->" /></a></td>
                        <td class="table-list-img"><a href="#bigimg" data-toggle="modal"><img src="<!--{{item.titlePic}}-->" /></a></td>
                        <td><!--{{item.publishTime|date('Y-m-d H:i:s')}}--></td>
                        <td></td>
                        <td>
                            <a href="<!--{{url('gamelive/game/edit')}}-->?id=<!--{{item.id}}-->" class="btn btn-primary">编辑</a>
                            <a href="<!--{{url('gamelive/game/delete')}}-->?id=<!--{{item.id}}-->" class="btn btn-primary ajax-del">删除</a>
                            <!--<a href="http://www.youxiduo.com/content/<!--{{item.id}}-->.html" class="btn btn-primary" target="_blank">查看</a>-->
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
        $('a.ajax-del').bind('click',function(){
            if(!confirm('确定要删除数据吗？')){
                return false;
            }
        });
    });
</script>
<!--{%endblock%}-->