<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>首页排期表
                </h3>
                <div class="actions">

                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">位置顺序</th>
                        <th class="col-60">周X</th>
                        <th>节目</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.idx}}--></td>
                        <td>周<!--{{item.day}}--></td>
                        <!--{%for week in item.result%}-->
                        <td>
                            <div class="table-list-img"><a href="#bigimg" data-toggle="modal"><img src="<!--{{week.picUrl}}-->" /></a></div>
                            <p><!--{{ week.title }}--></p>
                            <p><!--{{ week.summary }}--></p>
                            <p><!--{{ week.starttime|date('Y-m-d H:i') }}-->至<!--{{ week.endtime|date('Y-m-d H:i') }}--></p>
                        </td>
                        <!--{%endfor %}-->
                        <td>
                            <a href="<!--{{url('gamelive/home/week-edit')}}-->?day=<!--{{item.day}}-->&idx=<!--{{item.idx}}-->" class="btn btn-primary">编辑</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
        $('a.ajax-del').bind('click',function(){
            if(!confirm('确定要删除数据吗？')){
                return false;
            }
        });
    });
</script>
<!--{%endblock%}-->