<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<link rel="stylesheet" href="/static/js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>发布热门游戏</h3>
			</div>
			<div class="box-content">
			    <form id="form_sports" action="<!--{{url('gamelive/home/save-hot-game')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

                <div class="control-group">
                    <label class="control-label">游戏</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="hidden" id="gameId" name="gameId" class="input-xlarge" value="<!--{{data.gameId}}-->"  />
                            <input type="text"  id="gameName" name="gameName"  value="<!--{{data.gameName}}-->" /><span class="add-on select-game">选择</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">排序</label>
                    <div class="controls">
                        <div class=" input-append">
                            <input type="text" name="idx" class="input " value="<!--{{data.idx}}-->"  />
                        </div>
                    </div>
                </div>

			    <div class="form-actions">
                    <input type="hidden" name="id" value="<!--{{data.idx}}-->" />
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>

    var idx = "<!--{{data.idx}}-->";
    if(idx){
        $("input[name='idx']").attr("readonly","readonly");
    }
    var set_selected_game = function(game_id,game_name,game_icon){
        $("#gameId").val(game_id);
        $("#gameName").val(game_name);
    };

$(function(){
    var editor = UE.getEditor('container',{initialFrameWidth:800});
    $('input.datetimepicker').datetimepicker({format:'Y-m-d',lang:'ch'});

    $('.select-game').bind('click',function(){
        $.ajax({
            url:'/gamelive/api/pop-game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });
    });

});
</script>
<!--{%endblock%}-->