<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<link rel="stylesheet" href="/static/js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>发布首页底部厂商</h3>
			</div>
			<div class="box-content">
			    <form id="form_sports" action="<!--{{url('gamelive/home/save-index-gg-cs')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

                <div class="control-group">
                    <label class="control-label">广告图片</label>
                    <div class="controls">
                        <div data-provides="fileupload" class="fileupload fileupload-new">
                            <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                <img id="selected_game_icon" src="<!--{{data.picUrl|default('/static/img/wu_ss.gif')}}-->">
                            </div>
                            <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="img" type="hidden" value="<!--{{data.picUrl}}-->"/>
                                <input type="file"  name="picUrl" >
                            </span>
                            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                            <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                        </div>
                    </div>
                </div>

				<div class="control-group">
					<label class="control-label">url<i class="tip-star"></i></label>
					<div class="controls">
					    <textarea name="url" class="input-xxlarge"><!--{{data.url}}--></textarea>
					</div>
				</div>

                <div class="control-group">
                    <label class="control-label">排序</label>
                    <div class="controls">
                        <div class=" input-append">
                            <input type="text" name="idx" class="input input-xlarge" value="<!--{{data.idx}}-->" />
                        </div>
                    </div>
                </div>

			    <div class="form-actions">
                    <input type="hidden" name="id" value="<!--{{data.idx}}-->"/>
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
$(function(){
    var editor = UE.getEditor('container',{initialFrameWidth:800});
    $('input.datetimepicker').datetimepicker({format:'Y-m-d',lang:'ch'});

});
</script>
<!--{%endblock%}-->