<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>视频信息</h3>
            </div>
            <div class="box-content">
                <form action="<!--{{url('gamelive/video/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
                    <input name="id" type="hidden" value="<!--{{article.id}}-->"/>
                    <div class="control-group">
                        <label class="control-label">标题<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="title" class="input-xxlarge" data-rule-required="true" data-msg-required="请填写标题" value="<!--{{article.title}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">短标题<i class="tip-star">*</i></span><input type="text" name="subtitle" class="input-xlarge" value="<!--{{article.subTitle}}-->" />
                            </div>
                        </div>
                    </div>
                    <!--{#
				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
					    <div class="input-prepend">
							<span class="add-on">来源</span><input type="text" name="source" class="input-medium" value="<!--{{article.source}}-->" /><span class="add-on">作者</span><input type="text" name="author" class="input-medium" value="<!--{{article.author}}-->" />
						</div>
					</div>
				</div>
				#}-->
                    <!--{%if article.titlePic%}-->
                    <div class="control-group">
                        <label class="control-label">图片<i class="tip-star">*</i></label>
                        <div class="controls">
                            <input name="titlePic" type="hidden" value="<!--{{article.titlePic}}-->" />
                            <a href="#bigimg" data-toggle="modal"><img src="<!--{{article.titlePic}}-->" width="150px" /></a>
                        </div>
                    </div>
                    <!--{%endif%}-->
                    <div class="control-group">
                        <label class="control-label">上传图片<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span><input type="file" name="filedata" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">关联游戏</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="hidden" id="game_id" name="gameId" class="input-xlarge" value="<!--{{article.refGameId}}-->"  />
                                <input type="text"  id="games" class="tagsinput" value="<!--{{article.gameNames}}-->" /><span class="add-on select-game">选择</span>
                            </div>

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">关联主播</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="hidden" id="anchor_id" name="peopleId" class="input-xlarge" value="<!--{{article.refPeopleId}}-->"/>
                                <input type="text" id="people" class="tagsinput" value="<!--{{article.peopleNames}}-->" /><span class="add-on select-anchor">选择</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">所属栏目</label>
                        <div class="controls">
                            <!--{{form_select('columnId',columns,article.columnId)}}-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">发布时间</label>
                        <div class="controls">
                            <div class="input-append date">
                                <input name="publishTime" type="text" class="input-medium datetimepicker" value="<!--{{article.publishTime|date('Y-m-d H:i:s')}}-->" readonly="">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">标签</label>
                        <div class="controls">
                            <div class="span9"><input type="text" name="tags" id="tags" class="tagsinput" value="<!--{{article.tags}}-->" /></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">摘要<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea name="summary" class="input-xxlarge"><!--{{article.summary}}--></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">视频链接<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea name="content" class="input-xxlarge"><!--{{article.content}}--></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary sub"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
    var gameArr = new Array();
    var peopleArr = new Array();
    $(function(){
        setArr();
        function setArr(){
            var game_ids = $('#game_id').val();
            var gameNames = $('#games').val();
            var anchor_ids = $('#anchor_id').val();
            var people = $('#people').val();

            var gameIdArr = game_ids.split(',');
            var gameNameArr = gameNames.split(',');
            var anchorIdArr = anchor_ids.split(',');
            var anchorNameArr = people.split(',');
            $.each(gameNameArr,function(n,val){
                gameArr[val] = gameIdArr[n];
            })
            $.each(anchorNameArr,function(n,val){
                peopleArr[val] = anchorIdArr[n];
            })
        }

        $(".sub").click(function(){
            var game_ids = "";
            var gameNames = $('#games').val();
            var anchor_ids = "";
            var people = $('#people').val();

            var gameNameArr = gameNames.split(',');
            var anchorNameArr = people.split(',');

            $.each(gameNameArr,function(n,val){
                game_ids += gameArr[val]+",";
            })
            $.each(anchorNameArr,function(n,val){
                anchor_ids += peopleArr[val]+",";
            })
            game_ids = game_ids.substr(0,game_ids.length-1);
            anchor_ids = anchor_ids.substr(0,anchor_ids.length-1);
            $('#game_id').val(game_ids)
            $('#anchor_id').val(anchor_ids);
        })
    })



    var set_selected_game = function(game_id,game_name,game_icon){
        var gameNames = $('#games').val();
        if(gameNames.length>0){
            var a = gameNames.split(',');
            if(a.indexOf(game_name)!=-1){
                alert(game_name+" 已在列表中！");return false;
            }
            a.push(game_name);
            var b = a.join(',');
            //console.log(b);
            $('#games').val(b);
        }else{
            $('#games').val(game_name);
        }

        var game_ids = $('#game_id').val();
        if(game_ids.length>0){
            var a = game_ids.split(',');
            a.push(game_id);
            var b = a.join(',');
            //console.log(b);
            $('#game_id').val(b);
        }else{
            $('#game_id').val(game_id);
        }
        gameArr[game_name] = game_id;

    };

    var set_selected_anchor = function(anchor_id,anchor_name){

        var people = $('#people').val();
        if(people.length>0){
            var a = people.split(',');
            if(a.indexOf(anchor_name)!=-1){
                alert(anchor_name+" 已在列表中！");return false;
            }
            a.push(anchor_name);
            var b = a.join(',');
            //console.log(b);
            $('#people').val(b);
        }else{
            $('#people').val(anchor_name);
        }

        var anchor_ids = $('#anchor_id').val();
        if(anchor_ids.length>0){
            var a = anchor_ids.split(',');
            a.push(anchor_id);
            var b = a.join(',');
            //console.log(b);
            $('#anchor_id').val(b);
        }else{
            $('#anchor_id').val(anchor_id);
        }
        peopleArr[anchor_name] = anchor_id;

    };
    $(function(){
        $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
//        if($(".tagsinput").length > 0){
//            $('.tagsinput').tagsInput({width:'auto', height:'auto'});
//        }

        //一个一个来tags
        $("#tags").tagsInput({width:'auto', height:'auto'});
//        $("#games").tagsInput({width:'auto', height:'auto'});
//        $("#people").tagsInput({width:'auto', height:'auto'});

        $('.select-game').bind('click',function(){
            $.ajax({
                url:'/gamelive/api/pop-game-search',
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });

        $('.select-anchor').bind('click',function(){
            $.ajax({
                url:'/gamelive/api/pop-anchor-search',
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog({id:'pop-anchor-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });
    });
</script>
<!--{%endblock%}-->