<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    卡密管理
                </h3>
                <div class="actions">
                    <table class="table-filter">
                        <tr>
                            <td><a href="<!--{{url('product/goods/card-add-edit')}}-->" class="btn btn-teal">导入卡密</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th >卡密编号</th>
                        <th >卡密库存</th>
                        <th >卡密使用量</th>
                        <th >卡密类型</th>
                        <th >卡密描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{% for key,item in datalist%}-->
                    <tr>
                    <td><!--{{item.cardCode}}--></td>
                    <td ><!--{{item.cardStock}}--></td>
                    <td><!--{{item.cardUsedStock}}--></td>
                    <td>
                        <!--{%if item.cardType==1%}-->
                        礼包
                        <!--{%else %}-->
                        普通卡密
                        <!--{%endif %}-->
                    </td>
                    <td><!--{{item.cardDesc}}--></td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){

    });
</script>
<!--{%endblock%}-->