<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					商品管理				
				</h3>
				<div class="actions">
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <!-- <th class="col-60">ID</th> -->
						    <th class="col-60">图片</th>
							<th class="col-150">名称</th>
							<th class="col-150">起止时间</th>							
							<th class="col-80">所需游币</th>
							<th class="col-120">剩余量/总量</th>
							<th class="col-80">选项</th>
							<th class="col-80">兑换次数</th>
							<th class="col-60">排序</th>
							<th class="col-60">状态</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>	
					<tbody>
						<!--{% for key,item in datalist%}--> 
					    <tr>
							<td class="user-avatar"><img src="<!--{{imgurl}}--><!--{{item.img}}-->" class="" /></td>
							<td><!--{{item.title}}--></td>
							<td>
								<!--{% if item.activity %}--> 
							        <!--{{item.activity.startTimeStr|date('Y-m-d')}}-->至<!--{{item.activity.endTimeStr|date('Y-m-d')}}-->
							    <!--{% else %}--> 
							    	没有活动
							    <!--{% endif %}--> 
							</td>							
							<td><!--{{item.productGamePrice}}--></td>
							<td><!--{{item.restCount}}-->/<!--{{item.totalCount}}--></td>
							<td>
								<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">选项<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">
									<li><a href="<!--{{url('product/goods/product-operator',{id:item.productCode,type:'isrecommend',val:item.isRecommend})}}-->">推荐<!--{%if item.isRecommend == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<li><a href="<!--{{url('product/goods/product-operator',{id:item.productCode,type:'ishot',val:item.isHot})}}-->">热门<!--{%if item.isHot == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<li><a href="<!--{{url('product/goods/product-operator',{id:item.productCode,type:'isnew',val:item.isNewest})}}-->">最新<!--{%if item.isNewest == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
								</ul>
								</div>
							</td>
							<td>
							    <!--{%if item.singleLimit==0%}-->不限制<!--{%else%}--><!--{{item.singleLimit}}--><!--{%endif%}-->
							</td>
							<td>
							    <!--{{item.productSort}}-->
							</td>
							<td>
							    <!--{%if item.isOnshelf==1%}--><span class="badge badge-success">上架</span><!--{%else%}--><span class="badge badge-important">下架</span><!--{%endif%}-->
							</td>
							<td>
							    <a href="<!--{{url('product/goods/product-add-edit',{id:item.productId})}}-->" class="btn btn-primary">编辑</a>
							    <div class="btn-group">
							    <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">操作<span class="caret"></span></a>
							    <ul class="dropdown-menu dropdown-primary">
							    <!--{%if item.isOnshelf==1%}-->
							    <li><a href="<!--{{url('product/goods/status',{'id':item.productCode,'onOrOff':0})}}-->">下架</a></li>	
							    <!--{%else%}-->		
							    <li><a href="<!--{{url('product/goods/status',{'id':item.productCode,'onOrOff':1})}}-->">上架</a></li>
							    <!--{%endif%}-->

							    <!-- 			    
							    <li><a href="<!--{{url('shop/goods/delete',{id:item.productId})}}-->" class="ajax-del"><i class="icon-trash"></i>删除</a></li>
							    -->
							    </ul>
							    </div>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->