<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>代充产品信息</h3>
			</div>
			<div class="box-content">
			    <form id="form-activity" action="<!--{{url('wxshare/recharge/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <input id="id" name="id" type="hidden" value="<!--{{recharge.id}}-->" />
				<div class="control-group">
					<label class="control-label">标题</label>
					<div class="controls">
						<input type="text" name="title" class="input-xlarge" value="<!--{{recharge.title}}-->" data-rule-required="true" data-msg-required="标题不能为空" />
						<span class="help-inline">题目不要超过15个汉字</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">所属游戏</label>
					<div class="controls">
					    <input id="gameselect" name="game_id" data-from="ios" type="hidden" value="<!--{{recharge.game_id}}-->" class="bigdrop select2-offscreen" style="width:200px" tabindex="-1">
					</div>					
				</div>
				<div class="control-group">
					<label class="control-label">排序</label>
					<div class="controls">
						<input type="text" name="sort" class="input-small" value="<!--{{recharge.sort|default('50')}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">属性</label>
					<div class="controls">					    				        
				        <label class="checkbox inline">
				        <!--{{form_checkbox('is_show',1,recharge.is_show==1)}}-->显示					        					        
				        </label>					        			        	        				     
					</div>
				</div>
				
				
				
				
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<script>
$(function(){
    //var editor = UE.getEditor('container');
    gameselect('#gameselect');
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
});
</script>
<!--{%endblock%}-->