<div class="box">
    <div class="actions">
        <table class="table-filter">
	        <tr>				            
	            <td>
	                <div class="controls">
					   <label class="radio inline"> 名称</label>
					</div>				                
	            </td>
	            <td id="td">
					<input id="keyword" type="text" class="input-medium"  value="<!--{{keyword}}-->">	
                </td>
                 
				<td>
				    <a href="javascript:search();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
    </div>    
    <table class="table table-hover table-nomargin">
        <thead>
			<tr>
			    <th class="col-100">商品名称</th>
                <th class="col-60">游戏</th>
                <th class="col-80">商品种类</th>
                <th class="col-80">所需游币</th>
                <th class="col-80">开始时间</th>
                <th class="col-80">结束时间</th>
                <th class="col-80">已领/总数</th>
				 <th class="table-btn-group" style="width:50px;">操作</th>
			</tr>
		</thead>
		<tbody>
		    <!--{%for item in datalist%}-->
    			<tr>
                    <td id="product_name_<!--{{item.productCode}}-->"><!--{{item.productName}}--></td>
                    <td><!--{{item.gname}}--></td>
                    <td><!--{{item.category.categoryName}}--></td>
                    <td><!--{{item.discountGamePrice}}--></td>
                    <td><!--{{item.startTimeStr}}--></td>
                    <td><!--{{item.endTimeStr}}--></td>
                    <td><!--{{item.tr ? item.tr : 0}}-->/<!--{{item.totalCount}}--></td>		
    				 <td>
    				    <a href="javascript:void(0);" data-id="<!--{{item.productCode}}-->" class="btn btn-primary select-cate-id">选择</a>				    							    
    				</td>
                </tr>
			<!--{%endfor%}-->
		</tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>    
<script>
    function search()
    {
        var keyword = $('#keyword').val();
        $.ajax({
            url:'/v4lotteryproduct/bigwheel/product-code',
            data:{keyword:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['pop-product-list'].content(html);		                
            }
        });
    }
    function init_page()
    {
        $('.select-cate-id').each(function(){
            $(this).click(function(){
                var product_code = $(this).attr('data-id'),product_name = $('#product_name_'+product_code).text();
                set_selected_product(product_code,product_name);
                $.dialog.list['pop-product-list'].close();

            });
        });
        $('.pagelink a').each(function(){
            var url = $(this).attr('href'); 
            $(this).attr('href','javascript:void(0);');
            $(this).click(function(){
                $.ajax({
                    url:url,
                    dataType:'json',
		            success:function(json){
		                var html = '';
		                html = json.html;
		                $.dialog.list['pop-product-list'].content(html);		                
		            }
                });
            });
            
        });
        //:
        //$('.aui_main').css({"display":"inline-block"});
        $("#keyword").removeAttr('disabled');;
    }
    init_page();
</script>