<div class="box">
    <div class="actions">
        <table class="table-filter">
	        <tr>				            
	            <td>
	                <div class="controls">
					   <label class="radio inline">库名</label>
					</div>				                
	            </td>
	            <td>
					<input id="keyword" type="text" class="input-medium"  value="<!--{{keyword}}-->">	
                </td>
				<td>
				    <a href="javascript:search();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
    </div>    
    <table class="table table-hover table-nomargin">
        <thead>
			<tr>
			    <th >库名</th>
                <th >创建时间</th>
                <th >已领取/已分配</th>
                <th >可分配/总量</th>
                <th >可上架</th>
				<th class="table-btn-group" style="width:50px;">操作</th>
			</tr>
		</thead>
		<tbody>
		    <!--{% for key,item in datalist%}-->
                <tr >
                    <td id="gift_name_<!--{{item.cardCode}}-->" card="<!--{{item.cardStock+item.cardUsedStock-item.cardQuota}}-->"><!--{{item.cardDesc}}--></td>
                    <td><!--{{item.createTime}}--></td>
                    <td><!--{{item.cardUsedStock}}-->/<!--{{item.cardQuota}}--></td>
                    <td ><!--{{item.cardStock+item.cardUsedStock-item.cardQuota}}-->/<!--{{item.cardStock+item.cardUsedStock}}--></td>
                    <td><!--{{item.cardStock}}--></td>
        			<td>
        				    <a href="javascript:void(0);" data-id="<!--{{item.cardCode}}-->" class="btn btn-primary select-gift-id">选择</a>				    							    
        			</td>
               </tr>
			<!--{%endfor%}-->
		</tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>    
<script>
    function search()
    {
        //var keytype = $("input[name='keytype']:checked").val();
        var keyword = $('#keyword').val();
        $.ajax({
            url:'/v4lotteryproduct/bigwheel/select-pop-gift',
            data:{keyword:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['select-pop-gift'].content(html);		                
            }
        });
    }
    function init_page()
    {
        $('a.select-gift-id').each(function(){
            $(this).click(function(){
                var code = $(this).attr('data-id'),
                    name = $('#gift_name_'+code).text(),
                    mycard=$('#gift_name_'+code).attr("card");

                setGift(code,name,mycard);
                $.dialog.list['select-pop-gift'].close();
            });
        });
        $('.pagelink a').each(function(){
            var url = $(this).attr('href'); 
            $(this).attr('href','javascript:void(0);');
            $(this).click(function(){
                $.ajax({
                    url:url,
                    dataType:'json',
		            success:function(json){
		                var html = '';
		                html = json.html;
		                $.dialog.list['select-pop-gift'].content(html);		                
		            }
                });
            });
            
        });
        //:$('.aui_main').css({"display":"inline-block"});
    }
    init_page();
</script>