<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>发布</h3>
            </div>
            <div class="box-content">
                <form id="form_article" action="<!--{{url('neirong/home/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">



                    <div class="control-group input-append">
                        <label class="control-label ">选择活动</label>
                        <div class=" controls">
                        <!--{{form_select('type',type,data.type,{'class':'input-small type'})}}-->
                        <input class="selected_cardCode " name="contentId" value="<!--{{data.objectid}}-->" type="hidden"/>
                        <input class="other"  name="other" value="<!--{{other}}-->" type="hidden"/>
                        <input type="text" readonly class="input-small selected_card_name act" id="card" name="sourceName" value="<!--{{ data.sourceName }}-->" style="margin-left: 10px;" />
                        <span class="add-on card_btn act" id="card_btn" linktype="">选择</span>
                        </div>
                    </div>


                    <div class="row-fluid task_time">
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">*开始时间</label>
                                <div class="controls">
                                    <div class="input-append date">
                                        <input name="timeStart" type="text" class="input-medium" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  value="<!--{{data.creattime|date('Y-m-d H:i:s')}}-->" >
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="control-group">
                                <label class="control-label">*结束时间</label>
                                <div class="controls">
                                    <div class="input-append date">
                                        <input name="timeEnd" type="text" class="input-medium " onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="<!--{{data.endTime|date('Y-m-d H:i:s')}}-->" >
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label link">链接</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="link" class="input-xxlarge" value="<!--{{data.object.link}}-->"/>
                            </div>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">排序</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="local" class="input-small" value="<!--{{data.local}}-->" data-rule-required="true" data-msg-required="请填写标题" />
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">是否自动</label>
                        <div class="controls">
                            <input name="autoShow" <!--{% if(data.autoShow == "1") %}-->checked<!--{% endif %}--> data-on-color="success" data-on-text="开启" data-off-color="danger" data-off-text="关闭" class="switchbox" type="checkbox" />
                        </div>
                    </div>

                    <!--
                    <div class="control-group">
                        <label class="control-label">置顶</label>
                        <div class="controls">
                            <input name="is_show" <!--{% if(data.enableStatus == "T") %}-->checked<!--{% endif %}--> data-on-color="success" data-on-text="开启" data-off-color="danger" data-off-text="关闭" class="switchbox" type="checkbox" checked/>
                        </div>
                    </div>
-->

                    <fieldset class="f_price2">
                        <legend>可选</legend>

                        <div class="control-group">
                            <label class="control-label">标题</label>
                            <div class="controls">
                                <div class=" input-append">
                                    <input type="text" name="title" class="input-xxlarge" value="<!--{{data.title}}-->"  />
                                </div>
                            </div>
                        </div>


                        <div class="control-group imgs">
                            <label class="control-label">图片 <span class="add_img badge badge-info" >添加</span> </label>
                            <!--{%for item in imgs%}-->
                            <div class="controls" >
                                <div data-provides="fileupload" class="fileupload fileupload-new">
                                    <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                        <img id="selected_game_icon" src="<!--{{item|default('/static/img/wu_ss.gif')}}-->">
                                    </div>
                                    <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="img[]" type="hidden" value="<!--{{item}}-->"/>
                                    <input type="file"  name="picFile[]" >
                                </span>
                                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                    <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                                    <input type="button" class="del_img" value="删除"/>
                                </div>
                            </div>
                            <!--{%endfor%}-->
                        </div>


                    </fieldset>
                    <div class="form-actions">
                        <input type="hidden" name="id" value="<!--{{data.id}}-->"/>
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/laydate/laydate.js"></script>
<script>
    var btn = "";
    $('.switchbox').bootstrapSwitch();//是否
    $(function(){
//        var editor = UE.getEditor('container',{initialFrameWidth:800});
        $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
        if($(".tagsinput").length > 0){
            $('.tagsinput').tagsInput({width:'auto', height:'auto',autocomplete_url:'<!--{{url('yxvl_eSports/api/tags')}}-->'});
        }
        //$('#tags').addTag('网络游戏');


        $('.card_btn').bind('click',function(){
            btn = $(this);
            var type = btn.siblings(".type").val();
            var url = "";
            var form = "";
            if(type == "1"){
                url ='/a_activity/activity/pop-search/';
                form = 'pop-data-list';
            }else if(type == "2"){
                url ='/v4agiftbag/gift/gift-select';
                form = 'pop-list';
            }else if(type == "3"){
                url ='/weba_forum/topic/topic-search';
                form = 'pop-list';
            }else if(type == "4"){
                url ='/a_activity2/task/task-search';
                form = 'pop-list';
            }else if(type == "5"){
                url ='/neirong/api/video-search';
                form = 'pop-list';
            }else if(type == "6"){
                url ='';
                form = '';
            }else if(type == "7"){
                url ='/neirong/api/article-search';
                form = 'pop-list';
            }else if(type == "8"){
                url ='/v4aproduct/goods/product-code2';
                form = 'pop-activity-list';
            }


            $.ajax({
                url:url,
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog({id:form,title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });

        $(".add_img").click(function(){
            $(this).parent().parent().append('<div class="controls">\
            <div data-provides="fileupload" class="fileupload fileupload-new">\
            <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">\
            <img id="selected_game_icon" src="<!--{{data.picUrl|default('/static/img/wu_ss.gif')}}-->">\
            </div>\
            <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>\
            <span class="btn btn-file"><i class="icon-picture"></i>\
            <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>\
            <input id="task_img" name="img[]" type="hidden" value="<!--{{data.picUrl}}-->"/>\
            <input type="file"  name="picFile[]" >\
            </span>\
            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>\
            <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>\
            <input type="button" class="del_img" value="删除"/>\
            </div>\
            </div>');
        });
        $(".del_img").live('click',function(){
            if(confirm("确定删除吗？")){
                $(this).parent().parent().remove();
            }
        });


        //type
        var sel_type = $(".type").val();
        sel_change(sel_type);

        $(".type").change(function(){
            sel_change($(this).val());
        })

        function sel_change(sel_type){
            if(sel_type == 3 || sel_type == 10 || sel_type == 12){
                $(".imgs").show();
            }else {
                $(".imgs").hide();
            }
        }
        //type

    });

    var set_selected_activity = function(aid,title){
        btn.siblings(".selected_cardCode").val(aid);
        btn.siblings(".selected_card_name").val(title);
    };
    var set_selected_bbs = function(bbs_id,bbs_name){
        btn.siblings(".selected_cardCode").val('10_252_218_253__0000000000000049');
        btn.siblings(".selected_card_name").val(bbs_name);
    };
    function set_selected_card(card_code,card_name,card_stock,can_use){
        btn.siblings(".selected_cardCode").val(card_code);
        btn.siblings(".selected_card_name").val(card_name);
    }
    function set_selected_cate(product_code,product_name){
        btn.siblings(".selected_cardCode").val(product_code);
        btn.siblings(".selected_card_name").val(product_name);
    }
    function set_selected_task(id,name){
        btn.siblings(".selected_cardCode").val(id);
        btn.siblings(".selected_card_name").val(name);
    }
    function set_selected_video(id,name,updatetime){
        btn.siblings(".selected_cardCode").val(id);
        btn.siblings(".selected_card_name").val(name);
        btn.siblings(".other").val(updatetime);
    }
    $('input:radio').iCheck({
        checkboxClass: 'icheckbox_square-orange',
        radioClass: 'iradio_square-orange',
        increaseArea: '20%'
    });
</script>
<!--{%endblock%}-->