<!--{%extends "sub-layout-statistics.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					论坛统计
				</h3>
				<div class="actions">
				    <span class="label">总数:<!--{{count}}--></span>				    
				</div>
			</div>
			<div class="box-content nopadding">
			    <form action="<!--{{url('statistics/forum/index')}}-->">
			    	<input type="hidden" name="date_type" value="day">
				    <table class="table-filter">
				        <tr>
				            <td>按日期查询</td>
				            <td>
				                <div class="input-append date datepick" id="dpStart" data-date="">
									<input name="startdate" type="text" class="input-small" value="<!--{{search.startdate}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
				            </td>				            
				            <td>
				                <div class="input-append date datepick" id="dpEnd" data-date="">
									<input name="enddate" type="text" class="input-small" value="<!--{{search.enddate}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>
							<td>
				                <label><!--{{form_radio('sort','postf',search.sort=='postf')}}-->发帖</label>
				            </td>
				            <td>
				                <label><!--{{form_radio('sort','replyf',search.sort=='replyf')}}-->回复</label>
				            </td>				            
				            <td><button class="btn btn-teal"><i class="icon-search"></i>查询</button></td>
				        </tr>
				    </table>
				</form>
				<form action="<!--{{url('statistics/forum/index')}}-->">
					<input type="hidden" name="date_type" value="week">
				    <table class="table-filter">
				        <tr>
				            <td>按周查询</td>
				            <td>
				                <!--{{form_select('week',weeks,search.week)}}-->				                
				            </td>
				            <td>
				                <label><!--{{form_radio('sort','postf',search.sort=='postf')}}-->发帖</label>
				            </td>
				            <td>
				                <label><!--{{form_radio('sort','replyf',search.sort=='replyf')}}-->回复</label>
				            </td>				            				           
				            <td><button class="btn btn-teal"><i class="icon-search"></i>查询</button></td>
				        </tr>
				    </table>
				</form>
				<form action="<!--{{url('statistics/forum/index')}}-->">
					<input type="hidden" name="date_type" value="month">
				    <table class="table-filter">
				        <tr>
				            <td>按月查询</td>
				            <td>
				                <!--{{form_select('month',months,search.month)}}-->	
				            </td>
				            <td>
				                <label><!--{{form_radio('sort','postf',search.sort=='postf')}}-->发帖</label>
				            </td>
				            <td>
				                <label><!--{{form_radio('sort','replyf',search.sort=='replyf')}}-->回复</label>
				            </td>				            				           
				            <td><button class="btn btn-teal"><i class="icon-search"></i>查询</button></td>
				        </tr>
				    </table>
				</form>
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">
						        
							</th>
						    <th class="col-50">ID</th>
							<th class="col-100">用户名</th>
							<th class="col-60">头像</th>
							<th class="col-80">用户组</th>							
							<th class="col-120">注册时间</th>
							<th class="col-60"><!--{%if search.sort=='postf'%}-->发帖数<!--{%else%}-->回复数<!--{%endif%}--></th>
							<th>状态</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in list%}-->
						<tr>
						    <td></td>
							<td><!--{{item.uid}}--></td>
							<td><!--{{item.nickname}}--></td>
							<td class="user-avatar"><img src="<!--{{item.avatar|default('/userdirs/common/avatar@2x.png?v=3')}}-->" /></td>
							<td><!--{{usergroups[item.group_id]}}--></td>							
							<td><!--{{item.dateline|date('Y-m-d')}}--></td>
							<td><!--{{item.count}}--></td>
							<td><!--{%if in_array(item.uid,bans)%}--><span class="label">禁用中</span><!--{%endif%}--></td>
							<td>
							    <a href="<!--{{url('user/users/edit',{'uid':item.uid})}}-->" class="btn btn-primary">编辑</a>
							    <div class="btn-group">
							        <a data-toggle="dropdown" class="btn  btn-primary dropdown-toggle">屏蔽<span class="caret"></span></a>
							        <ul class="dropdown-menu dropdown-primary">
							            <li><a href="<!--{{url('user/users/shield-avatar',{'uid':item.uid})}}-->">屏蔽头像</a></li>
							            <li><a href="<!--{{url('user/users/shield-nickname',{'uid':item.uid})}}-->">屏蔽昵称</a></li>
							        </ul>
							    </div>
							    <div class="btn-group">
							        <a data-toggle="dropdown" class="btn  btn-primary dropdown-toggle">禁言<span class="caret"></span></a>
							        <ul class="dropdown-menu dropdown-primary">
							            <li><a href="<!--{{url('user/users/ban',{'uid':item.uid,'time':1800})}}-->">禁言30分钟</a></li>
							            <li><a href="<!--{{url('user/users/ban',{'uid':item.uid,'time':3600*24})}}-->">禁言24小时</a></li>
							            <li><a href="<!--{{url('user/users/ban',{'uid':item.uid,'time':0})}}-->">永久禁言</a></li>
							            <li><a href="<!--{{url('user/users/unban',{'uid':item.uid})}}-->">解除禁言</a></li>
							            <li><a href="<!--{{url('user/users/clear-post',{'uid':item.uid})}}-->">删除用户所有发言</a></li>
							        </ul>
							    </div>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->