<!--{%extends "sub-layout-statistics.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					激活报表
					<span class="badge badge-warning"><!--{{total}}--></span>
				</h3>
				<div class="actions">
				    <form action="<!--{{url('statistics/monitor/active-list')}}-->" method="GET">
				    <input name="config_id" type="hidden" value="<!--{{search.config_id}}-->" />
				    <input name="channel_id" type="hidden" value="<!--{{search.channel_id}}-->" />
				    <table class="table-filter">
				        <tr>
				            <td>
				                <div class="input-append date datepick" id="dpStart" data-date="">
									<input name="startdate" type="text" class="input-small" value="" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
				            </td>
				            <td>
				                <div class="input-append date datepick" id="dpEnd" data-date="">
									<input name="enddate" type="text" class="input-small" value="" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>
							<td>数量<input name="pageSize" type="text" class="input-small" value="100" ></td>
							<td><input name="export" data-on-color="success" data-on-text="导出" data-off-color="danger" data-off-text="查看" class="switchbox" value="1" type="checkbox"/></td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>操作</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">IP</th>						    
							<th class="col-150">数量</th>
							<th>时间</th>
							<th>用户UID</th>
							<th>账号</th>
							<th>设备</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.CLICK_IP}}--></td>							
							<td><!--{{item.CLICK_COUNT}}--></td>							
							<td><!--{{item.ACTIVE_TIME}}--></td>
							<td><!--{{item.USER_ID}}--></td>
							<td><!--{{item.USER_KEY}}--></td>
							<td><!--{{item.USER_DEVICE_KEY}}--></td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>						
	    </div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
$(function(){
    $('.switchbox').bootstrapSwitch();
});
</script>
<!--{%endblock%}-->