<!--{%extends "sub-layout-statistics.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>监控频道信息</h3>
			</div>
			<div class="box-content">
			    <form id="form-channel" action="<!--{{url('statistics/monitor/channel-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <div class="control-group">
					<label class="control-label">渠道标识</label>
					<div class="controls">
						<input name="channel_id" type="text" class="input-medium" value="<!--{{channel.CHANNEL_ID}}-->" data-rule-required="true" data-msg-required="渠道标识不能为空" />
						<span class="help-inline">可以由字母数字下划线组成</span>
					</div>
				</div>			    
			    <div class="control-group">
					<label class="control-label">渠道名称</label>
					<div class="controls">
						<input name="channel_name" type="text" class="input-medium" value="<!--{{channel.CHANNEL_NAME}}-->" data-rule-required="true" data-msg-required="渠道名称不能为空"/>
						<span class="help-inline">可以是汉字</span>
					</div>
				</div>
                <div class="control-group">
					<label class="control-label">是否激活</label>
					<div class="controls">
						<label class="radio inline"><!--{{form_radio('is_active',1,channel.IS_ACTIVE==1)}}-->已激活</label>
						<label class="radio inline"><!--{{form_radio('is_active',0,channel.IS_ACTIVE==0)}}-->未激活</label>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->