<!--{%extends "sub-layout-statistics.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>监控配置信息</h3>
			</div>
			<div class="box-content">
			    <form id="form-config" action="<!--{{url('statistics/monitor/config-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <div class="control-group">
					<label class="control-label">所属渠道</label>
					<div class="controls">
						<!--{{form_select('channel_id',channel_list,config.CHANNEL_ID)}}-->
					</div>
				</div>
			    <div class="control-group">
					<label class="control-label">配置标识</label>
					<div class="controls">
						<input name="config_id" type="text" class="input-medium" value="<!--{{config.CONFIG_ID}}-->" data-rule-required="true" data-msg-required="配置标识不能为空" />
						<span class="help-inline">可以由字母数字下划线组成</span>
					</div>
				</div>			    
			    <div class="control-group">
					<label class="control-label">配置名称</label>
					<div class="controls">
						<input name="config_name" type="text" class="input-medium" value="<!--{{config.CONFIG_NAME}}-->" data-rule-required="true" data-msg-required="配置名称不能为空" />
						<span class="help-inline">可以是汉字</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">系统平台</label>
					<div class="controls">
						<!--{{form_select('config_os',os_list,config.CONFIG_OS)}}-->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">跳转URL</label>
					<div class="controls">
						<input name="redirect_url" type="text" class="input-xxlarge" value="<!--{{config.REDIRECT_URL}}-->" data-rule-required="true" data-msg-required="跳转URL不能为空" />
						<span class="help-inline">跳转的目标URL，以http://开头</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">点击回调URL</label>
					<div class="controls">
						<input name="click_call_back_url" type="text" class="input-xxlarge" value="<!--{{config.CLICK_CALL_BACK_URL}}-->" />
						<span class="help-inline">跳转的目标URL，以http://开头</span>
					</div>
				</div>
				<!--{# 
				<div class="control-group">
					<label class="control-label">激活回调URL</label>
					<div class="controls">
						<input name="active_call_back_url" type="text" class="input-xxlarge" value="<!--{{config.ACTIVE_CALL_BACK_URL}}-->" />
						<span class="help-inline">跳转的目标URL，以http://开头</span>
					</div>
				</div>
				#}-->                 
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->