<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    奖项管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('tianyu/game/list')}}-->" class="">
                        <td>
                            <a class="btn btn-teal" href="<!--{{url('tianyu/game/add')}}-->"><i title="添加游戏" class="icon-plus"></i></a>
                        </td>
                        </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-150">奖项名称</th>
                        <th class="col-150">投票数</th>
                        <th class="col-150">游戏名称</th>
                        <th class="col-150">游戏图片</th>
                        <th class="col-150">礼物图片</th>
                        <th class="col-150">游戏简介</th>
                        <th class="col-150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in list%}-->
                    <tr>
                        <td><!--{{item.priceTitle}}--></td>
                        <td><!--{{item.num}}--></td>
                        <td><!--{{item.gameTitle}}--></td>
                        <td><img style="width:80px;height:80px;" src="<!--{{item.gamePic|default('/static/img/nopic.gif')}}-->" /></td>
                        <!--{% if item.type=='0' %}-->
                        <td><img style="width:80px;height:80px;" src="<!--{{item.giftPic|default('/static/img/nopic.gif')}}-->" /></td>
                        <td><a href="#nogo" <!--{%if item.gameDescribe%}-->  data-target="#myModal"  data-toggle="modal"  <!--{%else%}-->disabled="disabled" <!--{%endif%}--> class="add btn btn-primary"  add_add='<!--{{item.gameDescribe}}-->'  class="btn btn-primary ajax-del">查看简介</a></td>
                        <!--{% else %}-->
                        <td></td>
                        <td></td>
                        <!--{% endif %}-->
                        <td>
                            <a href="<!--{{url('tianyu/game/add')}}-->?id=<!--{{ item.id }}-->" class="btn btn-primary">编辑</a>

                            <a href="#nogo" id="<!--{{item.id}}-->" class="btn btn-primary del">删除</a>

                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
                <!--模态框-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">游戏简介</h4>
                            </div>
                            <div class="modal-body">
                                <p><span id="add_add">正在加载数据...</span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
        $('.del').on('click',function(){
            if(confirm('确定要删除数据吗？')){
                var id = $(this).attr('id');
                obj = $(this);
                $.post('<!--{{url('tianyu/help/ajax-do')}}-->',{id:id,url:"tianyu_lottery/delete/delete_game"},function(data){
                    if(data.success){
                        obj.parent().parent().hide();
                    }else{
                        alert(data.error);
                    }
                },"json")
            }
        });
        $(".add").click(function(){
            $('#add_add').html($(this).attr("add_add"));
        })
    });
</script>
<!--{%endblock%}-->