<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					分享活动列表					
				</h3>
				<div class="actions">	
				<a href="<!--{{url('a_system/share/adv-edit')}}-->?tpl_ename=<!--{{tpl_ename}}-->&target_id=<!--{{target_id}}-->" class="btn btn-success">添加分享活动</a>			    
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th>标题</th>
							<th class="col-100">类别</th>
							<th>时间</th>
							<th class="col-100">状态</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.target_title}}--></td>
							<td><!--{{item.tpl_title}}--></td>
							<td><!--{{item.start_time|date('Y-m-d H:i')}}-->至<!--{{item.end_time|date('Y-m-d H:i')}}--></td>
							<td><!--{%if item.is_show%}--><span class="badge badge-success">开</span><!--{%else%}--><span class="badge badge-important">闭</span><!--{%endif%}--></td>
							<td>
							    <a href="<!--{{url('a_system/share/adv-edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							    <a href="<!--{{url('a_system/share/adv-delete',{id:item.id})}}-->" class="btn btn-primary ajax-del">删除</a>							    
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){ 
    
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});    
</script>
<!--{%endblock%}-->