<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>模板信息</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('a_system/share/add-tpl')}}-->" method="POST" class="form-horizontal">
				<input name="id" type="hidden" value="<!--{{tpl.id}}-->" />										
				<div class="control-group">
					<label for="textfield" class="control-label">模板标识</label>
					<div class="controls">
					<!--{%if tpl.id%}-->
					    <input name="ename" type="hidden" value="<!--{{tpl.ename}}-->"/>
						<span class="label"><!--{{tpl.ename}}--></span>
					<!--{%else%}-->
					    <input name="ename" type="text" class="input-xlarge" value="" />
					<!--{%endif%}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">模板名称</label>
					<div class="controls">
						<input name="name" type="text" class="input-xlarge" value="<!--{{tpl.name}}-->"/>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">模板标题</label>
					<div class="controls">
						<input name="title" type="text" class="input-xxlarge" value="<!--{{tpl.title}}-->"/>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">微信模板内容</label>
					<div class="controls">
						<textarea name="weixin" class="input-xxlarge" rows="3"><!--{{tpl.content.weixin}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">微博模板内容</label>
					<div class="controls">
						<textarea name="weibo" class="input-xxlarge" rows="3"><!--{{tpl.content.weibo}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">模板变量</label>
					<div class="controls">
						<textarea name="var_json" class="input-xxlarge" rows="5"><!--{{tpl.var_json}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">模板变量</label>
					<div class="controls">
					    <!--{%for key,desc in varlist%}-->						
					    <span class="label"><!--{{key}}-->:<!--{{desc}}--></span>
					    <!--{%endfor%}-->
					</div>
				</div>				
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->   