<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					游戏管理
				</h3>
				<div class="actions">
				    <form action="<!--{{url('liansai/home/game-list')}}-->" class="">
				    <table class="table-filter">
				        <tr>
                            <td style="color: #ffffff;padding-right: 15px;">
                                <!--{{form_radio('platform','both',search.platform=='both')}}-->双端
                                <!--{{form_radio('platform','android',search.platform=='android')}}-->安卓
                                <!--{{form_radio('platform','ios',search.platform=='ios')}}-->ios

                            </td>
                            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
							<td><a href="<!--{{url('liansai/home/game-add')}}-->" class="btn btn-teal"><i class="icon-plus"></i>添加</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-120">ID</th>
							<th class="col-120">游戏名称</th>
							<th class="col-120">赛事数量</th>
                            <th class="col-120">建立时间</th>
                            <th class="col-120">平台</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for key,item in list%}-->
						<tr>
							<td><!--{{key+1}}--></td>
                            <td><!--{{item.gameName}}--></td>
                            <td><!--{{item.eventCount}}--></td>
                            <td><!--{{item.createTime}}--></td>
                            <td><!--{{item.platform}}--></td>
							<td>
							    <a href="<!--{{url('liansai/home/game-add')}}-->?gameId=<!--{{item.gameId}}-->" class="btn btn-primary">编辑</a>
							    <a href="<!--{{url('liansai/home/list')}}-->?gameId=<!--{{item.gameId}}-->" class="btn btn-primary ajax-del">赛事管理</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    /*
    $('a.ajax-del').bind('click',function(){
        if(confirm('确定要删除数据吗？')){
            var id = $(this).attr('id');
            obj = $(this);
            $.post('<!--{{url('yxvl_eSports/VltvLive/ajax-del')}}-->',{id:id,api:"RemoveLiveGraphical"},function(data){
                if(data.success){
                    obj.parent().parent().hide();
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });
    */
});
$('input:radio').iCheck({
    checkboxClass: 'icheckbox_square-orange',
    radioClass: 'iradio_square-orange',
    increaseArea: '20%'
});
</script>
<!--{%endblock%}-->