<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>联赛发布</h3>
			</div>
			<div class="box-content">
			    <form id="form_article" action="<!--{{url('liansai/home/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label">*标题<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="eventName" class="input-xxlarge" value="<!--{{data.eventName}}-->" data-rule-required="true" data-msg-required="请填写标题" />
                            </div>
                        </div>
                    </div>

                <div class="control-group">
                    <label class="control-label">报名时间<i class="tip-star">*</i></label>
                    <div class="controls">
                        <div class=" input-append">
                            <!--{%if data.evenSignOpen %}-->
                            <input name="evenSignOpen" <!--{%if data.evenSignOpen %}-->checked<!--{% endif %}--> data-on-color="success" data-on-text="是" data-off-color="danger" data-off-text="否" class="switchbox" type="checkbox" />
                            <!--{% else %}-->
                            <input name="evenSignOpen" checked data-on-color="success" data-on-text="是" data-off-color="danger" data-off-text="否" class="switchbox" type="checkbox" />
                            <!--{% endif %}-->
                            <input type="hidden" name="eventSignStart" value="2015-06-01 12:00:00"/>
                            <input type="hidden" name="eventSignEnd" value="2015-06-01 12:00:00"/>
                        </div> 长期有效
                    </div>
                </div>

                <div class="control-group">
					<label class="control-label">*赛事奖励<i class="tip-star">*</i></label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="eventAward" class="input-xxlarge" value="<!--{{data.eventAward}}-->" data-rule-required="true" data-msg-required="请填写奖励" />
						</div>
					</div>
				</div>

                    <div class="control-group">
                        <label class="control-label">赛事外图</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.eventCoverFile|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="img" type="hidden" value="<!--{{data.eventCoverFile}}-->"/>
                                <input type="file"  name="pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">赛事内图</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.eventImgDesc|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="img2" type="hidden" value="<!--{{data.eventImgDesc}}-->"/>
                                    <input type="file"  name="pic2" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">个人中心</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.userCenter|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="userCenter_img" type="hidden" value="<!--{{data.userCenter}}-->"/>
                                <input type="file"  name="userCenter_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">我的战队</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.myTeam|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="myTeam_img" type="hidden" value="<!--{{data.myTeam}}-->"/>
                                <input type="file"  name="myTeam_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">参赛队伍</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.allTeam|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="allTeam_img" type="hidden" value="<!--{{data.allTeam}}-->"/>
                                <input type="file"  name="allTeam_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">战队排名</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.rankTeam|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="rankTeam_img" type="hidden" value="<!--{{data.rankTeam}}-->"/>
                                <input type="file"  name="rankTeam_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">队员赛事记录</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.eventInfo|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="eventInfo_img" type="hidden" value="<!--{{data.eventInfo}}-->"/>
                                <input type="file"  name="eventInfo_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">报名参赛</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.joinEvent|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="joinEvent_img" type="hidden" value="<!--{{data.joinEvent}}-->"/>
                                <input type="file"  name="joinEvent_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">邀请好友</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.inviteFriend|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="inviteFriend_img" type="hidden" value="<!--{{data.inviteFriend}}-->"/>
                                    <input type="file"  name="inviteFriend_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">开始匹配</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.beginMatch|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="beginMatch_img" type="hidden" value="<!--{{data.beginMatch}}-->"/>
                                <input type="file"  name="beginMatch_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">赛事规则</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.eventDetail|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="eventDetail_img" type="hidden" value="<!--{{data.eventDetail}}-->"/>
                                <input type="file"  name="eventDetail_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">取消匹配</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.cancelMatch|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="cancelMatch_img" type="hidden" value="<!--{{data.cancelMatch}}-->"/>
                                <input type="file"  name="cancelMatch_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">加入战队</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.joinTeam|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="joinTeam_img" type="hidden" value="<!--{{data.joinTeam}}-->"/>
                                <input type="file"  name="joinTeam_pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">分享页图片</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.sharePage|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="sharePage_img" type="hidden" value="<!--{{data.sharePage}}-->"/>
                                    <input type="file"  name="sharePage_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">胜利</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.victoryBtn|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="victoryBtn_img" type="hidden" value="<!--{{data.victoryBtn}}-->"/>
                                    <input type="file"  name="victoryBtn_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">失败</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.defeatBtn|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="defeatBtn_img" type="hidden" value="<!--{{data.defeatBtn}}-->"/>
                                    <input type="file"  name="defeatBtn_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">我的战队(新增)</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.myTeam2Btn|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="myTeam2Btn_img" type="hidden" value="<!--{{data.myTeam2Btn}}-->"/>
                                    <input type="file"  name="myTeam2Btn_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">邀请好友</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.inviteFriend2Btn|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="inviteFriend2Btn_img" type="hidden" value="<!--{{data.inviteFriend2Btn}}-->"/>
                                    <input type="file"  name="inviteFriend2Btn_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">背景图(加入成功)</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.joinSuccessBack|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input id="task_img" name="joinSuccessBack_img" type="hidden" value="<!--{{data.joinSuccessBack}}-->"/>
                                    <input type="file"  name="joinSuccessBack_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>


                <div class="control-group">
                    <label class="control-label">*赛制类型<i class="tip-star">*</i></label>
                    <div class="controls">
                        <!--{{form_select('eventType',eventType,data.eventType)}}-->
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">*团队人数<i class="tip-star">*</i></label>
                    <div class="controls">
                        <div class=" input-append">
                            <input type="text" name="teamMaxNum" class="input-small" value="<!--{{data.teamMaxNum}}-->" data-rule-required="true" data-msg-required="请填写人数" />
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">匹配时间<i class="tip-star">*</i></label>
                    <div class="controls">
                        <div class=" input-append">
                            <input type="text" name="matchStart" class="input-small" value="<!--{{data.matchStart}}-->" data-rule-required="true" data-msg-required="请填写标题" />
                            <span style="margin: 5px;">--</span>
                            <input type="text" name="matchEnd" class="input-small" value="<!--{{data.matchEnd}}-->" data-rule-required="true" data-msg-required="请填写标题" />
                            <span style="margin: 5px;">--</span>
                            <input name="matchSwitch" <!--{%if data.matchSwitch %}-->checked<!--{% endif %}--> data-on-color="success" data-on-text="开启" data-off-color="danger" data-off-text="关闭" class="switchbox" type="checkbox" />
                        </div>
                        （12：49为1249）
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">参赛队伍<i class="tip-star">*</i></label>
                    <div class="controls">
                        <div class=" input-append">
                            <input name="teamNumLimit" <!--{%if data.teamNumLimit==0 %}-->checked<!--{% endif %}--> data-on-color="success" data-on-text="是" data-off-color="danger" data-off-text="否" class="switchbox" type="checkbox" />
                        </div> 不限队伍数
                    </div>
                </div>

				<div class="control-group">
					<label for="textfield" class="control-label">内容<i class="tip-star">*</i></label>
					<div class="controls">
					    <script id="container" name="eventTextDesc" type="text/plain"><!--{{data.eventTextDesc}}--></script>
					</div>
				</div>

			    <div class="form-actions">
                    <input type="hidden" name="eventId" value="<!--{{data.eventId}}-->"/>
                    <input type="hidden" name="gameId" value="<!--{{gameId}}-->"/>
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
var set_selected_web_game = function(game_id,game_name,game_icon){
	var game_ids = $('#web_game_id').val();
	if(game_ids.length>0){
		var a = game_ids.split(',');
		a.push(game_id);
		var b = a.join(',');
		//console.log(b);
		$('#web_game_id').val(b);
	}else{
		$('#web_game_id').val(game_id);
	}
};
var set_selected_picture = function(data_id){
    $('#picture_id').val(data_id);
};
var set_selected_video = function(data_id){
    $('#video_id').val(data_id);
};
$(function(){
    var editor = UE.getEditor('container',{initialFrameWidth:800});
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    if($(".tagsinput").length > 0){
		$('.tagsinput').tagsInput({width:'auto', height:'auto',autocomplete_url:'<!--{{url('yxvl_eSports/api/tags')}}-->'});
	}
    //$('#tags').addTag('网络游戏');
    
    
    $('.select-pop-picture').bind('click',function(){        
        $.ajax({
            url:'/yxvl_eSports/api/pop-picture-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-picture-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
    
    $('.select-pop-video').bind('click',function(){        
        $.ajax({
            url:'/yxvl_eSports/api/pop-video-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-video-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
    
    $('.select-web-game').bind('click',function(){        
        $.ajax({
            url:'/yxvl_eSports/api/pop-game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
});
$('.switchbox').bootstrapSwitch();
</script>
<!--{%endblock%}-->