<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    礼包领取
                </h3>
                <div class="actions">
                    <form action="<!--{{url('v4statistics/appaccount/package')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td>
                                    <input type="text" class="input-small" name="productName" placeholder="礼包名" value="<!--{{ search.productName }}-->">
                                </td>
                                <td><span class="label label-blue">开始时间</span>
                                    <div class="input-append date " >
                                        <input name="startDate" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search.startDate}}-->" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td><span class="label label-blue">结束时间</span>
                                    <div class="input-append date "  data-date="">
                                        <input name="endDate" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker"  value="<!--{{search.endDate}}-->" id="date_timepicker_end" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-120">礼包名</th>
                        <th class="col-120">数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for key,item in data%}-->
                    <tr>
                        <td><!--{{give}}--></td>
                        <td><!--{{item.exchangeStock}}--></td>
                    </tr>
                    <!--{%endfor%}-->
                    <!--{%for key,item in list%}-->
                    <tr>
                        <td><!--{{item.productName}}--></td>
                        <td><!--{{item.exchangeStock}}--></td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<!--{%endblock%}-->