<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    CMS广告统计
                </h3>
                <div class="actions">
                    <form action="<!--{{url('v4statistics/CMS/list')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td class="span3">
                                    <p class="span4" style="margin-bottom:0px">平台参数</p>
                                    <div class="input-append span4">
                                        <select name="type" style="width:150px;">
                                            <option value="1"
                                                <!--{% if search.type == '1' %}-->
                                                selected
                                                <!--{% endif %}-->
                                            >游戏多3.0</option>
                                            <option value="2"
                                                <!--{% if search.type == '2' %}-->
                                                selected
                                                <!--{% endif %}-->
                                            >游戏多4.0</option>
                                               <option value="4"
                                                <!--{% if search.type == '4' %}-->
                                                selected
                                                <!--{% endif %}-->
                                            >游戏多4.0业内版</option>
                                            <option value="3"
                                                <!--{% if search.type == '3' %}-->
                                                selected
                                                <!--{% endif %}-->
                                            >攻略APP</option>
                                            <option value="5"
                                                <!--{% if search.type == '5' %}-->
                                                selected
                                                <!--{% endif %}-->
                                            >狮吼</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="span3">
                                    <p class="span4" style="margin-bottom:0px">开始时间</p>
                                    <div class="input-append date span8" >
                                        <input name="startTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker span9" id="date_timepicker_start" value="<!--{{search.startTime}}-->" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td class="span3">
                                    <p class="span4" style="margin-bottom:0px">结束时间</p>
                                    <div class="input-append date span8" >
                                        <input name="endTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker span9" id="date_timepicker_end" value="<!--{{search.endTime}}-->" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td class="span3">
                                    <input type="text" placeholder="广告标识" class="span10" value="<!--{{ search.aid }}-->" name="aid">
                                </td>

                                <td class="span4">
                                    <button class="btn btn-teal">
                                        <i class="icon-search"></i>
                                        搜索
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-200">平台参数</th>
                        <th class="col-200">广告标识</th>
                        <th class="col-200">激活数</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in list%}-->
                    <tr>
                        <td>
                            <!--{% if item.type == '1' %}-->
                            游戏多3.0
                            <!--{% elseif item.type == '2' %}-->
                            游戏多4.0
                            <!--{% elseif item.type == '3' %}-->
                            攻略APP
                            <!--{% elseif item.type == '4' %}-->
                            游戏多4.0业内版
                            <!--{% elseif item.type == '5' %}-->
                            狮吼
                            <!--{% endif %}-->
                        </td>
                        <td><!--{{item.aid}}--></td>
                        <td><!--{{item.countNum}}--></td>
                        <td>
                            <a href="<!--{{url('/v4statistics/CMS/data-download',{id:item.aid,type:item.type})}}-->" class="btn btn-primary">导出</a>
                        </td>
                    </tr>
                    <!--{% endfor %}-->

                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pageLinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script>
    $(function(){

    });
</script>
<!--{%endblock%}-->