<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    <!--{{ type }}-->
                </h3>
                <div class="actions">

                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <!-- <th class="col-60">ID</th> -->
                        <th class="col-100">性别</th>
                        <th class="col-100">数量</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>男</td>
                            <td><!--{{ result['1']['0']['count'] < 1 ? 0 :result['1']['0']['count']}}--></td>

                        </tr>
                        <tr>
                            <td>女</td>
                            <td><!--{{ result['2']['0']['count'] < 1 ? 0 :result['2']['0']['count']}}--></td>

                        </tr>
                        <tr>
                            <td>未知(未选择性别的用户)</td>
                            <td><!--{{ result['0']['0']['count'] < 1 ? 0 :result['0']['0']['count']}}--></td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/laydate/laydate.js')}}-->"></script>
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>
    var setting= {
        elem:'#datetime'
    };
    getLaydate(setting);
    var setting= {
        elem:'#datetime2'
    };
    getLaydate(setting);
</script>
<!--{%endblock%}-->