<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<br/><br/>
 <!--{%if atask.gameId!=0%}-->
 <form id="activity-task" action="<!--{{url('v4_tuiguang/home/commission-setup-updete')}}-->" method="POST" class='' enctype="multipart/form-data">
 <!--{%else%}-->
  <form id="activity-task" action="<!--{{url('v4_tuiguang/home/commission-setup-add')}}-->" method="POST" class='' enctype="multipart/form-data">
 <!--{%endif%}-->

    <div class="span12">
	    <div class="box box-color box-bordered">		
				<h3>					
					365交易分成设置
				</h3>	 
			</div>	
				
			 <div class="control-group">		 
                    <label class="control-label"><h4>游戏名称：</h4>         
                        <div data-provides="fileupload" class="fileupload fileupload-new">
                            <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                <input type="hidden" name="gameIcon" id="selected_icon" value="<!--{{atask.gameIcon}}-->">
                                <img id="selected_game_icon" src="<!--{{atask.gameIcon|default('/static/img/wu_ss.gif')}}-->">
                            </div>
    
                        <div class="input-append">
                            <input id="selected_game_id" name="game_id" type="hidden" value="<!--{{atask.gameRefId}}-->"/>
                            <input type="text" readonly id="selected_game_name" name="game_name" class="input-medium" data-rule-required="true" data-msg-required="请选择游戏" value="<!--{{ atask.gameName}}-->" />
                            <span class="add-on select-commission-pop">添加</span>
                        </div>                 	
                </label>
                </div>	<br/>
                
        <div class="control-group">
			<div class="controls"> 排序：
				<input type="text"  id='sortindex' name="displayIndex" style="width:50px" value="<!--{{atask.displayIndex}}-->"/>
				<input type="hidden" name="gameId" value="<!--{{atask.gameId}}-->" />
			</div>
		 </div>         
 
 
           <div class="box box-color box-bordered addbox">		
				<h3>					
				      添加交易分成设置：
				</h3>			
			</div>	
			 <!--{%for i,item in atask.percentageBeanList%}-->
		<div id="div<!--{{i}}-->" >
			<div class="control-group " >			     
			     <label class="control-label"><b><!--{{item.channelName}}--></b></label>
				  </div>
		<div class="control-group">
			<div class="controls"> 钻石百分比：
				<input type="text" name="feeValueShow[]"  style="width:50px" <!--{%if item.isActive %}--><!--{%else%}-->readonly<!--{%endif%}-->  value="<!--{{item.feeValueShow}}-->"/>%   &nbsp 精确到0.1%

                <!--
                （上限：<input placeholder="设置上限" type="text" name="upperLimitShow[]"  style="width:60px;" <!--{%if item.isActive %}--><!--{%else%}-->readonly<!--{%endif%}-->  value="<!--{{item.upperLimit}}-->"/>个）
                -->
                &nbsp&nbsp&nbsp&nbsp  <input type='button' class='delete<!--{{i}}-->'  value="<!--{%if item.isActive %}-->禁用渠道<!--{%else%}-->恢复<!--{%endif%}-->"/>
			</div>      
			   
			     <input type="hidden" name="channelRefId[]" value="<!--{{item.channelRefId}}-->" />
			     <input type="hidden" name="channelName[]" value="<!--{{item.channelName}}-->" />
			     <input type="hidden" name="percentageId[]" value="<!--{{item.percentageId}}-->" /> 
			     <input type="hidden" class="isActive<!--{{i}}-->" name="isActive[]" value="<!--{{item.isActive}}-->" />
        </div>
		    
			 <br/>		 
		</div>	             
     
   
     <!--{%endfor%}-->
        
     <button type="submit" class="btn btn-primary sub" ><i class="icon-ok"></i>保存</button> 
    </div>  
</from>
 
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/ajaxfileupload.js"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/Sortable.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
$(function(){       
    $('a.ajax-del').bind('click',function(){
        if(confirm('确定要删除数据吗？')){
            var id = $(this).attr('id');
            obj = $(this);
            $.post('<!--{{url('yxvl_eSports/VltvLive/ajax-del')}}-->',{id:id,api:"RemoveLiveGraphical"},function(data){
                if(data.success){
                    obj.parent().parent().hide();
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });
});   
//添加游戏
var set_selected_game=function(gameId,gameName,icon){
    $('#selected_game_id').val(gameId);
    $('#selected_game_name').val(gameName);
    $('#selected_game_icon').attr('src',icon);
    $('#selected_icon').val(icon);
    $("#task_img").val(icon); 
    $.get('/v4_tuiguang/home/commission-game',{gameId:gameId},function(data){
          $(data).each(function(i,item){
               $('.addbox').after('<div class="control-group"><label class="control-label"><b>'+item.description+'</b></label><div class="controls"></div></div><div class="control-group"><div class="controls"> 钻石百分比：<input type="text" name="feeValueShow[]" style="width:50px"/ value="0.00">%   &nbsp 精确到0.1%</div></div><br/><input type="hidden" name="channelRefId[]" value="'+item.id+'" /><input type="hidden" name="channelName[]" value="'+item.name+'" /> ');
          });
          
    },'json');
    
  
};
//添加游戏页面弹出框
    $(".select-commission-pop").live('click',function(){
        $.ajax({
            url:'/v4_tuiguang/home/game-search',
            dataType:'json',
            success:function(json){
                var html = json.html;
                $.dialog({id:'pop-game-list',title:'添加游戏',padding:2,content:html,width:450,height:300});
            }
        });
    });
    <!--{%for i,item in atask.percentageBeanList%}--> 
 //动态绑定删除渠道点击事件
   $(".delete<!--{{i}}-->").click(function(i){
       if($(this).val() == "禁用渠道"){
           $(this).siblings("input").attr('readonly','readonly');
           $(".isActive<!--{{i}}-->").val('false');
           $(this).val("恢复");
       }else{
           $(this).siblings("input").removeAttr('readonly');
           $(".isActive<!--{{i}}-->").val('true');
           $(this).val("禁用渠道");
       }


   });
 //判断排序
 $("#sortindex").change(function(){
    // alert('ok');
 });
   <!--{%endfor%}-->
</script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="<!--{{asset('/static/js/ajaxfileupload.js')}}-->"></script>
<!--{%endblock%}-->