<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					账户收入
				</h3>
				<div class="actions">
				    <form action="<!--{{url('v4_tuiguang/home/yh-income')}}-->" class="">
				    <table class="table-filter">				        
				        <tr>
				        
				        	<td>
								<input name="balanceBegin" type="text" class="input-medium" placeholder="剩余钻石大于" value="<!--{{search.balanceBegin}}-->">
							</td>
				            <td>
                                <input name="appBegin" type="text" class="input-medium" placeholder="app收入大于" value="<!--{{search.appBegin}}-->">
                            </td>
				             <td>
                                <input name="tradeBegin" type="text" class="input-medium" placeholder="交易收入大于" value="<!--{{search.tradeBegin}}-->">
                            </td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>查询</button></td>
						<!--	<td><input type='button' id='get_file' class="btn btn-teal" value='导出文件'></td>
							<td><a class="btn btn-teal"  href='<!--{{url('http://112.124.121.34:48080//module_rmb//account/exportUid')}}-->?operationType=promote_reward&platform=ios&currencyType=1'>导出文件</a></td>
                            -->
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-120">用户Id</th>	
                            <th class="col-120">交易平台收入</th>
                            <th class="col-120">游戏多收入</th>
                            <th class="col-120">当前剩余钻石</th>
                            <th class="col-120">推广员手机号</th>
                            <th class="col-120">注册时间</th>
                            <th class="col-120">推广人数</th>
							
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.uid}}--></td>
                            <td><!--{{item.specifyIncome}}--></td>                           
                            <td><!--{{item.otherIncome}}--></td>
                            <td><!--{{item.balance}}--></td>
                            <td><!--{{item.promoterMobile}}--></td>
                            <td><!--{{item.joinTimeShow}}--></td>
                            <td><!--{{item.promoterNum}}--></td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $(".ajax-open").click(function(){
        var obj = $(this);
        var id = $(this).attr('id');
        var type = $(this).html()=="开启"?"true":"false";

        if($(this).html() == "开启"){
            if(!confirm("是否确定开启？")){
                return false;
            }
        }else if($(this).html() == "冻结"){
            if(!confirm("是否确定冻结？")){
                return false;
            }
        }
        $.post('<!--{{url('v4_tuiguang/home/ajax-open')}}-->',{promoterId:id,isActive:type},function(data){
            if(data.success){
                if(type == "true"){
                    obj.html("冻结");
                }else{
                    obj.html("开启");
                }
            }
        },"json")
    })
});   
 
</script>
<script src="/static/js/laydate/laydate.js"></script>
<!--{%endblock%}-->