<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    卡密管理
                </h3>
                <div class="actions">
                    <form id="myform2" action="<!--{{url('/v4product/goods/card-download')}}-->"></form>
                    <table class="table-filter">
                        <tr>
                            <td>
                                
                            </td>
                            <td><a href="<!--{{url('v4product/goods/card-add-edit')}}-->" class="btn btn-teal">添加卡密种类</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th >卡密编号</th>
                        <th >卡密库存</th>
                        <th >卡密使用量</th>
                        <th >卡密类型</th>
                        <th >卡密描述</th>
                        <th >卡密状态</th>
                        <th >操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{% for key,item in datalist%}-->
                    <tr>
                    <td><!--{{item.cardCode}}--></td>
                    <td><!--{{item.cardStock}}--></td>
                    <td><!--{{item.cardUsedStock}}--></td>
                    <td>
                        <!--{%if item.cardType==1%}-->
                        礼包码
                        <!--{%else %}-->
                        普通卡密
                        <!--{%endif %}-->
                    </td>
                    <td><!--{{item.cardDesc}}--></td>
                    <td><!--{%if item.onOrOff==1%}--><span class="badge badge-success">上架</span><!--{%else%}--><span class="badge badge-important">下架</span><!--{%endif%}--></td>
                    <td>
                     <a href="<!--{{url('v4product/goods/import',{id:item.cardCode})}}-->" class="btn btn-primary">导入卡号</a>
                     <a href="<!--{{url('v4product/goods/card-add-edit',{id:item.cardCode})}}-->" class="btn btn-primary">编辑</a>
                     <!--{%if item.onOrOff==1%}-->
                        <a href="<!--{{url('v4product/goods/card-status',{id:item.id,'onOrOff':'false'})}}-->" class="btn btn-primary">下架</a>
                     <!--{%else%}-->
                        <a href="<!--{{url('v4product/goods/card-status',{id:item.id,'onOrOff':'true'})}}-->" class="btn btn-primary">上架</a>
                     <!--{%endif%}-->
                        <div class="btn-group">
                                <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">卡密操作<span class="caret"></span></a>
                                  <ul class="dropdown-menu dropdown-primary">
                                    <li>
                                        <a href="<!--{{url('v4product/goods/card-code-list',{id:item.cardCode})}}-->" >卡密列表</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="daochu" id="daochu">卡密导出</a>
                                    </li>
                                    
                                </ul>
                        </div>        


                      </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
               <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               导出
            </h4>
         </div>
         <div class="modal-body">
            <div class="box-content">
                <div class="control-group">
                    <label class="control-label">导出状态</label>
                    <div class="controls">
                        <select id="my_status" name="status">
                            <option value="0">未使用(库存中) </option>
                            <option value="1">使用中</option>
                            <option value="2">已使用(平台已发放）</option>
                            <option value="3">过期无效-括号中的说明是针对礼包的 </option>
                            <option value="4">删除状态 </option>
                        </select>
                    </div>
                </div>
            </div>              
         </div>
         <div id="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <a href="javascript:;" id="go_" class="btn btn-primary"> 确定</a>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
<!--{%endblock%}-->

<!--{%block footer_js%}-->


<script>
    $(function(){
        $("a.daochu").bind('click',function(){
             $("#myModal").modal("show");
             $("#go_").bind('click',function(){
                var my_status=$("#my_status").val();
                if(my_status){ 
                    window.location.href=$("#myform2").attr("action")+'?status='+my_status;
                }else{
                    window.location.href=$("#myform2").attr("action");
                }
                $("#myModal").modal("hide");
             })
         });
    });
</script>
<!--{%endblock%}-->