<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>商品分类信息</h3>
			</div>
			<div class="box-content">
			    <form id="cate_from" action="<!--{{url('v4product/goods/cate-add-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    	<input id="id" name="id" type="hidden" value="<!--{{cate.id}}-->" />
			    	<input id="creator" name="creator" type="hidden" value="<!--{{cate.creator}}-->" />
                    <div class="control-group">
                        <label class="control-label">商城类型:</label>
                        <div  class="controls" >
                            <select name="currencyType" id="my_currencyType" class="input-small" >
                                <option value="0">游币商城</option>
                                <option value="1">钻石商城</option>
                            </select>
                        </div>
                    </div>

					<div class="control-group">
						<label class="control-label">*种类名称:</label>
						<div class="controls">
								<input type="text" name="categoryName" id="categoryName" data-rule-required="true" data-msg-required="请填写种类名称" class="input-xlarge" value="<!--{{cate.categoryName}}-->" />
						</div>
					</div>


                    <div class="control-group">
                            <label class="control-label">种类图片:</label>
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
                                        <img src="<!--{{cate.categoryImgpath?cate.categoryImgpath:'/static/img/nopic.gif'}}-->" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input type="file" name='categoryImgpath' /></span>
                                    </div>
                                </div>
                                <!--<span class="help-inline">图片最佳尺寸:640*334</span>-->
                                <input type="hidden" name="old_categoryImgpath" value="<!--{{cate.categoryImgpath}}-->" >
                            </div>
                    </div>


					<div class="control-group">
							<label class="control-label">排序:</label>
							<div class="controls">
								<input type="text" name="categorySort" id="sort" class="input-small" value="<!--{{cate.categorySort|default(50)}}-->" />
								<span class="help-inline">排序值越大越靠前</span>
							</div>
					</div>
					<div class="control-group">
							<label class="control-label">种类描述:</label>
							<div class="controls">
								<textarea id="categoryDesc" name="categoryDesc" style="width:544px;height:200px;"><!--{{cate.categoryDesc}}-->
								</textarea>
							</div>
					</div>	
					<input type="hidden" value="<!--{{cate.categoryDesc}}-->">
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    <!--{% if cate.currencyType %}-->
        $("#my_currencyType").val("<!--{{cate.currencyType}}-->");
    <!--{% endif %}-->
</script>
<!--{%endblock%}-->
