<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>商品信息</h3>
            </div>
            <div class="box-content">
                <form  id="form-product" action="<!--{{url('v4product/goods/product-add-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <input id="id" name="id" type="hidden" value="<!--{{goods.productId}}-->" />
                    <input id="productCode" name="productCode" type="hidden" value="<!--{{goods.productCode}}-->" />
                    <!--{%if goods.bigpic_1%}-->
                        <input id="id" name="xbigpic_1" type="hidden" value="<!--{{goods.xbigpic_1}}-->" />
                    <!--{%endif%}-->
                    <!--{%if goods.listPic%}-->
                        <input id="id" name="xlistPic_" type="hidden" value="<!--{{goods.xlistPic_}}-->" />
                    <!--{%endif%}-->
                    <div class="control-group">
                        <label class="control-label">*商品名称</label>
                        <div class="controls">
                            <input type="text" name="productName" id="name" data-rule-required="true" data-msg-required="请填写商品名称" class="input-xlarge" value="<!--{{goods.title}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">专属客户帐号</label>
                        <div class="controls">
                            <input type="text" name="exclusiveAccount" id="exclusiveAccount" class="input-xlarge" value="<!--{{goods.exclusiveAccount}}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">*商品种类</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="selected_categoryId" name="categoryId" type="hidden" value="
									<!--{{goods.categoryId}}-->" />
                                <input type="text" id="selected_cate_name" readonly  class="input-xlarge" value="<!--{{goods.categoryName}}-->" data-rule-required="true" data-msg-required="请选择商品种类" />
                                <span class="add-on select-pop-cate">选择商品种类</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">*商品类型</label>
                        <div class="controls">
                            <!--{% if edit == '0' %}-->
                                <label class='radio inline'>
                                    <!--{{form_radio('productType',0,goods.productType==0)}}-->虚拟奖品
                                </label>
                                <label class='radio inline'>
                                    <!--{{form_radio('productType',1,goods.productType==1)}}-->实物奖品
                                </label>
                            <!--{% else %}-->
                                <!--{% if goods.productType == 1 %}-->
                                    实物奖品
                                <!--{% else %}-->
                                    虚拟奖品
                                 <!--{% endif %}-->
                            <!--{% endif %}-->
                      </div>
                    </div>

                    <div class="control-group"id="inventedType" <!--{% if edit == '0' and goods.productType == 0 %}--> style="display:none"<!--{% endif %}-->>
                        <label for="textfield" class="control-label">*虚拟商品类型</label>
                        <div class="controls">
                          <!--{% if edit == '0' %}-->
                            <select name="inventedType">
                                <option value="1">礼包码</option>
                                <option value="0">普通卡密</option>
                            </select>
                          <!--{% else %}-->
                                <!--{% if goods.inventedType == 1 %}-->
                                    普通卡密
                                <!--{% else %}-->
                                    礼包码
                                 <!--{% endif %}-->
                          <!--{% endif %}-->
                         </div>
                    </div>
                    <div class="control-group" id="select_cardCode" <!--{% if edit == '0' and goods.productType == 0 %}-->style="display: none"<!--{% endif %}-->>
                        <label for="textfield" class="control-label">*卡编码</label>
                        <div class="controls">
                            <div class="input-append">
                            <!--{% if edit == '0' %}-->
                                <input id="selected_cardCode" name="cardCode" type="hidden" value="
                                 <!--{{goods.cardCode}}-->" />
                                <input type="text" id="selected_card_name" readonly  class="input-xlarge" value="<!--{{goods.cardCode}}-->" data-rule-required="true" data-msg-required="请选择商品cardCode" />
                                 <span class="add-on select-card-code">选择商品cardCode</span>
                                 <!--{% else %}-->
                                  <!-- <label for="textfield" class="control-label"><!--{{goods.cardCode}}--></label>-->

                                  <input id="selected_cardCode" name="cardCode" type="hidden" value="
                                 <!--{{goods.cardCode}}-->" />
                                <input type="text" id="selected_card_name" readonly  class="input-xlarge" value="<!--{{goods.cardDesc}}-->" data-rule-required="true" data-msg-required="请选择商品cardCode" />
                                 <span class="add-on select-card-code">选择商品cardCode</span>
                                 <!--{% endif %}-->
                            </div>
                        </div>
                    </div>
                   
                    <div class="control-group">
                        <label class="control-label">*所属游戏</label>
                        <div class="controls">
                            <!--{% if edit == 1 %}-->
                            <label ><!--{{goods.gamename}}--></label>
                            <!--{% else %}-->
                            <input id="gameselect" name="gameId" data-rule-required="true" data-from="android" data-msg-required="请填写游戏"  type="hidden" value="<!--{{goods.gameid}}-->" class="bigdrop select2-offscreen" style="width:200px;" tabindex="-1">
                            <!--{% endif %}-->
                        </div>
                    </div>
                    <div class="control-group" id="gameRmb" >
                        <div class="control-group">
                            <label class="control-label">*所需游币</label>
                            <div class="controls">
                                <input type="text" name="productGamePrice" id="productGamePrice" class="input-xlarge" value="<!--{{goods.productGamePrice}}-->" data-rule-required="true"  data-msg-required="请填写游戏币" data-rule-digits="true"  data-msg-digits="请填写数字" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group" id="productPrice" >
                        <div class="control-group">
                            <label class="control-label">*人民币售价</label>
                            <div class="controls">
                                <input type="text" name="productPrice" data-rule-required="true" data-msg-required="请填写人民币售价" data-msg-required="请填写游戏币" data-rule-digits="true"  data-msg-digits="请填写数字" class="input-xlarge" value="<!--{{goods.productPrice}}-->" />（单位为分）
                            </div>
                        </div>
                    </div>
                    
                    <div class="control-group" id="productCost">
                        <div class="control-group">
                            <label class="control-label">人民币成本</label>
                            <div class="controls">
                                <input type="text" name="productCost"  class="input-xlarge" value="<!--{{goods.productCost}}-->" />（单位为分）
                            </div>
                        </div>
                    </div>
                    
                    <div class="control-group" >
                        <div class="control-group">
                            <label class="control-label">*商品库存增加</label>
                            <div class="controls">
                                <input type="text" name="productStock" data-rule-required="true" data-msg-required="请填写商品库存"  class="input-xlarge" value="0" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">详情大图</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;"><img id="listpic_img" src="<!--{%if goods.bigpic_1%}--><!--{%endif%}--><!--{{goods.bigpic_1|default('/static/img/nopic.gif')}}-->" /></div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input id="bigpic_1" type="file" name='bigpic_1' /></span>
                                </div>
                            </div>
                            <span class="help-inline">图片最佳尺寸:640*334</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">列表小图</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;"><img id="listpic_img" src="<!--{%if goods.listPic%}--><!--{%endif%}--><!--{{goods.listPic|default('/static/img/nopic.gif')}}-->" /></div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input id="listpic" type="file" name='listpic' /></span>
                                </div>
                            </div>
                            <span class="help-inline">图片最佳尺寸:294*190</span>
                        </div>
                    </div>
                    <!--
						<div class="control-group">
							<label class="control-label">*是否专属商品</label>
							<div class="controls">
								<label class="radio inline"><!--{{form_radio('isExclusive','true',goods.isExclusive=='true')}}-->是</label>
                    <label class="radio inline"><!--{{form_radio('isExclusive','false',goods.isExclusive=='false')}}-->不是</label>

            </div>
        </div>

        <div class="control-group" id="zhuanshu" style="display:none">
            <label class="control-label">专属客户账户ID</label>
            <div class="controls">
                <label class="radio inline"></label>
                <span class="add-on select-account-cate">填写用户ID</span>
            </div>
        </div>
        -->
        <div class="control-group">
            <label class="control-label">*是否需要通知</label>
            <div class="controls">
                <label class="radio inline"><!--{{form_radio('isNotice','true',goods.isNotice=='true')}}-->需要</label>
                <label class="radio inline"><!--{{form_radio('isNotice','false',goods.isNotice=='false')}}-->不需要</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">*是否自身平台的商品</label>
            <div class="controls">
                <label class="radio inline"><!--{{form_radio('isBelongUs','true',goods.isBelongUs=='true')}}-->属于</label>
                <label class="radio inline"><!--{{form_radio('isBelongUs','false',goods.isBelongUs=='false')}}-->不属于</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">商品说明</label>
            <div class="controls">
                <textarea id="productSummary" name="productSummary" style="width:544px;height:200px;"><!--{{goods.body}}--></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">使用说明</label>
            <div class="controls">
                <textarea id="productInstruction" name="productInstruction" style="width:544px;height:200px;"><!--{{goods.productInstruction}}--></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">兑换次数</label>
            <div class="controls">
                <input type="text" name="singleLimit" class="input-small" value="<!--{{goods.singleLimit|default(1)}}-->" />
                <span class="help-inline label">0:表示不限制</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">商品排序</label>
            <div class="controls">
                <input type="text" name="productSort" id="name"  class="input-xlarge" value="<!--{{goods.productSort}}-->" />
            </div>
        </div>
        <!--{% if edit == '0' %}-->

        <div class="control-group" id='lightDelivery' style='display:none'>
            <label class="control-label">是否闪电发货</label>
            <div class="controls">
                <label class="radio inline"><!--{{form_radio('lightDelivery','true',goods.lightDelivery=='true')}}-->是</label>
                <label class="radio inline"><!--{{form_radio('lightDelivery','false',goods.lightDelivery=='false')}}-->否</label>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">是否上架</label>
            <div class="controls">
                <label class="radio inline"><!--{{form_radio('isOnshelf','true','true')}}-->上架</label>
                <label class="radio inline"><!--{{form_radio('isOnshelf','false')}}-->下架</label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">选项</label>
            <div class="controls">
                <label class="checkbox inline">
                    <!--{{form_checkbox('isRecommend','true')}}-->推荐</label>
                <label class="checkbox inline">
                    <!--{{form_checkbox('isHot','true')}}-->热门</label>
                <label class="checkbox inline">
                    <!--{{form_checkbox('isNewest','true')}}-->最新</label>
            </div>
        </div>
        <!--{% endif %}-->
        <div class="control-group">
            <label class="control-label">是否商城模板</label>
            <div class="controls">
                <label class="checkbox inline">
                    <!--{{form_checkbox('isNeedTemplate','true',goods.isNeedTemplate=='true')}}-->商城模板
                </label>
            </div>
        </div>   
        <div class="control-group" id="templateId"  style="display:none;">
            <label class="control-label">模版ID</label>
            <div class="controls">
                <input type="text" name="templateId"   class="input-xlarge" value="<!--{{goods.templateId}}-->" />
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
        </div>

        </form>
    </div>
</div>
<div>
    <div>

        <!--{%endblock%}-->

        <!--{%block footer_js%}-->
        <script src="<!--{{asset('/static/js/xheditor/xheditor-1.1.14-zh-cn.min.js')}}-->"></script>
        <script src="/static/js/jquery.validationEngine.js"></script>
        <script src="/static/js/jquery.validationEngine-en.js"></script>
        <script>
            <!--{% if goods.isNeedTemplate=='true' %}-->
                $("#templateId").show();
            <!--{% endif %}-->
            var options = {
                tools:'Cut,Copy,Paste,Pastetext,Blocktag,Fontface,FontSize,Blod,FontColor,Align,Outdent,Indent,Link,Unlink,Source,autotype',
                loadCSS:'<!--{{asset('css/notice.css')}}-->',
                plugins:{autotype:{c:'xheIcon xheBtnTable',t:'自动排版',e:function(){
                    var _this=this;
                    var _source = _this.getSource();
                    //
                    _source = _this.cleanWord(_source);
                    _source = _this.cleanHTML(_source);
                    _source = _source.replace(new RegExp('font-size' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('font-family' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('font-style' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('font-weight' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('font-variant' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('margin' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('padding' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('border' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('background' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('white-space' + '[^:]*:[^;]+;?','ig'),'');
                    _source = _source.replace(new RegExp('line-height' + '[^:]*:[^;]+;?','ig'),'');
                    //
                    _source = _this.formatXHTML(_source,true);
                    _this.setSource(_source);
                }}}
            };
           $("#form-product").find("[name='isNeedTemplate']").bind('click',function(){
                if($(this).attr('checked')=='checked'){
                    $("#templateId").show();
                }else{
                    $("#templateId").hide();
                }
            }); 
            var set_selected_cate = function(cate_id,cate_name){
                $('#selected_categoryId').val(cate_id);
                $('#selected_cate_name').val(cate_name);
            };

            var  set_selected_card = function(card,cate_desc){
                $("#selected_cardCode").val(card);
                $("#selected_card_name").val(cate_desc);
            }

            //cardCode
            $(function(){
                $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
                if($("input[name='productType'][checked]").val() < 1){
                    //$("#form-product").append("<input id='inventedType' name='inventedType' type='hidden' value='0' />");
                    $('#select_cardCode,#inventedType').show();
                }
                $('input[name="productType"]:radio').on('click',function(){
                    if($(this).val() != 1){
                        //$("#form-product").append("<input id='inventedType' name='inventedType' type='hidden' value='0' />");
                        $('#select_cardCode,#inventedType').show();
                    }else{
                        //$("#inventedType").remove();
                        $('#select_cardCode,#inventedType').hide();
                    }
                })
                $(".select-card-code").on('click',function(){
                    $.ajax({
                        url:'/v4product/goods/cate-card-select',
                        dataType:'json',
                        success:function(json){
                            var html = '';
                            html = json.html;
                             
                            $.dialog({id:'pop-card-list',title:'提示',padding:2,content:html,width:600,height:580});
                        }
                    });
                })
                $('.select-pop-cate').on('click',function(){
                    $.ajax({
                        url:'/v4product/goods/cate-list-select',
                        dataType:'json',
                        success:function(json){
                            var html = '';
                            html = json.html;

                            $.dialog({id:'pop-cate-list',title:'提示',padding:2,content:html,width:600,height:580});
                        }
                    });
                });
                <!--{% if edit == 0 %}-->
                gameselect('#gameselect');
                var fp=$("#form-product").find("[name='productType']");
                 if(fp.val() < 1){
                     $("#lightDelivery").show();
                }
                fp.click(function(){
                        if($(this).val() < 1){
                            $("#lightDelivery").show();
                        }else{
                            $("#lightDelivery").hide();
                        }
                })
                <!--{% endif %}-->
               
            });
        </script>
        <!--{%endblock%}-->