<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					商品管理
				</h3>
				<div class="actions">
					<form action="<!--{{url('/v4product/goods/list')}}-->">
						<table class="table-filter">
							<tr>
								<td></td>
								<td>
									开始时间
									<div class="input-append date datepick" id="dpEnd" data-date="">
										<input name="createTimeBegin"  placeholder="" type="text" class="input-small" value="<!--{{createTimeBegin}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td>
									结束时间
									<div class="input-append date datepick" id="dpEnd" data-date="">
										<input name="createTimeEnd"  placeholder="" type="text" class="input-small" value="<!--{{createTimeEnd}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>

								<td>
									<div class="input-append">
										<input id="selected_categoryId" name="categoryId"   type="hidden" value="<!--{{categoryId}}-->" />
										<input type="text" placeholder="请选择商品种类" name="categoryName" id="selected_cate_name" readonly  style="width:120px" value="<!--{{categoryName}}-->" />
										<span  class="add-on select-pop-cate">选择商品种类</span>

								</div>
                            </td>
                        </tr>
                        <tr>
                        	<td>
                        		<input type="radio" class="input_align_5" name="isOnshelf" <!--{% if isOnshelf ==0  %}-->checked<!--{%endif%}-->    value='1'> 全部 &nbsp&nbsp <input type="radio" class="input_align_5" name="isOnshelf" <!--{% if isOnshelf == 'true' %}-->checked<!--{%endif%}-->   value='2' > 上架中 &nbsp&nbsp 
                            <input type="radio" class="input_align_5" <!--{% if isOnshelf == 'false' %}-->checked<!--{%endif%}-->  name="isOnshelf"  value='3' > 已下架  
                            </td>
                            <td>
                            	<input type="checkbox" class="input_align_5" name="productStock" <!--{% if myproductStock == 'true' %}-->checked<!--{%endif%}--> > 只看已发完的 &nbsp&nbsp&nbsp
                            	<input type="checkbox" class="input_align_5" name="sign" <!--{% if sign=='true' %}-->checked<!--{%endif%}-->  > 只看我标记的
                            </td>
                            <td>
                            	<input name="productName"  placeholder="请填写商品名称" style="width:177px;" type="text" class="input-small" value="<!--{{productName}}-->" >
                            </td>
                            <td><input id="gameselect" name="gameId" data-from="ios" type="hidden" value="<!--{{gameId}}-->" class="bigdrop select2-offscreen" style="width:200px;" tabindex="-1"></td>
                        	<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
	                        <td><a href="<!--{{url('v4product/goods/product-add')}}-->" class="btn btn-teal"><i class="icon-plus" title="添加商品"></i></a></td>
                        </tr>
                     </table>
					</form>	
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<!-- <th class="col-60">ID</th> -->
						<th class="col-60">图片</th>
						<th class="col-100">商品名称</th>
						<th class="col-60">游戏</th>
						<th class="col-80">商品种类</th>
						<th class="col-80">所需游币</th>
						<th class="col-80">开始时间</th>
						<th class="col-80">结束时间</th>
						<th class="col-80">已领/总数</th>
						<th class="table-btn-group">操作</th>
						<th class="col-80">最后操作人</th>	
						<th class="col-80">最后操作时间</th>	
					</tr>
					</thead>
					<tbody>
					<!--{% for key,item in datalist%}-->
					<tr id="tr_<!--{{item.productCode}}-->">
						<td class="user-avatar"><img src='<!--{{item.listpic}}-->'/></td>
						<td><!--{{item.productName}}--></td>
						<td><!--{{item.gname}}--></td>
						<td><!--{{item.category.categoryName}}--></td>
						<td><!--{{item.discountGamePrice}}--></td>
						<td><!--{{item.startTimeStr}}--></td>
						<td><!--{{item.endTimeStr}}--></td>
						<td><!--{{item.tr ? item.tr : 0}}-->/<!--{{item.totalCount}}--></td>
						<td>
							<a href="<!--{{url('v4product/goods/product-edit',{id:item.productCode})}}-->" class="btn btn-primary">编辑</a>
							
							<a href="javascript:;" data-size="<!--{{item.tr}}-->/<!--{{item.totalCount}}-->" data-productCode="<!--{{item.productCode}}-->" data-name="<!--{{item.productName}}-->" data-type="<!--{{item.productType}}-->" data-url="<!--{{url('v4product/goods/product-zj')}}-->"  data-id="<!--{{item.productId}}-->" data-code="<!--{{item.cardCode}}-->" class="btn btn-primary zj">追加</a>
							<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">操作<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">
									<!--{%if item.isOnshelf==1%}-->
									<li><a href="<!--{{url('v4product/goods/status',{'id':item.productCode,'onOrOff':0})}}-->">下架</a></li>
									<!--{%else%}-->
									<li><a href="<!--{{url('v4product/goods/status',{'id':item.productCode,'onOrOff':1})}}-->">上架</a></li>
									<!--{%endif%}-->
									<!--
										<!--{%if item.activity.activityId %}-->
										<li><a href='<!--{{url('v4product/goods/closeproductactivity',{id:item.activity.activityId})}}-->'  >关闭优惠</a></li>
										<!--{%else%}-->
										<li><a href='javascript:;' class="openproductactivity" data-code="<!--{{item.productCode}}-->" data-stime="<!--{{item.startTimeStr}}-->" data-etime="<!--{{item.endTimeStr}}-->" id="openproductactivity"  url="<!--{{url('v4product/goods/openproductactivity')}}-->" >开启优惠</a></li>
										<!--{%endif%}-->
									-->
									<li><a href='javascript:;' class="myfafang" data-url="<!--{{url('v4product/goods/fafang',{productCode:item.productCode})}}-->">发放</a></li>
									<li>
										<!--{%if item.isSign == 1 %}-->
											<a href="<!--{{url('v4product/goods/sign',{id:item.productCode,sign:0})}}-->" >取消标记</a>
											<!--{%else%}-->
											<a href="<!--{{url('v4product/goods/sign',{id:item.productCode,sign:1})}}-->" >标记</a>
										<!--{%endif%}-->
									</li>
									<li>
										<a href="<!--{{url('v4product/goods/product-operator',{id:item.productCode,type:'top',val:item.isTop})}}-->">置顶<!--{%if item.isTop == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a>
									</li>
									<li><a href='javascript:;' code="<!--{{item.productCode}}-->"  url="<!--{{url('v4product/goods/goodsdelete',{id:item.productCode})}}-->" class="ajax-del"><i class="icon-trash"></i>删除</a></li>
                                </ul>
							</div>
						</td>
						<td><!--{{item.modifier}}--></td>
						<td><!--{{item.modifyTimeStr}}--></td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>


	<div id="dialog-confirm" style="display:none" >
		<div class="box-content">
			<div class="control-group" >
				<label class="control-label">用户编号</label>
				<div class="controls">
					<textarea rows="5" cols="30" id="myuids" style="width:400px;height:180px;" name="uids"  class="input-xlarge  input-selected-uids"></textarea>

				</div>
			</div>
			<div class="form-actions">
				<a href="javascript:;"  class="btn btn-primary fafang_">发放</a>
			</div>
		</div>
	</div>
	<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
				        data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">

				</h4>
			</div>
            <!--追加VIEW-->
			<div class="modal-body" id="modal-body1">
				<div class="box-content">
					<div class="control-group" id="DqKm">
                        <input type="hidden" name="tmp" id="tmp" value="">
                        <input type="hidden" name="filename" id="filename" value="">
                        <input type="hidden" name="dataname" id="dataname" value="">
                        <input type="hidden" name="dataid" id="dataid" value="">
                        <input type="hidden" name="datacode" id="datacode" value="">
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail"style="max-width: 160px; max-height: 120px;">
                                    请上传(Txt,CSV)文件
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"  id="uploadTxt" ></div>
                                <div>

                                    <span class="btn btn-file uploadNow"><i class="icon-picture"></i><span class="fileupload-new">选择文件</span><span class="fileupload-exists">重新选择</span><input type="file" name='import_file' id="file_upload" /></span>
                                </div><span class="add-on text-error card-line"></span>
                            </div>
                        </div>
					</div>

					<div class="control-group" id="ZjSl" style="display:none;">
						<label class="control-label">追加数量:</label>
						<div class="controls">
							<input type="text" id="productStock" name="productStock">
						</div>
					</div>
				</div>
			</div>
			<!--开启优惠弹层VIEW-->
			<div class="modal-body" id="modal-body2" style="display:none" >
				<div class="box-content">
					<div class="control-group">
						<label class="control-label">游币价格 </label>
						<div class="controls">
							<input type="text" id="discountGamePrice" name="discountGamePrice">
						</div>
					</div>
					<div class="control-group" >
						<label class="control-label">活动开始时间</label>
						<div class="controls">
							<div class="input-append date">
								<input name="startTime" id="startTime_" type="text"data-rule-required="true"  class="input-medium datetimepicker"  value="" readonly="">
								<span class="add-on"><i class="icon-calendar"></i></span>
							</div>
						</div>
					</div>
					<div class="control-group" >
						<label class="control-label">活动结束时间</label>
						<div class="controls">
							<div class="input-append date">
								<input name="endTime" id="endTime_" type="text"data-rule-required="true"  class="input-medium datetimepicker"  value="" readonly="">
								<span class="add-on"><i class="icon-calendar"></i></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="modal-footer" class="modal-footer">
				<button type="button" class="btn btn-default"
				        data-dismiss="modal">关闭
				</button>
				<a href="javascript:;" id="go_" class="btn btn-primary"> 确定</a>
			</div>
		  </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/ajaxfileupload.js"></script>
<script>
	$(function(){
		$('input.datetimepicker').datetimepicker({format:'Y-m-d H:i:s',lang:'ch'});
		$('.select-pop-cate').on('click',function(){
			$.ajax({
				url:'/v4product/goods/cate-list-select',
				dataType:'json',
				success:function(json){
					var html = '';
					html = json.html;
					$.dialog({id:'pop-cate-list',title:'提示',padding:2,content:html,width:600,height:580});
				}
			});
		});
		gameselect('#gameselect');
		$('a.ajax-del').bind('click',function(){
			if(!confirm('确定要删除数据吗？')){
				return false;
			}else{
				var url=$(this).attr('url'),code=$(this).attr('code');
				$.get(url,{},function(data){
					if(data.error < 1){
						alert("删除成功！");
						$("#tr_"+code).remove();
					}
				});
			}
		});

        /***
         *  $(document).on('change','#file_upload',function(){
            $("#uploadTxt").html($("#file_upload").val());//file_upload
            $.ajaxFileUpload({
				url:'/v4product/goods/ajax-check-file',
                type : 'post',
                secureuri :false,
				fileElementId :'file_upload',
				dataType : 'JSON',
				success : function (data){
					data = eval("("+data+")");
					if(data.state){
						var productStock=$("#product_stock");
						$(".card-line").text('已识别出'+data.line+'个卡密');
						productStock.attr({"data-rule-max":data.line,"data-msg-max":"已经超出导入上限"});
						productStock.val(data.line);
						$(".upload-card").show();
                        $("#tmp").val(data.file.tmp);
                        $("#filename").val(data.file.filename);
					}else{
						$(".upload-card").hide();
                        $(".card-line").text('');
						alertify.error(data.msg);
					}
				},
				error : function(data,status,e){
					console.log(data);
				}
			})
		}); data-name
         */



		$("a.zj").unbind("click");
		$("a.zj").bind('click',function(){
			var url =$(this).attr('data-url'),
					datatype=$(this).attr('data-type'),
					dataProductCode=$(this).attr('data-productCode'),
					dataSize=$(this).attr('data-size'),
					dataline=0,
                    dataid=$(this).attr('data-id'),
                    datacode=$(this).attr('data-code'),
                    dataname=$(this).attr('data-name');
			$("#myModalLabel").html("追加导入 当前商品数为 :"+dataSize);
			$("#modal-body2").hide();
			$("#modal-body1").show();
			if(datatype>0){
				$("#ZjSl").show();
				$("#DqKm").hide();
			}else{
				$("#DqKm").show();
				$("#ZjSl").hide();
                $(document).on('change','#file_upload',function(){

						$.ajaxFileUpload({
							url:'/v4product/goods/ajax-check-file',
							type : 'post',
							fileElementId :'file_upload',
							dataType : 'JSON',
							success : function (data){
								data = eval("("+data+")");
								if(data.state){
                                    //$(".card-line").text('已识别出'+data.line+'个卡密');
									$("span.card-line").text('已识别出'+data.line+'个卡密');
									dataline=data.line;
                                    $("#tmp").val(data.file.tmp);
                                    $("#filename").val(data.file.filename);
                                    $("#filename").val(data.file.filename);
                                    $("#dataid").val(dataid);
                                    $("#dataname").val(dataname);
                                    $("#datacode").val(datacode);
                                }else{
									alertify.error(data.msg);
								}
								j=1;

                                return false;
							},
							error : function(data,status,e){
								console.log(data);
							}
						});
				});
			}
			$("#file_upload").val('');
			$("span.card-line").text('');
			$("#myModal").modal("show");
			var i=0;
			$("#go_").unbind("click");
			$("#go_").bind('click',function(){
			   $("#modal-footer").fadeOut();
			   if(i == 1) i=0;
				if(datatype>0){
					var productStock=$("#productStock").val();
					if(!productStock){
						alertify.error("请先填写追加数量！");
						 $("#modal-footer").fadeIn();
						return false;
					}


                    $.get('/v4product/goods/zjsl',{productCode:dataProductCode,productStock:productStock},function(data){
						if(data.errorCode){
							alertify.success('操作成功');
							 $("#modal-footer").fadeIn();
						}else{
							alertify.error(data.msg);
							 $("#modal-footer").fadeIn();
						}
						$("#productStock").val('');
						$("#myModal").modal("hide");
					},'JSON');
				}else{
					
					alertify.confirm('确认上传该文件？',function(e){
						if(e){
							if(dataline < 1){
								alertify.error("抱歉，没有卡密~！");
								return false;
							}
                            var tmp=$("#tmp").val();
                            var filename=$("#filename").val();
                            var dataid=$("#dataid").val();
                            var datacode=$("#datacode").val();
                            if(!tmp || !filename){
                                alertify.error("请先浏览文件");
                                return false;
                            }
							if(i == 1) return false;
                            var dataname=$("#dataname").val();
							var url='type=1&productStock='+dataline+'&productCode='+dataProductCode+'&tmp='+tmp+'&filename='+filename+'&cdesc='+dataname+'&dataid='+dataid+'&datacode='+datacode;

							$.ajaxFileUpload({
								url:'/v4product/goods/import?'+url,
								type : 'post',
								secureuri :false,
								fileElementId :'file_upload',
								dataType : 'JSON',
								success : function (data){
									data = eval("("+data+")");
									$("#modal-footer").fadeIn();
									if(data.state){
										alertify.success('上传成功');
										i=1;
									}else{
										alertify.error(data.msg);
									}
									$("#myModal").modal("hide");
                                    window.location.reload();
									return false;
								}
							});
						}else{
							$("#modal-footer").fadeIn();
						}

						return false;
					});
			    }
			  $("#modal-footer").fadeIn(); 
			});
		});	
		$("a.myfafang").bind('click',function(){
			var html=$("#dialog-confirm").html(),url=$(this).attr("data-url");
			$.dialog({id:'pop-fafang-html',title:'提示',padding:2,content:html,width:410,height:240});
            $("#select-all-uids").click();
			$("a.fafang_").bind('click',function(){
				$("#uids").removeAttr("readonly");
				var uids=$("#myuids").val();
				if(!uids) {alert("抱歉，用户ID没有获取！"); return false;}
				$.get(url,{uids:uids},function(data){
					if(data.errorCode==2){
						alert("发放成功");
					}else{
						alert(data.errortxt);
					}
					$("#uids").attr("readonly");
					$.dialog.list['pop-fafang-html'].close();
				},"json");
			});
		});

		$("a.openproductactivity").bind('click',function(){
			$("#modal-body2").show();
			$("#modal-body1").hide();
			$("#myModalLabel").html("开启优惠");
			$("#myModal").modal("show");
			var url=$(this).attr('url'),
					datastime=$(this).attr('data-stime'),
					dataetime=$(this).attr('data-etime'),
					dataCode=$(this).attr('data-code');
			if(datastime){
				$("#startTime_").val(datastime);
			}
			if(dataetime){
				$("#endTime_").val(dataetime);
			}

			$("#go_").bind('click',function(){
				var startTime=$("#startTime_").val(),
						endTime=$("#endTime_").val(),
						discountGamePrice=$("#discountGamePrice").val();
				if(!startTime || !endTime){
					alert("抱歉，请填写时间！");
					return false;
				}
				if(!dataCode){
					alert("抱歉，商品Code丢失！");
					return false;
				}
				$.get(url,{productCode:dataCode,discountGamePrice:discountGamePrice,startTime:startTime,endTime:endTime},function(data){
					if(data.error ==1){
						alertify.success('操作成功');
                        window.location.reload();
					}else{
						alertify.error('操作失败');
					}
					$("#myModal").modal("hide");
					window.location.reload();
				},"json");
			});
		});
	});
	var set_selected_cate = function(cate_id,cate_name){
		$("#selected_categoryId").val(cate_id);
		$("#selected_cate_name").val(cate_name);
	};
</script>
<!--{%endblock%}-->