<div class="box">
    <div class="actions">
        <table class="table-filter">
            <tr>
                <td>
                    <div class="controls">
                        <label class="radio inline"> 卡密描述</label>
                    </div>
                </td>
                <td>
                    <input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{keyword}}-->">
                </td>
                <td>
                    <a href="javascript:searchCate();" class="btn btn-teal">按条件搜索</a>
                </td>
            </tr>
        </table>
    </div>
    <table class="table table-hover table-nomargin">
        <thead>
        <tr>
            <th style="width:180px">卡密编号</th>
            <th style="width:60px">卡密库存</th>
            <th style="width:60px">卡密使用量</th>
            <th style="width:60px">卡密类型</th>
            <th style="width:60px">卡密描述</th>
            <th class="table-btn-group" style="width:50px;">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{%for item in datalist%}-->
        <tr>
            <td id="card_code_<!--{{item.id}}-->"><!--{{item.cardCode}}--></td>
            <td id="card_stock_<!--{{item.id}}-->"><!--{{item.cardStock}}--></td>
            <td><!--{{item.cardUsedStock}}--></td>
            <td>
                <!--{%if item.cardType==1%}-->
                礼包
                <!--{%else %}-->
                普通卡密
                <!--{%endif %}-->
            </td>
            <td id="card_desc_<!--{{item.id}}-->"><!--{{item.cardDesc}}--></td>
            <td>
                <a href="javascript:void(0);" data-id="<!--{{item.id}}-->" class="btn btn-primary select-cate-id">选择</a>
            </td>
        </tr>
        <!--{%endfor%}-->
        </tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>
<script>
    function searchCate()
    {
        //var keytype = $("input[name='keytype']:checked").val();
        var keyword = $('#keyword').val();
        $.ajax({
            url:'/v4product/goods/cate-card-select',
            data:{keyword:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['pop-card-list'].content(html);
            }
        });
    }
    function init_page()
    {
        //
        $('.select-cate-id').each(function(){
            $(this).click(function(){
                var card_id = $(this).attr('data-id'),card_code = $('#card_code_'+card_id).text(),
		                card_desc = $('#card_desc_'+card_id).text(),card_stock = $('#card_stock_'+card_id).text();
                set_selected_card(card_code,card_desc,card_stock);
                $.dialog.list['pop-card-list'].close();
            });
        });
        //
        $('.pagelink a').each(function(){
            var url = $(this).attr('href');
            $(this).attr('href','javascript:void(0);');
            $(this).click(function(){
                $.ajax({
                    url:url,
                    dataType:'json',
                    success:function(json){
                        var html = '';
                        html = json.html;
                        $.dialog.list['pop-card-list'].content(html);
                    }
                });
            });

        });
        //:
        $('.aui_main').css({"display":"inline-block"});
    }
    init_page();
</script>