<div class="box">
    <div class="actions">
        <table class="table-filter">
	        <tr>				            
	            <td>
	                <div class="controls">
					   <label class="radio inline">表单名称</label>
					</div>				                
	            </td>
	            <td>
					<input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{inputinfo.templateName}}-->">
                    </td>
				<td>
				    <a href="javascript:searchCate();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
    </div>    
    <table class="table table-hover table-nomargin">
         <thead>
                        <tr>
                            <th class="col-60">表单ID</th>
                            <th class="col-150">表单名称</th>
                            <th class="table-btn-group">操作</th>
                        </tr>
                    </thead>    
                    <tbody>
                      <!--{% for key,item in datalist%}--> 
                        <tr>
                            <td id="template_<!--{{item.templateId}}-->"><!--{{item.templateId}}--></td>
                            <td id="templateName_<!--{{item.templateId}}-->"><!--{{item.templateName}}--></td>
                            <td>
                                <a href="javascript:void(0);" data-id="<!--{{item.templateId}}-->" class="btn btn-primary select-cate-id">选择</a>                                                   
                            </td>
                        </tr>
                      <!--{%endfor%}-->
                    </tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>    
<script>
    function searchCate()
    {
        var keyword = $('#keyword').val();
        $.ajax({
            url:'/v4product/goods/template-select-list',
            data:{templateName:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['template-select-list'].content(html);		                
            }
        });
    }
    function init_page()
    {
        $('.select-cate-id').each(function(){
            $(this).click(function(){
                var id = $(this).attr('data-id'),templateName = $('#templateName_'+id).text();
                set_selected_template(id,templateName);
                $.dialog.list['template-select-list'].close();
            });
        });
        $('.pagelink a').each(function(){
            var url = $(this).attr('href'); 
            $(this).attr('href','javascript:void(0);');
            $(this).click(function(){
                $.ajax({
                    url:url,
                    dataType:'json',    
		            success:function(json){
		                var html = '';
		                html = json.html;
		                $.dialog.list['template-select-list'].content(html);		                
		            }
                });
            });
            
        });
        //:
        $('.aui_main').css({"display":"inline-block"});
    }
    init_page();
</script>