<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					论坛下版块列表
					<span class="badge badge-warning"><!--{{ forum_info.name }}--></span>
				</h3>
				<div class="actions">
					<form action="<!--{{url('webt_forum/forum/forum-list')}}-->">
						<table class="table-filter">
							<tr>
								<td>
									<a href="<!--{{url('webt_forum/forum/add-board',{'fid':forum_info.fid})}}-->" class="btn btn-teal" title="新增版块">
										<i class="icon-plus"></i>
									</a>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
				<table id="bbstable" class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-150">版块名称</th>
						<th class="col-150">版块总帖数</th>
						<th class="col-150">版块总回复数</th>
						<th class="col-80">类型</th>
						<th class="col-80">状态</th>
						<th class="col-100">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in list %}-->
					<tr>
						<td title="<!--{{ item.name }}-->"><!--{{ item.name }}--></td>
						<td><!--{{ item.totalTopicNumber }}--></td>
						<td><!--{{ item.totalReplyNumber }}--></td>
						<td><!--{% if item.fid == '0' %}-->全局版块<!--{% else %}-->专属板块<!--{% endif %}--></td>
						<td><!--{% if item.isActive %}-->开启<!--{% else %}-->关闭<!--{% endif %}--></td>
						<td>
							<a href="<!--{{url('webt_forum/forum/edit-board',{bid:item.bid,'fid':forum_info.fid})}}-->" class="btn btn-primary"><i class="icon-edit" title="编辑"></i></a>
							<!--{% if item.isActive %}-->
							<a href="javascript:void(0);" data="<!--{{ item.bid }}-->" status="0" class="btn btn-danger open-close">
								关闭<i class="icon-eye-close" title="关闭"></i>
							</a>
							<!--{% else %}-->
							<a href="javascript:void(0);" data="<!--{{ item.bid }}-->" status="1" class="btn btn-success open-close">
								开启<i class="icon-eye-open" title="开启"></i>
							</a>
							<!--{% endif %}-->
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
		$('input').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			increaseArea: '20%' // optional
		});

		$('.open-close').bind('click',function(){
			var bid = $(this).attr('data');
			var is_open = $(this).attr('status');
			console.log(is_open);
			var alert_str = is_open == 1 ? '开启' : '关闭';
			alertify.confirm('是否'+alert_str+'该版块？',function(e){
				if(e){
					$.get('/webt_forum/forum/ajax-open-close-board',{'bid':bid,'is_open':is_open},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
	});
</script>
<!--{%endblock%}-->