<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
			    <h3>
					<i class="icon-table"></i>
					论坛发帖查询
				</h3>
			    <div class="actions">
			        <form action="<!--{{url('webt_forum/forum/forum-number')}}-->">
						<table class="table-filter">
							<tr>
								<td><span class="label label-blue">总发帖：<span class="badge badge-important"><!--{{topic_num}}--></span></span></td>
								<td><span class="label label-blue">总回复：<span class="badge badge-important"><!--{{reply_num}}--></span></span></td>								
								<td>
									<div class="input-append date datepick" id="dpStart" data-date="">
										<input name="start_time" type="text" class="input-small" value="<!--{{ search.start_time }}-->" readonly placeholder="开始时间">
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td>
									<div class="input-append date datepick" id="dpStart" data-date="">
										<input name="end_time" type="text" class="input-small" value="<!--{{ search.end_time }}-->" readonly placeholder="结束时间">
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td><button class="btn btn-teal">查询<i class="icon-search" title="搜索"></i></button></td>
							</tr>
						</table>
					</form>
			    </div>
			</div>
			<div class="box-title">
			    <h3>
					<i class="icon-table"></i>
					论坛列表
					<span class="badge badge-warning"><!--{{totalcount}}--></span>
				</h3>
			    <div class="actions">
			        <form action="<!--{{url('webt_forum/forum/forum-list')}}-->">
						<table class="table-filter">
							<tr>
                                <td><input id="gameselect" name="game_id"  type="hidden" value="<!--{{search.game_id}}-->" class="bigdrop select2-offscreen width_150" tabindex="-1"></td>

                                <td>
									<input name="name" type="text" type="text" class="input-small" placeholder="论坛名称" value="<!--{{ search.name }}-->" >
								</td>
								
								<td><button class="btn btn-teal">搜索<i class="icon-search" title="搜索"></i></button></td>
								<td>
									<a href="<!--{{url('webt_forum/forum/add')}}-->" class="btn btn-teal">
										<i class="icon-plus" title="添加论坛"></i>
									</a>
								</td>
							</tr>
						</table>
					</form>
			    </div>
			</div>
			<div class="box-content nopadding">
				<table id="bbstable" class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-60">Logo</th>
						<th class="col-120">名称</th>
						<th class="col-100">总帖子数</th>
						<th class="col-100">昨日发帖数</th>
						<th class="col-100">今日发帖数</th>
						<th class="col-100">总回复数</th>
						<th class="col-100">昨日复数</th>
						<th class="col-150">今日回复数</th>
                        <th class="col-150">关联状态</th>
                        <th class="col-150">关联游戏</th>
						<th class="col-150">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in list %}-->
					<tr>
						<td class="user-avatar"><img src="<!--{{ item.logo }}-->"/></td>
						<td title="<!--{{ item.fid }}-->"><a href="<!--{{url('webt_forum/topic/bbs-search')}}-->?bbs_id=<!--{{item.fid}}-->"><!--{{ item.name }}--></a></td>
						<td><!--{{ item.totalTopicNumber }}--></td>
						<td><!--{{ item.yesterdayTopicNumber }}--></td>
						<td><!--{{ item.todayTopicNumber }}--></td>
						<td><!--{{ item.totalReplyNumber }}--></td>
						<td><!--{{ item.yesterdayReplyNumber }}--></td>
						<td><!--{{ item.todayReplyNumber }}--></td>
                        <td>
                            <!--{%if item.gid%}-->
                            <!--{%if item.isOpen%}-->
                            开启
                            <!--{%else%}-->
                            关闭
                            <!--{%endif%}-->
                            <!--{%else%}-->
                            未关联
                            <!--{%endif%}-->
                        </td>
                        <td>
                            <!--{{ item.gname }}-->
                        </td>
						<td>
							<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">

                                    <!--{%if item.gid%}-->
                                    <!--{%if item.isOpen%}-->
                                    <li><a href="<!--{{url('webt_forum/forum/open',{fid:item.fid,status:0,gid:item.gid})}}-->">关闭</a></li>
                                    <!--{%else%}-->
                                    <li><a href="<!--{{url('webt_forum/forum/open',{fid:item.fid,status:1,gid:item.gid})}}-->">开启</a></li>
                                    <!--{%endif%}-->
                                    <!--{%else%}-->
                                    <!--{%endif%}-->
                                    <li><a href="<!--{{url('webt_forum/forum/bbs-relation-game')}}-->?linkId=<!--{{item.gameLinkId}}-->&game=<!--{{item.gname|default("")}}-->&fid=<!--{{item.fid}}-->&gid=<!--{{item.gid}}-->" >关联游戏</a></li>
                                    <!--{%if item.place!="0" %}-->
                                    <li><a href="#nogo" fid="<!--{{item.fid}}-->" class="set_hot" >设为热门</a></li>
                                    <!--{%endif%}-->
									<li><a href="<!--{{ url('webt_forum/forum/forum-board-list',{'fid':item.fid}) }}-->">版块编辑</a></li>
                                    </ul>
							</div>
                            <a href="<!--{{url('webt_forum/forum/edit',{ id:item.fid })}}-->" class="btn btn-primary"><i class="icon-edit" title="编辑"></i></a>
                            <!--
                            <li><a href="<!--{{url('webt_forum/forum/bbs-relation-game')}}-->?linkId=<!--{{item.gameLinkId}}-->&game=<!--{{item.name}}-->&fid=<!--{{item.fid}}-->" >关联游戏</a></li>

                            <a href="<!--{{url('webt_forum/forum/edit',{ id:item.fid })}}-->" class="btn btn-primary"><i class="icon-edit" title="编辑"></i></a>
							<a href="javascript:void(0);" data="<!--{{ item.fid }}-->" class="btn btn-primary ajax-del"><i class="icon-trash" title="删除"></i></a>
                            -->
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
        gameselect('#gameselect');
        $('input').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			increaseArea: '20%' // optional
		});
		$('.ajax-del').bind('click',function(){
			var fid = $(this).attr('data');
			alertify.confirm('是否删除该论坛？',function(e){
				if(e){
					$.get('/webt_forum/forum/ajax-del/'+ fid,function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
        $(".set_hot").click(function(){
            obj = $(this);
            if(confirm('确定要设为吗？')){
                var id = obj.attr('fid');
                var html = obj.html();
                var type = '-1';
                if(html == "设为热门"){
                    type = '1';
                }
                $.post('<!--{{url('webt_forum/forum/set-hot')}}-->',{id:id,type:type},function(data){
                    if(data.success=="true"){
                        alert(data.mess);
                        window.location.reload();
                    }else{
                        alert(data.mess);
                    }
                },"json")
            }
        })
	});
</script>
<!--{%endblock%}-->