<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid" >
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
			    <h3>
					招募规则查询
				</h3>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" id="add_rlue" onclick="showForm()" style="position: absolute;right: 50px;">添加规则</button>
			</div>

			<div class="box-content nopadding">
				<table id="bbstable" class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-120">关联论坛</th>
						<th class="col-100">招募条件</th>
						<th class="col-100">招募规则</th>
						<th class="col-150">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in list %}-->
					<tr>
						<td class="bbsName"><!--{{ item.bbsName }}--></td>
						<td class="recruitCondition"><!--{{ item.recruitCondition }}--></td>
						<td class="recruitDesc"><!--{{ item.recruitDesc }}--></td>
						<td>
							<a href="javascript:void(0);" data="<!--{{ item.id }}-->" bbsId="<!--{{ item.targetId }}-->" isActive="<!--{{ item.isActive }}-->" createTime="<!--{{ item.createTime }}-->" targetType="<!--{{ item.targetType }}-->" class="btn btn-primary"><i class="icon-edit edit" data-toggle="modal" data-target="#myModal"  title="编辑"></i></a>
							<a href="javascript:void(0);" data="<!--{{ item.id }}-->" class="btn btn-primary"><i class="icon-trash del" title="删除"></i></a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>




		</div>
            <div class="pagelink">
                <!--{{pagelinks}}-->
            </div>
	</div>
</div>
    </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">招募规则</h4>
            </div>
            <div class="modal-body">
                <form id="" action="" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <div class="rule_save">
                        <div class="control-group bbslist">
                            <label for="textfield" class="control-label">所属论坛</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="selected_bbs_id" name="fid" type="hidden" value=""/>
                                    <input id="targetType" type="hidden" value=""/>
                                    <input type="text" id="selected_bbs_name" readonly name="bbs_name" class="input-medium" data-rule-required="true" data-msg-required="请选择论坛" />
                                    <span class="add-on select-pop-bbs">请选择论坛</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">招募条件</label>
                            <div class="controls">
                                <textarea class="form-control" id="textarea1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">招募规则</label>
                            <div class="controls">
                                <textarea class="form-control" id="textarea2" rows="3"></textarea>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input id="rid" name="rid" type="hidden" value=""/>
                <input id="isActive" name="isActive" type="hidden" value=""/>
                <input id="createTime" name="createTime" type="hidden" value=""/>
                <button type="button" class="btn btn-primary sub"><i class="icon-ok"></i>save</button>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
    <script src="<!--{{asset('/static/js/ueditor/ueditorbbs.config.js')}}-->"></script>
    <script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
    <script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script>
    function set_selected_bbs(fid,bbs_name){
        $("#myModal").show();
        $('#selected_bbs_id').val(fid);
        $('#selected_bbs_name').val(bbs_name);
    };

	$(function(){
        $('.select-pop-bbs').bind('click',function(){
            $("#myModal").hide();
            $.ajax({
                url:'<!--{{url('/webt_forum/topic/bbs-search-select')}}-->',
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog({id:'pop-bbs-list',title:'提示',padding:2,content:html,width:700,height:580});
                }
            });
        });

		$('input').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			increaseArea: '20%' // optional
		});
        $(".sub").click(function(){
            var targetId = $("#selected_bbs_id").val();
            var targetType = $("#targetType").val();
            var recruitCondition = $("#textarea1").val();
            var recruitDesc = $("#textarea2").val();
            var id = $("#rid").val();
            var createTime = $("#createTime").val();
            var isActive = $("#isActive").val();
            $.post('<!--{{url('/webt_forum/forum/add-recruit-rule')}}-->',{id:id,createTime:createTime,isActive:isActive,targetId:targetId,targetType:"forum",recruitCondition:recruitCondition,recruitDesc:recruitDesc},function(data){
                if(data.success=="true"){
                    alert("保存成功");
                    $("#myModal").hide();
                    window.location.reload();
                }else{
                    alert(data.data);
                }
            },"json")
        })
        $(".edit").click(function(){
            showForm();
            $("#selected_bbs_id").val($(this).parent().attr("bbsId"));
            $("#selected_bbs_name").val($(this).parent().parent().siblings(".bbsName").html());
            $("#textarea1").val($(this).parent().parent().siblings(".recruitCondition").html());
            $("#textarea2").val($(this).parent().parent().siblings(".recruitDesc").html());
            $("#rid").val($(this).parent().attr("data"));
            $("#createTime").val($(this).parent().attr("createTime"));
            $("#targetType").val($(this).parent().attr("targetType"));
            var isActive = $(this).parent().attr("isActive");
            if(isActive){
                isActive = "true";
            }else{
                isActive = "false";
            }
            $("#isActive").val(isActive);
        })
        $(".del").click(function(){
            if(confirm("确定删除数据吗？")){
                var id = $(this).parent().attr("data");
                var obj = $(this);
                $.post('<!--{{url('/webt_forum/forum/del-recruit-rule')}}-->',{id:id},function(data){
                    if(data.success=="true"){
                        obj.parent().parent().parent().hide();

                    }else{
                        alert(data.data);
                    }
                },"json")
            }

        })

//        function showForm(){
//            $("#add_rule").show();
//        }
	});
    function clearForm(){
        $("#selected_bbs_id").val("");
        $("#selected_bbs_name").val("");
        $("#textarea1").val("");
        $("#textarea2").val("");
        $("#rid").val("");
        $("#createTime").val("");
        $("#isActive").val("");
    }
    function showForm(){
        clearForm();
        $("#add_rule").show();
    }
</script>
<!--{%endblock%}-->