<!--{%extends "sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					礼包管理
				</h3>
				<div class="actions">
				    <form action="<!--{{url('giftbag/gift/search')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            
				            <td>
				                <div class="controls">
							        <label class="radio inline">标题</label>
								</div>				                
				            </td>
				            <td>
								<input name="keyword" type="text" class="input-medium" placeholder="" value="<!--{{search.keyword}}-->">								
							</td>
							<td><input id="gameselect" name="game_id" type="hidden" value="<!--{{search.game_id}}-->" class="bigdrop select2-offscreen width_150" tabindex="-1"></td>							
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <!--{%if allow_add%}--><td><a href="<!--{{url('giftbag/gift/add')}}-->" class="btn btn-teal">添加礼包</button></td><!--{%endif%}-->
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
							<th class="col-150">活动标题</th>
                            <th class="col-120">游戏</th>
							<th class="col-80">开始时间</th>
							<th class="col-80">结束时间</th>
							<th class="col-60">状态</th>
							<th class="col-80">进度</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td>
								<!--{%if item.is_appoint == 1%}-->
									<span class="badge badge-warning" style="margin-left:-48px;">专属</span>
								<!--{%endif%}-->
								<!--{%if item.is_charge == 1%}-->
									<span class="badge badge-warning" style="margin-left:-48px;">收费</span>
								<!--{%endif%}-->
								<!--{%if item.is_not_limit == 1%}-->
								<span class="badge badge-warning" style="margin-left:-48px;">无限</span>
								<!--{%endif%}-->
								<!--{{item.title}}-->
							</td>
							<td><!--{{item.game.shortgname}}--></td>
							<td><!--{{item.starttime|date('Y-m-d')}}--></td>
							<td><!--{{item.endtime|date('Y-m-d')}}--></td>
							<td><!--{%if item.is_show==1%}--><span class="badge badge-success">显示</span><!--{%else%}--><span class="badge badge-important">隐藏</span><!--{%endif%}--></td>
							<td><!--{{item.last_num}}-->/<!--{{item.total_num}}--></td>
							<td>
							    <!--{%if allow_edit%}-->
							    <a href="<!--{{url('giftbag/gift/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							    <!--{%endif%}-->
								<div class="btn-group">
							        <a data-toggle="dropdown" class="btn  btn-primary dropdown-toggle">卡号<span class="caret"></span></a>
							        <ul class="dropdown-menu dropdown-primary">
										<!--{%if item.is_not_limit == 1%}-->
										<li><a href="<!--{{url('giftbag/giftcard/export-rank',{id:item.id})}}-->">导出领取排行</a></li>
										<!--{%endif%}-->
										<!--{%if allow_import%}-->
										<li><a href="<!--{{url('giftbag/giftcard/import',{id:item.id})}}-->">导入卡号</a></li>
										<!--{%endif%}-->
										<!--{%if allow_list_card%}-->
										<li><a href="<!--{{url('giftbag/giftcard/list',{id:item.id})}}-->">查看卡号</a></li>
										<!--{%endif%}-->
										<li><a href="<!--{{url('giftbag/giftcard/export',{id:item.id})}}-->">导出领取列表</a></li>
										<li><button class="btn btn-sm export_btn" gfid="<!--{{item.id}}-->" data-target="#export_modal" data-toggle="modal">导出未领取卡号</button></li>
									</ul>
								</div>
							    <!--{%if allow_push%}-->
							    <!--{#<a href="<!--{{url('giftbag/gift/delete',{id:item.id})}}-->" class="btn btn-primary">删除</a>#}-->
							    <!--{%if item.is_send==0%}--><a href="<!--{{url('giftbag/gift/push',{id:item.id})}}-->" class="btn btn-primary">推送</a><!--{%endif%}-->
							    <!--{#%if item.is_send==1%}--><a href="<!--{{url('giftbag/gift/push',{id:item.id})}}-->" class="btn btn-primary">再次推送</a><!--{%endif%#}-->
							    <!--{%endif%}-->
							    <!--{%if allow_appoint%}-->							    						   
								<!--{%if item.is_appoint == 1%}-->
									<button class="btn btn-primary btn-sm add-uid" gb-id="<!--{{item.id}}-->" data-target="#add-uid" data-toggle="modal">用户ID</button>
								<!--{%endif%}-->
								<!--{%endif%}-->
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			    
			    <div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">导出卡号</h4>
				      </div>
				      <div class="modal-body">
				      	  <form action="<!--{{url('giftbag/giftcard/export-card')}}-->" class="">
				      	      <input id="giftbag_id" name="giftbag_id" type="hidden" value="" />
				      	      <table class="table-filter">
						          <tr>				            
						              <td>数量</td>
						              <td><input name="number" type="text" class="input-small" /></td>
						              <td><button class="btn">导出未领取的卡号</button></td>
						          </tr>
						      </table>
				      	  </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				    </div>
				  </div>
				</div>
			    
			    <div class="modal fade" id="add-uid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">添加用户ID</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="input-prepend">
				      		<span class="add-on">用户</span>
				      		<textarea id="userids" cols="20" rows="5" class="form-control"></textarea>
				      		<span class="add-on">注：每个ID间请用<b style="color:red">逗号（英文）</b>分割</span>
				      	</div>
				      	<div class="input-prepend">
				      	    <span class="add-on col-50">选项</span>
				      	    <label class="add-on"><input id="filter_device" type="checkbox" value="1" />过滤设备</label>
				      	</div>
				      </div>
				      <div class="modal-footer">
				      	<button id="save-apint-uids" type="button" class="btn btn-success">保存</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    gameselect('#gameselect');
    $(".add-uid").click(function(){
    	$("#save-apint-uids").attr("gb-id",$(this).attr("gb-id"));
    	$.get("/giftbag/gift/ajax-appoint-uids",{"giftbag_id":$(this).attr("gb-id")},function(data){
    	    $("#userids").val('');
    		if(data){
    			$("#userids").val(data);
        	}else{
        	    $("#userids").val('');
        	}
    	})
    });
    $('.export_btn').click(function(){
        $('#giftbag_id').val($(this).attr('gfid'));
        console.log($(this).attr('gfid'));
    });
    $("#save-apint-uids").click(function(){
        console.log($('#filter_device').prop('checked'));
    	$.post("/giftbag/gift/ajax-appoint-uids",{"giftbag_id":$(this).attr("gb-id"),"uids_str":$("#userids").val(),'filter_device':$('#filter_device').prop('checked')},function(data){
    		alert(data.msg);
    		//console.log(data);    		
    	})
    });
});    
</script>
<!--{%endblock%}-->