<div class="box">
	<div class="actions">
		<table class="table-filter">
			<tr>
				<td>
					<div class="controls">
						<label class="radio inline"> 背包物品 </label>
					</div>
				</td>
				<td>
					<input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{keyword}}-->">
				</td>
				<td>
					<input type="hidden" name="goodstype" id="goodstype" value="<!--{{goodstype}}-->">
					<a href="javascript:searchCate();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
	</div>
	<table class="table table-hover table-nomargin">
		<thead>
		<tr>
			<th style="width:60px">描述</th>
			<th class="table-btn-group" style="width:50px;">操作</th>
		</tr>
		</thead>
		<tbody>
		<!--{%for item in datalist%}-->
		<tr>
			<td id="backpack_<!--{{item.goodsid}}-->" code="<!--{{item.goodsid}}-->" desc="<!--{{item.goodscontent}}-->"><!--{{item.goodsname}}--></td>
			<td>
				<a href="javascript:void(0);" data-id="<!--{{item.goodsid}}-->" name="<!--{{item.goodsname}}-->" desc="<!--{{item.goodscontent}}-->" img="<!--{{item.picurl}}-->" class="btn btn-primary select-backpack-id">选择</a>
			</td>
		</tr>
		<!--{%endfor%}-->
		</tbody>
	</table>
	<div class="pagelink">
		<!--{{pagelinks}}-->
	</div>
</div>
<script>
	function searchCate()
	{
		var keyword = $('#keyword').val();
		var goodstype = $('#goodstype').val();
		$.ajax({
			url:'/v4backpack/goods/cate-backpack-select',
			data:{keyword:keyword,goodstype:goodstype},
			dataType:'json',
			success:function(json){
				var html = json.html;
				$.dialog.list['pop-backpack-list'].content(html);
			}
		});
	}
	function init_page()
	{
		$('.select-backpack-id').each(function(){
			$(this).click(function(){
				var backpack_id = $(this).attr('data-id'),
						backpack_code = $('#backpack_'+backpack_id).attr('code'),
						backpack_desc = $('#backpack_'+backpack_id).attr('desc'),
						backpack_name = $('#backpack_'+backpack_id).text(),
				img = $(this).attr('img');
				set_selected_backpack(backpack_code,backpack_name,backpack_desc,img);
				$.dialog.list['pop-backpack-list'].close();
			});
		});
		$('.pagelink a').each(function(){
			var url = $(this).attr('href');
			$(this).attr('href','javascript:void(0);');
			$(this).click(function(){
				$.ajax({
					url:url,
					dataType:'json',
					success:function(json){
						var html = json.html;
						$.dialog.list['pop-backpack-list'].content(html);
					}
				});
			});

		});
		$('.aui_main').css({"display":"inline-block"});
	}
	init_page();
</script>