<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>礼包入库</h3>
            </div>
            <div class="box-content">
                <form id="card_from" action="<!--{{url('v4giftbag/package/card-add-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <input id="id" name="id" type="hidden" value="<!--{{card.id}}-->" />
                     <!--{%if card.cardCode %}-->
                         <div class="control-group">
                                <label class="control-label">*卡密类型编号</label>
                                <div class="controls">
                                   
                                        <label class="control-label"><!--{{card.cardCode}}--></label>
                                  </div>
                          </div>
                          <!--{% endif %}-->
                          <div class="control-group">
                              <label class="control-label">*卡密类型</label>
                                <div class="controls">
                                    <!--{% if edit == '0' %}-->
                                        <label class='radio inline'>
                                            <!--{{form_radio('cardType',0,card.cardType==0)}}-->普通卡密 
                                        </label>
                                        <label class='radio inline'>
                                            <!--{{form_radio('cardType',1,card.cardType==1)}}-->礼包码
                                        </label>
                                    <!--{% else %}-->
                                        <!--{% if card.cardType == 1 %}-->
                                            礼包 
                                        <!--{% else %}-->
                                            普通卡密
                                         <!--{% endif %}-->
                                    <!--{% endif %}-->
                              </div>
                          </div>
                        <!--
                          <div class="control-group">
                            <label class="control-label">是否上架</label>
                            <div class="controls">
                                <label class="radio inline"><!--{{form_radio('onOrOff','true',true)}}-->上架</label>
                                <label class="radio inline"><!--{{form_radio('onOrOff','false')}}-->下架</label>
                            </div>
                        </div>
                        -->
                           <div class="control-group">
                                <label class="control-label">卡密类型描述</label>
                                <div class="controls">
                                    <input type="text" name="cardDesc" id="cardDesc"  class="input-xlarge" value="<!--{{card.cardDesc}}-->" />
                                </div>
                          </div>
                         <div class="form-actions">
                            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                         </div>    
                </form>
            </div>
        </div>
    </div>
</div>          
<!--{%endblock%}-->
    
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
$("#card_from").validate({
})
</script>
<!--{%endblock%}-->
