<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					图片管理
				</h3>
				<div class="actions">
                    <table class="table-filter">
                        <tr>
                            <td><a href="<!--{{url('duang/pic/edit')}}-->" class="btn btn-teal">添加活动</a></td>
                        </tr>
                    </table>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">ID</th>
							<th class="col-150">标题</th>
                            <th class="col-150">图片</th>
							<th class="col-150">链接地址</th>
							<th class="col-40">状态</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td>
								<!--{{item.title}}-->
							</td>
							<td><img src="<!--{{item.img}}-->" width="100" /></td>
							<td><!--{{item.url}}--></td>
							<td><!--{%if item.is_show==1%}--><span class="badge badge-success">显示</span><!--{%else%}--><span class="badge badge-important">隐藏</span><!--{%endif%}--></td>

							<td>
							    <a href="<!--{{url('duang/pic/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			    
			    <div class="modal fade" id="share_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">分享的URL</h4>
				      </div>
				      <div class="modal-body">
				      	  <span id="share_url"></span>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				    </div>
				  </div>
				</div>
			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $(".share_btn").click(function(){
        $('#share_url').html($(this).attr('share-url'));
    });
});
</script>
<!--{%endblock%}-->