<!--{%extends "sub-layout-adv.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					<!--{{advtype}}-->				
				</h3>
				<div class="actions">
				    <table class="table-filter">
				        <tr>
				            <td><a href="<!--{{url('adv/ads/create',{'type':type})}}-->" class="btn btn-teal">添加<!--{{advtype}}--></a></td>
				        </tr>
				    </table>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
						    <th class="col-60">图标</th>
							<th class="col-150">广告类型</th>
							<th class="col-80">广告位置</th>
							<th class="col-80">广告标识</th>
							<!--{%if in_array(type,[2,3,6])%}--><th class="col-80">广告名称</th><!--{%endif%}-->
							<!--{%if type == 4%}--><th class="col-80">游戏ID</th><!--{%endif%}-->
							<th class="col-80">应用</th>
							<th class="col-80">版本</th>
                            <th class="col-80">浏览器</th>
							<th class="table-btn-group-mini">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td class="user-avatar">
                                <a href="#bigimg" data-toggle="modal"><img src="<!--{{imgurl}}--><!--{{item.litpic}}-->" class="" /></a>
                            </td>
							<td><!--{{advtype}}--></td>
							<td><!--{{item.location}}--></td>
							<td><!--{{item.aid}}--></td>
							<!--{%if in_array(type,[2,3,6])%}--><td><!--{{item.advname}}--></td><!--{%endif%}-->
							<!--{%if type == 4%}--><td><!--{{item.gid}}--></td><!--{%endif%}-->
							<td><!--{{apptype[item.appname]}}--></td>
							<td><!--{{item.version}}--></td>
                            <td><!--{% if item.tosafari %}-->Safari浏览器<!--{% else %}-->内置浏览器<!--{% endif %}--></td>
							<td>
							    <a href="<!--{{url('adv/ads/edit',{'id':item.id})}}-->" class="btn btn-primary">编辑</a>							    							    
							    <a href="<!--{{url('adv/ads/delete',{'id':item.id})}}-->" class="btn btn-primary">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->