<!--{%extends "sub-layout-adv.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>游戏下载游币奖励</h3>
			</div>
			<div class="box-content">
			    <form action="<!--{{url('adv/credit/save')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <input id="id" name="id" type="hidden" value="<!--{{credit.id}}-->" />				
				<div class="control-group">
					<label class="control-label">关联的游戏</label>
					<div class="controls">
					    <div class="input-append">
					        <input id="selected_game_id" name="game_id" type="hidden" value="<!--{{credit.game_id}}-->" />
						    <img id="selected_game_icon" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
							<input type="text" id="selected_game_name" name="game_name" class="input-xlarge" value="<!--{{game.shortgname}}-->" data-rule-required="true" data-msg-required="关联游戏不能为空" />
							<span class="add-on select-pop-game">选择游戏</span>
						</div>												
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">奖励游币</label>
					<div class="controls">
						<input type="text" name="score" class="input-small" value="<!--{{credit.score|default('0')}}-->" />
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<script>
var set_selected_game = function(game_id,game_name,icon){
    $('#selected_game_id').val(game_id);
    $('#selected_game_icon').attr('src',icon);
    $('#selected_game_name').val(game_name);
};
$(function(){
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    $('.select-pop-game').bind('click',function(){        
        $.ajax({
            url:'/game/api/game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });    
        
});
</script>
<!--{%endblock%}-->