<!--{%extends "sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    勋章管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('/v4my/medal/add')}}-->">
                        <table class="table-filter">
                           <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                           </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-80">Icon</th>
                        <th class="col-80">勋章</th>
                        <th class="col-60">获得条件</th>
                        <th class="col-80">奖励游币</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{% for key,item in datalist%}-->
                        <tr >
                            <td class="user-avatar"><img src="<!--{{ item.list_imgUrl }}-->" ></td>
                            <td><!--{{item.typeName}}--></td>
                            <td>
                                <!--{% if item.type == 'people_admire' %}-->
                                    上周<!--{{item.cons}}-->个帖子被设为精华帖
                                <!--{% elseif item.type == 'quiz_master' %}-->
                                    上周<!--{{item.cons}}-->个评论内容被设置为最佳答案
                                <!--{% elseif item.type == 'promotion_master' %}-->
                                    上周邀请<!--{{item.cons}}-->人来游戏多注册账号
                                <!--{% elseif item.type == 'true_tyrant' %}-->
                                    上周兑换商品消耗游币<!--{{item.cons}}-->
                                <!--{% elseif item.type == 'save_money' %}-->
                                    上周省钱达到<!--{{item.cons}}-->人民币
                                <!--{% elseif item.type == 'board_moderator' %}-->
                                    任意论坛或版块被设为版主
                                <!--{% endif %}-->
                            </td>
                            <td><!--{{item.gameMoney}}--></td>
                            <td>
                                <a href="<!--{{url('v4my/medal/edit',{id:item.type,key:'type'})}}-->"                           class="btn btn-primary">编辑</a>
                            </td>
                        </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>

</script>
<!--{%endblock%}-->