<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>编辑/添加勋章</h3>
            </div>
            <div class="box-content">
                <form id="gift-info-form" action="<!--{{url('v4my/medal/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <input type="hidden" name="lid" value="<!--{{ data.lid }}-->">
                    <input type="hidden" name="type" value="<!--{{ data.type }}-->">
                    <input type="hidden" name="levelNumber" value="<!--{{ data.levelNumber }}-->">
                    <div class="control-group">
                        <label class="control-label">勋章名：</label>
                        <div class="controls">
                            <input type="text" name="typeName" class="input-large" value="<!--{{ data.typeName }}-->" data-rule-required="true" data-msg-required="请填写勋章名称"/>
                        </div>
                    </div>

                    <div class="box-content nopadding">
                        <table class="table"  id="input_params_table">
                            <thead>
                            <tr>
                                <th >获得条件</th>
                                <th >奖励</th>
                                <th>
                                    <a class="add_input_param_button"><i class="icon-plus"></i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                                <!--{% if data.conditions%}-->
                                    <!--{% for key,item in data.conditions %}-->
                                        <tr>
                                            <td style="width: 500px" ><!--{{ item.cons }}--></td>
                                            <td style="width: 300px"><input type="text" name="gameMoney[]" value="<!--{{item.gameMoney }}-->"></td>
                                            <td>
                                                <a class="delete_param_button"><i class="icon-minus"></i></a>
                                            </td>
                                        </tr>
                                    <!--{%endfor%}-->
                                <!--{%else%}-->
                                    <tr>
                                        <td ><!--{{ data.set_cons }}--></td>
                                        <td><input type="text" name="gameMoney[]" value=""></td>
                                        <td>
                                            <a class="delete_param_button"><i class="icon-minus"></i></a>
                                        </td>
                                    </tr>
                                <!--{%endif%}-->
                            </tbody>
                        </table>
                    </div>
                    </br>
                    </br>
                    </br>
                    </br>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">亮大图标:</label>
                                <div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
                                            <img src="<!--{{data.imgUrl_1|default('/static/img/nopic.gif')}}-->" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file"  name='imgUrl_1' /></span>
                                        </div>
                                    </div>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">暗大图标:</label>
                                <div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
                                            <img src="<!--{{data.imgUrl_2|default('/static/img/nopic.gif')}}-->" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file"  name='imgUrl_2' /></span>
                                        </div>
                                    </div>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">亮小图标:</label>
                                <div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
                                            <img src="<!--{{data.imgUrl_3|default('/static/img/nopic.gif')}}-->" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file"  name='imgUrl_3' /></span>
                                        </div>
                                    </div>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">暗小图标:</label>
                                <div class="controls">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
                                            <img src="<!--{{data.imgUrl_4|default('/static/img/nopic.gif')}}-->" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                        <div>
                                            <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file"  name='imgUrl_4' /></span>
                                        </div>
                                    </div>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script id="tpl_input_param" type="text/html">

</script>
<script>
$(function(){
        function getOutTpl(){
            var html = template.render('tpl_out_param');
            return html;
        }

        function getErrorTpl(){
            var html = template.render('tpl_error_param');
            return html;
        }
        $("table th a").click(function() {
            if($(this).hasClass("add_input_param_button")){
                addAfterTableRow(this,getInputTpl);
            }else if($(this).hasClass("add_out_param_button")){
                addAfterTableRow(this,getOutTpl);
            }else if($(this).hasClass("add_error_param_button")){
                addAfterTableRow(this,getErrorTpl);
            }
        });
    $("table tr a").click(function() {
        var row = $(this).parents("tr");
        if ($(this).hasClass("delete_param_button")) {
            row.remove();
        }

    });

});
    function getInputTpl(){
        i=0;
        var html =new Array();
        html['0']="<tr id='add_"+i+"'>";
        html['1']="<td><!--{{ data.set_cons }}--></td>";
        html['2']="<td><input type='text' data-rule-digits='true'  data-msg-digits='请填写整数' name='gameMoney[]' value=''/></td>";
        html['3']="<td><a class='delete_param_button'><i class='icon-minus'></i></a> </td>";
        html['4']="</tr>";
        return html.join('');
    }


    function addAfterTableRow(a, rowStringFunc){
        var row = $(a).parents("tr");
        //row.appendTo(table.find("tbody"));
        var table = $(a).parents("table");
        row.after(rowStringFunc());
        row.next().find("a").click(function() {
            if($(this).hasClass('delete_param_button')){
                deleteTableRow($(this).parent().parent());
            }else if($(this).hasClass('add_input_param_button') || $(this).hasClass('add_out_param_button') || $(this).hasClass('add_error_param_button')){
                addAfterTableRow(this,rowStringFunc)
            }
        });
        return row
    }

    function deleteTableRow(row) {
        row.remove();
    }

   </script>
<!--{%endblock%}-->