<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>编辑文章</h3>
				<div class="actions">
					<a href="javascript:void(0)" class="btn btn-teal top-submit"><i class="icon-ok"></i>保存</a>
				</div>
			</div>
			<div class="box-content">
			    <form action="<!--{{url('wcms/article/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <input name="id" type="hidden" value="<!--{{article.id}}-->" />
				<div class="control-group">
					<label class="control-label">标题<i class="tip-star">*</i></label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="title" class="input-xxlarge" value="<!--{{article.title}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
					    <div class="input-prepend">
							<span class="add-on">来源<i class="tip-star">*</i></span><input type="text" name="source" class="input-medium" value="<!--{{article.source}}-->" /><span class="add-on">作者<i class="tip-star">*</i></span><input type="text" name="author" class="input-medium" value="<!--{{article.author}}-->" />
						</div>
					</div>
				</div>
				 <!--{%if article.titlePic%}-->
			    <div class="control-group">
			        <label class="control-label">背景图<i class="tip-star">*</i></label>
					<div class="controls">
					    <a href="#bigimg" data-toggle="modal"><img src="<!--{{article.titlePic}}-->" width="150px" /></a>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label class="control-label">上传图片</label>
					<div class="controls">
					    <input name="titlePic" type="hidden" value="<!--{{article.titlePic}}-->"/>
					    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
								<input type="file" name="filedata" class="" />
							</div>
						</div>
					</div>
				</div>				
				<div class="control-group">
					<label class="control-label">关联游戏</label>
					<div class="controls">
					    <div class="input-append">
							<input type="text" id="web_game_id" name="gameId" class="input-medium" value="<!--{{article.gameId}}-->" /><span class="add-on select-web-game">选择</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">关联图集</label>
					<div class="controls">
					    <div class="input-append">
							<input type="text" id="picture_id" name="albumId" class="input-medium" value="<!--{{article.albumId}}-->" /><span class="add-on select-pop-picture">选择</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">关联视频</label>
					<div class="controls">
					    <div class="input-append">
							<input type="text" id="video_id" name="videoId" class="input-medium" value="<!--{{article.videoId}}-->" /><span class="add-on select-pop-video">选择</span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">所属分类<i class="tip-star">*</i></label>
					<div class="controls">
					    <!--{{form_select('catalog',catalogs,article.catalogUrl)}}-->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">发布时间</label>
					<div class="controls">
						<div class="input-append date">
							<input name="publishTime" type="text" class="input-medium datetimepicker" value="<!--{{article.publishTime|date('Y-m-d H:i:s')}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">标签</label>
					<div class="controls">
						<div class="span6"><input type="text" name="tags" id="tags" class="tagsinput" value="<!--{{article.tags}}-->"></div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">摘要<i class="tip-star">*</i></label>
					<div class="controls">
					    <textarea name="summary" class="input-xxlarge"><!--{{article.summary}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">内容<i class="tip-star">*</i></label>
					<div class="controls">
					    <script id="container" name="content" type="text/plain"><!--{{article.content}}--></script>
					</div>
				</div>											
			    <div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
var set_selected_web_game = function(game_id,game_name,game_icon){
	var game_ids = $('#web_game_id').val();
	if(game_ids.length>0){
		var a = game_ids.split(',');
		a.push(game_id);
		var b = a.join(',');
		//console.log(b);
		$('#web_game_id').val(b);
	}else{
		$('#web_game_id').val(game_id);
	}

};
var set_selected_picture = function(data_id){
    $('#picture_id').val(data_id);
};
var set_selected_video = function(data_id){
    $('#video_id').val(data_id);
};
$(function(){
    var editor = UE.getEditor('container',{initialFrameWidth:800});
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    if($(".tagsinput").length > 0){
		$('.tagsinput').tagsInput({width:'auto', height:'auto',autocomplete_url:'<!--{{url('wcms/api/tags')}}-->'});
	}
	
	$('.select-pop-picture').bind('click',function(){        
        $.ajax({
            url:'/wcms/api/pop-picture-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-picture-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
    
    $('.select-pop-video').bind('click',function(){        
        $.ajax({
            url:'/wcms/api/pop-video-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-video-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
    
    $('.select-web-game').bind('click',function(){        
        $.ajax({
            url:'/wcms/api/pop-game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });

	$('.top-submit').bind('click',function(){
		$('form').submit();
	});
});
</script>
<!--{%endblock%}-->