<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>添加分类</h3>
            </div>
            <div class="box-content">
                <form  action="<!--{{url('yxvl_eSports/category/add')}}-->" method="POST" id="form-activity" class="form-horizontal form-validate" enctype="multipart/form-data">
                    <input name="channel" type="hidden" value="<!--{{ channel }}-->" />
                    <input name="id" type="hidden" value="<!--{{ url }}-->" />
                    <div class="control-group">
                        <label class="control-label">名称<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="name" class="input input-xlarge" value="<!--{{name}}-->"  data-rule-required="true" data-msg-required="标题不能为空" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">url<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="url" class="input input-xlarge"  value="<!--{{url}}-->"  data-rule-required="true" data-msg-required="url不能为空"  />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">排序</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="idx" class="input input-xlarge" value="<!--{{idx}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
    $(function(){
        var url ="<!--{{url}}-->";
        if(url!=""){
            $("input[name='url']").attr("readonly","readonly");
        }
    });
</script>
<!--{%endblock%}-->