<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>保存首页头部游戏专区</h3>
            </div>
            <div class="box-content">
                <form id="form_video" action="<!--{{url('yxvl_eSports/home/add-game-zq')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label">游戏类型<i class="tip-star"></i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="gameType" class="input-xxlarge" value="<!--{{data.gameType}}-->" data-rule-required="true" data-msg-required="请填写游戏类型" />
                            </div>
                        </div>
                    </div>
                    <!--{%if data.gameName %}-->
                    <!--{%for key,item in data.gameName%}-->
                    <div class="control-group">
                        <label class="control-label">游戏<!--{{key+1}}--></label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">游戏名称<i class="tip-star"></i></span><input type="text" name="gameName[]" class="input-medium" value="<!--{{item.name}}-->"  />
                                <span class="add-on">游戏链接<i class="tip-star"></i></span><input type="text" name="gameUrl[]" class="input" value="<!--{{item.url}}-->"  />
                            </div>
                        </div>
                    </div>
                    <!--{%endfor%}-->
                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">游戏1</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">游戏名称<i class="tip-star"></i></span><input type="text" name="gameName[]" class="input-medium" value=""  />
                                <span class="add-on">游戏链接<i class="tip-star"></i></span><input type="text" name="gameUrl[]" class="input" value=""  />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏2</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">游戏名称<i class="tip-star"></i></span><input type="text" name="gameName[]" class="input-medium" value=""  />
                                <span class="add-on">游戏链接<i class="tip-star"></i></span><input type="text" name="gameUrl[]" class="input" value=""  />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏3</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">游戏名称<i class="tip-star"></i></span><input type="text" name="gameName[]" class="input-medium" value=""  />
                                <span class="add-on">游戏链接<i class="tip-star"></i></span><input type="text" name="gameUrl[]" class="input" value=""  />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏4</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">游戏名称<i class="tip-star"></i></span><input type="text" name="gameName[]" class="input-medium" value=""  />
                                <span class="add-on">游戏链接<i class="tip-star"></i></span><input type="text" name="gameUrl[]" class="input" value=""  />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏5</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">游戏名称<i class="tip-star"></i></span><input type="text" name="gameName[]" class="input-medium" value=""  />
                                <span class="add-on">游戏链接<i class="tip-star"></i></span><input type="text" name="gameUrl[]" class="input" value=""  />
                            </div>
                        </div>
                    </div>
                    <!--{%endif%}-->

                    <div class="control-group">
                        <label class="control-label">排序</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="idx" class="input input-xlarge" value="<!--{{data.idx}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
    $(function(){
    });
</script>
<!--{%endblock%}-->