<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>多头条
				</h3>
				<div class="actions">
				    <form action="<!--{{url('wcms/home/topline-list')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            
							<td><a href="<!--{{url('wcms/home/add-topline')}}-->" class="btn btn-teal"><i class="icon-plus"></i>添加新头条</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-50">idx</th>
							<th class="col-150">图片</th>
							<th>标题</th>							
							<th class="col-120">时间</th>
							<th class="col-120">排序</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.idx}}--></td>
							<td class="table-list-img"><a href="#bigimg" data-toggle="modal"><img src="<!--{{item.picUrl}}-->" /></a></td>
							<td><a href="<!--{{item.url}}-->" target="_blank"><!--{{item.title}}--></a></td>							
							<td><!--{{item.publishTime|date('Y-m-d H:i')}}--></td>
							<td><!--{{item.up}}--></td>							
							<td>
							    <a href="<!--{{url('wcms/home/topline-delete')}}-->?idx=<!--{{item.idx}}-->" class="btn btn-primary ajax-del">删除</a>					    							    								
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){    
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});    
</script>
<!--{%endblock%}-->