<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>发布视频</h3>
            </div>
            <div class="box-content">
                <form id="form_video" action="<!--{{url('yxvl_eSports/home/add-ss-zd')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label">标签</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="tag" class="input input-xlarge" value="<!--{{data.tag}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">内容<i class="tip-star">*</i></label>
                        <div class="controls">
                            <textarea id="container" name="content"><!--{{data.content}}--></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">排序</label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="idx" class="input input-xlarge" value="<!--{{data.idx}}-->" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script>
    $(function(){
    });
</script>
<!--{%endblock%}-->