<!--{%extends "base-layout.twig"%}-->

<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/js/skins/default.css">
<!--{%endblock%}-->

<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					游戏下载统计				
				</h3>
				<div class="actions">
				<form action="<!--{{url(form_route)}}-->" class="">
				    <table class="table-filter">
					    <tr>
					        <td><!--{{form_select('year',{'2012':'2012','2013':'2013','2014':'2014','2015':'2015','2016':'2016'},year,{'style':'width:120px;margin-bottom:0px;'})}}--></td>
					        <td><!--{{form_select('month',months,month,{'style':'width:120px;margin-bottom:0px;'})}}--></td>
					        <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
					    </tr>
				    </table>
				</form>
				</div>
			</div>
			<div class="box-content">
			    <div class="statistic-big">					
					<div class="bottom">
						<div class="flot xlarge" id="flot-audience"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/plugins/flot/jquery.flot.min.js"></script>
<script src="/static/js/plugins/flot/jquery.flot.resize.min.js"></script>

<script>

function showTooltip(x, y, contents) {
	$('<div id="tooltip" class="flot-tooltip tooltip"><div class="tooltip-arrow"></div>' + contents + '</div>').css( {
		top: y - 43,
		left: x - 15,
	}).appendTo("body").fadeIn(200);
}

$(function(){
    var options = {
        xaxis: {
			min: 1,
			max: 31,
			mode: null,
			tickSize: 1,
			tickDecimals:0
		},
		yaxis: {min:0,max:<!--{{max}}-->},
		series: {
			lines: {
				show: true, 
				fill: true
			},
			points: {
				show: true,
			}
		},
		grid: { hoverable: true, clickable: true },
		legend: {
			show: false
		}
    };
    var data = <!--{{map}}-->;
    $.plot($('#flot-audience'),[{ 
		label: 'Download', 
		data: data,
		color: "#3a8ce5"
	}],options);
	
	$("#flot-audience").bind("plothover", function (event, pos, item) {
		if (item) {
			if (previousPoint != item.dataIndex) {
				previousPoint = item.dataIndex;

				$("#tooltip").remove();
				var y = item.datapoint[1].toFixed();

				showTooltip(item.pageX, item.pageY,
				            item.series.label + " = " + y);
			}
		}
		else {
			$("#tooltip").remove();
			previousPoint = null;            
		}
	});
});

</script>
<!--{%endblock%}-->