<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					游戏下载统计				
				</h3>
				<div class="actions">
				    <form action="<!--{{url(form_route)}}-->" class="">
				    <table class="table-filter">
					    <tr>
					    	<td class="col-120"><!--{{form_select('zone',zone,search.zone,{'style':'width:120px;margin-bottom:0px;'})}}--></td>				    
					    	<td class="col-120"><!--{{form_select('pricetype',pricetype,search.pricetype,{'style':'width:120px;margin-bottom:0px;'})}}--></td>					    	
					    	<td class="col-120"><input name="gid" type="text" class="input-small" value="<!--{{search.gid}}-->" placeholder="游戏ID" /></td>
					    	<td class="col-120"><input name="gname" type="text" class="input-small" value="<!--{{search.gname}}-->" placeholder="游戏名称" /></td>
					    	<td>总数<span class="badge badge-success"><!--{{totalDownload}}--></span></td>
					    </tr>
					    <tr>
					        <td class="col-120"><!--{{form_select('type',gametypes,search.type,{'style':'width:120px;margin-bottom:0px;','id':'type'})}}--></td>
					        <td><select id="tag" name="tag" style="width:120px;margin-bottom:0px;"></select></td>
					    	<td>
				                <div class="input-append date datepick" id="dpStart" data-date="">
									<input name="startdate" type="text" class="input-small" value="<!--{{search.startdate}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
				            </td>
				            <td>
				                <div class="input-append date datepick" id="dpEnd" data-date="">
									<input name="enddate" type="text" class="input-small" value="<!--{{search.enddate}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>														
							<td></td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
					    </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
						    <th class="col-60">图标</th>
							<th class="col-150">游戏</th>							
							<th class="col-80">下载数</th>
							<th class="col-80">下载总数</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.gid}}--></td>
							<td class="user-avatar"><img src="<!--{{config('app.image_url')}}--><!--{{games[item['gid']]['ico']}}-->" class="" /></td>
							<td><!--{{games[item['gid']]['gname']}}--></td>							
							<td><!--{{item.downloadCount}}--></td>
							<td><!--{{item.totalDownload}}--></td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
var tags = <!--{{tags}}-->;
var tag = '<!--{{search.tag}}-->';
$(function(){
    $('#type').change(function(){
        var type = $(this).val();
        $.each(tags,function(i,n){
            if(n.gtid==type){
                $("#tag").empty();
                var option=new Array();
			    $("#tag").append("<option value='0'>全部标签</option>");
                $.each(n.tags,function(ii,nn){
                    //console.log(nn.tag);
                    option[ii] = "<option value="+nn.tag+">"+nn.tag+"</option>";
                    $("#tag").append(option[ii]);
                });
            }
        });
        //console.log(type);
    });
    $('#type').change();
    $("#tag").val(tag);
});
</script>
<!--{%endblock%}-->