<!--{%extends "sub-layout-game.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					游戏类型
				</h3>
				<div class="actions">
					
				</div>
			</div>
			<div class="box-content nopadding">
				<table id="mytable" class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-60">ID</th>
						<th class="col-150"></th>
						<th class="col-60">游戏类型</th>
						<th class="col-80">游戏标签</th>
						<th class="col-80">排序值</th>
						<th class="col-80">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{%for item in datalist%}-->
					<tr>
						<td><!--{{item.id}}--></td>
						<td>
							<img width="200" height="200" src="http://img.youxiduo.com<!--{{item.img}}-->">
						</td>
						<td><!--{{item.typename}}--></td>
						<td><!--{{item.tagname}}--></td>
						<td id="<!--{{item.id}}-->_sort"><!--{{item.sort}}--></td>
						<td>
							<div class="btn-group">
							    <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">操作<span class="caret"></span></a>
							    <ul class="dropdown-menu dropdown-primary">
							    	<li><a href="<!--{{url('game/gametype/view-add-edit',{'id':item.id})}}-->">编辑</a></li>
									<li><a href="<!--{{url('game/gametype/apptop',{'id':item.id,'apptop':item.isapptop})}}-->" ><!--{% if item.isapptop == 1 %}-->取消APP置顶<!--{%else%}-->APP置顶<!--{%endif%}--></a></li>
									<li><a id="sort_" href="javascript:;" class="sort_" data-val='<!--{{item.sort}}-->' data-id="<!--{{item.id}}-->">设置排序值</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagination}}-->
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               设置排序值
            </h4>
         </div>
         <div class="modal-body">
         	<div class="box-content">
         		<div class="control-group">
					<label class="control-label">排序数</label>
					<div class="controls">
						<input type="text" id="sort" name="sort" class="input-xlarge" value=""  />
					</div>
				</div>
			</div>				
         </div>
         <div id="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <a href="javascript:;" id="go_version_" class="btn btn-primary"> 提交更改</a>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
		$("a.sort_").bind('click',function(){
			 $("#myModal").modal('show');
			 var dataval=$(this).attr('data-val'),id=$(this).attr('data-id');
			 $("#sort").val(dataval);
			 $("#go_version_").bind('click',function(){
			 		var sort_=$("#sort").val();
			 		$.post('/game/gametype/setsort',{'sort':sort_,'id':id},function(data){
			 			if(data.ok == 1){
			 				$('#myModal').modal('hide');
			 				top.location.reload();
			 				//$(id+"_sort").html();
						}else{
							$('#myModal').modal('hide');
						    alert("数据出错");
						}
			 		});
			 })
		});
	})
</script>
<!--{%endblock%}-->