<!--{%extends "sub-layout-game.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					游戏库				
				</h3>
				<div class="actions">
				    <form action="<!--{{url('game/games/search')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            
				            <td>
				                <div class="controls">
								    <label class="radio inline">
							        <!--{{form_radio('keytype','id',cond.keytype=='id')}}-->ID					        					        
							        </label>
							        <label class="radio inline">
							        <!--{{form_radio('keytype','gname',cond.keytype=='gname')}}-->名称					        					        
							        </label>
								</div>				                
				            </td>
				            <td>
								<input name="keyword" type="text" class="input-medium" placeholder="" value="<!--{{cond.keyword}}-->">								
							</td>
							<!--{#
							<td>
							    <div class="controls">
								    <label class="radio inline">
							        <!--{{form_radio('zonetype',0,cond.zonetype==0)}}-->普通专区					        					        
							        </label>
							        <label class="radio inline">
							        <!--{{form_radio('zonetype',1,cond.zonetype==1)}}-->精品专区					        					        
							        </label>
								</div>
							</td>
							#}-->
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <!--{#<td><a href="<!--{{url('games/add')}}-->" class="btn btn-teal">添加游戏</button></td>#}-->
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
						    <th class="col-60">图标</th>
							<th class="col-150">游戏</th>
							<th class="col-80">类型</th>
							<th class="col-80">收费类型</th>
							<th class="col-80">专区类型</th>
							<!--{#
							<th class="col-80">平台</th>
							#}-->
							<th class="col-80">编辑时间</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in games%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td class="user-avatar"><a href="#bigimg" data-toggle="modal"><img src="<!--{{imgurl}}--><!--{{item.ico}}-->" class="" /></a></td>
							<td><!--{{item.shortgname|default(item.gname)}}--></td>
							<td><!--{{gametype[item.type]}}--></td>
							<td><!--{{pricetype[item.pricetype]}}--></td>
							<td><!--{{zonetype[item.zonetype]}}--></td>
							<!--{#
							<td>
							    <!--{%if item.apptype==1%}--><img src="/static/img/iphoneIco.png" /><!--{%endif%}-->
							    <!--{%if item.apptype==2%}--><img src="/static/img/androidIco.png" /><!--{%endif%}-->
							    <!--{%if item.apptype==3%}--><img src="/static/img/iphoneIco.png" /><img src="/static/img/androidIco.png" /><!--{%endif%}-->
							</td>
							#}-->
							<td><!--{{item.updatetime|date('Y-m-d')}}--></td>
							<td>							    						   
							    <!--{%if in_array(item.id,forums)==false%}--><a href="<!--{{url('forum/game/open')}}-->?game_id=<!--{{item.id}}-->" class="btn btn-primary">开启论坛</a><!--{%endif%}-->
							    <a href="<!--{{url('comment/comments/index')}}-->?target_table=m_games&target_id=<!--{{item.id}}-->" class="btn btn-primary">评论</a>
							    <a href="<!--{{url('comment/comments/add',{'target_table':'m_games','target_id':item.id})}}-->" class="btn btn-primary">点评</a>
							    <a href="<!--{{url('game/games/game-control-list',{'gid':item.id})}}-->" class="btn btn-primary">设置</a>
							    <a href="<!--{{url('game/games/game-edit',{'gid':item.id})}}-->" class="btn btn-primary">编辑</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->