<!--{%extends "sub-layout-game.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					游戏库				
				</h3>
			</div>
			<div class="box-content">
				<form id="admin-edit" action="<!--{{url('game/games/game-control-save')}}-->" method="POST" class='form-horizontal form-validate'>
				<input name="id" type="hidden" value="<!--{{id}}-->" />
				<input name="gid" type="hidden" value="<!--{{gid}}-->" />
				<div class="control-group">
					<label for="gamename" class="control-label">游戏名称</label>
					<div class="controls">
						<input id="gamename" type="text" name="gamename" class="input-normal" value="<!--{{gname}}-->" data-rule-required="true" data-msg-required="不能为空">
					</div>
				</div>
				<div class="control-group">
					<label for="zonetype" class="control-label">专区类型</label>
					<div class="controls">
						<!--{{form_select('zonetype',zone_type,select_type,{'id':'zonetype'})}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="varsion" class="control-label">版本</label>
					<div class="controls">
						<input id="version" type="text" name="version" class="input-normal" value="<!--{{version}}-->" data-rule-required="true" data-msg-required="不能为空">
					</div>
				</div>
				<div class="control-group">
					<label for="status" class="control-label">提审状态</label>
					<div class="controls">
						<!--{%if checked == 0%}-->
							<!--{{form_radio('checked',0,true)}}--> 提审中
						<!--{%else%}-->
							<!--{{form_radio('checked',0)}}--> 提审中
						<!--{%endif%}-->
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<!--{%if checked == 1%}-->
							<!--{{form_radio('checked',1,true)}}--> 已审核
						<!--{%else%}-->
							<!--{{form_radio('checked',1)}}--> 已审核
						<!--{%endif%}-->
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					<a href="<!--{{url('game/games/search')}}-->" class="btn btn-primary">返回</a>
				</div>    
				</form>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->