<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/multiselect/bootstrap-multiselect.css">
<!--{%endblock%}-->
<!--{%extends "sub-layout-game.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>游戏信息</h3>
			</div>
			<div class="box-content">
			    
			    <form action="<!--{{url('game/games/game-add-do')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <div class="control-group">
					<label class="control-label">选项</label>
					<div class="controls">
					    <label class="checkbox inline">
				        <!--{{form_checkbox('flag',1,input_old('flag')==1,{'id':'flag'})}}-->主页推荐					        					        
				        </label>
				        <label class="checkbox inline">
				        <!--{{form_checkbox('mustplay',1)}}-->经典必玩					        					        
				        </label>
				        <label class="checkbox inline">
				        <!--{{form_checkbox('ishot',1)}}-->热门推荐					        					        
				        </label>
				        <label class="checkbox inline">
				        <!--{{form_checkbox('hot_recommend',1)}}-->精品					        					        
				        </label>
				        <label class="checkbox inline">
				        <!--{{form_checkbox('isstarting',1)}}-->首发					        					        
				        </label>
				        <label class="checkbox inline">
				        <!--{{form_checkbox('isup',1)}}-->上架					        					        
				        </label>
				        <span id="flag-sp" class="<!--{{input_old('flag')==1?'none':'hide'}}-->">
				        	<label class="label input-append date datepick">推荐时间<span class="nes-star">* </span>
				        	<span class="add-on"><i class="icon-calendar"></i></span>
				        	<input name="recommendtime" type="text" class="input-small" value="<!--{{input_old('recommendtime')}}-->" readonly>
							</label>
				        	<!--{{ errors.first('recommendtime','<span class="text-error">:message</span>') }}-->
							<label class="label">短评<span class="nes-star">* </span><input type="text" name="shortcomt" class="input" value="<!--{{input_old('shortcomt')}}-->"></label>
							<!--{{ errors.first('shortcomt','<span class="text-error">:message</span>') }}-->
				        </span>
					</div>
				</div>
			    <div class="row-fluid">			    
			    <div class="span6">
			    	<div class="control-group">
						<label class="control-label">识别码<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" name="itunesid" id="itunesid" class="input-xlarge" value="<!--{{input_old('itunesid')}}-->"/>
							<!--{{ errors.first('itunesid','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
				    <div class="control-group">
						<label class="control-label">游戏名称<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" name="gname" id="gname" class="input-xlarge" value="<!--{{input_old('gname')}}-->"/>
							<!--{{ errors.first('gname','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">游戏简称<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" name="shortgname" id="shortgname" class="input-xlarge" value="<!--{{input_old('shortgname')}}-->"/>
							<!--{{ errors.first('shortgname','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">专区类型<span class="nes-star">*</span></label>
						<div class="controls">
						    <label class="radio inline">
					        <!--{{form_radio('zonetype',0,input_old('zonetype')==0)}}-->普通专区					        					        
					        </label>
					        <label class="radio inline">
					        <!--{{form_radio('zonetype',1,input_old('zonetype')==1)}}-->精品专区					        					        
					        </label>
					        <label class="radio inline">
					        <!--{{form_radio('zonetype',2,input_old('zonetype')==2)}}-->新增游戏					        					        
					        </label>
					        <label class="radio inline">
					        <!--{{form_radio('zonetype',3,input_old('zonetype')==3)}}-->app新游					        					        
					        </label>
					        <!--{{ errors.first('zonetype','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">付费类型<span class="nes-star">*</span></label>
						<div class="controls">
						    <label class="radio inline">
					        <!--{{form_radio('pricetype',1,input_old('pricetype')==1)}}-->免费					        					        
					        </label>
					        <label class="radio inline">
					        <!--{{form_radio('pricetype',2,input_old('pricetype')==2)}}-->限免					        					        
					        </label>
					        <label class="radio inline">
					        <!--{{form_radio('pricetype',3,input_old('pricetype')==3)}}-->收费					        					        
					        </label>
					        <!--{{ errors.first('pricetype','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">价格<span class="nes-star">*</span></label>
						<div class="controls">
						    <input type="text" name="price" id="price" class="input-xlarge" value="<!--{{input_old('price')}}-->"/>
						    <!--{{ errors.first('price','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">历史价格<span class="nes-star">*</span></label>
						<div class="controls">
						    <input type="text" name="oldprice" id="oldprice" class="input-xlarge" value="<!--{{input_old('oldprice')}}-->"/>
						    <!--{{ errors.first('oldprice','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">游戏类型</label>
						<div class="controls">
						    <!--{{form_select('type',gametype,1,{'id':'gtype'})}}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">游戏标签</label>
						<div class="controls">
							<select id="tags-muselect" multiple="multiple" name="tags[]">
								<!--{%for tag in alltags%}-->
									<option value="<!--{{tag}}-->"><!--{{tag}}--></option>
								<!--{%endfor%}-->
							</select>
						</div>
					</div>
				    <div class="control-group">
						<label class="control-label">游戏简介<span class="nes-star">*</span></label>
						<div class="controls">
						    <textarea name="editorcomt" id="editorcomt" class="input-xlarge"><!--{{input_old('editorcomt')}}--></textarea>
						    <!--{{ errors.first('editorcomt','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">游戏图标<span class="nes-star">*</span></label>
						<div class="controls">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><img src="/static/img/common/avatar.gif" /></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div><!--{{ errors.first('ico','<span class="text-error">:message</span>') }}-->
								<div>
									<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span><input type="file" name='ico'/></span>
									<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="control-group">
						<label class="control-label">版本<span class="nes-star">*</span></label>
						<div class="controls">
						    <input type="text" name="version" id="version" class="input-xlarge" value="<!--{{input_old('version')}}-->"/>
						    <!--{{ errors.first('version','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">大小<span class="nes-star">*</span></label>
						<div class="controls">
						    <input type="text" name="size" id="size" class="input-xlarge" value="<!--{{input_old('size')}}-->"/>
						    <!--{{ errors.first('size','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">语言<span class="nes-star">*</span></label>
						<div class="controls">
						    <label class="radio inline">
					        <!--{{form_radio('language',1,input_old('language')==1)}}-->中文					        					        
					        </label>
					        <label class="radio inline">
					        <!--{{form_radio('language',2,input_old('language')==2)}}-->英文					        					        
					        </label>
					        <label class="radio inline">
					        <!--{{form_radio('language',3,input_old('language')==3)}}-->其他					        					        
					        </label>
					        <!--{{ errors.first('language','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">评分<span class="nes-star">*</span></label>
						<div class="controls">
						    <div id="star"></div><div id="target"></div>
						    <!--{{ errors.first('score','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">画面<span class="nes-star">*</span></label>
						<div class="controls">
						    <div id="view_star"></div><div id="target"></div>
						    <!--{{ errors.first('viewscore','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">趣味性<span class="nes-star">*</span></label>
						<div class="controls">
						    <div id="funny_star"></div><div id="target"></div>
						    <!--{{ errors.first('funny','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">流畅性<span class="nes-star">*</span></label>
						<div class="controls">
						    <div id="smooth_star"></div><div id="target"></div>
						    <!--{{ errors.first('smoothscore','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">下载地址<span class="nes-star">*</span></label>
						<div class="controls">
						    <input type="text" name="downurl" id="downurl" class="input-xlarge" value="<!--{{input_old('downurl')}}-->"/>
						    <!--{{ errors.first('downurl','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">兼容平台<span class="nes-star">*</span></label>
						<div class="controls">
						    <input type="text" name="platform" id="platform" class="input-xlarge" value="<!--{{input_old('platform')}}-->"/>
						    <!--{{ errors.first('platform','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">开发商<span class="nes-star">*</span></label>
						<div class="controls">
						    <input type="text" name="company" id="company" class="input-xlarge" value="<!--{{input_old('company')}}-->"/>
						    <!--{{ errors.first('company','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
				</div>
				</div>
				
			
			    <div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>确定</button>
					<a type="submit" class="btn btn-primary" style="margin-left: 100px" href="/game/games/search">返回</a>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/plugins/raty/js/jquery.raty.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
$(function(){
	$('#flag').change(function(){
		if($('#flag').attr('checked')){
			$('#flag-sp').attr('class','none');
		}else{
			$('#flag-sp').attr('class','hide');
		}
	});
	$('#tags-muselect').multiselect({
        includeSelectAllOption: true
    });
	$('#gtype').change(function(){
		$.get("/game/games/ajax-taglist",{'typeid':$('#gtype').val()},function(data){
			$("#tags-muselect").multiselect('dataprovider', data);
		});
	});
    $('#star').raty({
		scoreName : 'score',
		  half  : true, 
		  score : <!--{{game.score|default("3.5")}}-->,
		  size      : 24,
		  starHalf  : '/static/js/plugins/raty/img/star-half-big.png',
		  starOff   : '/static/js/plugins/raty/img/star-off-big.png',
		  starOn    : '/static/js/plugins/raty/img/star-on-big.png'
	});
	$('#view_star').raty({
		scoreName : 'viewscore',
		  half  : true, 
		  score : <!--{{game.viewscore|default("3.5")}}-->,
		  size      : 24,
		  starHalf  : '/static/js/plugins/raty/img/star-half-big.png',
		  starOff   : '/static/js/plugins/raty/img/star-off-big.png',
		  starOn    : '/static/js/plugins/raty/img/star-on-big.png'
	});
	$('#funny_star').raty({
		scoreName : 'funnyscore',
		  half  : true, 
		  score : <!--{{game.funnyscore|default("3.5")}}-->,
		  size      : 24,
		  starHalf  : '/static/js/plugins/raty/img/star-half-big.png',
		  starOff   : '/static/js/plugins/raty/img/star-off-big.png',
		  starOn    : '/static/js/plugins/raty/img/star-on-big.png'
	});
	$('#smooth_star').raty({
		scoreName : 'smoothscore',
		  half  : true, 
		  score : <!--{{game.smoothscore|default("3.5")}}-->,
		  size      : 24,
		  starHalf  : '/static/js/plugins/raty/img/star-half-big.png',
		  starOff   : '/static/js/plugins/raty/img/star-off-big.png',
		  starOn    : '/static/js/plugins/raty/img/star-on-big.png'
	});
});
</script>
<!--{%endblock%}-->