<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					Web社区首页礼包列表
				</h3>
				<div class="actions">
					<table class="table-filter">
					<tbody><tr>
						<td><a class="btn btn-teal" href="/web_forum/bbs/add-home-giftbag">添加</a></td>
					</tr>
					</tbody></table>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-60">ID</th>
						<th class="col-200">标题</th>
						<th class="col-60">剩余</th>
						<th class="col-100">价格</th>
						<th class="col-150">添加时间</th>
						<th class="col-80">是否显示</th>
						<th class="table-btn-group">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{%for item in giftbag%}-->
					<tr>
						<td><!--{{item.bbs_giftbag_id}}--></td>
						<td class="user-avatar"><!--{{item.title}}--></td>
						<td><!--{{ item.last }}--></td>
						<td><!--{{ item.price }}--></td>
						<td><!--{{ item.add_time|date('Y-m-d H:i:s') }}--></td>
						<td><!--{% if item.is_show == 1 %}--><span class="badge badge-success">显示</span><!--{% else %}--><span class="badge badge-error">隐藏</span><!--{% endif %}--></td>
						<td>
							<a href="<!--{{url('web_forum/bbs/edit-home-giftbag',item.bbs_giftbag_id)}}-->" class="btn btn-primary">编辑</a>
							<a href="javascript:void(0);" data="<!--{{ item.bbs_giftbag_id }}-->" class="btn btn-primary ajax-del">删除</a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{ pagination }}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
	$(function(){
		$('a.ajax-del').bind('click',function(){
			var giftbag_id = $(this).attr('data');
			alertify.confirm('确定删除数据么？',function(e){
				if(e){
					$.get('/web_forum/bbs/del-home-giftbag/'+giftbag_id,{},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},2000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
	});
</script>
<!--{%endblock%}-->