<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					方案管理
				</h3>
				<div class="actions">
					<form action="<!--{{url('/v4box/plan/list')}}-->">
						<table class="table-filter">
                        <tr>
	                        <td><a href="<!--{{url('v4box/plan/plan-add')}}-->" class="btn btn-teal">添加方案</a></td>
                        </tr>
                     </table>
					</form>	
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<!-- <th class="col-60">ID</th> -->
						<th class="col-60">ID</th>
						<th class="col-100">方案名称</th>
						<th class="col-60">位置</th>
						<th class="col-80">是否启用</th>
						<th class="table-btn-group">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for key,item in datalist%}-->
					<tr id="tr_<!--{{item.id}}-->">
						<td><!--{{item.id}}--></td>
						<td><!--{{item.title}}--></td>
						<td><!--{{item.location}}--></td>
						<td><!--{{ item.isOn=='1' ? '是' : '否' }}--></td>
						<td>
							<a href="<!--{{url('v4box/plan/plan-edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							<a href="<!--{{url('v4box/plan/prize-info',{id:item.id})}}-->" class="btn btn-primary">奖品设置</a>
							<a href='javascript:;' code="<!--{{item.id}}-->"  url="<!--{{url('v4box/plan/plan-del',{id:item.id})}}-->" class="ajax-del btn btn-primary"><i class="icon-trash"></i>删除</a>

							<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">操作<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">
									<!--{%if item.isOnshelf==1%}-->
									<li><a href="<!--{{url('v4box/plan/status',{'id':item.id,'onOrOff':0,'platform':item.platform,'location':item.location})}}-->">停用</a></li>
									<!--{%else%}-->
									<li><a href="<!--{{url('v4box/plan/status',{'id':item.id,'onOrOff':1,'platform':item.platform,'location':item.location})}}-->">启用</a></li>
									<!--{%endif%}-->
                                </ul>
							</div>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script>
    $('[data-toggle="popover"]').popover();
	$(function(){
		$('a.ajax-del').bind('click',function(){
			if(!confirm('确定要删除数据吗？')){
				return false;
			}else{
				var url=$(this).attr('url'),code=$(this).attr('code');
				$.get(url,{},function(data){
					if(data.error < 1){
						alert("删除成功！");
						$("#tr_"+code).remove();
					}
				});
			}
		});
	});

</script>
<!--{%endblock%}-->