<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    游戏充值管理
                </h3>
                <div class="actions">
                    <table class="table-filter">
                        <tr>
                            <td><a href="<!--{{url('v4system/game/recharge-edit')}}-->" class="btn btn-teal">添加游戏充值链接</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">ID</th>
                        <th class="col-150">游戏名称</th>
                        <th class="col-80">链接</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>默认模板</td>
                        <td><!--{{defaulturl}}--></td>
                        <td><a href="<!--{{url('v4system/game/recharge-default')}}-->" class="btn btn-primary">编辑</a></td>
                    </tr>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.gid}}--></td>
                        <td><!--{{item.gname}}--></td>
                        <td><!--{{item.url}}--></td>
                        <td>
                            <a href="<!--{{url('v4system/game/recharge-edit',{gid:item.gid})}}-->" class="btn btn-primary">编辑</a>
                            <a href="<!--{{url('v4system/game/recharge-delete',{gid:item.gid})}}-->" class="btn btn-primary">删除</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->