<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    游戏区服管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('v4system/game/as-list')}}-->" method="get" class="">
                    <table class="table-filter">
                        <tr>
                            <td><input id="gameselect" name="game_id" type="hidden" value="<!--{{search.game_id}}-->" class="bigdrop select2-offscreen width_150" tabindex="-1" /></td>
                            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            <td><a href="<!--{{url('v4system/game/as-add',{gid:search.game_id})}}-->" class="btn btn-teal">添加游戏区服</a></td>
                        </tr>
                    </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">ID</th>
                        <th class="col-150">游戏名称</th>
                        <th class="col-80">渠道</th>
                        <th class="col-80">区</th>
                        <th class="col-80">服</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.id}}--></td>
                        <td><!--{{item.gname}}--></td>
                        <td><!--{{item.typename}}--></td>
                        <td><!--{{item.area_name}}--></td>
                        <td><!--{{item.server_name}}--></td>
                        <td>
                            <a href="<!--{{url('v4system/game/do-as-delete',{id:item.id})}}-->" class="btn btn-primary">删除</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
    $(function() {
        gameselect('#gameselect');
    });
</script>
<!--{%endblock%}-->