<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    游戏渠道管理
                </h3>
                <div class="actions">
                    <table class="table-filter">
                        <tr>
                            <td><a href="<!--{{url('v4system/game/do-channel/add')}}-->" class="btn btn-teal">添加游戏渠道</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">渠道ID</th>
                        <th class="col-80">渠道名称</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.channelid}}--></td>
                        <td><!--{{item.channelname}}--></td>
                        <td>
                            <a href="<!--{{url('v4system/game/do-channel/edit',{id:item.channelid})}}-->" class="btn btn-primary">编辑</a>
                            <a href="<!--{{url('v4system/game/do-channel/delete',{id:item.channelid})}}-->" class="btn btn-primary">删除</a>
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->