<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    用户游戏区服
                </h3>
                <div class="actions">
                    <form action="<!--{{url('v4system/game/user-as-list')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td><!--{{form_select('dealType',{'0':'只显示待处理','1':'只显示已处理','-1':'显示全部'},search.dealType,{'style':'width:150px;margin-bottom:0px;'})}}--></td>
                                <td>
                                    <input name="nickname" type="text" class="input-medium" placeholder="玩家昵称" value="<!--{{search.nickname}}-->">
                                </td>
                                <td>
                                    <input name="gname" type="text" class="input-medium" placeholder="游戏名称" value="<!--{{search.gname}}-->">
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">ID</th>
                        <th class="col-150">玩家昵称</th>
                        <th class="col-150">游戏名称</th>
                        <th class="col-80">渠道</th>
                        <th class="col-80">区</th>
                        <th class="col-80">服</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.id}}--></td>
                        <td><!--{{item.nickname}}--></td>
                        <td><!--{{item.gname}}--></td>
                        <td><!--{{item.typename}}--></td>
                        <td><!--{{item.area_name}}--></td>
                        <td><!--{{item.server_name}}--></td>
                        <td>
                            <!--{%if item.dealType==0%}-->
                            <a href="<!--{{url('v4system/game/do-user-as/add',{id:item.id,gid:item.game_id})}}-->?uid=<!--{{item.uid}}-->&content=<!--{{item.gname}}-->-<!--{{item.typename}}-->(<!--{{item.area_name}}-->/<!--{{item.server_name}}-->)" class="btn btn-primary">添加到区服表</a>
                            <a href="<!--{{url('v4system/game/do-user-as/delete',{id:item.id})}}-->" class="btn btn-primary">忽略</a>
                            <!--{%else %}-->
                            已处理
                            <!--{%endif %}-->
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->