<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>设置项</h3>
            </div>
            <div class="box-content">
                <form action="<!--{{url('v4system/kvsetting/edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
                    <input name="incrementalId" type="hidden" value="<!--{{setting.incrementalId}}-->" />
                    
                    <div class="control-group">
                        <label for="textfield" class="control-label">ID</label>
                        <div class="controls">
                            <input name="configId" type="text" class="input-xlarge" value="<!--{{setting.incrementalId}}-->" <!--{% if setting.incrementalId %}-->disabled='disabled'<!--{% endif %}--> />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">类型</label>
                        <div class="controls">
                            <!--{{form_select('configType',{'text':'text','url':'url','img':'img'},setting.configType,{'style':'width:120px'}) }}-->
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="textfield" class="control-label">内容</label>
                        <div class="controls">
                        
                            <div class="fileupload fileupload-new" data-provides="fileupload" id="fileupload" <!--{% if setting.configType != 'img' %}-->style="display:none"<!--{% endif %}-->>
	                            <div class="fileupload-new thumbnail img1" style="max-width: 120px; max-height: 120px;"><img id="listpic_img" src="<!--{{setting.configValue|default('/static/img/nopic.gif')}}-->" /></div>
	                            <div class="fileupload-preview fileupload-exists thumbnail " style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
	                            <div>
	                                <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input id="pic" type="file" name='pic' value="<!--{{setting.configValue}}-->"/></span>
	                                <span style="color: #B94A48; display: none" id="note_sp1">图片不能为空且限于png,gif,jpeg,jpg格式</span>
	                            </div>
	                        </div>

	                    	<textarea id="configValue" name="configValue" class="input-xlarge" <!--{% if setting.configType == 'img' %}-->style="display:none"<!--{% endif %}-->><!--{{setting.configValue}}--></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">描述</label>
                        <div class="controls">
                            <textarea name="configDesc" class="input-xlarge"><!--{{setting.configDesc}}--></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
	$(function(){
        $("select[name='configType']").on('change',function(){
            var configType = $(this).val();
            set_adv_type(configType);
        });
        function set_adv_type(configType){
            if(configType == 'img'){
            	$("#fileupload").fadeIn();
                $("#configValue").fadeOut();
            }else{
                $("#configValue").fadeIn();
                $("#fileupload").fadeOut();
            }
        }
	});
</script>
<!--{%endblock%}-->