<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    举报列表
                </h3>
                <div class="actions">
                    <form action="<!--{{url('v4system/report/list')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td><!--{{form_select('dealType',{'1':'只显示待处理','2':'只显示已处理','0':'显示全部举报'},search.dealType,{'style':'width:150px;margin-bottom:0px;'})}}--></td>
                                <td>
                                    <input name="informerName" type="text" class="input-medium" placeholder="举报人昵称" value="<!--{{search.informerName}}-->">
                                </td>
                                <td>
                                    <input name="infomantName" type="text" class="input-medium" placeholder="被举报人昵称" value="<!--{{search.infomantName}}-->">
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th class="col-150">举报人</th>
                        <th class="col-150">被举报人</th>
                        <th>被举报次数/处理次数</th>
                        <th>被举报内容</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><!--{{item.id}}--></td>
                        <td><!--{{item.informerName}}--></td>
                        <td><!--{{item.infomantName}}--></td>
                        <td><!--{{item.treatedTotalCount}}-->/<!--{{item.untreatedCount}}--></td>
                        <td class="table-list-img">
                            <!--{%if item.infomantDesc.type==1  %}--><a href="<!--{{url('web_forum/topic/bbs-edit',{tid:item.infomantDesc.tid})}}-->" target="_blank"><!--{{item.infomantDesc.subject}}--></a>
                            <!--{%else%}-->
                            <!--{%if item.infomantDesc.imgId  %}--><a href="#bigimg" data-toggle="modal"><img src="<!--{{item.infomantDesc.imgId}}-->"/></a><!--{%endif%}-->
                            <!--{%endif%}-->
                        </td>
                        <td>
                            <!--{%if item.dealType==0%}-->
                            <a href="<!--{{url('v4system/report/inform/1',{id:item.id})}}-->" class="btn btn-primary">删除</a>
                            <a href="<!--{{url('v4system/report/inform/2',{id:item.id})}}-->" class="btn btn-primary">手工处理</a>
                            <a href="<!--{{url('v4system/report/inform/3',{id:item.id})}}-->" class="btn btn-primary">没问题</a>
                            <!--{%else%}-->
                            <!--{%if item.dealType==1%}-->已处理<!--{%endif%}-->
                            <!--{%if item.dealType==2%}-->已手工处理<!--{%endif%}-->
                            <!--{%if item.dealType==3%}-->没问题<!--{%endif%}-->
                            <!--{%endif%}-->
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
        $('a.ajax-del').bind('click',function(){
            if(!confirm('确定要删除数据吗？')){
                return false;
            }
        });
    });
</script>
<!--{%endblock%}-->