<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					礼包活动列表
				</h3>
				<div class="actions">
				    <form action="<!--{{url('v4giftbag/gift/search')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            
				            <td>
				                <div class="controls">
							        <label class="radio inline">标题</label>
								</div>				                
				            </td>
				            <td>
								<input name="keyword" type="text" class="input-medium" placeholder="" value="<!--{{search.keyword}}-->">								
							</td>
							<td><input id="gameselect" name="game_id" type="hidden" value="<!--{{search.game_id}}-->" class="bigdrop select2-offscreen width_150" tabindex="-1"></td>							
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <td><a href="<!--{{url('v4giftbag/giftactivity/add')}}-->" class="btn btn-teal">添加礼包活动</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
							<th class="col-150">礼包名称</th>
                            <th class="col-80">进度</th>
							<th class="col-80">开始时间</th>
							<th class="col-80">结束时间</th>
							<th class="col-60">状态</th>
							<th class="col-100">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td>
								<!--{%if item.isExclusive%}-->
									<span class="badge badge-warning">专属</span>
								<!--{%endif%}-->
								<!--{{item.title}}-->
							</td>
                            <td><!--{{item.restNumber}}-->/<!--{{item.totalNumber}}--></td>
							<td><!--{{(item.startTime/1000)|date('Y-m-d')}}--></td>
							<td><!--{{(item.endTime/1000)|date('Y-m-d')}}--></td>
							<td><!--{%if item.onOrOff%}--><a href="<!--{{url('v4giftbag/giftactivity/open-or-close',{id:item.activityId,op:item.offProduct})}}-->" class="badge badge-success">显示</a><!--{%else%}--><a href="<!--{{url('v4giftbag/giftactivity/open-or-close',{id:item.activityId})}}-->" class="badge badge-important">隐藏</a><!--{%endif%}--></td>
							<td>
							    <a href="<!--{{url('v4giftbag/giftactivity/edit',{id:item.activityId})}}-->" class="btn btn-primary">编辑</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			    <div class="modal fade" id="add-uid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">添加用户ID</h4>
				      </div>
				      <div class="modal-body">
				      	<div class="input-prepend">
				      		<span class="add-on">用户</span>
				      		<textarea id="userids" cols="20" rows="5" class="form-control"></textarea>
				      		<span class="add-on">注：每个ID间请用<b style="color:red">逗号（英文）</b>分割</span>
				      	</div>
				      	<div class="input-prepend">
				      	    <span class="add-on col-50">选项</span>
				      	    <label class="add-on"><input id="filter_device" type="checkbox" value="1" />过滤设备</label>
				      	</div>
				      </div>
				      <div class="modal-footer">
				      	<button id="save-apint-uids" type="button" class="btn btn-success">保存</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    gameselect('#gameselect');
    $(".add-uid").click(function(){
    	$("#save-apint-uids").attr("gb-id",$(this).attr("gb-id"));
    	$.get("/v4giftbag/gift/ajax-appoint-uids",{"giftbag_id":$(this).attr("gb-id")},function(data){
    	    $("#userids").val('');
    		if(data){
    			$("#userids").val(data);
        	}else{
        	    $("#userids").val('');
        	}
    	})
    });
    $("#save-apint-uids").click(function(){
        console.log($('#filter_device').prop('checked'));
    	$.post("/giftbag/gift/ajax-appoint-uids",{"giftbag_id":$(this).attr("gb-id"),"uids_str":$("#userids").val(),'filter_device':$('#filter_device').prop('checked')},function(data){
    		alert(data.msg);
    		//console.log(data);    		
    	})
    });
});    
</script>
<!--{%endblock%}-->