<!--{%extends "sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>礼包活动编辑</h3>
			</div>
			<div class="box-content">
			    <form id="gift-info-form" action="<!--{{url('v4agiftbag/giftactivity/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				<input type="hidden" name="activity_id" value="<!--{{ data.activityId }}-->">
			    <div class="row-fluid">
				    <div class="span4">
						<div class="control-group">
							<label class="control-label">开始时间</label>
							<div class="controls">
								<div class="input-append date">
									<input name="start_time" type="text" class="input-medium datetimepicker" value="<!--{{ data.startTimeStr }}-->"
									       data-rule-required="true" data-msg-required="请选择开始时间" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="control-group">
							<label class="control-label">结束时间</label>
							<div class="controls">
								<div class="input-append date">
									<input name="end_time" type="text" class="input-medium datetimepicker" value="<!--{{ data.endTimeStr }}-->"
									       data-rule-required="true" data-msg-required="请选择结束时间" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
				    </div>
				</div>
                <div class="row-fluid">
					<div class="control-group">
						<label class="control-label">礼包</label>
						<div class="controls">
							<div class="input-append">
								<input type="text" id="selected_productName" readonly class="input-large" value="<!--{{ data.productName }}-->" data-rule-required="true" data-msg-required="请选择商品"/>
							</div>
						</div>
					</div>
                </div>
				<div class="control-group">
				    <label for="act-sort" class="control-label">活动排序</label>
				    <div class="controls">
						<input id="sort" name="sort" data-rule-digits="true" data-msg-digits="请填写数字" class="input-small" type="text" value="<!--{{ data.sort }}-->"/>
						<span class="add-on text-warning">数字越大越靠前</span>
				    </div>
			    </div>
			    <div id="exclusive" class="row-fluid">
					<div class="span3">
						<div class="control-group">
							<label class="control-label">是否优惠</label>
							<div class="controls">
								<input id="discount" name="is_discount" data-on-color="success" data-on-text="优惠" data-off-color="danger"
								       data-off-text="无" class="switchbox" type="checkbox" <!--{{ data.isDiscount ? 'checked' : '' }}-->/>
							</div>
						</div>
					</div>
					<div class="span3 discount-price" style="display: none;">
						<div class="control-group">
							<label class="control-label">优惠价格</label>
							<div class="controls">
								<input id="rmb" name="discount_price" class="input-small validate[condRequired[discount]]" type="text" value="<!--{{ data.discountPrice }}-->"/>
								<span class="add-on text-error">元</span>
							</div>
						</div>
					</div>
				    <div class="span3 discount-price" style="display: none;">
						<div class="control-group">
							<label class="control-label">优惠价格</label>
							<div class="controls">
								<input id="coin" name="discount_game_price" class="input-small validate[condRequired[discount]]" type="text" value="<!--{{ data.discountGamePrice }}-->"/>
								<span class="add-on text-error">游币</span>
							</div>
						</div>
					</div>
				</div>
				<div id="exclusive" class="row-fluid">
					<div class="span3">
						<div class="control-group">
							<label class="control-label">是否限量</label>
							<div class="controls">
								<input id="p-limit" name="is_product_limit" data-on-color="success" data-on-text="限量" data-off-color="danger" data-off-text="无"
								       class="switchbox" type="checkbox" <!--{{ data.isProductLimit ? 'checked' : '' }}-->/>
							</div>
						</div>
					</div>
					<div  class="span3 limit-rele" style="display: none;">
						<div class="control-group">
							<label class="control-label">限量数目</label>
							<div class="controls">
								<input id="number" name="total_number" class="input-small validate[condRequired[p-limit]]" type="text" value="<!--{{ data.totalNumber }}-->"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid limit-rele" style="display: none;">
					<div class="span3">
						<div class="control-group">
							<label class="control-label">限量模式</label>
							<div class="controls">
								<label class="radio inline">
									<!--{{ form_radio('limit_mode',1,data.limitMode==1,{'id':'d-limit-mode'}) }}-->每日
								</label>
								<label class="radio inline">
									<!--{{ form_radio('limit_mode',2,data.limitMode==2,{'id':'p-limit-mode','class':'validate[condRequired[p-limit]]'}) }}-->总量
								</label>
							</div>
						</div>
					</div>
					<div id="update-time" class="span3" style="display: none;">
						<div class="control-group">
							<label class="control-label">更新剩余量时间</label>
							<div class="controls">
								<div class="input-append">
									<input id="update-rest-time" name="update_rest_time" type="text" class="input-medium validate[condRequired[d-limit-mode]]" value="<!--{{ data.updateRestTime }}-->"
									       readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
						</div>
					</div>
			    </div>
			    <div class="control-group">
				    <label class="control-label" for="on-or-off">是否开启</label>
				    <div class="controls">
						<input name="on_or_off" data-on-color="success" data-on-text="开启" data-off-color="danger" data-off-text="关闭" class="switchbox" type="checkbox"
								<!--{{ data.onOrOff ? 'checked' : '' }}-->/>
				    </div>
			    </div>
                <div class="control-group">
                    <label class="control-label" for="on-or-off">关联关闭</label>
                    <div class="controls">
                        <input name="off_product" data-on-color="success" data-on-text="开启" data-off-color="danger" data-off-text="关闭" class="switchbox"
                               type="checkbox" <!--{{ data.offProduct ? 'checked' : '' }}-->/>
                        <span class="add-on text-warning">开启代表关闭活动的时候，相应商品（礼包）也会自动关闭</span>
                    </div>
                </div>
				<div class="control-group">
					<label for="textfield" class="control-label">活动描述</label>
					<div class="controls">
						<script id="activity-des" name="description" type="text/plain"><!--{{ data.description }}--></script>
					</div>
				</div>
			    <div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
function set_selected_pro(product_code,product_name){
	$('#selected_productId').val(product_code);
	$('#selected_productName').val(product_name);
	$("input[name='product_name']").val(product_name);
};
$(function(){
	UE.getEditor('activity-des',{toolbars:[["undo","redo","insertunorderedlist","insertorderedlist","link","unlink","cleardoc",
		"simpleupload","emotion","bold","italic","underline","strikethrough","forecolor","backcolor","justifyleft","justifycenter",
		"justifyright","justifyjustify","fontfamily","fontsize"]],initialFrameHeight:200});
	$('input').iCheck({
		checkboxClass: 'icheckbox_square-orange',
		radioClass: 'iradio_square-orange',
		increaseArea: '20%' // optional
	});
	$('.switchbox').bootstrapSwitch();
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i:00',lang:'ch'});
	$('#update-rest-time').datetimepicker({format:'H:i:00',lang:'ch'});

	//初始化显示
	if($("input[name='is_discount']").attr('checked')) $(".discount-price").show();
	$('#discount').on('switchChange.bootstrapSwitch', function (e, data) {
		if(data){
			$(".discount-price").fadeIn();
		}else{
			$(".discount-price").fadeOut();
		}
	});

	if($("input[name='is_product_limit']").attr('checked')) $(".limit-rele").show();
	$('#p-limit').on('switchChange.bootstrapSwitch', function (e, data) {
		if(data){
			$(".limit-rele").fadeIn();
		}else{
			$(".limit-rele").fadeOut();
		}
	});

	if($("input[name='limit_mode']").attr('checked')) $("#update-time").show();
	$("input[name='limit_mode']").on('ifChanged',function(){
		if($("input[name='limit_mode']:checked").val() == 1){
			$("#update-time").fadeIn();
		}else{
			$("#update-time").fadeOut();
		}
	});

	//关联验证
	jQuery("#gift-info-form").validationEngine({'custom_error_messages':{
		"#p-limit-mode":{
			"condRequired": {'message':'<span style="margin-left:100px;width:100px;float: right;">请选择限量模式</span>'}
		},
		"#update-rest-time":{
			"condRequired": {'message':'<span style="margin-left:30px;font-size: 14px;">请选择更新时间</span>'}
		},
		"#rmb":{
			"condRequired": {'message':'<span style="margin-left:20px;">请填写优惠价格</span>'}
		},
		"#coin":{
			"condRequired": {'message':'<span style="margin-left:20px;">请填写优惠价格</span>'}
		},
		"#number":{
			"condRequired": {'message':'<span style="margin-left:5px;">请填写限量数目</span>'}
		}
	}});

    $('.select-pop-pro').on('click',function(){
        $.ajax({
            url:'/v4agiftbag/gift/product-select',
	        data:{p_type:2},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-product-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });
    });
});
</script>
<!--{%endblock%}-->