<!--{%extends "sub-layout-adv.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					系统与版本应用列表		
				</h3>
				<div class="actions">
					<form action="<!--{{url('adv/apptypes/list')}}-->">
						<table class="table-filter">
						<tbody>
						<tr>
							
							<td><input type="text" name="%name" id=""  placeholder="应用名" value="<!--{{search.name}}-->"/></td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
							<td><a href="<!--{{url('adv/apptypes/apptypes-add-edit')}}-->" class="btn btn-teal">添加</a></td>
						</tr>
						</tbody></table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
						    <th class="col-120">应用类型名称</th>
							<!-- <th class="col-150">应用类型</th> -->
							<th class="col-80">版本类型</th>
							<th class="col-120">添加时间</th>
							<th class="table-btn-group-mini">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
							<tr>
								<td><!--{{item.Id}}--></td>
								<td><!--{{item.name}}--></td>
								<!-- <td><!--{{item.type}}--></td> -->
								<td><!--{{item.versionform}}--></td>
								<td><!--{{item.createdatetime}}--></td>
								<td>
									<div class="btn-group">
								           <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">编辑<span class="caret"></span></a>
								           <ul class="dropdown-menu dropdown-primary">
								           	  <!--{% if item.versionform == 'android' %}-->
											   	<li><a href="<!--{{url('adv/apptypes/apptypes-add-edit',{'Id':item.Id,'type':'android'})}}-->" >对应Android版本</a></li>
											  <!--{%endif%}-->
											  <!--{% if item.versionform == 'ios' %}-->
								   			   <li><a href="<!--{{url('adv/apptypes/apptypes-add-edit',{'Id':item.Id,'type':'ios'})}}-->" >对应IOS版本</a></li>
								   			  <!--{%endif%}-->
								   			    <!--{% if item.versionform != 'ios' and item.versionform != 'android' %}-->
								   			    <li><a href="<!--{{url('adv/apptypes/apptypes-add-edit',{'Id':item.Id,'type':'android'})}}-->" >对应Android版本</a></li>
								   			    <li><a href="<!--{{url('adv/apptypes/apptypes-add-edit',{'Id':item.Id,'type':'ios'})}}-->" >对应IOS版本</a></li>
								   			  <!--{%endif%}-->   
								    	   </ul>
							      	</div>
							      <!-- <a href="<!--{{url('adv/apptypes/apptypes-delect',{'Id':item.Id})}}-->" class="btn btn-primary">删除</a> -->
								</td>
							</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->