<!--{%extends "sub-layout-adv.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>系统与版本应用</h3>
			</div>
			<div class="box-content">
			    <form id="form-activity" action="<!--{{url('adv/apptypes/apptypes-add-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <input id="Id" name="Id" type="hidden" value="<!--{{datainfo.Id}}-->" />
				<input id="versionform" name="versionform" type="hidden" value="<!--{{datalist.from}}-->" />
				<div class="control-group">
					<label class="control-label">广告应用名称</label>
					<div class="controls">
						<input type="text" name="name" class="input-xlarge" value="<!--{{datainfo.name}}-->" data-rule-required="true" data-msg-required="名称不能为空" />
						
					</div>
				</div>
				<div class="control-group">
                            <label for="textfield"  class="control-label">系统<span class="nes-star">*</span></label>
                            <div class="controls" id="versionform_controls">
                            	<!--{% if setversion %}-->
                            		<!--{{datainfo.versionform}}-->
                            	<!--{% else %}-->
                                <select  id="versionform_os" name="versionform" >
                                    <option value="ios">ios</option>
                                    <option value="android">android</option>
                                </select>
                                <!--{%endif%}-->
                            </div>  
                    </div>
                <!--{% if recommend %}-->
                		<div class="control-group">
							<label class="control-label">推荐类型</label>
							<div class="controls">
								<!--{{recommend}}-->
							</div>
						</div>
				<!--{%endif%}-->
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
					<!--{% if datainfo.Id %}-->
                		<table id="version_table" class="table table-hover">
						   <caption><a href="javascript:;" id="add" data-type="<!--{{datalist.from}}-->"  class="btn btn-primary">添加对应版本号 </a></caption>
						   
						   <thead>
						      <tr>
						         
						         <th class="col-180">版本号</th>
						         <th class="col-180">系统类型</th>
						         <th class="table-btn-group">操作</th>
						      </tr>
						   </thead>
						   <tbody>
						   <!--{% if version %}-->
						   	  <!--{%for key, item in version%}-->	
							      <tr id="tr_<!--{{item.Id}}-->">
							         
							         <td><!--{{item.versionNumber}}--></td>
							         <td><!--{{item.versionform}}--></td>
							         <td>
							         	<a href="javascript:;" onclick='edit("<!--{{item.Id}}-->","<!--{{item.versionNumber}}-->");return false;' data-id='<!--{{item.Id}}-->'   class='btn btn-primary'>修改</a>
							         	<a href="javascript:;" id="del" onclick="del('<!--{{item.Id}}-->');return false;" data-id="<!--{{item.Id}}-->"    class="btn btn-primary">删除</a>
							         </td>
							      </tr>
						      <!--{%endfor%}-->
						     <!--{%endif%}-->
                            </tbody>
                          
						</table>
					 <!--{%endif%}-->
			    </form>
			</div>
		</div>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               版本添加
            </h4>
         </div>
         <div class="modal-body">
         	<div class="box-content">
         		<input type="hidden" id="version_id" name="version_id" value="" /> 
            	<div class="control-group">
					<label class="control-label">版本名称</label>
					<div class="controls">
						<input type="text" id="varsion_name" name="name" class="input-xlarge" value=""  />
						<span class="help-inline">版本名称不能为空 （如 1.0，1.1）</span>
					</div>
				</div>
			</div>				
         </div>
         <div id="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <a href="javascript:;" id="go_version_" class="btn btn-primary"> 提交更改</a>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->

<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	<!--{% if datainfo.versionform%}-->
	    $("#versionform_os").val('<!--{{datainfo.versionform}}-->');
	<!--{%endif%}-->
	
	function edit(id,name)
	{	
		$("#myModal").modal('show');
		$("#varsion_name").val(name);
		$("#version_id").val(id);
	}
	
	function del(Id)
	{	
		if(!Id) return false;
		$.post('/adv/apptypes/version-del',{'Id':Id},function(data){
			 $("#tr_"+Id).remove();
		});
	}
	
	$(function(){
		$('#add').click(function(){
			$('#myModal').modal('show');
			$("#varsion_name,#version_id").val('');
		});
		$("#go_version_").click(function(){
			
			var vn=$("#varsion_name"),appid=$("#Id").val(),
				datatype=$("#add").attr('data-type'),
				Id=$("#version_id").val();
			if(Id == '') Id=0;
			if(!vn.val() || vn.val() == ''){
 				vn.css({'border':'1px solid red'});
 				return false;
			}
			//$("#modal-footer").html("正在提交数据.....");
			$.post('/adv/apptypes/version-add-edit',{'versionNumber':vn.val(),'apptypes_id':appid,'versionform':datatype,'Id':Id},function(data){
			 
				if(data.status == 1){ 
					var html="<tr id='tr_"+data.datainfo['Id']+"'><td>"+data.datainfo['versionNumber']+"</td><td>"+data.datainfo['versionform']+"</td><td><a class='btn btn-primary' href='javascript:;' data-id='"+data.datainfo['Id']+"' onclick=\"edit("+data.datainfo['Id']+",'"+data.datainfo['versionNumber']+"');return false;\"   >修改</a>&nbsp<a class='btn btn-primary' href='javascript:;' data-id='"+data.datainfo['Id']+"'  onclick=\" del('"+data.datainfo['Id']+"');return false; \" >删除</a></td></tr>";
					$('#myModal').modal('hide');
					$("#version_table tbody").prepend(html);
					$("#versionform_controls").html('<!--{{datainfo.versionform}}-->');
				}
				if(data.status == 2){
					var html="	<td>"+data.datainfo['versionNumber']+"</td><td>"+data.datainfo['versionform']+"</td><td><a class='btn btn-primary' href='javascript:;' data-id='"+data.datainfo['Id']+"' onclick=\"edit("+data.datainfo['Id']+",'"+data.datainfo['versionNumber']+"');return false;\" >修改</a>&nbsp<a class='btn btn-primary' href='javascript:;' data-id='"+data.datainfo['Id']+"'  onclick=\" del('"+data.datainfo['Id']+"');return false; \" >删除</a></td>";
					$('#myModal').modal('hide');
					$("#tr_"+data.datainfo['Id']).html(html);
				}
			},'json');

		});
	})
</script>
<!--{%endblock%}-->