<!--{%extends "sub-layout-adv.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>广告类型</h3>
			</div>
			<div class="box-content">
			    <form id="form-activity" action="<!--{{url('adv/nature/nature-add-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				    <input id="Id" name="Id" type="hidden" value="<!--{{datainfo.Id}}-->" />
					<div class="control-group">
						<label class="control-label">广告类型标题</label>
						<div class="controls">
							<input type="text" name="natureName" class="input-xlarge" value="<!--{{datainfo.natureName}}-->" data-rule-required="true" data-msg-required="标题不能为空" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">是否为推荐</label>
						<div class="controls">
							<!--{% if datainfo.Id %}-->
								 <label class="inline"><!--{{datainfo.is_recommend}}--></label>
								 <input type="hidden" name="is_recommend" value="<!--{{datainfo.is_recommend}}-->">
	                        <!--{% else %}-->
	                        	<label class="radio inline"><!--{{form_radio('is_recommend','推荐',datainfo.is_recommend=='推荐')}}-->推荐模式</label>
	                             <label class="radio inline"><!--{{form_radio('is_recommend','广告模式',datainfo.is_recommend=='广告模式')}}-->广告模式</label>
	                        <!--{% endif %}-->
						</div>
					</div>
					
					 <div id="tuijian" style="display:none">
					 		<div class="control-group">
							<label class="control-label">推荐对应类型</label>
							<div class="controls">
								<select id="recommend_type" name="recommend_type">
									<option value="推荐位">推荐位</option> 
                            		<option value="游戏">游戏</option>
									<option value="热门搜索">热门搜索</option> 
									<option value="热门游戏">热门游戏</option> 
									<option value="猜你喜欢">猜你喜欢</option> 
								</select>
							</div>
						</div>
					 </div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					</div>
					
					<!--{% if datainfo.nature %}-->
                		<table id="version_table" class="table table-hover">
						   <caption>对应广告地址</caption>
						   <thead>
						      <tr>
						         <th class="col-120">Id</th>
						         <th class="col-180">广告地址</th>
						         <th class="col-180">添加时间</th>
						      </tr>
						   </thead>
						   <tbody>
						   	  <!--{%for item in datainfo.nature%}-->	
							      <tr>
							         <td><!--{{item.Id}}--></td>
							         <td><!--{{item.name}}--></td>
							         <td><!--{{item.createdatetime}}--></td>
							      </tr>
						      <!--{%endfor%}-->
                            </tbody>
						</table>
					<!--{%endif%}-->
				</form>
			</div>
		</div>
    </div>
</div>


<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
		$(function(){
			<!--{% if datainfo.is_recommend == '推荐' %}-->
			 	$("#tuijian").show();
			<!--{% endif %}-->
			$("#form-activity").find("[name='is_recommend']").on('click',function(){
				if($(this).val() == '推荐'){
					$("#tuijian").show();
				}else{
					$("#tuijian").hide();
				}
			});
			<!--{% if datainfo.recommend_type %}-->
				$("#recommend_type").val('<!--{{datainfo.recommend_type}}-->');
			<!--{% endif %}-->
		})
</script>
<!--{%endblock%}-->