<!--{%extends "sub-layout-adv.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					广告发布管理		
				</h3>
				<div class="actions">
				   <form action="<!--{{url('adv/releaseadv/list')}}-->">
				    <table class="table-filter">
				    	<tr>
				    		<td>
				    			<select name="=versionform" id='versionform' style="width:120px;margin-bottom:0px" >
				        			<option value=""></option>
				        			<option value="android">android</option>
				        			<option value="ios">ios</option> 
				        		</select>
				    		</td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				    	
				            <td><a href="<!--{{url('adv/releaseadv/releaseadv-add-edit')}}-->" class="btn btn-teal">添加IOS广告</a></td>
				            <td><a href="<!--{{url('adv/releaseadv/releaseadv-add-edit',{'id':0,'from':'android'})}}-->" class="btn btn-teal">添加安卓广告</a></td>
				        </tr>
				    </table>
				   </form> 
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">Id</th>
						    <th class="col-150">广告类型</th>
							
							<th class="col-60">平台</th>
							<th class="col-120">广告地址</th>
							<th class="col-60">浏览器</th>
							<th class="col-80">广告标识</th>
							<th class="table-btn-group-mini">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
							<tr>
								<td><!--{{item.Id}}--></td>
								<td><!--{{item.natureName}}--></td>
								
								<td><!--{{item.versionform}}--></td>
								<td><!--{{item.locationName}}--></td>
								<td><!--{% if item.tosafari == 1%}-->Safari浏览器<!--{% else %}-->内置浏览器 <!--{% endif %}--></td>		
								<td><!--{{item.aid}}--></td>
								<td>
									<a href="<!--{{url('adv/releaseadv/releaseadv-add-edit',{'Id':item.Id,'from':item.versionform})}}-->" class="btn btn-primary">编辑</a>
									<a href="<!--{{url('adv/releaseadv/releaseadv-delect',{'Id':item.Id})}}-->" class="btn btn-primary">删除</a>
								</td>
							</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
<!--{% if search.versionform %}-->
	$("#versionform").val('<!--{{search.versionform}}-->');
<!--{% endif %}-->
	

$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->