<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<br/><br/>
  <form  action="<!--{{url('tuiguang/home/promoter-add')}}-->" method="POST" class='' enctype="multipart/form-data">

    <div class="span12">
	    <div class="box box-color box-bordered">		
				<h3>					
				       推广员分成设置
				</h3>	 
			</div>	
			<div   style="padding-left:34px;">
			<div class="box box-color box-bordered">		
				<h5>					
				   <span>推广员手机号：<!--{{promoterMobile}}-->  </span>
				</h5>	 
			</div>	
			<div class="box box-color box-bordered">		
				<h5>					
				    <span>推广员ID：<!--{{promoterYxdId}}-->  </span>
				</h5>
				<input type="hidden" name="exclusivePromoterId" value="<!--{{promoterId}}-->" />	 
			</div>
			<div class="box box-color box-bordered">		
				<h5>					
				    <span>推广用户数：<!--{{promoterNum}}-->  </span>
				</h5>	 
			</div>	
			<input type="hidden" id="hide_val" name="count" value="0"/>
			
			</div>		
			 <div class="control-group" style="padding-top:24px;" id='control_add'>		 
                    <label class="control-label"><h4>SDK游戏分成 ：<input type="button" class="btn btn-primary game_add" value="添加游戏"></h4> </label>  
              </div>  
              <!--{%for i,item in atask%}--> 
              <div id="divl<!--{{i}}-->">    
                 <label class="control-label">
                                                                   游戏名称：     
                        <div class="input-append">
                            <input type="hidden" name="feeTypel<!--{{i}}-->" value="<!--{{item.feeType}}-->"/>
                            <input type="hidden" name="gameIdl<!--{{i}}-->" value="<!--{{item.gameId}}-->">
                            <input type="hidden" name="game_idl<!--{{i}}-->" value="<!--{{item.gameRefId}}-->">
                            <input type="hidden" name="gameIconl<!--{{i}}-->" value="<!--{{item.gameIcon}}-->">
                            <input type="hidden" name="percentageIdl<!--{{i}}-->" value="<!--{{item.percentageId}}-->">
                            <input type="hidden" name="isActivel<!--{{i}}-->" value="true" class="isActive<!--{{i}}-->">
                            <input type="text" readonly  name="game_namel<!--{{i}}-->" class="input-medium" data-rule-required="true" data-msg-required="请选择游戏" value="<!--{{ item.gameName}}-->" />
                            <span class="add-on ">选择游戏</span>
                            <input type="button" style="margin-left:100px;" class="btn btn-primary " value="删除游戏" onclick="channel_dell(<!--{{i}}-->)" />
                        </div>                  
                    <div class="controls">
                        <label class="radio inline" style="margin-left:"><input name="fcl<!--{{i}}-->" type="radio" value="count" >现金定额 &nbsp&nbsp&nbsp<input type="text" name="rmbRewardl<!--{{i}}-->" class="input-small" value="<!--{%if item.feeType==0%}--><!--{{item.feeValueShow}}--> <!--{%endif%}-->" />元</label>&nbsp 精确到0.01元</br>
                        <label class="radio inline"><input name="fcl<!--{{i}}-->" type="radio" value="prop" >现金百分比 <input type="text" name="rmbRatel<!--{{i}}-->" class="input-small" value="<!--{%if item.feeType==1%}--><!--{{item.feeValueShow}}--> <!--{%endif%}-->" />%</label>&nbsp 精确到0.1%</br>
                        <label class="radio inline">分成上限： <input type="text" name="rmbl<!--{{i}}-->" class="input-small" value="<!--{%if item.feeType==1%}--><!--{{item.upperLimitShow}}--> <!--{%endif%}-->" />元</label>&nbsp 精确到0.01元
                    </div>  
                    <input type='hidden' name='countl' id="countl" value='<!--{{i+1}}-->'/>        
                </label>
            </div>
           	<!--{%endfor%}-->
     <div style="padding-left:120px;" >    <button type="submit" class="btn btn-primary sub" ><i class="icon-ok"></i>保存</button> </div>
    </div>  
</from>
 
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/ajaxfileupload.js"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/Sortable.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
//添加游戏
var set_selected_game=function(gameId,gameName,icon,i){  
    $('#selected_game_id'+i).val(gameId);
    $('#selected_game_name'+i).val(gameName);
    $('#selected_icon'+i).val(icon);
  
};

//添加游戏页面弹出
function add_game(i){
    $.ajax({
            url:'/tuiguang/home/game-search',
            dataType:'json',
            data: {"i":i},  
            success:function(json){
                var html = json.html;
                $.dialog({id:'pop-game-list',title:'添加游戏',padding:2,content:html,width:450,height:300});
            }
        });

}
   
    <!--{%for i,item in atask.percentageBeanList%}--> 
 //动态绑定删除渠道点击事件
   $(".delete<!--{{i}}-->").click(function(i){
        $("#div<!--{{i}}-->").hide();
       

   });
 //判断排序
   <!--{%endfor%}-->
$(".game_add").click(function(){
    var i=parseInt($('#hide_val').val());
    $("#control_add").append('<div id="div'+i+'"><input type="hidden" name="feeType'+i+'" value=""/><label class="control-label">游戏名称：<div class="input-append"><input type="hidden" id="selected_icon'+i+'" value="" name="gameIcon'+i+'"/><input id="selected_game_id'+i+'" name="game_id'+i+'" type="hidden" value="<!--{{atask.gameRefId}}-->"/><input type="text" readonly id="selected_game_name'+i+'" name="game_name'+i+'" class="input-medium" data-rule-required="true" data-msg-required="请选择游戏" value="<!--{{ atask.gameName}}-->" readonly/><span class="add-on" onclick="add_game('+i+')"  >选择游戏</span><input type="button" style="margin-left:100px;" class="btn btn-primary " onclick="game_del('+i+')" value="删除游戏"></div><div class="controls"><label class="radio inline" style="margin-left:"><input name="fc'+i+'" type="radio" value="count" >现金定额 &nbsp<input type="text" name="rmbReward'+i+'" class="input-small" value="<!--{{trade.rmbReward}}-->" />元</label>&nbsp 精确到0.01元</br><label class="radio inline"><input name="fc'+i+'" type="radio" value="prop" >现金百分比 <input type="text" name="rmbRate'+i+'" class="input-small" value="<!--{{trade.rmbRate}}-->" />%</label>&nbsp 精确到0.1%</br><label class="radio inline">分成上限： <input type="text" name="rmb'+i+'" class="input-small"  />元</label>&nbsp 精确到0.01元</div></div></label></div>');     
    i=i+1;
    $('#hide_val').val(i); 
     $('input').iCheck({
         checkboxClass: 'icheckbox_square-orange',
         radioClass: 'iradio_square-orange',
         increaseArea: '20%' // optional
         });
       $('.switchbox').bootstrapSwitch();
 });
 function game_del(i){
    $("#div"+i).remove();
    j= $('#hide_val').val();
    j=j-1;
    $('#hide_val').val(j);     
 }
 $(".sub").click(function(){
  var j=$('#hide_val').val();
  for (var i=0;i<j;i++) {
     // var channelName=$("#div"+i+" #actionId").find("option:selected").text();
     // var channelId=$("#div"+i+" #actionId").val();
      var check_val =$("#div"+i+" input[name='fc"+i+"']:checked").val();  
     // $(".addbox").append('<input type="hidden" name="channelName'+i+'" value="'+channelName+'"/><input type="hidden" name="channelId'+i+'" value="'+channelId+'">');  
      if(check_val=="count"){
         feeType = 0;
         
        $("#div"+i+" input[name='feeType"+i+"']").val(feeType);
        $("#div"+i+" input[name='rmbRate"+i+"']").val('');
        $("#div"+i+" input[name='rmb"+i+"']").val('');
      }
      if(check_val=="prop"){
       feeType = 1;
       $("#div"+i+" input[name='feeType"+i+"']").val(feeType);
       $("#div"+i+" input[name='rmbReward"+i+"']").val('');
      }    
    }
      var  m=$('#countl').val();     
  <!--{%for n,item in atask%}--> 
      //var channelNamel=$("#divl<!--{{n}}--> #actionId").find("option:selected").text();
     // var channelIdl=$("#divl<!--{{n}}--> #actionId").val();
      var check_vall =$("#divl<!--{{n}}--> input[name='fcl<!--{{n}}-->']:checked").val();
     
     // $(".addbox").append('<input type="hidden" name="channelNamel<!--{{n}}-->" value="'+channelNamel+'"/><input type="hidden" name="channelIdl<!--{{n}}-->" value="'+channelIdl+'">');    
      if(check_vall=="count"){
         feeType = 0;
        $("#divl<!--{{n}}--> input[name='feeTypel<!--{{n}}-->']").val(feeType);
        $("#divl<!--{{n}}--> input[name='rmbRatel<!--{{n}}-->']").val('');
        $("#divl<!--{{n}}--> input[name='rmbl<!--{{n}}-->']").val('');
      }
      if(check_vall=="prop"){
       feeType = 1;
       $("#divl<!--{{n}}--> input[name='feeTypel<!--{{n}}-->']").val(feeType);
       $("#divl<!--{{n}}--> input[name='rmbRewardl<!--{{n}}-->']").val('');
      }    
   <!--{%endfor%}-->
  });
  
  
  function channel_dell(i,gameId){           
            $("#divl"+i).hide();  
            $(".isActive"+i).val('false');         
   } 
  
$('input').iCheck({
         checkboxClass: 'icheckbox_square-orange',
         radioClass: 'iradio_square-orange',
         increaseArea: '20%' // optional
         });
       $('.switchbox').bootstrapSwitch();  
  
</script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="<!--{{asset('/static/js/ajaxfileupload.js')}}-->"></script>
<!--{%endblock%}-->