<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					365交易分成列表
				</h3>
				<div class="actions">
				    <form action="<!--{{url('tuiguang/home/transaction-list')}}-->" class="">
				    <table class="table-filter">				        
				        <tr>
				            <td>
                                <input name="gameId" type="text" class="input-medium" placeholder="游戏ID" value="<!--{{search.gameRefId}}-->">
                            </td>
				            <td>
								<input name="gameName" type="text" class="input-medium" placeholder="游戏名称" value="<!--{{search.gameName}}-->">
							</td>
 
							<td><button class="btn btn-teal"><i class="icon-search"></i>查询</button> <input type='button' id="game_add"  class="btn btn-teal" value="添加游戏">
							</td>
                            
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-120">游戏ID</th>
							<th class="col-120">游戏名称</th>                        
                            <th class="col-120">排序</th>                        
                            <th class="col-120">操作</th>	
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.gameRefId}}--></td>
                            <td><!--{{item.gameName}}--></td> 
                            <td><!--{{item.displayIndex}}--></td>                              
                            <td><a href="<!--{{url('tuiguang/home/transaction-list-updata')}}-->?gameId=<!--{{item.gameId}}-->&gameName=<!--{{item.gameName}}-->&gameIcon=<!--{{item.gameIcon}}-->" class="btn btn-teal">设置</a></td>
                            
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){       
    $('a.ajax-del').bind('click',function(){
        if(confirm('确定要删除数据吗？')){
            var id = $(this).attr('id');
            obj = $(this);
            $.post('<!--{{url('yxvl_eSports/VltvLive/ajax-del')}}-->',{id:id,api:"RemoveLiveGraphical"},function(data){
                if(data.success){
                    obj.parent().parent().hide();
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });
});    
   $('#game_add').click(function(){
         $.ajax({
            url: '/tuiguang/home/game-search',
            dataType: 'json',
            success: function (json) {
                var html = json.html;
                $.dialog({id: 'pop-game-list', title: '提示', padding: 2, content: html, width: 600, height: 580});
            }
        });
   
   });
   var set_selected_game=function(gameId,gameName,icon){ 
        $.get('/tuiguang/home/add-games',{gameId:gameId,gameName:gameName,gameIcon:icon},function(data){
             if(data=='ok'){
                   alert('添加成功');
                  location.reload([true]);  
             }else{
                alert('添加失败')
             }  
        });
     };
</script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="<!--{{asset('/static/js/ajaxfileupload.js')}}-->"></script>
<!--{%endblock%}-->