<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<br/><br/>
   
    <div class="span12">
     <form id="form_column" action="<!--{{url('tuiguang/home/transaction-updata')}}-->" method="POST" >
	    <div class="box box-color box-bordered">		
				<h3>					
					Android SDK分成设置
				</h3>	 
			</div>	

			 <div class="control-group">		 
                    <label class="control-label"><h4>关联游戏：</h4>         
                        <div data-provides="fileupload" class="fileupload fileupload-new">
                            <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                <input type="hidden" name="gameIcon" id="selected_icon" value="<!--{{gameIcon}}-->">
                                <img id="selected_game_icon" src="<!--{{gameIcon|default('/static/img/wu_ss.gif')}}-->">
                            </div>
    
                        <div class="input-append">
                            <input id="selected_game_id" name="game_id" type="hidden" value="<!--{{atask.gameRefId}}-->"/>
                           <input id="selected_game_id" name="gameId" type="hidden" value="<!--{{atask.gameId}}-->"/>
                            <input type="text" readonly id="selected_game_name" name="game_name" class="input-medium" data-rule-required="true" data-msg-required="请选择游戏" value="<!--{{gameName}}-->" />
                            
                        </div>                 	
                </label>
                </div>	<br/>
                <input type="hidden" id="hide_val" name="count" value="0"/>
           <div class="box box-color box-bordered addbox">		
				<h3>					
				      添加渠道分成<input type='button' id="channel_add" style="margin-left:35px;" class="btn btn-teal" value="添加渠道">
				</h3>			
		 </div>
		 
		 <input type="hidden" name="gameId" value="<!--{{atask.gameId}}-->" />
     <!--{%for i,trade in atask.percentageBeanList%}-->
	    <div id="divl<!--{{i}}-->">
	        <input type="hidden" name="feeTypel<!--{{i}}-->" value="<!--{{trade.feeType}}-->"/>
	    <td><span style="font-size:16px;margin-right:20px;">渠道名称:</span><!--{{form_select("actionId[]",actionId,trade.channelRefId,{"id":"actionId","style":"margin-top:10px;width:120px"})}}--></td>
	     <input type="button" style="margin-left:100px;" class="btn btn-teal channel_dell<!--{{i}}-->" onclick="channel_dell(<!--{{i}}-->)" value="删除渠道">
	     <div class="controls">
	       <label class="radio inline" style="">
	       <input name="fcl<!--{{i}}-->" type="radio" value="count" >现金定额 <input type="text" name="rmbRewardl<!--{{i}}-->" class="input-small" value=" <!--{%if trade.feeType==0%}--><!--{{trade.feeValueShow}}--> <!--{%endif%}-->" />元</label>&nbsp 精确到0.01元</br>
	       <label class="radio inline"><input name="fcl<!--{{i}}-->" type="radio" value="prop" >现金百分比 <input type="text" name="rmbRatel<!--{{i}}-->" class="input-small" value=" <!--{%if trade.feeType==1%}--><!--{{trade.feeValueShow}}--><!--{%endif%}-->" />%</label>&nbsp 精确到0.1%</br>
	       <label class="radio inline">分成上限： <input type="text" name="rmbl<!--{{i}}-->" class="input-small" value="<!--{%if trade.feeType==1%}--><!--{{trade.upperLimitShow}}--> <!--{%endif%}-->" />元</label>&nbsp 精确到0.01元 
	       <input type='hidden' name='countl' id="countl" value='<!--{{i+1}}-->'>
	       <input type="hidden" name="percentageId<!--{{i}}-->" value="<!--{{trade.percentageId}}-->" />
	       <input type="hidden" class="isActive<!--{{i}}-->" name="isActive<!--{{i}}-->" value="true" />   
	     </div>
	    </div>	      
	<!--{%endfor%}-->
	</br>	
     <button type="submit" class="btn btn-primary sub" ><i class="icon-ok"></i>保存</button> 
     </from>
    </div>  

 
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/ajaxfileupload.js"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/Sortable.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>

<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script>
$(function(){       
    $('a.ajax-del').bind('click',function(){
        if(confirm('确定要删除数据吗？')){
            var id = $(this).attr('id');
            obj = $(this);
            $.post('<!--{{url('yxvl_eSports/VltvLive/ajax-del')}}-->',{id:id,api:"RemoveLiveGraphical"},function(data){
                if(data.success){
                    obj.parent().parent().hide();
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });
});   



$("#channel_add").click(function(){
  var i=parseInt($('#hide_val').val());
       
      $(".addbox").append('<div id="div'+i+'"><input type="hidden" name="feeType'+i+'" value=""/><td><span style="font-size:16px;margin-right:20px;">渠道名称:</span><!--{{form_select("actionId",actionId,search.actionId,{"id":"actionId","style":"margin-top:10px;width:120px"})}}--></td><input type="button" style="margin-left:100px;" class="btn btn-teal channel_del'+i+'" onclick="channel_del('+i+')" value="删除渠道"><div class="controls"><label class="radio inline" style="margin-left:"><input name="fc'+i+'" type="radio" value="count" >现金定额 <input type="text" name="rmbReward'+i+'" class="input-small" value="<!--{{trade.rmbReward}}-->" />元</label>&nbsp 精确到0.01元</br><label class="radio inline"><input name="fc'+i+'" type="radio" value="prop" >现金百分比 <input type="text" name="rmbRate'+i+'" class="input-small" value="<!--{{trade.rmbRate}}-->" />%</label>&nbsp 精确到0.1%</br><label class="radio inline">分成上限： <input type="text" name="rmb'+i+'" class="input-small" value="<!--{{trade.upperLimit}}-->" />元</label>&nbsp 精确到0.01元</div></div>');
       i=i+1;
     $('#hide_val').val(i); 
     $('input').iCheck({
         checkboxClass: 'icheckbox_square-orange',
         radioClass: 'iradio_square-orange',
         increaseArea: '20%' // optional
         });
       $('.switchbox').bootstrapSwitch();
      // channel_del(i);
});
$(".sub").click(function(){
  var j=$('#hide_val').val();
  for (var i=0;i<j;i++) {
      var channelName=$("#div"+i+" #actionId").find("option:selected").text();
      var channelId=$("#div"+i+" #actionId").val();
      var check_val =$("#div"+i+" input[name='fc"+i+"']:checked").val();  
      $(".addbox").append('<input type="hidden" name="channelName'+i+'" value="'+channelName+'"/><input type="hidden" name="channelId'+i+'" value="'+channelId+'">');  
      if(check_val=="count"){
         feeType = 0;
          $("#div"+i+" input[name='feeType"+i+"']").val(feeType);
        $("#div"+i+" input[name='rmbRate"+i+"']").val('');
        $("#div"+i+" input[name='rmb"+i+"']").val('');
      }
      if(check_val=="prop"){
       feeType = 1;
        $("#div"+i+" input[name='feeType"+i+"']").val(feeType);
       $("#div"+i+" input[name='rmbReward"+i+"']").val('');
      }    
    }
 // var i=$("#div1 #actionId").find("option:selected").text();
//alert( feeValueShow);  
    var  m=$('#countl').val();     
  <!--{%for n,trade in atask.percentageBeanList%}-->
   
      var channelNamel=$("#divl<!--{{n}}--> #actionId").find("option:selected").text();
      var channelIdl=$("#divl<!--{{n}}--> #actionId").val();
      var check_vall =$("#divl<!--{{n}}--> input[name='fcl<!--{{n}}-->']:checked").val();
      $(".addbox").append('<input type="hidden" name="channelNamel<!--{{n}}-->" value="'+channelNamel+'"/><input type="hidden" name="channelIdl<!--{{n}}-->" value="'+channelIdl+'">');    
      if(check_vall=="count"){
         feeType = 0;
          $("#divl<!--{{n}}--> input[name='feeTypel<!--{{n}}-->']").val(feeType);
        $("#divl<!--{{n}}--> input[name='rmbRatel<!--{{n}}-->']").val('');
        $("#divl<!--{{n}}--> input[name='rmbl<!--{{n}}-->']").val('');
      }
      if(check_vall=="prop"){
       feeType = 1;
        $("#divl<!--{{n}}--> input[name='feeTypel<!--{{n}}-->']").val(feeType);
       $("#divl<!--{{n}}--> input[name='rmbRewardl<!--{{n}}-->']").val('');
      }    
   <!--{%endfor%}-->
});
//动态删除渠道
 function channel_del(i){           
            $("#div"+i).remove();           
   }
 function channel_dell(i){           
            $("#divl"+i).hide();  
            $(".isActive"+i).val('false');        
   }
 $('input').iCheck({
         checkboxClass: 'icheckbox_square-orange',
         radioClass: 'iradio_square-orange',
         increaseArea: '20%' // optional
         });
       $('.switchbox').bootstrapSwitch();
</script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="<!--{{asset('/static/js/ajaxfileupload.js')}}-->"></script>
<!--{%endblock%}-->