<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					游币分成列表
				</h3>
				<div class="actions">
				    <form action="<!--{{url('tuiguang/home/yb-record')}}-->" class="">
				    <table class="table-filter">				        
				        <tr>
				            <td>
                                <input name="affName" type="text" class="input-medium" placeholder="详情" value="<!--{{search.affName}}-->">
                            </td>
				            <td>
                                <input name="promoterMobile" type="text" class="input-medium" placeholder="推广员手机号" value="<!--{{search.promoterMobile}}-->">
                            </td>
				            <td>
								<input name="userMobile" type="text" class="input-medium" placeholder="推广用户手机号" value="<!--{{search.userMobile}}-->">
							</td>
                            <td><span class="label label-blue">开始时间</span>
                                <div class="input-append date " >
                                    <input name="timeBegin" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search.timeBegin}}-->" readonly>
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                            <td><span class="label label-blue">结束时间</span>
                                <div class="input-append date "  data-date="">
                                    <input name="timeEnd" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker"  value="<!--{{search.timeEnd}}-->" id="date_timepicker_end" readonly>
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                            <td><span class="label label-blue">渠道：</span><!--{{form_select('actionId',actionId,search.actionId,{'id':'actionId','style':'margin-top:10px;width:120px'})}}--></td>
                            

							<td><button class="btn btn-teal"><i class="icon-search"></i>查询</button></td>

				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-120">推广用户</th>
							<th class="col-120">时间</th>
							<th class="col-120">贡献渠道</th>
                            <th class="col-120">用户贡献</th>
                            <th class="col-120">分成金额</th>
                            <th class="col-120">详情</th>
                            <th class="col-120">推广员手机号</th>

						
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.userMobile}}--></td>
                            <td><!--{{item.importTime}}--></td>
                            <td><!--{{item.actionId}}--></td>
                            <td><!--{{item.tradeAmountShow}}--></td>
                            <td><!--{{item.feeAmountShow}}--></td>
                            <td><!--{{item.affName}}--></td>
                            <td><!--{{item.promoterMobile}}--></td>
                            

						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			       共 <!--{{count}}--> 条分成，分成总金额  <!--{{feeAmount*100}}-->
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<script src="/static/js/laydate/laydate.js"></script>
<!--{%endblock%}-->