<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					活动管理				
				</h3>
				<div class="actions">
                    <form action="<!--{{url('duang/activity/list')}}-->">
                        <table class="table-filter">
                            <tr>
                                <td><!--{{form_select('is_show',cond.is_shows,cond.is_show,{'style':'margin-bottom:0px;width:80px;'})}}--></td>
                                <td>
                                    <div class="input-append date datepick" id="dpStart" data-date="">
                                        <input name="startdate" type="text" class="input-small" value="<!--{{search.startdate}}-->" readonly="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-append date datepick" id="dpEnd" data-date="">
                                        <input name="enddate" type="text" class="input-small" value="<!--{{search.enddate}}-->" readonly="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>

                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a href="<!--{{url('duang/activity/edit')}}-->" class="btn btn-teal">添加活动</a></td>
                            </tr>
                        </table>
                    </form>

				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">ID</th>
							<th class="col-180">活动标题</th>
                            <th class="col-100">开始时间</th>
							<th class="col-100">结束时间</th>
							<th class="col-40">状态</th>
                            <th class="col-100">礼包</th>
                            <th class="col-100">Share礼包</th>
							<th class="col-150">游戏</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td>
								<!--{{item.title}}-->
							</td>
							<td><!--{{item.starttime|date('y-m-d H:i')}}--></td>
							<td><!--{{item.endtime|date('y-m-d H:i')}}--></td>
							<td><!--{%if item.is_show==1%}--><span class="badge badge-success">显示</span><!--{%else%}--><span class="badge badge-important">隐藏</span><!--{%endif%}--></td>
                            <td><!--{{item.last_num}}-->/<!--{{item.total_num}}--></td>
                            <td><!--{{item.last_share_num}}-->/<!--{{item.total_share_num}}--></td>
                            <td><!--{{item.game_name}}--></td>
							<td>
							    <a href="<!--{{url('duang/activity/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
                                <div class="btn-group">
                                    <a data-toggle="dropdown" class="btn  btn-primary dropdown-toggle"><span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-primary">

                                        <li><a href="<!--{{url('duang/sharegiftbag/import',{id:item.id})}}-->" class="btn btn-primary">Share导入</a></li>
                                        <li><a href="<!--{{url('duang/sharegiftbag/cardlist',{id:item.id})}}-->" class="btn btn-primary">Share卡号</a></li>
                                    </ul>
                                </div>
                                <a href="<!--{{url('duang/giftbag/import',{id:item.id})}}-->" class="btn btn-primary">导入</a>
                                <a href="<!--{{url('duang/giftbag/cardlist',{id:item.id})}}-->" class="btn btn-primary">卡号</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			    
			    <div class="modal fade" id="share_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">分享的URL</h4>
				      </div>
				      <div class="modal-body">
				      	  <span id="share_url"></span>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				    </div>
				  </div>
				</div>
			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $(".share_btn").click(function(){
        $('#share_url').html($(this).attr('share-url'));
    });
});
</script>
<!--{%endblock%}-->