<!--{%for item in atask.prizeList%}-->

<div class="for_del">
    <input type="hidden" name="prizeId[]" value="<!--{{item.prizeId}}-->"/>
    <div class="control-group" >
        <label class="control-label">icon</label>
        <div class="controls">
            <div data-provides="fileupload" class="fileupload fileupload-new">
                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                    <img src="<!--{{item.prizeIcon|default('http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png')}}-->">
                </div>
                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                    <span class="btn btn-file"><i class="icon-picture"></i>
                                        <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                        <input name="prize_img[]" type="hidden" value="<!--{{item.prizeIcon}}-->"/>
                                        <input type="file" name="prize_pic[]" class="img_validate"  >
                                    </span>
                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
            </div>
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>奖励类型</label>
        <div class='controls'>
            <!--{{form_select('prize_type[]',prize,item.prizeType,{'class':'sel_prize',"readonly":"readonly"})}}-->
            <input  type="button" CLASS="btn-primary btn-danger prize_del" value="删除奖励">
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>奖励内容</label>
        <div class="input-append price1">
            <input type="text" name="youb_num[]" class="input-middle" value="<!--{{item.prizeKey}}-->" placeholder="金额" data-rule-required="true" data-msg-required="金额不能为空"  />
        </div>
        <div class="price2" hidden="hidden">
            <div class="input-append">
                <input class="selected_cardCode" name="card_code[]" value="<!--{{item.prizeKey}}-->" type="hidden"/>
                <input type="text" readonly class="input-small selected_card_name" name="card_des[]" value="<!--{{ item.prizeName }}-->" data-rule-required="true" data-msg-required="请选择卡密" />
                <span class="add-on select-card-code">选择</span>
                <span class="add-on can-use">可上架礼包<span class="text-error">0</span>个</span>
                <input type="hidden" name="prize_gid[]" class="prize_gid" value="<!--{{item.gid}}-->" />
            </div>
            <div class="input-append">
                &nbsp;
                <input type="text" name="num_get[]" class="input-min" value="<!--{{item.stock}}-->" />
                <span class="add-on">分配数量</span>
            </div>
            <div class="input-append">
                &nbsp;
                <input type="text" name="num_auto[]" class="input-min" value="<!--{{item.autoIncrease}}-->" />
                <span class="add-on">自动补货</span>
            </div>

        </div>
    </div>
</div>
<hr>
<!--{%endfor%}-->