<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>版本设置</h3>
			</div>
			<div class="box-content">
				<form id="form-version" action="<!--{{url('system/setting/save-app-version')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				<input name="id" type="hidden" value="<!--{{version.id}}-->" />
				<div class="control-group">
					<label for="textfield" class="control-label">名称</label>
					<div class="controls">
					    <input name="showname" type="text" class="input-xlarge" value="<!--{{version.showname}}-->" />
					</div>
				</div>				
				<div class="control-group">
					<label for="textfield" class="control-label">版本号</label>
					<div class="controls">
					    <input name="version" type="text" class="input-xlarge" value="<!--{{version.version}}-->" data-rule-required="true" data-msg-required="版本号不能为空" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">应用名称</label>
					<div class="controls">
						<!--{% if version.appname %}-->
					    <!--{{version.appname}}-->
					    <input name="appname" type="hidden" class="input-xlarge" value="<!--{{version.appname}}-->" />
					    <!--{% else %}-->
					    <input name="appname" type="text" class="input-xlarge" value="<!--{{version.appname}}-->" />
					    <!--{% endif %}-->
					</div>
				</div>
                    <!--
				<div class="control-group">
					<label for="textfield" class="control-label">渠道</label>
					<div class="controls">
					    <input name="channel" type="text" class="input-xlarge" value="<!--{{version.channel}}-->" />
					</div>
				</div>
                -->
				<div class="control-group">
					<label for="textfield" class="control-label">appstore地址</label>
					<div class="controls">
					    <input name="appstoreurl" type="text" class="input-xxlarge" value="<!--{{version.appstoreurl}}-->" />
					</div>
				</div>
				<!--
				<div class="control-group">
					<label for="textfield" class="control-label">H5网址</label>
					<div class="controls">
					    <input name="lm" type="text" class="input-xxlarge" value="<!--{{version.lm}}-->" />
					</div>
				</div>
                -->
				<div class="control-group">
					<label for="textfield" class="control-label">下载短网址</label>
					<div class="controls">
					    <input name="ss" type="text" class="input-xxlarge" value="<!--{{version.ss}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">版本状态</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('versionstate',1,version.versionstate==1)}}-->开放版</label>
					    <label class="radio inline"><!--{{form_radio('versionstate',2,version.versionstate==2)}}-->提审版</label>
					</div>
				</div>	
				<div class="control-group">
					<label for="textfield" class="control-label">评分状态</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('scorestate',1,version.scorestate==1)}}-->开启评论</label>
					    <label class="radio inline"><!--{{form_radio('scorestate',2,version.scorestate==2)}}-->关闭评分</label>
					</div>
				</div>
                    <!--
				<div class="control-group">
					<label for="textfield" class="control-label">下载状态</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('dl',1,version.dl==1)}}-->开启下载</label>
					    <label class="radio inline"><!--{{form_radio('dl',0,version.dl==0)}}-->关闭下载</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">首页弹窗</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('gg',1,version.gg==1)}}-->开启弹窗</label>
					    <label class="radio inline"><!--{{form_radio('gg',0,version.gg==0)}}-->关闭弹窗</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">详情页弹窗</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('adv',1,version.adv==1)}}-->开启弹窗</label>
					    <label class="radio inline"><!--{{form_radio('adv',0,version.adv==0)}}-->关闭弹窗</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">首页广告条</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('bar',1,version.bar==1)}}-->开启广告条</label>
					    <label class="radio inline"><!--{{form_radio('bar',0,version.bar==0)}}-->关闭广告条</label>
					</div>
				</div>
                    -->
				<div class="control-group">
					<label for="textfield" class="control-label">强制更新</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('isforce',1,version.isforce==1)}}-->开启更新</label>
					    <label class="radio inline"><!--{{form_radio('isforce',0,version.isforce==0)}}-->关闭更新</label>
					</div>
				</div>	
				<div class="control-group">
					<label for="textfield" class="control-label">更新版本</label>
					<div class="controls">
					    <input name="updateversion" type="text" class="input-small" value="<!--{{version.updateversion}}-->" />
					</div>
				</div>
				<!-- <div class="control-group">
					<label for="textfield" class="control-label">更新提示文字</label>
					<div class="controls">
					    <input name="updateword" type="text" class="input-xxlarge" value="<!--{{version.updateword}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">启动页广告执行时间</label>
					<div class="controls">
					    <input name="lt" type="text" class="input-small" value="<!--{{version.lt|default(0)}}-->" />
					</div>
				</div> -->
				<input name="lt" type="hidden" class="input-small" value="<!--{{version.lt|default(0)}}-->" />

				<div class="control-group">
					<label for="textfield" class="control-label">更新说明</label>
					<div class="controls">
						<script id="intro" name="intro" type="text/plain"><!--{{ version.intro }}--></script>
					</div>
				</div>

                    <div id="syspic">
                    	<input id="sys_img" name="sys_img" type="hidden" value="<!--{{version.sys_img}}-->" />
                        <input id="syspic-count" name="syspic-count" type="hidden" value="<!--{{version.syspiccount}}-->" />
                    	<input id="syspic-delids" name="syspic-delids" type="hidden" value="" />
						<!--{% for k, syspic in version.syspicVendorsList %}-->
                    	<div id="syspic-sub-<!--{{k}}-->" >
                    	<button type="button" class="btn btn-danger syspic-del control-group">X</button> 
                    	<input name="syspicid[]" type="hidden" class="input-xxlarge syspicid" value="<!--{{k}}-->" />

	                    <div class="control-group" id="adv_pic">
	                    <div class="row-fluid">
	                        <div class="span3">
	                            <div class="control-group">
	                                <label class="control-label">更新图片:</label>
	                                <div class="controls">
	                                    <div class="fileupload fileupload-new" data-provides="fileupload">
	                                        <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
	                                            <img src="<!--{{syspic|default('/static/img/nopic.gif')}}-->" />
	                                        </div>
	                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
	                                        <div>
	                                            <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file"  name='sys_img_<!--{{k}}-->' /></span>
	                                        </div>
	                                    </div>
	                                    <span class="help-inline"></span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                        </div>
                        </div>
                    	<!--{% endfor %}-->
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary syspic-add">新增更新图片</button>
                    </div>
                    </div>
                    
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>

<div id="syspic-module" style="display:none">
	<button type="button" class="btn btn-danger syspic-del control-group">X</button> 
	<input name="syspicid[]" type="hidden" class="input-xxlarge syspicid" value="#i#" />
	<div class="control-group" id="adv_pic">
                 
		<div class="row-fluid">
        	<div class="span3">
				<div class="control-group">
					<label class="control-label">广告图:</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
								<img src="/static/img/nopic.gif" />
							</div>
						<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
						<div>
							<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file" data-rule-required="true"  data-msg-required="请选择图片" name='sys_img_#i#' /></span>
						</div>
					</div>
                    <span class="help-inline"></span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script>
var c = 100;
$(function(){
	UE.getEditor('intro',{initialFrameHeight:100});

	});

        $('.syspic-add').bind('click',function(){
        	c = c + 1;
        	var d = $('#syspic-count').val();
        	if (d) {
        		d += ',';
        	}
        	d += c;
        	$('#syspic-count').val(d);
        	var add = '<div id="syspic-sub-'+c+'">'+$('#syspic-module').html()+'</div>';
        	add = add.replace(/#i#/g, c);
			$('#syspic').append(add);
        });
        $('.syspic-del').live('click',function(){
        	if ($(this).parent().children('.syspicid').val()) {
        		var ids = $('#syspic-count').val();
        		var v = $(this).parent().children('.syspicid').val();
        		if (ids.indexOf(",")<0) {
        			ids = ids.replace(v, "");
        		} else if (ids.indexOf(v)>0) {
        			ids = ids.replace(','+v, "");
        		} else {
        			ids = ids.replace(v+',', "");
        		}
        		$('#syspic-count').val(ids);
        	}
        	
        	$(this).parent().remove();
        });
</script>
<!--{%endblock%}-->