<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>版本设置</h3>
			</div>
			<div class="box-content">
				<form id="form-version" action="<!--{{url('system/setting/save-app-version')}}-->" method="POST" class='form-horizontal form-validate'>
				<input name="id" type="hidden" value="<!--{{version.id}}-->" />
				<div class="control-group">
					<label for="textfield" class="control-label">名称</label>
					<div class="controls">
					    <input name="showname" type="text" class="input-xlarge" value="<!--{{version.showname}}-->" />
					</div>
				</div>				
				<div class="control-group">
					<label for="textfield" class="control-label">版本号</label>
					<div class="controls">
					    <input name="version" type="text" class="input-xlarge" value="<!--{{version.version}}-->" data-rule-required="true" data-msg-required="版本号不能为空" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">应用名称</label>
					<div class="controls">
					    <input name="appname" type="text" class="input-xlarge" value="<!--{{version.appname}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">渠道</label>
					<div class="controls">
					    <input name="channel" type="text" class="input-xlarge" value="<!--{{version.channel}}-->" />
					</div>
				</div>				
				<div class="control-group">
					<label for="textfield" class="control-label">appstore地址</label>
					<div class="controls">
					    <input name="appstoreurl" type="text" class="input-xxlarge" value="<!--{{version.appstoreurl}}-->" />
					</div>
				</div>
				
				<div class="control-group">
					<label for="textfield" class="control-label">H5网址</label>
					<div class="controls">
					    <input name="lm" type="text" class="input-xxlarge" value="<!--{{version.lm}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">下载短网址</label>
					<div class="controls">
					    <input name="ss" type="text" class="input-xxlarge" value="<!--{{version.ss}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">版本状态</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('versionstate',1,version.versionstate==1)}}-->开放版</label>
					    <label class="radio inline"><!--{{form_radio('versionstate',2,version.versionstate==2)}}-->提审版</label>
					</div>
				</div>	
				<div class="control-group">
					<label for="textfield" class="control-label">评分状态</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('scorestate',1,version.scorestate==1)}}-->开启评论</label>
					    <label class="radio inline"><!--{{form_radio('scorestate',2,version.scorestate==2)}}-->关闭评分</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">下载状态</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('dl',1,version.dl==1)}}-->开启下载</label>
					    <label class="radio inline"><!--{{form_radio('dl',0,version.dl==0)}}-->关闭下载</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">首页弹窗</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('gg',1,version.gg==1)}}-->开启弹窗</label>
					    <label class="radio inline"><!--{{form_radio('gg',0,version.gg==0)}}-->关闭弹窗</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">详情页弹窗</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('adv',1,version.adv==1)}}-->开启弹窗</label>
					    <label class="radio inline"><!--{{form_radio('adv',0,version.adv==0)}}-->关闭弹窗</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">首页广告条</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('bar',1,version.bar==1)}}-->开启广告条</label>
					    <label class="radio inline"><!--{{form_radio('bar',0,version.bar==0)}}-->关闭广告条</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">强制更新</label>
					<div class="controls">
					    <label class="radio inline"><!--{{form_radio('isforce',1,version.isforce==1)}}-->开启更新</label>
					    <label class="radio inline"><!--{{form_radio('isforce',0,version.isforce==0)}}-->关闭更新</label>
					</div>
				</div>	
				<div class="control-group">
					<label for="textfield" class="control-label">更新版本</label>
					<div class="controls">
					    <input name="updateversion" type="text" class="input-small" value="<!--{{version.updateversion}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">更新提示文字</label>
					<div class="controls">
					    <input name="updateword" type="text" class="input-xxlarge" value="<!--{{version.updateword}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">启动页广告执行时间</label>
					<div class="controls">
					    <input name="lt" type="text" class="input-small" value="<!--{{version.lt|default(0)}}-->" />
					</div>
				</div>		
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->