<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					版本管理
				</h3>	
				<div class="actions">
				    <table class="table-filter">
				        <tr>				            
				            <td>
				                <a href="<!--{{url('system/setting/app-version')}}-->" class="btn btn-teal">添加新版本</a>
				            </td>
				        </tr>
				    </table>
				</div>			
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-50">ID</th>
						    <th>名称</th>
							<th class="col-80">版本</th>
							<th>应用名称</th>
							<th>渠道</th>
							<th>开放状态</th>
							<th>评分状态</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.showname}}--></td>
							<td><!--{{item.version}}--></td>
							<td><!--{{item.appname}}--></td>
							<td><!--{{item.channel}}--></td>
							<td><!--{%if item.versionstate==1%}--><span class="badge badge-success">开放版</span><!--{%else%}--><span class="badge badge-important">提审版</span><!--{%endif%}--></td>
							<td><!--{%if item.scorestate==1%}--><span class="badge badge-success">开启评分</span><!--{%else%}--><span class="badge badge-important">关闭评分</span><!--{%endif%}--></td>
							<td>
							    <a href="<!--{{url('system/setting/app-version',{'id':item.id})}}-->" class="btn btn-primary"><i class="icon-edit"></i>编辑</a>							    
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->