<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>权限节点</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('system/authorize/save')}}-->" method="POST" class='form-horizontal'>
				<input name="id" type="hidden" value="<!--{{node.id}}-->" />				
				<div class="control-group">
					<label for="textfield" class="control-label">分组</label>
					<div class="controls">
					    <input name="appname" id="appname" type="text" class="input-xlarge" value="<!--{{node.appname}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">分组描述</label>
					<div class="controls">
					    <input name="appinfo" id="appinfo" type="text" class="input-xlarge" value="<!--{{node.appinfo}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">类型</label>
					<div class="controls">
					    <!--{{form_select('module',{'normal':'普通','admin':'管理'},node.module)}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">规则</label>
					<div class="controls">
					    <input name="rule" id="rule" type="text" class="input-xlarge" value="<!--{{node.rule}}-->" rel="tooltip" data-placement="right" data-original-title="必须是英文字母、下划线" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">规则描述</label>
					<div class="controls">
					    <input name="ruleinfo" id="ruleinfo" type="text" class="input-xlarge" value="<!--{{node.ruleinfo}}-->" />
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->