<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>积分设置</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('system/credit/save')}}-->" method="POST" class='form-horizontal'>
				<input name="id" type="hidden" value="<!--{{credit.id}}-->" />				
				<div class="control-group">
					<label for="textfield" class="control-label">名称</label>
					<div class="controls">
					    <input name="name" id="name" type="text" class="input-xlarge" value="<!--{{credit.name}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">描述</label>
					<div class="controls">
					    <input name="alias" id="alias" type="text" class="input-xlarge" value="<!--{{credit.alias}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">类型</label>
					<div class="controls">
					    <!--{{form_select('type',{'core':'核心','forum':'论坛'},credit.type,{'class':'input-xlarge'})}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">奖励周期</label>
					<div class="controls">
					    <!--{{form_select('crcletype',{'0':'永久','1':'每天','2':'每周','3':'每月'},credit.crcletype,{'class':'input-xlarge'})}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">奖励次数</label>
					<div class="controls">
					    <input name="rewardnum" id="rewardnum" type="text" class="input-small" value="<!--{{credit.rewardnum}}-->" rel="tooltip" data-placement="right" data-original-title="默认为0,表示无限制" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">游币</label>
					<div class="controls">
					    <input name="score" id="score" type="text" class="input-small" value="<!--{{credit.score}}-->" rel="tooltip" data-placement="right" data-original-title="正数为增加，负数为减少" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">经验</label>
					<div class="controls">
					    <input name="experience" id="experience" type="text" class="input-small" value="<!--{{credit.experience}}-->" rel="tooltip" data-placement="right" data-original-title="正数为增加，负数为减少" />
					</div>
				</div>
				<div class="control-group" style="display:none">
					<label for="textfield" class="control-label">通知模板</label>
					<div class="controls">
					    <textarea name="info" class="input-xlarge"><!--{{credit.info}}--></textarea>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->