<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					积分等级
				</h3>
				<div class="actions">
				    <!--{#
				    <form>
				    <table class="table-filter">
				        <tr>				            
				            <td><a href="<!--{{url('system/grade/edit')}}-->" class="btn btn-teal"><i class="icon-plus"></i>添加等级</a></td>
				        </tr>
				    </table>
				    </form>
				    #}-->
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40"><input type="checkbox" name="all" value="" /></th>
						    <th class="col-50">ID</th>
							<th class="col-80">名称</th>
							<th class="col-80">图标</th>
							<th class="col-80">上限</th>
							<th class="col-80">下限</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
						    <td><input type="checkbox" name="ids" value="<!--{{item.id}}-->" /></td>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.name}}--></td>
							<td><img src="http://img.youxiduo.com/userdirs/common/level/<!--{{item.img}}-->"/></td>
							<td><!--{{item.start}}--></td>
							<td><!--{{item.end}}--></td>
							<td>
							    <a href="<!--{{url('system/grade/edit',{'id':item.id})}}-->" class="btn btn-primary"><i class="icon-edit"></i>编辑</a>							    
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->