<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>首页图片设置</h3>
			</div>
			<div class="box-content">
			    <form action="<!--{{url('system/picture/save')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <div class="control-group">
					<label for="textfield" class="control-label">网游预告</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.yugao}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="yugao"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">资讯中心</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.zixun}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="zixun"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">美女视频</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.shipin}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="shipin"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">特色专题</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.zhuanti}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="zhuanti"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">经典必玩</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.biwan}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="biwan"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">社区广场图一</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.plaza_1}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="plaza_1"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">社区广场图二</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.plaza_2}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="plaza_2"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">社区广场图三</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.plaza_3}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="plaza_3"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">商城顶部图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{config.shop_topbar}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="shop_topbar"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>
			    </form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->