<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>权限节点</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('system/authorize/save')}}-->" method="POST" class='form-horizontal'>
				<input name="id" type="hidden" value="<!--{{node.id}}-->" />
				<!--{%for module in nodelist.menu%}-->								
				<div class="control-group">
					<label for="textfield" class="control-label"><!--{{module.name}}--></label>
					<div class="controls">
					    <!--{%for node in module.child_menu%}-->
					    <label class="checkbox inline">
					        <!--{{form_checkbox('node_id[]','',false)}}--><span class="fc-blue"><!--{{node.name}}--></span>					        					        
					    </label>
					    <!--{%endfor%}-->
					</div>
				</div>
				<!--{%endfor%}-->
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->