<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					API接口统计
				</h3>
				<div class="actions">
				    <form>
				    <table class="table-filter">
				        <tr>				            
				            <td>
				                <!--{{form_select('files',files)}}-->
				            </td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-50">ID</th>
							<th class="col-80">接口名称</th>
							<th class="col-80">执行时间</th>
							<th class="col-80">请求时间</th>							
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.api_name}}--></td>
							<td><!--{{item.exec_time}}-->ms</td>
							<td><!--{{item.request_time}}--></td>							
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->