<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>分享活动信息</h3>
			</div>
			<div class="box-content">
				<form id="form-share" action="<!--{{url('system/share/adv-edit')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data">
				<input name="id" type="hidden" value="<!--{{adv.id}}-->" />										
				<input name="platform" type="hidden" value="ios" />
				<input name="tpl_ename" type="hidden" value="<!--{{adv.tpl_ename|default(tpl_ename)}}-->" />				
				<div class="control-group">
					<label for="textfield" class="control-label">目标对象</label>
					<div class="controls">					    
					    <div class="input-append">
					        <input id="target_id" name="target_id" type="hidden" value="<!--{{adv.target_id}}-->"/>
						    <input id="target_title" name="target_title" type="text" class="input-xxlarge" value="" />
						    <span class="add-on select-pop-activity">选择目标</span>
					    </div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">分享标题</label>
					<div class="controls">
						<input name="title" type="text" class="input-xxlarge" value="<!--{{adv.title}}-->"/>
					</div>
				</div>				
				<div class="control-group">
					<label class="control-label">小图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;"><img src="<!--{%if adv.icon%}--><!--{%endif%}--><!--{{adv.icon|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input type="file" name='icon' /></span>
							</div>
						</div>
						<span class="help-inline">小图最佳尺寸：120*120</span>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">微信模板内容</label>
					<div class="controls">
						<textarea name="weixin" class="input-xxlarge" rows="3"><!--{{adv.weixin}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">微博模板内容</label>
					<div class="controls">
						<textarea name="weibo" class="input-xxlarge" rows="3"><!--{{adv.weibo}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">跳转URL</label>
					<div class="controls">
					    <input name="redirect_url" type="text" class="input-xxlarge" value="<!--{{adv.redirect_url}}-->" />
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label">开始时间</label>
					<div class="controls">
						<div class="input-append date">
							<input name="start_time" type="text" class="input-medium datetimepicker" value="<!--{{adv.start_time|date('Y-m-d H:i')}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">结束时间</label>
					<div class="controls">
						<div class="input-append date">
							<input name="end_time" type="text" class="input-medium datetimepicker" value="<!--{{adv.end_time|date('Y-m-d H:i')}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">是否开启</label>
					<div class="controls">	
				        <!--{{form_checkbox('is_show',1,adv.is_show==1,{'class':'switchbox'})}}-->
				    </div>
				</div>		
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
//选择游戏
var set_selected_game = function(game_id,game_name,icon){
    $('#target_id').val(game_id);
    $('#target_title').val(game_name);
};
//选择活动
var set_selected_activity = function(id,title){
    $('#target_id').val(id);
    $('#target_title').val(title);
};

//选择礼包
var set_selected_giftbag = function(id,title){
    $('#target_id').val(id);
    $('#target_title').val(title);
};
$(function(){
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    $('.switchbox').bootstrapSwitch();
    //选择游戏
    $('.select-pop-game').bind('click',function(){        
        $.ajax({
            url:'/game/api/game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });  
    
    //选择活动弹窗
	$('.select-pop-activity').bind('click',function(){
        var no = $(this).attr('data-no');
        var url =  '/a_activity/activity/pop-search/'+ no;        
        $.ajax({
            url:url,
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-data-list',title:'提示',padding:2,content:html,width:600});
            }
        });        
    }); 
    //初始化活动
    if($('#target_id').val()){
        $.ajax({
            url:'/a_activity/activity/pop-info/'+$('#target_id').val(),
            dataType:'json',
            success:function(json){
                $('#target_title').val(json.activity.title);
            },
            error:function(err){alert(err);}
        });
    } 
    
    //选择礼包弹窗
	$('.select-pop-giftbag').bind('click',function(){
        var no = $(this).attr('data-no');
        var url =  '/a_giftbag/gift/pop-search/'+ no;        
        $.ajax({
            url:url,
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-data-list',title:'提示',padding:2,content:html,width:600});
            }
        });        
    }); 
    //初始化礼包
    if($('#target_id').val()){
        $.ajax({
            url:'/a_giftbag/gift/pop-info/'+$('#target_id').val(),
            dataType:'json',
            success:function(json){
                $('#target_title').val(json.giftbag.title);
            },
            error:function(err){alert(err);}
        });
    }   
    console.log($('#target_id').val());    
});
</script>
<!--{%endblock%}-->   