<!--{%extends "sub-layout-system.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>系统设置</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('system/setting/save-web')}}-->" method="POST" class='form-horizontal'>				
				<div class="control-group">
					<label for="textfield" class="control-label">网站名称</label>
					<div class="controls">
					    <input name="name" id="name" type="text" class="input-xlarge" value="<!--{{web.name}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">网站描述</label>
					<div class="controls">
					    <input name="meta_description" type="text" class="input-xlarge" value="<!--{{web.meta_description}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">网站关键词</label>
					<div class="controls">
					    <input name="meta_keywords" type="text" class="input-xlarge" value="<!--{{web.meta_keywords}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">备案号</label>
					<div class="controls">
					    <input name="icp" type="text" class="input-xlarge" value="<!--{{web.icp}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">敏感词过滤</label>
					<div class="controls">
					    <textarea name="filter_words" class="input-xxlarge"><!--{{web.filter_words}}--></textarea>
					    <span class="help-inline">多个词之间用|分割</span>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">评论限制</label>
					<div class="controls">
					    <label class="checkbox inline"><!--{{form_checkbox('close_comment','1',web.close_comment)}}-->关闭评论功能</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">发帖限制</label>
					<div class="controls">
					    <label class="checkbox inline"><!--{{form_checkbox('close_topic','1',web.close_topic)}}-->关闭发帖功能</label>
					</div>
				</div>	
				<div class="control-group">
					<label for="textfield" class="control-label">清除所有模板模板缓存</label>
					<div class="controls">
					    <button id="clean" type="button" class="btn btn-success">清除</button>
					</div>
				</div>			
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/plugins/raty/js/jquery.raty.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
$(function(){
	$('#clean').click(function(){
		$.get("/system/setting/clean",{},function(data){
			alert('删除成功！');
		});
	});
});
</script>
<!--{%endblock%}-->