<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>时间设置</h3>
			</div>
			<div class="box-content">
			    <form id="form_column" action="#nogo" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">


                <div class="control-group">
                    <label class="control-label">开始时间：</label>
                    <div class="controls">
                        <div class="input-append date " >
                            <input name="registerTimeBegin" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{registerTimeBegin}}-->">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <input type="button" CLASS="btn-primary tijiao"did="registerTimeBegin" value="保存" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">结束时间：</label>
                    <div class="controls">
                        <div class="input-append date " >
                            <input name="registerTimeEnd" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{registerTimeEnd}}-->">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <input type="button" CLASS="btn-primary tijiao"did="registerTimeEnd" value="保存" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">次数：</label>
                    <div class="controls">
                        <div class="input-append date " >
                            <input type="text" name="freeTimes" id="tags" class="tagsinput" value="<!--{{freeTimes}}-->">
                        </div>
                        <input type="button" CLASS="btn-primary tijiao"did="freeTimes" value="保存" />
                    </div>
                </div>

			    <div class="form-actions">
				</div>
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/laydate1.1/laydate.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script>
    var img_path;
$(function(){

    $(".tijiao").click(function(){
        var configKey = $(this).attr("did");
        var configValue = $("input[name='"+configKey+"']").val();
        if(!configValue){
            alert("不能传空");
        }
        $.post('<!--{{url('v4alotteryproduct/bigwheel/ajax-do')}}-->',{configKey:configKey,configValue:configValue},function(data){
            if(data.success=="true"){
                alert("修改成功！");
            }else{
                alert(data.data);
            }
        },"json")
    })

});
$('input').iCheck({
    checkboxClass: 'icheckbox_square-orange',
    radioClass: 'iradio_square-orange',
    increaseArea: '20%' // optional
});
$('.switchbox').bootstrapSwitch();
</script>
<!--{%endblock%}-->