<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-content">
                <form action="<!--{{url('user/users/android-report')}}-->" method="GET" class='form-horizontal' enctype="multipart/form-data">
                    <div class="box box-bordered">
                        <div class="box-title">
                            <h3>
                                <i class="icon-reorder"></i>
                                安卓游币收支报表
                            </h3>
                        </div>
                        <div class="box-content">
                            <div class="control-group">
                                <label class="control-label">时间范围</label>
                                <div class="controls">
                                    <div class="input-append date datepick" id="dpStart" data-date="">
                                        <input name="startdate" type="text" class="input-small" value="<!--{{search.startdate}}-->" readonly="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                    <div class="input-append date datepick" id="dpEnd" data-date="">
                                        <input name="enddate" type="text" class="input-small" value="<!--{{search.enddate}}-->" readonly="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                    <button class="btn btn-teal"><i class="icon-search"></i>查询</button>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">购买商品</label>
                                <div class="controls">
                                    <span class="label label-important"><!--{{buy_sum|default(0)}}--></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">兑换礼包</label>
                                <div class="controls">
                                    <span class="label label-important"><!--{{gift_sum|default(0)}}--></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">任务</label>
                                <div class="controls">
                                    <span class="label label-success"><!--{{task_sum|default(0)}}--></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">签到</label>
                                <div class="controls">
                                    <span class="label label-success"><!--{{checkins_sum|default(0)}}--></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">发放</label>
                                <div class="controls">
                                    <span class="label label-success"><!--{{manage_sum|default(0)}}--></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">商城</label>
                                <div class="controls">
                                    <span class="label label-success"><!--{{shop_sum|default(0)}}--></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">分享</label>
                                <div class="controls">
                                    <span class="label label-success"><!--{{share_sum|default(0)}}--></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->

<!--{%endblock%}-->