<!--{%extends "sub-layout-user.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					用户列表
					<span class="badge badge-warning"><!--{{totalcount}}--></span>
				</h3>
				<div class="actions">
				
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">
						        
							</th>
						    <th class="col-50">ID</th>
							<th class="col-100">用户名</th>
							<th class="col-60">人民币</th>
                            <th class="col-60">操作人</th>
							<th class="col-160">时间</th>
                            <th class="col-160">IP</th>
							<th>信息</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
						    <td></td>
							<td><!--{{item.uid}}--></td>
							<td><!--{{user.nickname}}--></td>							
							<td><!--{{item.credit/100}}--></td>
                            <td><!--{{item.operator}}--></td>
							<td><!--{{item.mtime|date('Y-m-d H:i:s')}}--></td>
							<td><!--{{item.remoteIp}}--></td>
                            <td><!--{{item.info}}--></td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->