<!--{%extends "sub-layout-user.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>用户信息</h3>
			</div>
			<div class="box-content">
				<form id="user-edit" action="<!--{{url('user/users/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				<input name="act" type="hidden" value="edit" />
				<input name="uid" type="hidden" value="<!--{{user.uid}}-->" />
				<div class="control-group">
					<label for="textfield" class="control-label">用户头像</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 200px; max-height: 150px;"><img src="<!--{{user.avatar|default('/static/img/common/avatar.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span><input type="file" name='avatar' /></span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
							</div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">用户邮箱</label>
					<div class="controls">
						<input type="text" name="email" id="email" class="input-xlarge" value="<!--{{user.email}}-->">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">用户昵称</label>
					<div class="controls">
						<input type="text" name="nickname" id="nickname" class="input-xlarge" value="<!--{{user.nickname}}-->">
					</div>
				</div>								
				<div class="control-group">
					<label for="textfield" class="control-label">手机号码</label>
					<div class="controls">
						<input type="text" name="mobile" id="mobile" class="input-small" value="<!--{{user.mobile}}-->">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">手机状态</label>
					<div class="controls">
						<label class="checkbox inline">
						    <!--{{form_checkbox('is_valid',true,is_valid==true)}}-->已通过短信验证
						</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">IOS游币</label>
					<div class="controls">
						<label class="label"><!--{{user.score}}--></label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">Android游币</label>
					<div class="controls">
						<label class="label"><!--{{moneys[user.uid]['balance']|default(0)}}--></label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">当前经验等级</label>
					<div class="controls">
						<label><img src="<!--{{config('app.img_url')}}--><!--{{user.level_icon}}-->"/></label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">性别</label>
					<div class="controls">
					    <label class="radio inline">
	                        <!--{{form_radio('sex','1',user.sex==1)}}-->男							    						
					    </label>
					    <label class="radio inline">
	                        <!--{{form_radio('sex','2',user.sex==2)}}-->女							    						
					    </label>
					    <label class="radio inline">
	                        <!--{{form_radio('sex','0',user.sex==0)}}-->保密							    						
					    </label>			                
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">出生日期</label>
					<div class="controls">
						<div class="input-append date datepick" id="dpEnd" data-date="">
							<input name="birthday" type="text" class="input-small" value="<!--{{user.birthday}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<!--{%if allow_modify_user==true%}-->
				<!--<div class="control-group">
					<label for="textfield" class="control-label">游币</label>
					<div class="controls">
						<input id="score" type="text" name="score" class="input-small" value="">
					</div>
				</div>

				<div class="control-group">
					<label for="textfield" class="control-label">备注（游币）</label>
					<div class="controls">
						<input id="score_info" type="text" name="score_info" class="input-xlarge validate[condRequired[score]]" value="">
					</div>
				</div>
                <div class="control-group">
                    <label for="textfield" class="control-label">人民币</label>
                    <div class="controls">
                        <input id="rmb" type="text" name="rmb" class="input-small" value="">
                    </div>
                </div>
                <div class="control-group">
                    <label for="textfield" class="control-label">备注（人民币）</label>
                    <div class="controls">
                        <input id="rmb_info" type="text" name="rmb_info" class="input-xlarge validate[condRequired[score]]" value="">
                    </div>
                </div>-->
				<div class="control-group">
					<label for="textfield" class="control-label">平台</label>
					<div class="controls">
					    <label class="radio inline">
	                        <!--{{form_radio('platform','ios',true)}}-->IOS							    						
					    </label>
					    <label class="radio inline">
	                        <!--{{form_radio('platform','android',false)}}-->安卓						    						
					    </label>					    			                
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">经验</label>
					<div class="controls">
						<input id="experience" type="text" name="experience" class="input-small" value="">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">备注（经验）</label>
					<div class="controls">
						<input id="experience_info" type="text" name="experience_info" class="input-xlarge validate[condRequired[experience]]" value="">
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label for="textfield" class="control-label">用户组</label>
					<div class="controls">
					    <!--{%for group in grouplist%}-->
					    <label class="radio inline">
					        <!--{{form_radio('group_id',group.group_id,in_array(group.group_id,user.group_ids))}}--><!--{{group.group_name}}-->					        					        
					    </label>
					    <!--{%endfor%}-->			                
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">快捷链接</label>
					<div class="controls">
						<a href="<!--{{url('forum/topic/search')}}-->?keytype=uid&keyword=<!--{{user.uid}}-->" target="_blank">已发布帖子</a>&nbsp;&nbsp;
						<a href="<!--{{url('comment/comments/index')}}-->?uid=<!--{{user.uid}}-->" target="_blank">已发表评论</a>&nbsp;&nbsp;
						<a href="<!--{{url('user/users/credit-history',user.uid)}}-->" target="_blank">游币获取记录</a>
					</div>
				</div>
				<div class="form-actions">
					<button id="submit-btn" type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
jQuery(document).ready(function(){
	jQuery("#user-edit").validationEngine({'custom_error_messages':{
		"#score_info":{
			"condRequired": {'message':'游币备注不能为空'}
		},
		"#experience_info":{
			"condRequired": {'message':'经验备注不能为空'}
		}
	}});
});
</script>
<!--{%endblock%}-->