<!--{%extends "sub-layout-user.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>用户信息</h3>
			</div>
			<form class="form-horizontal">
				<div class="box-content">
				    <div class="control-group">
						<label for="textfield" class="control-label">昵称</label>
						<div class="controls">	
						<img src="<!--{{config('app.img_url')}}--><!--{{user['avatar']}}-->" width="50" height="50" />
						<a href="<!--{{url('user/users/info',{'id':user.uid})}}-->" target="_blank"><!--{{user['nickname']}}--></a>									    						
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">等级</label>
						<div class="controls">
						<img src="<!--{{config('app.img_url')}}--><!--{{user['level_icon']}}-->"/>
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">游币</label>
						<div class="controls">
						<span class="label"><!--{{user['score']}}--></span>	
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">邮箱</label>
						<div class="controls">
						<!--{{user.email}}-->
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">手机</label>
						<div class="controls">
						<!--{{user.mobile}}-->
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">性别</label>
						<div class="controls">
						<!--{{user.sex}}-->
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">注册时间</label>
						<div class="controls">
						<!--{%if user.dateline>0%}--><!--{{user.dateline|date('Y-m-d')}}--><!--{%endif%}-->
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">生日</label>
						<div class="controls">
						<!--{%if user.birthday>0%}--><!--{{user.birthday|date('Y-m-d')}}--><!--{%endif%}-->
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">签名</label>
						<div class="controls">
						<!--{{user.summary}}-->
						</div>
					</div>
				</div>
			</form>
		</div>    
    </div>
</div>
<!--{%endblock%}-->