<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/multiselect/bootstrap-multiselect.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>游戏信息</h3>
			</div>
			<div class="box-content">
			    
			    <form action="<!--{{url('a_game/games/edit-redirect')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <input name="game_id" type="hidden" value="<!--{{game.id}}-->" />
			    
			    <div class="control-group">
					<label class="control-label">游戏名称<span class="nes-star">* </span></label>
					<div class="controls">
						<input type="text" name="gname" id="gname" class="input-xlarge" value="<!--{{game.shortgname}}-->" />
					</div>
				</div>
			    <div class="control-group">
					<label for="textfield" class="control-label">链接类型</label>
					<div class="controls">
					    <!--{{form_select('linktype',linkTypeList,game.linktype,{'id':'linktype'})}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">链接参数</label>
					<div class="controls">
						<input type="text" name="link" class="input-xxlarge" value="<!--{{game.link}}-->">
						<span id="param_desc" class="help-block badge badge-warning"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">属性</label>
					<div class="controls">					    
				        <label class="checkbox inline">
				        <!--{{form_checkbox('is_app_hot_top',1,game.is_app_hot_top==1)}}-->推荐到首页					        					        
				        </label>				        				      
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">APP首页推荐图</label>
					<input name="app_adv_img" type="hidden" value="<!--{{game.app_adv_img}}-->" />
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail btn-file" style="max-width: 60px; max-height: 60px;">
							<img src="<!--{{config('app.img_url')}}--><!--{%if game.app_adv_img%}--><!--{%endif%}--><!--{{game.app_adv_img|default('/static/img/nopic.gif')}}-->" />
							<input type="file" name='filedata' />
							</div>
						</div>
					</div>
				</div>
			    <div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					<a type="submit" class="btn btn-primary" style="margin-left: 100px" href="/game/games/search">返回</a>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->