<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					分类管理				
				</h3>
				<div class="actions">	
				    <table class="table-filter">
				        <tr>			
				    		<td><a href="<!--{{url('v4aproduct/goods/cate-add-edit')}}-->" class="btn btn-teal">添加分类</button></td>
				        </tr>
				    </table>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <!--<th class="col-60">ID</th>-->
						    <th class="col-80">图片</th>
							<th class="col-200">名称</th>
							<th class="col-200">排序</th>
							<th class="col-30">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td class="user-avatar"><img src="http://img.youxiduo.com<!--{{item.categoryImgpath}}-->" class="" /></td>
							<td><!--{{item.categoryName}}--></td>
							<td><!--{{item.categorySort}}--></td>														
							<td>											    
							    <a href="<!--{{url('v4aproduct/goods/cate-add-edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->