<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>商品分类信息</h3>
			</div>
			<div class="box-content">
			    <form id="cate_from" action="<!--{{url('v4aproduct/goods/cate-add-edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    	<input id="id" name="id" type="hidden" value="<!--{{cate.id}}-->" />
			    	<input id="id" name="creator" type="hidden" value="<!--{{cate.creator}}-->" />
			    	<!--{%if cate.xcategoryImgpath %}-->
                        <input id="xcategoryImgpath" name="xcategoryImgpath" type="hidden" value="<!--{{cate.xcategoryImgpath}}-->" />
                    <!--{%endif%}-->
					<div class="control-group">
						<label class="control-label">*种类名称</label>
						<div class="controls">
								<input type="text" name="categoryName" id="categoryName" data-rule-required="true" data-msg-required="请填写种类名称" class="input-xlarge" value="<!--{{cate.categoryName}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">*上级种类</label>
						<div class="controls">
						    <div class="input-append">
						        <input id="selected_parentId" name="parentId" type="hidden" value="
						        <!--{{cate.parentId}}-->" />
							    <input type="text" id="selected_cate_name" readonly  class="input-xlarge" value="<!--{{cate.pcategoryName}}-->" data-rule-required="true" data-msg-required="请选择商品种类" />
								<span class="add-on select-pop-cate">选择商品种类</span>
							</div>												
						</div>
				    </div>
                    <div class="control-group">
                        <label class="control-label">图片种类列表图</label>
                        <div class="controls">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;"><img id="listpic_img" src="<!--{%if cate.categoryImgpath%}--><!--{%endif%}--><!--{{cate.categoryImgpath|default('/static/img/nopic.gif')}}-->" /></div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择种类图片</span><span class="fileupload-exists">重新选择</span><input id="bigpic_1" type="file" name='categoryImgpath' /></span>
                                </div>
                            </div>
                            <span class="help-inline">图片最佳尺寸:40*40</span>
                        </div>
                    </div>
					<div class="control-group">
						<label class="control-label">链接URL</label>
						<div class="controls">
								<input type="text" name="spUrl" id="spUrl"  class="input-xlarge" value="<!--{{cate.spUrl}}-->" />
						</div>
					</div>
					<div class="control-group">
							<label class="control-label">商品是否属于自身平台</label>
							<div class="controls">
								<label class="radio inline"><!--{{form_radio('isBelongUs','true',cate.isBelongUs=='true')}}-->属于</label>
								<label class="radio inline"><!--{{form_radio('isBelongUs','false',cate.isBelongUs=='false')}}-->不属于</label>
							</div>
					</div>
					<div class="control-group">
							<label class="control-label">排序</label>
							<div class="controls">
								<input type="text" name="categorySort" id="sort" class="input-small" value="<!--{{cate.categorySort|default(50)}}-->" />
								<span class="help-inline">排序值越大越靠前</span>
							</div>
					</div>
					<div class="control-group">
							<label class="control-label">种类描述</label>
							<div class="controls">
								<textarea id="categoryDesc" name="categoryDesc" style="width:544px;height:200px;"><!--{{cate.categoryDesc}}-->
								</textarea>
							</div>
					</div>	
					<input type="hidden" value="<!--{{cate.categoryDesc}}-->">
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>

var set_selected_cate = function(cate_id,cate_name){
    $('#selected_parentId').val(cate_id);
    $('#selected_cate_name').val(cate_name);
};
$('.select-pop-cate').on('click',function(){        
        $.ajax({
            url:'/v4aproduct/goods/cate-list-select',
            data:{'type':'cate'},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;	
                $.dialog({id:'pop-cate-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
});


</script>
<!--{%endblock%}-->
