<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					商品管理
				</h3>
				<div class="actions">
					<form action="<!--{{url('/v4aproduct/goods/list')}}-->">
						<table class="table-filter">
							<tr>
								<td>
									<input id="" class="input-small" type="text" value="" placeholder="商品名称" name="productName">
								</td>
								<td>
									<div class="input-append">
										<input id="selected_categoryId" name="categoryId" type="hidden" value="
													<!--{{goods.categoryId}}-->" />
										<input type="text" placeholder="请选择商品种类"  id="selected_cate_name" readonly  class="input-large" value="<!--{{goods.categoryName}}-->" />
										<span class="add-on select-pop-cate">选择商品种类</span>
									</div>
								</td>
								<td>
									<select name="isOnshelf" style="width:80px;margin-bottom:0px">
										<option value="true">上架</option>
										<option value="false">下架</option>
									</select>
								</td>
								<td>
									<select name="ascOrDesc" style="width:80px;margin-bottom:0px">
										<option value="1">正序</option>
										<option value="2">倒序</option>
									</select>
								</td>
                                <td>
                                <td >
                                    <span class="label label-blue"><input type="checkbox" name="productStock" value="1" <!--{{  search.productStock==1 ? 'checked' : ''}}-->>
						        空库存</span>
                                </td>
								<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a href="<!--{{url('v4aproduct/goods/product-add-edit')}}-->" class="btn btn-teal"><i class="icon-plus" title="添加商品"></i></a></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-40">图片</th>
						<th class="col-200">商品Id/商品名称/商品Code</th>
						<th class="col-60">起止时间</th>
						<th class="col-80">所需游币</th>
						<th class="col-80">剩余量/总量</th>
						<th class="col-40">选项</th>
						<th class="col-60">兑换次数</th>
						<th class="col-40">排序</th>
						<th class="col-40">状态</th>
						<th class="col-100">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for key,item in datalist%}-->
					<tr id="tr_<!--{{item.productCode}}-->">
						<td class="user-avatar"><img src='<!--{{item.listpic}}-->'/></td>
						<td><!--{{item.productId}}--><br/><!--{{item.title}}-->
							<br/><!--{{item.productCode}}--></td>
						<td>
							<!--{% if item.activity %}-->
							<!--{{item.startTimeStr|date('Y-m-d')}}-->至<!--{{item.endTimeStr|date('Y-m-d')}}-->
							<!--{% else %}-->
							没有活动
							<!--{% endif %}-->
						</td>
						<td><!--{{item.productGamePrice}}--></td>
						<td><!--{{item.restCount}}-->/<!--{{item.totalCount}}--></td>
						<td>
							<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">选项<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">
									<li><a href="<!--{{url('v4aproduct/goods/product-operator',{id:item.productCode,type:'isrecommend',val:item.isRecommend})}}-->">推荐<!--{%if item.isRecommend == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<li><a href="<!--{{url('v4aproduct/goods/product-operator',{id:item.productCode,type:'ishot',val:item.isHot})}}-->">热门<!--{%if item.isHot == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<li><a href="<!--{{url('v4aproduct/goods/product-operator',{id:item.productCode,type:'isnew',val:item.isNewest})}}-->">最新<!--{%if item.isNewest == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<li><a href="<!--{{url('v4aproduct/goods/product-operator',{id:item.productCode,type:'top',val:item.isTop})}}-->">置顶<!--{%if item.isTop == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<!--{% if item.productType < 1 %}-->
									<li><a href="<!--{{url('v4aproduct/goods/product-operator',{id:item.productCode,type:'lightDelivery',val:item.lightDelivery})}}-->">闪电发货<!--{%if item.lightDelivery == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<!--{% endif %}-->

								</ul>
							</div>
						</td>
						<td>
							<!--{%if item.singleLimit==0%}-->不限制<!--{%else%}--><!--{{item.singleLimit}}--><!--{%endif%}-->
						</td>
						<td>
							<!--{{item.productSort}}-->
						</td>
						<td>
							<!--{%if item.isOnshelf==1%}--><span class="badge badge-success">上架</span><!--{%else%}--><span class="badge badge-important">下架</span><!--{%endif%}-->
						</td>
						<td>
							<a href="<!--{{url('v4aproduct/goods/product-add-edit',{id:item.productCode})}}-->" class="btn btn-primary">编辑</a>
							<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">操作<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">
									<!--{%if item.isOnshelf==1%}-->
									<li><a href="<!--{{url('v4aproduct/goods/status',{'id':item.productCode,'onOrOff':0})}}-->">下架</a></li>
									<!--{%else%}-->


									<li><a href="<!--{{url('v4aproduct/goods/status',{'id':item.productCode,'onOrOff':1})}}-->">上架</a></li>

									<!--{%endif%}-->
									<li><a href='javascript:;' code="<!--{{item.productCode}}-->"  url="<!--{{url('v4aproduct/goods/goodsdelete',{id:item.productCode})}}-->" class="ajax-del"><i class="icon-trash"></i>删除</a></li>
								</ul>
							</div>
                            <!--{%if item.isOnshelf!=1%}-->
                            <!--{% if item.restCount > 0 %}-->
                            <!--{% if item.productType == 0 or item.productType == 2 %}-->
                            <input type="button" class="btn btn-primary" data-container="body" data-html="true" data-toggle="popover" data-placement="left"  data-content='
<input type="text" value="<!--{{item.restCount}}-->" style="width: 70px"/><input type="button" code="<!--{{item.productCode}}-->" class="release" value="提交" />
                            ' value="解绑" />
                            <!--{% endif %}-->
                            <!--{% endif %}-->
                            <!--{% endif %}-->


						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-orange',
        radioClass: 'iradio_square-orange',
        increaseArea: '20%' // optional
    });
	var set_selected_cate = function(cate_id,cate_name){
		$("#selected_categoryId").val(cate_id);
		$("#selected_cate_name").val(cate_name);
	};
    $('[data-toggle="popover"]').popover();
	$(function(){
		$('a.ajax-del').bind('click',function(){
			if(!confirm('确定要删除数据吗？')){
				return false;
			}else{
				var url=$(this).attr('url'),code=$(this).attr('code');
				$.get(url,{},function(data){
					if(data.error < 1){
						alert("删除成功！");
						$("#tr_"+code).remove();
					}
				});
			}
		});
		$('.select-pop-cate').on('click',function(){
			$.ajax({
				url:'/v4aproduct/goods/cate-list-select',
				dataType:'json',
				success:function(json){
					var html = '';
					html = json.html;
					$.dialog({id:'pop-cate-list',title:'提示',padding:2,content:html,width:600,height:580});
				}
			});
		});
        $('.release').live('click',function(){
            var value = $(this).siblings("input").val();
            var code = $(this).attr("code");
            $.post('<!--{{url('v4aproduct/goods/release')}}-->',{value:value,code:code},function(data){
                if(data.success=="true"){
                    window.location.reload();
                }else{
                    alert(data.mess);
                }
            },"json")
        });
	});
</script>
<!--{%endblock%}-->