<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					需要处理的订单
				</h3>
				<div class="actions">
					<form action="<!--{{url('/v4aproduct/goods/delivery-all')}}-->" id="all" name="all_form" >
                        <input type="hidden" name="dpStart_delivery" id="dpStart_delivery" value="">
                        <input type="hidden" name="dpEnd_delivery" id="dpEnd_delivery" value="">
                        <input type="hidden" name="biller_delivery" id="biller_delivery" value="">
                    </form>
					<form action="<!--{{url('/v4aproduct/goods/updata-all')}}-->" id="all2" name="all_form2" >
                        <input type="hidden" name="dpStart_updata" id="dpStart_updata"  value="">
                        <input type="hidden" name="dpEnd_updata" id="dpEnd_updata"  value="">
                        <input type="hidden" name="biller_updata" id="biller_updata" value="">
                    </form>
					<form action="<!--{{url('/v4aproduct/goods/need-order-list')}}-->">
						<table class="table-filter">
		        			<tr>
								<td>
								 	<input id="biller" class="input-small"  type="text" value="<!--{{search.biller}}-->" placeholder="下单人" name="biller">
								</td>
								<td>
									<div class="input-append date datepick" id="dpStart">
										<input name="billTimeBegin" id="billTimeBegin" placeholder="下单时间起始" type="text" class="input-small" value="<!--{{search.billTimeBegin}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td>
									<div class="input-append date datepick" id="dpEnd" data-date="">
										<input name="billTimeEnd" id="billTimeEnd"  placeholder="下单时间末尾" type="text" class="input-small" value="<!--{{search.billTimeEnd}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
								<td><a href="javascript:;"id="piliang_gengxin" class="btn btn-teal">批量更新</button></td>
								<td><a href="javascript:;"id="piliang_fahuo" class="btn btn-teal">批量发货</button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
							<th class="col-10"><input type="checkbox" name="chk_all" id="chk_all" ></th>
						    <th class="col-180">订单号/订单信息</th>
						    <th class="col-80">商品名称</th>
							<th class="col-60">下单人</th>
							<th class="col-60">订单总额</th>
							<th class="col-60">游戏币</th>
							<th class="col-80">支付方式</th>
							<th class="col-80">下单/支付时间</th>
					        <th class="col-120">操作</th>
						</tr>
					</thead>
					<tbody>
						<!--{% for key,item in datalist%}-->
					    <tr id="tr_+<!--{{item.orderId}}-->">
					    	<td><input type="checkbox" class="c_all" data-key="<!--{{key}}-->"name="chk_list" data-id="<!--{{item.orderId}}-->" value="" data-value="<!--{% if item.orderId and item.items.0.productCode and item.biller  %}--><!--{{item.orderId}}-->-<!--{{item.biller}}-->-<!--{{item.items.0.productCode}}-->-<!--{{item.orderSmsInfo}}--><!--{%endif%}-->" ></td>
							<td><!--{{item.orderId}}--></br><!--{{item.orderSmsInfo}}--></td>
							<td><!--{{item.items.0.productName}}--></td>
							<td><span class="label label-success"><!--{{item.biller}}--></span><br/>
                                <span class="label label-primary">Lv.<!--{{item.level_name?item.level_name:'1'}}--></span><br/>
                                <span class="label label-primary"><!--{{userinfo[item.biller].nickname}}--></span><br/>
                                <span class="label label-warning"><!--{{userinfo[item.biller].mobile}}--></span>

                            </td>
							<td><!--{{item.amount}}--></td>
							<td><!--{{item.gameAmount}}--></td>
							<td style="width:8%"><!--{% if item.payType == 0 %}-->游币支付<!--{%else%}-->现金支付<!--{%endif%}--></td>
							<td style="width:20%"><!--{{item.billTimeStr|date('y-m-d H:i')}}--><br/><!--{{item.payTimeStr|date('y-m-d H:i')}}--></td>
							<td>
							    <a  href="javascript:;" data-id="<!--{{item.orderId}}-->" data-href="<!--{{url('v4aproduct/goods/delivery',{id:item.orderId,uid:item.biller,productCode:item.items.0.productCode,orderSmsInfo:item.orderSmsInfo})}}-->" class="btn btn-primary btn-fahuo">确定发货</a>
							    <!--{% if item.address%}-->
							    	<a href="javascript:;" data-info='<!--{{item.address}}-->' class="btn btn-primary select">查看信息</a>
							    <!--{% endif %}-->
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               表单信息
            </h4>
         </div>
         <div class="modal-body">
            <div class="box-content">
                <table class="table"  id="table_from">
               	</table>
            </div>              
         </div>
         <div id="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

	
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
    $("#chk_all").click(function(){
     	var arrayObj = new Array(),arrayObj2= new Array();
    	if($(this).attr("checked") == 'checked'){ 
 			$("input[name='chk_list']").each(function(i,item){
  				 $(this).attr("checked",true);
  				 var v=$(this).attr('data-value'),id=$(this).attr('data-id');
  				 arrayObj[i]="";
  				 arrayObj2[i]="";
  				 if(v){
  				 	arrayObj[i]="<input type='hidden' id='all_"+id+"' name='all_"+i+"' value='"+v+"''>";
  				 	arrayObj2[i]="<input type='hidden' id='all2_"+id+"' name='all_"+i+"' value='"+v+"''>";
  				 }
  			});
  			$("#all").append(arrayObj.join(''));
  			$("#all2").append(arrayObj2.join(''));
    	}else{
	    	$("input[name='chk_list']").each(function(){
	   			 $(this).attr("checked",false);
	  		});
	  		$("#all").html('<input type="hidden" name="dpStart_delivery" id="dpStart_delivery" value=""><input type="hidden" name="dpEnd_delivery" id="dpEnd_delivery" value=""><input type="hidden" name="biller_delivery" id="biller_delivery" value="">');
            $("#all2").html('<input type="hidden" name="dpStart_updata" id="dpStart_updata"  value=""> <input type="hidden" name="dpEnd_updata" id="dpEnd_updata"  value=""><input type="hidden" name="biller_updata" id="biller_updata" value="">');
    	}
    });
    $("input.c_all").bind("click",function(){
    	var this_=$(this),id=this_.attr('data-id'),key=this_.attr('data-key');
    	if(this_.attr("checked") == 'checked'){
    		var v=this_.attr('data-value'),
    			html2="<input type='hidden' id='all2_"+id+"' name='all_"+key+"' value='"+v+"'>",
    			html="<input type='hidden' id='all_"+id+"' name='all_"+key+"' value='"+v+"'>";
  				$("#all").append(html);
  				$("#all2").append(html2);
    	}else{
    		$("#all_"+id).remove();
    		$("#all2_"+id).remove();
    	}
    });
    $("#piliang_fahuo").bind('click',function(){ 
    	if($("#all input[type=hidden]").length < 1){
    		alert("抱歉，请先选择数据");
    		return false;
    	}
        $("#dpStart_delivery").val($("#billTimeBegin").val());
        $("#dpEnd_delivery").val($("#billTimeEnd").val());
        $("#biller_delivery").val($("#biller").val());
    	$("#all").submit();
    });
    $("#piliang_gengxin").bind('click',function(){ 
    	if($("#all2 input[type=hidden]").length < 1){
    		alert("抱歉，请先选择数据");
    		return false;
    	}
        $("#dpStart_updata").val($("#billTimeBegin").val());
        $("#dpEnd_updata").val($("#billTimeEnd").val());
        $("#biller_updata").val($("#biller").val());
    	$("#all2").submit();
    });

});
//http://admin.youxiduo.dev/v4aproduct/goods/delivery/YXD_MALL201512162122548129458789/5901425/80efdca9714328615bc44bb2b7e4505b/jQuery18307668013190733085_1452749657281??????002&_=1452749686051
$("a.btn-fahuo").bind('click',function(){
	var url=$(this).attr('data-href'),id=$(this).attr("data-id");
	alertify.confirm('确认发货？',function(e){
		if(e){
            window.location.href=url;

		}else{
			return false;
		}
    })

});
$('a.select').bind('click',function(){
	$("#myModal").modal("show");
	var data=$(this).attr('data-info'),
		data=jQuery.parseJSON(data),
		html='<body>';
	$.each(data,function(idx,item){
		html+="<tr><td>"+idx+":</td><td>"+item+"</td></tr>";
	});
	html+='</body>';
	$("#table_from").html(html);
});
</script>
<!--{%endblock%}-->