<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i> 
					导出列表 
				</h3>
				<div class="actions">
					<form id="myform2" action="<!--{{url('/v4aproduct/goods/product-data-download')}}-->">
					 	
					</form>
					<form id="myform" action="<!--{{url('/v4aproduct/goods/product-data-list')}}-->">
						<table class="table-filter">
		        			<tr>
		        				<td>
									<div class="input-append date datepick" id="dpStart">
										<input name="timeBegin" placeholder="开始时间" type="text" class="input-small" value="<!--{{timeBegin}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td>
									<div class="input-append date datepick" id="dpEnd" data-date="">
										<input name="timeEnd"  placeholder="结束时间" type="text" class="input-small" value="<!--{{timeEnd}}-->" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
		        				 <td>
								 	<input id="" class="input-small" type="text" placeholder="商品名称" name="productName" value="<!--{{productName}}-->">
								 </td>
								 <td>
		           				 	<select name="onOrOff" style="width:80px;margin-bottom:0px">
										<option value="1">上架</option>
										<option value="0">下架</option>
									</select>
								</td>
								<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
								<td>
									 <a href="javascript:;" id="daochu" class="btn btn-primary daochu">导出</a> 
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-120">商品名称/商品Code</th>
							<th class="col-100">时间段</th>
							<th class="col-60">单价(游币)</th>
							<th class="col-60">入库数量</th>
							<th class="col-80">入库总价(游币)</th>
							<th class="col-60">总库存</th>
							<th class="col-60">总库存游币</th>
							<th class="col-60">兑换数量</th>
							<th class="col-80">兑换总价(游币)</th>
							<th class="col-60">剩余数量</th>
							<th class="col-80">剩余总价(游币)</th>
						</tr>
					</thead>	
					<tbody>
						<!--{% for key,item in datalist.sList %}--> 
					    <tr>
							<td><!--{{item.productName}}--><br/><!--{{item.productCode}}--></td>
							<td><!--{{item.addTime}}--></td>
							<td><!--{{item.unitGamePrice}}--></td>
							<td><!--{{item.addStock}}--></td>
							<td><!--{{item.addGameTotal}}--></td>
							<td><!--{{item.allStock}}--></td>
							<td><!--{{item.gameTotal}}--></td>
							<td><!--{{item.exchangeStock}}--></td>
							<td><!--{{item.exchangeGameTotal}}--></td>
							<td><!--{{item.restStock}}--></td>
							<td><!--{{item.restGameTotal}}--></td>
							
						</tr>
						<!--{%endfor%}-->
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>入库总数:</br><!--{{datalist.allStockInTotal}}-->/<!--{{datalist.allStockInGameTotal}}--></td>
							<td></td>
							<td></td>
							<td></td>
							<td>兑换总价:</br><!--{{datalist.allExchangeTotal}}-->/<!--{{datalist.allExchangeGameTotal}}--></td>
							<td></td>
							<td></td>
							
						</tr>
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>




<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
    $("#daochu").bind('click',function(){
    	window.location.href=$("#myform2").attr("action")+"?"+$("#myform").serialize();
    })
});
</script>
<!--{%endblock%}-->