
<div class="box form-horizontal">
	<div class="box-content">			    
		<div class="control-group">
			<label class="control-label">游戏名称</label>
			<div class="controls">
			    <span><!--{{info.gname}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">游戏渠道</label>
			<div class="controls">
			    <span><!--{{info.gchannel}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">游戏区服</label>
			<div class="controls">
			    <span><!--{{info.gamezone}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">账号</label>
			<div class="controls">
			    <span><!--{{info.gameAccount}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">密码</label>
			<div class="controls">
			    <span><!--{{info.gamePassword}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">角色名称</label>
			<div class="controls">
			    <span><!--{{info.roleName}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">联系QQ</label>
			<div class="controls">
			    <span><!--{{info.qq}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">手机</label>
			<div class="controls">
			    <span><!--{{info.mobile}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">收货地址</label>
			<div class="controls">
			    <span><!--{{info.address}}--></span>			
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">提交时间</label>
			<div class="controls">
			    <span><!--{{info.createTime}}--></span>			
			</div>
		</div>
	</div>
</div>