<!--{%for item in datalist%}-->
<!--{%if pic_count!="1"%}-->
<div>
    <div class="left" style="float: left">
        <!--{% for key,value in item.approvalContent %}-->
        <div class="up" style="padding: 5px;">
            <!--{{ key }}--> : <!--{{ value }}--><br>
        </div>
        <!--{% endfor %}-->
        <div class="up" style="padding: 5px;">
            <!--{{ data.autorContent }}--><br>
        </div>
        <div class="up table-list-img" style="padding: 5px;">
            <!--{%for img in item.picUrl%}-->
            <a href="#bigimg" data-toggle="modal" class="showImg"> <img src="<!--{{img}}-->" width="200"  alt=""/></a>
            <!--{%endfor%}-->
        </div>
        <div class="down" style="padding-left: 200px"><!--{% if users[item.uid] %}--><!--{{item.uid}}--> (<!--{{users[item.uid].nick_name}}-->)&nbsp; <!--{% if re[item.uid] %}-->&nbsp; <!--{% if re[item.uid] %}--><span style="color:red;">(用户选择：<!--{{re[item.uid].0}}-->)</span><!--{% endif %}--><!--{% endif %}--><!--{% else %}--><span style="color: red; ">该用户已删除</span><!--{% endif %}-->&nbsp;&nbsp;&nbsp; <!--{{item.createTime}}--></div>
    </div>
    <div class="right" style="float: left; margin-top: 70px;padding-left: 10px;">
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" stepid="<!--{{item.userStepId}}-->" uid="<!--{{item.uid}}-->" deviceId="<!--{{item.deviceId}}-->" class="ck" > 未通过
        </label>
    </div>
    <div style="clear: both"></div>
</div><hr>
<!--{%else%}-->
<div style="width: 290px;float: left">
    <div class="left" style="float: left">
        <div class="up table-list-img" style="padding: 5px;">
            <!--{% for key,value in item.approvalContent %}-->
            <div class="up" style="padding: 5px;">
                <!--{{ key }}--> : <!--{{ value }}--><br>
            </div>
            <!--{% endfor %}-->
            <div class="up" style="padding: 5px;">
                <!--{{ item.autorContent }}--><br>
            </div>
            <!--{%for img in item.picUrl%}-->
            <a href="#bigimg" data-toggle="modal" class="showImg"> <img src="<!--{{img}}-->" width="200"  alt=""/></a>
            <!--{%endfor%}-->
        </div>
        <div class="down" style="padding-left: 5px" >
            <!--{% if users[item.uid] %}--> <!--{{item.uid}}--> (<!--{{users[item.uid].nick_name}}-->)&nbsp; <!--{% if re[item.uid] %}-->&nbsp; <!--{% if re[item.uid] %}--><span style="color:red;">(用户选择：<!--{{re[item.uid].0}}-->)</span><!--{% endif %}--><!--{% endif %}--><!--{% else %}--><span style="color: red; ">该用户已删除</span><!--{% endif %}-->&nbsp;&nbsp;&nbsp; <!--{{item.createTime}}-->

        </div>
    </div>
    <div class="right" style="float: left; margin-top: 70px;">
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" stepid="<!--{{item.userStepId}}-->" uid="<!--{{item.uid}}-->" deviceId="<!--{{item.deviceId}}-->" class="ck" > 未通过
        </label>
    </div>
</div>
<!--{%endif%}-->
<!--{%endfor%}-->
