<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    <!--{{menu_name}}-->管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('v4_task/task/sub-task-list')}}-->" method="GET">
                        <input type="hidden" name="lineId" value="<!--{{search.lineId}}-->"/>
                        <input type="hidden" name="isRelateLine" value="<!--{{search.isRelateLine}}-->"/>
                        <table class="table-filter">
                            <tr>
                                <td>
                                    <!--{{form_select('platformType',platformtype,search.platform,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}-->
                                </td>
                                <td><!--{{form_select('sortType',sort,search.sortType,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}--></td>
                                <td>
                                    <input name="title"  placeholder="任务标题" style="width:177px;" type="text" class="input-small" value="<!--{{search.taskName}}-->" >
                                </td>
                                <td class='gameselect_I' <!--{%if search.platform!="I"%}-->style="display:none;"<!--{%endif%}-->>
                                <input id="gameselect_I" name="gameId_I" data-rule-required="true" data-from="ios" data-msg-required="请填写游戏"  type="hidden" value="<!--{{search.gid}}-->" class="bigdrop select2-offscreen" style="width:200px;" tabindex="-1">
                                </td>
                                <td class='gameselect_A' <!--{%if search.platform!="A"%}-->style="display:none;"<!--{%endif%}-->>
                                <input id="gameselect_A" name="gameId_A" data-rule-required="true" data-from="android" data-msg-required="请填写游戏"  type="hidden" value="<!--{{search.gid}}-->" class="bigdrop select2-offscreen" style="width:200px;" tabindex="-1">
                                </td>
                                <td><span class="label label-blue">开始时间</span>
                                    <div class="input-append date " >
                                        <input name="activityStartTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search.createTimeBegin}}-->" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td>结束时间
                                    <div class="input-append date "  data-date="">
                                        <input name="activityEndTime" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker"  value="<!--{{search.createTimeEnd}}-->" id="date_timepicker_end" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a href="<!--{{url('v4_task/task/sub-task-add')}}-->" class="btn btn-teal">新建任务</a></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">任务icon</th>
                        <th class="col-150">任务标题/ID</th>
                        <th class="col-100">关联游戏</th>
                        <th class="col-60">任务类型</th>
                        <th class="col-80">创建时间</th>
                        <th class="col-120">待/完成/总数</th>
                        <th class="col-60">版本号</th>
                        <th class="col-60">状态</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in datalist%}-->
                    <tr>
                        <td><img src='<!--{{item.task_icon}}-->'  width="100px"/></td>
                        <td><!--{{item.task_name}}--><br/><!--{{item.task_id}}--></td>
                        <td><!--{{item.gname}}--></td>
                        <td>
                            <!--{%if item.is_line=="1"%}-->
                            连续任务
                            <!--{%else%}-->
                            <!--{%if item.is_sub_task=="1"%}-->
                            子任务
                            <!--{%else%}-->
                            普通任务
                            <!--{%endif%}-->
                            <!--{%endif%}-->
                        </td>
                        <td><!--{{item.create_time}}--></td>
                        <!--{%if lineId==""%}-->
                        <!--{%endif%}-->
                        <td>
                            <span class="badge "><!--{{item.processing_count|default('0')}}--></span>
                            <span class="badge badge-info"><!--{{item.complete_count|default('0')}}--></span>
                            <span class="badge badge-success"><!--{{item.total_count|default('0')}}--></span>
                        </td>
                        <td><!--{{ item.version }}--></td>
                        <td>
                            <!--{%if item.is_open==0 %}-->
                            关闭
                            <!--{%else%}-->
                            开启
                            <!--{%endif%}-->
                        </td>
                        <td>
                            <!--{% if item.version > '2.0.8' %}-->
                                <a href="<!--{{url('v4_task/task/sub-task-add')}}-->?id=<!--{{item.task_id}}-->" class="btn btn-primary">编辑</a>
                            <!--{% else %}-->
                            <a href="<!--{{url('v4_task/task/task-add')}}-->?id=<!--{{item.task_id}}-->" class="btn btn-primary">编辑</a>
                            <!--{% endif  %}-->

                            <!--{%if item.is_sub_task=="0"%}-->
                            <!--{%if item.link_type!=1%}-->
                            <!--{%if item.sort_value!=100 %}-->
                            <a href="#nogo" id="<!--{{item.task_id}}-->" class="btn btn-drop ajax-open">置顶</a>
                            <!--{%else%}-->
                            <a href="#nogo" id="<!--{{item.task_id}}-->" class="btn btn-drop ajax-open">取消置顶</a>
                            <!--{%endif%}-->
                            <!--{%if item.isOpen==0 %}-->
                            <!--{%else%}-->
                            <a href="#nogo" id="<!--{{item.task_id}}-->" class="btn btn-drop ajax-open">关闭</a>
                            <!--{%endif%}-->
                            <!--{%endif%}-->
                            <!--{%endif%}-->
                            <!--
                                <span><a href="#nogo" id="<!--{{item.task_id}}-->" class="btn btn-drop ajax-del">删除</a></span>
                            -->
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>

                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script>
    $(function(){
        $('[data-toggle="popover"]').popover();
        gameselect('#gameselect_I');
        gameselect('#gameselect_A');
        $(".ajax-open").click(function(){

            var obj = $(this);
            var id = $(this).attr('id');
            var type = $(this).html()=="开启"?"0":"1";
            if($(this).html() == "开启"){
                if(confirm("是否确定开启？")){
                }else{
                    return false;
                }
                type = 0;
            }else if($(this).html() == "关闭"){
                if(confirm("是否确定关闭？")){
                }else{
                    return false;
                }
                type = 1;
            }else if($(this).html() == "置顶"){
                type = 3;
            }else if($(this).html() == "取消置顶"){
                type = 4;
            }
            $.post('<!--{{url('v4_task/task/task-open')}}-->',{id:id,type:type},function(data){
                if(data.success=="true"){
                    window.location.reload();
                    obj.hide();
                    obj.siblings("a").show();
                }
            },"json")
        })
        $('a.ajax-del').bind('click',function(){
            if(confirm('确定要删除数据吗？')){
                var id = $(this).attr('id');
                obj = $(this);
                $.post('<!--{{url('v4_task/task/task-del')}}-->',{id:id},function(data){
                    if(data.success=="true"){
                        obj.parent().parent().parent().hide();
                    }else{
                        alert(data.mess);
                    }
                },"json")
            }
        });

        $("#complete_type").live('change',function(){
            if ($(this).val() == 'I') {
                $('.gameselect_I').show();
                $('.gameselect_A').hide();
            } else {
                $('.gameselect_A').show();
                $('.gameselect_I').hide();
            }
            return false;
        })

        $(".sel_step option").live("click",function(){
            var taskId = $(this).attr("taskId");
            var taskName = $(this).attr("taskName");
            var stepId = $(this).attr("stepId");
            var stepType = $(this).attr("stepType");
            var step_content = $(this).attr("step_content");
            var step_img = $(this).attr("step_img");
            var appleId = $(this).attr("appleId");
            var title = $(this).html();
            window.open("<!--{{url('v4_task/task/approval-list')}}-->?taskId="+taskId+"&taskName="+taskName+"&step_content="+step_content+"&step_img="+step_img+"&stepId="+stepId+"&stepType="+stepType+"&appleId="+appleId+"&title="+title);
        })
    });
</script>
<!--{%endblock%}-->