<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					<!--{{menu_name}}-->管理
				</h3>
				<div class="actions">	
				    <form action="<!--{{url('v4_task/task/task-list')}}-->" method="GET">
                        <input type="hidden" name="lineId" value="<!--{{search.lineId}}-->"/>
				    <table class="table-filter">
				        <tr>
					        <td><span class="label label-blue"><input type="checkbox" name="counterState" value="1" <!--{{ search.counterState==1 ? 'checked' : '' }}-->>
						        	待审核</span>
					        </td>
					        <td><span class="label label-blue"><input type="checkbox" name="isRecommend" value="1" <!--{{ search.isRecommend==1 ? 'checked' : '' }}-->>
						        	推荐</span>
					        </td>
                            <td>
                                <!--{{form_select('platformType',platformtype,search.platform,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}-->
                            </td>
                            <td>
                                <!--{{form_select('isLine',au,search.isLine,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}-->
                            </td>
				            <td><!--{{form_select('sortType',sort,search.sortType,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}--></td>
                            <td>
                                <input name="taskId"  placeholder="任务ID" style="width:100px;" type="text" class="input-small" value="<!--{{search.taskId}}-->" >
                            </td>
                            <td>
                                <input name="title"  placeholder="任务标题" style="width:100px;" type="text" class="input-small" value="<!--{{search.taskName}}-->" >
                            </td>
                            <td class='gameselect_I' <!--{%if search.platform!="I"%}-->style="display:none;"<!--{%endif%}-->>
                                <input id="gameselect_I" name="gameId_I" data-rule-required="true" data-from="ios" data-msg-required="请填写游戏"  type="hidden" value="<!--{{search.gid}}-->" class="bigdrop select2-offscreen" style="width:200px;" tabindex="-1">
                            </td>
                            <td class='gameselect_A' <!--{%if search.platform!="A"%}-->style="display:none;"<!--{%endif%}-->>
                                <input id="gameselect_A" name="gameId_A" data-rule-required="true" data-from="android" data-msg-required="请填写游戏"  type="hidden" value="<!--{{search.gid}}-->" class="bigdrop select2-offscreen" style="width:200px;" tabindex="-1">
                            </td>
                            <td><span class="label label-blue">开始时间</span>
                                <div class="input-append date " >
                                    <input name="createTimeBegin" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search.createTimeBegin}}-->" readonly>
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                            <td>结束时间
                                <div class="input-append date "  data-date="">
                                    <input name="createTimeEnd" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker"  value="<!--{{search.createTimeEnd}}-->" id="date_timepicker_end" readonly>
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <td><a href="<!--{{url('v4_task/task/task-add')}}-->" class="btn btn-teal">新建任务</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">任务icon</th>
                            <th class="col-150">任务标题/ID</th>
                            <th class="col-100">关联游戏</th>
                            <th class="col-60">任务类型</th>
							<th class="col-80">任务时间</th>
							<th class="col-80">创建时间</th>
                            <!--{%if lineId==""%}-->
                            <th class="col-80">查看任务</th>
                            <!--{%endif%}-->
                            <th class="col-80">审核</th>
                            <th class="col-120">待/完成/总数</th>
                            <th class="col-60">排序值</th>
                            <th class="col-60">状态</th>
                            <th class="col-60">是否互斥</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><img src='<!--{{item.taskIcon}}-->' width="100px"/></td>
                            <td><!--{{item.taskName}}--><br/><!--{{item.taskId}}--></td>
                            <td><!--{{item.gname}}--></td>
						    <td>
                                <!--{%if item.isLine=="1"%}-->
                                连续任务
                                <!--{%else%}-->
                                <!--{%if item.isSubTask=="1"%}-->
                                子任务
                                <!--{%else%}-->
                                普通任务
                                <!--{%endif%}-->
						        <!--{%endif%}-->
                            </td>
							<td><!--{{item.startTime}}-->-<!--{{item.endTime}}--></td>
                            <td><!--{{item.createTime}}--></td>
                            <!--{%if lineId==""%}-->
                            <td>
                                <!--{%if item.isLine%}-->
                                <a href="<!--{{url('v4_task/task/task-list')}}-->?lineId=<!--{{item.taskId}}-->&platformType=<!--{{item.platformType}}-->" class="btn btn-primary">查看子任务</a>
                                <!--{%endif%}-->
                            </td>
                            <!--{%endif%}-->
                            <td>
                                <!--{%if item.isLine%}-->
                                <!--{%else%}-->
                                <button type="button" <!--{%if item.step_click %}-->style="background-color:#368ee0;color:#fff" <!--{%endif%}--> class="btn btn-default sel_step" data-container="body" data-html="true" data-toggle="popover" data-placement="right"  data-content='' 
                                	taskId="<!--{{item.taskId}}-->" taskName="<!--{{item.taskName}}-->" appType="<!--{{item.appType}}-->" approvalReminderInfo="<!--{{item.approvalReminderInfo}}-->" stepId="<!--{{item.lionStepId}}-->" minlevel="<!--{%if item.lionminlevel%}--><!--{{item.lionminlevel}}--><!--{%else%}-->0<!--{%endif%}-->"  maxlevel="<!--{%if item.lionmaxlevel%}--><!--{{item.lionmaxlevel}}--><!--{%else%}-->0<!--{%endif%}-->" >
                                    审核
                                </button>
                                <!--{%endif%}-->

                            </td>
                            <td>
                                <span class="badge "><!--{{item.processingCount|default('0')}}--></span>
                                <span class="badge badge-info"><!--{{item.completeCount|default('0')}}--></span>
                                <span class="badge badge-success"><!--{{item.totalCount|default('0')}}--></span>
                            </td>
                            <td><!--{{item.sortValue}}--></td>
                            <td>
                                <!--{%if item.offline==1 %}-->
                                    关闭
                                <!--{%else%}-->
                                    开启
                                <!--{%endif%}-->

                            </td>
                            <td>
                                <!--{%if item.mutexTaskId %}-->
                                    已互斥
                                <!--{%else%}-->
                                    
                                <!--{%endif%}-->

                            </td>
							<td>
								<!--{% if item.version >= '2.1.1' and lineId == '' %}-->
									<a href="<!--{{url('v4_task/task/add-task-line')}}-->?id=<!--{{item.taskId}}-->" class="btn btn-primary">编辑</a>
								<!--{% elseif item.version >= '2.1.1' and lineId != '' %}-->
									<a href="<!--{{url('v4_task/task/sub-task-add')}}-->?id=<!--{{item.taskId}}-->" class="btn btn-primary">编辑</a>
								<!--{% else %}-->
									<a href="<!--{{url('v4_task/task/task-add')}}-->?id=<!--{{item.taskId}}-->&lineId=<!--{{item.lineId}}-->" class="btn btn-primary">编辑</a>
								<!--{% endif %}-->



							    <!--{%if item.isSubTask!="1" %}-->
		                        <!--{%if item.isRecommend!=1 %}-->
		                        	<a href="#nogo" id="<!--{{item.taskId}}-->" isline="<!--{{item.isLine}}-->" class="btn btn-drop ajax-recommend">推荐</a>
		                        <!--{%else%}-->
		                        	<a href="#nogo" id="<!--{{item.taskId}}-->" isline="<!--{{item.isLine}}-->" class="btn btn-drop ajax-recommend">取消推荐</a>
		                        <!--{%endif%}-->
		                        <!--{%endif%}-->
								<div class="btn-group">
									<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">更多操作<span class="caret"></span></a>
									<ul class="dropdown-menu dropdown-primary">
		                                <!--{%if item.isSubTask=="0"%}-->
		                                <!--{%if item.linkType!=1%}-->
		                                <!--{%if item.sortValue!=2000 %}-->
		                                <li>
		                                	<a href="#nogo" id="<!--{{item.taskId}}-->" name="<!--{{item.taskName}}-->" sharetype="<!--{{item.shareType}}-->" isline="<!--{{item.isLine}}-->" isHasPush="<!--{{item.isHasPush}}-->" class="btn btn-drop ajax-open">置顶</a>
		                                </li>
		                                <!--{%else%}-->
		                                <li>
		                                	<a href="#nogo" id="<!--{{item.taskId}}-->" name="<!--{{item.taskName}}-->" sharetype="<!--{{item.shareType}}-->" isline="<!--{{item.isLine}}-->" isHasPush="<!--{{item.isHasPush}}-->" class="btn btn-drop ajax-open">取消置顶</a>
		                                </li>
		                                <!--{%endif%}-->
		                                <!--{%if item.offline==1 %}-->
		                                <li>
		                                	<a href="#nogo" id="<!--{{item.taskId}}-->" name="<!--{{item.taskName}}-->" sharetype="<!--{{item.shareType}}-->" isline="<!--{{item.isLine}}-->" isHasPush="<!--{{item.isHasPush}}-->" class="btn btn-drop ajax-open">开启</a>
		                                </li>
		                                <!--{%else%}-->
		                                <li>
		                                	<a href="#nogo" id="<!--{{item.taskId}}-->" name="<!--{{item.taskName}}-->" sharetype="<!--{{item.shareType}}-->" isline="<!--{{item.isLine}}-->" isHasPush="<!--{{item.isHasPush}}-->" class="btn btn-drop ajax-open">关闭</a>
		                                </li>
		                                <!--{%endif%}-->
		                                <!--{%endif%}-->
		                                <!--{%endif%}-->
		                                <!--{%if item.offline==1 and item.mutexTaskId %}-->
		                                	<a href="#nogo" id="<!--{{item.taskId}}-->" mutexid="<!--{{item.mutexTaskId}}-->" class="btn btn-drop ajax-mutex">取消互斥</a>
		                                <!--{%endif%}-->
										<li>
											<a class="btn btn-drop ajax-append" data="<!--{{item.taskId}}-->" href="javascript:void(0);">榜单</a>
										</li>
									</ul>
								</div>
                                <!--
                                <span><a href="#nogo" id="<!--{{item.taskId}}-->" class="btn btn-drop ajax-del">删除</a></span>
                                -->
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<!--榜单导入-->
	<div id="dialog-append">
		<div class="box-content">
            <div class="control-group">
				<label class="control-label">文字说明</label>
				<div class="controls">
					<input type="text" name="footer" class="input-large" value="" />
				</div>
			</div>
			<div class="control-group">
				<input type="hidden" name="tmp" id="tmp" value="">
				<input type="hidden" name="filename" id="filename" value="">
				<label class="control-label">榜单文件</label>
				<div class="controls">
					<input name="append_file" id="file_upload" type="file">
					<a href="javascript:void(0);" class="btn btn-primary append_">确定</a>
					<p class="text-error card-line"></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 模态框（Modal） -->

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script src="<!--{{asset('/static/js/ajaxfileupload.js')}}-->"></script>
<script>
$(function(){
    $('[data-toggle="popover"]').popover();
    gameselect('#gameselect_I');
    gameselect('#gameselect_A');
    $(".ajax-open").click(function(){

        var obj = $(this);
        var id = $(this).attr('id');
        var name = $(this).attr('name');
        var sharetype = $(this).attr('sharetype');
        var isline = $(this).attr('isline');
        var isHasPush = $(this).attr('isHasPush');
        var type = $(this).html()=="开启"?"0":"1";
        if($(this).html() == "开启"){
            if(confirm("是否确定开启？")){
            }else{
                return false;
            }
            type = 1;
        }else if($(this).html() == "关闭"){
            if(confirm("是否确定关闭？")){
            }else{
                return false;
            }
            type = 0;
        }else if($(this).html() == "置顶"){
            type = 3;
        }else if($(this).html() == "取消置顶"){
            type = 4;
        }
        $.post('<!--{{url('v4_task/task/task-open')}}-->',{id:id,type:type,name:name,sharetype:sharetype,isline:isline,isHasPush:isHasPush},function(data){
            if(data.success=="true"){
                window.location.reload();
                obj.hide();
                obj.siblings("a").show();
            }
        },"json")
    })
    
    $(".ajax-recommend").click(function(){

        var obj = $(this);
        var id = $(this).attr('id');
        var isline = $(this).attr('isline');
        var type = $(this).html()=="推荐"?"1":"0";
        $.post('<!--{{url('v4_task/task/task-recommend')}}-->',{id:id,type:type,isline:isline},function(data){
            if(data.success=="true"){
                window.location.reload();
                obj.hide();
                obj.siblings("a").show();
            }
        },"json")
    })
    
    $(".ajax-mutex").click(function(){

        var obj = $(this);
        var id = $(this).attr('id');
        var mutexid = $(this).attr('mutexid');
        $.post('<!--{{url('v4_task/task/task-mutex')}}-->',{id:id,mutexid:mutexid},function(data){
            if(data.success=="true"){
                window.location.reload();
                obj.hide();
                obj.siblings("a").show();
            }
        },"json")
    })
    
    $('a.ajax-del').bind('click',function(){
        if(confirm('确定要删除数据吗？')){
            var id = $(this).attr('id');
            obj = $(this);
            $.post('<!--{{url('v4_task/task/task-del')}}-->',{id:id},function(data){
                if(data.success=="true"){
                    obj.parent().parent().parent().hide();
                }else{
                    alert(data.mess);
                }
            },"json")
        }
    });
    
    $("#complete_type").live('change',function(){
        if ($(this).val() == 'I') {
            $('.gameselect_I').show();
            $('.gameselect_A').hide();
        } else {
            $('.gameselect_A').show();
            $('.gameselect_I').hide();
        }
        return false;
    })
    
    $(".sel_step").live("click",function(){
        var taskId = $(this).attr("taskId");
        var taskName = encodeURIComponent($(this).attr("taskName"));
        var appType = $(this).attr("appType");
        var approvalReminderInfo = $(this).attr("approvalReminderInfo");
        var stepId = $(this).attr("stepId");
        var stepType = $(this).attr("stepType");
        var step_content = $(this).attr("step_content");
        var step_img = $(this).attr("step_img");
        var appleId = $(this).attr("appleId");
        var minlevel = $(this).attr("minlevel");
        var maxlevel = $(this).attr("maxlevel");
        var title = $(this).html();
        window.open("<!--{{url('v4_task/task/approval-list')}}-->?taskId="+taskId+"&taskName="+taskName+"&appType="+appType+"&stepId="+stepId+"&minlevel="+minlevel+"&maxlevel="+maxlevel+"&title="+title+"&approvalReminderInfo="+approvalReminderInfo);
    })
    
		$(".ajax-append").bind('click',function(){
			var html=$("#dialog-append").html();
			var tid = $(this).attr('data');
			$.dialog({id:'pop-fafang-html',title:'提示',padding:2,content:html,width:410,height:120});
			var can_up = true;
			$("a.append_").bind('click',function(){
				alertify.confirm('确认上传该文件？',function(e){
					if(e && can_up){
						var footer =  $("input[name='footer']").val();
						can_up = false;
						$.ajaxFileUpload({
							url:'/v4_task/task/ajax-upload-file?tid='+tid+'&footer='+footer,
							type : 'post',
							secureuri :false,
							fileElementId :'file_upload',
							dataType : 'JSON',
							success : function (data){
								can_up = true;
								data = eval("("+data+")");
								if(data.state){
									alertify.success(data.msg);
									setTimeout(function(){location.reload();},1000);
								}else{
									alertify.error(data.msg);
								}
							}
						})
					}
				});
			});
		});
});
</script>
<!--{%endblock%}-->