<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">

            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    黑名单列表<span class="badge badge-info"><!--{{totalCount}}--></span>
                </h3>
                <div class="actions">
                    <form action="<!--{{url('a_activity/atask/blacklist')}}-->" method="GET">

                        <table class="table-filter">
                            <tr>

                                <td>
                                    <input id="userselect" name="uid" type="hidden" value="<!--{{uid}}-->" class="bigdrop select2-offscreen" style="width:200px" tabindex="-1">
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin" >
			        <thead>
						<tr>
                            <th class="col-100">用户名</th>
						    <th class="col-150">限制时间</th>
                            <th class="col-50">天数</th>
                            <th class="col-150">备注</th>
							<th class="col-60">操作</th>

						</tr>

					</thead>
					<tbody>
                    <!--{%for item in list%}-->
						<tr >
							<td><!--{{item.uname}}--></td>
							<td><!--{{item.createtime}}-->至<!--{{item.endtime}}--></td>
							<td><!--{{item.date_num}}--></td>
							<td><!--{{item.memo}}--></td>
							<td><a class="btn-primary badge badge-info del" href="javascript:void(0);" bid="<!--{{item.id}}-->" >删除</a></td>

                            		</tr>
                    <!--{%endfor%}-->
					</tbody>
			    </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>


			    
			</div>
		</div>
	</div>
</div>


<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    userselect('#userselect');
    $(function(){
        $(".del").click(function(){
            if(confirm("确定要清空数据吗？"))
            {
                var btn = $(this);
                var id = btn.attr("bid");
                btn.parent().parent().hide();
                $.get("<!--{{url('a_activity/atask/task-blacklist-del')}}-->",{'id':id},function(data){
                    if(data.success==true){
                        btn.parent().parent().hide();
                    }else{
                        alert(data.success);
                        btn.parent().parent().show();
                    }
                },"json");
            }
        })
    })
</script>
<!--{%endblock%}-->