<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					Scheme记录
				</h3>
				<div class="actions">
					<form action="<!--{{url('/v4scheme/record/list')}}-->" method="POST">
						<table class="table-filter">
							<tr>
	                            <td>
	                            	<input name="gid"  placeholder="请填写游戏ID" style="width:177px;" type="text" class="input-small" value="<!--{{gid}}-->" >
	                            </td>
	                            <td>
	                            	<input name="schemeKey"  placeholder="请填写Scheme值" style="width:177px;" type="text" class="input-small" value="<!--{{schemeKey}}-->" >
	                            </td>
	                        <td><input name="export" checked data-on-color="success" data-on-text="查看" data-off-color="danger" data-off-text="删除" class="switchbox" value="1" type="checkbox"/></td>
                        	<td><button class="btn btn-teal"><i class="icon-search"></i>操作</button></td>
                        </tr>
                     </table>
					</form>	
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<!-- <th class="col-60">ID</th> -->
						<th class="col-100">游戏ID</th>
						<th class="col-60">游戏名称</th>
						<th class="col-80">Scheme值</th>
						<th class="col-80">创建时间</th>	
						<th class="col-80">最后操作时间</th>	
						<th class="table-btn-group">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for key,item in datalist%}-->
					<tr id="tr_<!--{{item.id}}-->">
						<td><!--{{item.gameId}}--></td>
						<td><!--{{item.gameName}}--></td>
						<td><!--{{item.schemeKey}}--></td>
						<td><!--{{item.createTime}}--></td>
						<td><!--{{item.lastUpdateTime}}--></td>
						<td>
						<a href="javascript:void(0);" data="<!--{{ item.id }}-->" class="btn btn-primary ajax-del"><i class="icon-trash" title="删除"></i></a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script>
$(function(){
	$('.switchbox').bootstrapSwitch();
	$('.ajax-del').bind('click',function(){
		var p_code = $(this).attr('data');
		alertify.confirm('是否删除该记录？',function(e){
			if(e){
				$.get('/v4scheme/record/ajax-del/'+ p_code,function(resp){
					if(resp.state){
						alertify.success(resp.msg);
						setTimeout(function(){
							location.reload();
						},1000);
					}else{
						alertify.error(resp.msg);
					}
				},'json')
			}
		});
	});
});
</script>
<!--{%endblock%}-->