<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">

	<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>主线程详情</h3>
			</div>
			<div class="box-content">
				<form id="user-edit" action="<!--{{url('v4user/users/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				<input name="id" type="hidden" value="<!--{{info.id}}-->" />
				<div class="control-group">
					<label for="textfield" class="control-label">主线程标识</label>
					<div class="controls">
						<!--{{info.baseId}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">主线程URL</label>
					<div class="controls">
						<!--{{info.urlName}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">URL类型</label>
					<div class="controls">
						<!--{{info.urltype}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">执行时间(毫秒)</label>
					<div class="controls">
						<!--{{info.time}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">网络环境</label>
					<div class="controls">
						<!--{{info.iswifi}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">添加时间</label>
					<div class="controls">
						<!--{{info.addTime}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">IDFA</label>
					<div class="controls">
						<!--{{info.deviceId}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">UID</label>
					<div class="controls">
						<!--{{info.uid}}-->
					</div>
				</div>
				</form>
			</div>
		</div>


		<div class="box box-bordered">
			<div class="box-title">
				<h3><i class="icon-edit"></i>子接口信息</h3>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<!-- <th class="col-60">ID</th> -->
						<th class="col-100">子接口URL</th>
						<th class="col-60">模块</th>
						<th class="col-60">URL类型</th>
						<th class="col-60">执行时间(毫秒)</th>
						<th class="col-80">添加时间</th>
						<th class="col-80">主线程标识</th>
						<th class="table-btn-group">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for key,item in info.processList%}-->
					<tr id="tr_<!--{{item.id}}-->" data-id="<!--{{item.urldata}}-->" >
						<td><a href="javascript:;" class="urldata"><!--{{item.processName}}--></a></td>
						<td><!--{{item.module}}--></td>
						<td><!--{{item.urltype}}--></td>
						<td><!--{{item.timeservice}}--></td>
						<td><!--{{item.receiveTime}}--></td>
						<td><!--{{item.baseId}}--></td>
						<td>

						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    URL数据
                </h4>
            </div>
            <form id="myform" >
                <input type="hidden" name="orderId" id="orderId" value="">
                <div class="modal-body">
                    <div class="box-content">
                        <table class="table"  id="table_from" style="width:50%">
                        </table>
                    </div>
                </div>
            </form>
            <div id="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <a href="javascript:;" id="go_" url="<!--{{url('v4product/order/set',{type:'edit',method:'post'})}}-->" class="btn btn-primary"> 确定</a></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    <!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script>
    $('[data-toggle="popover"]').popover();
	$(function(){		
        $("a.urldata").on('click',function(){
                var tr=$(this).parents("tr"),
                    data=tr.attr('data-id');
                if(data){
                    $("#myModal").modal("show");
                    $("#modal-footer").hide();
                    setHTML(data);
                }else{
                    alertify.error("抱歉，此数据无URL数据");
                }
                return ;
        });
            
	});
        function setHTML(data){
            var html='<body><tr><td>'+data+'</td></tr></body>';
            $("#table_from").html(html);
        }
</script>
<!--{%endblock%}-->