<!--{%extends "help/base-help.twig"%}-->

<!--{%block main_nav%}-->
<header>
	<div class="container navi-breadcrumb">
		<ul class="breadcrumb">
			<li> <a href="<!--{{url('doc/index')}}-->">项目列表</a> <span class="divider">/</span> </li>
			<li><a href="<!--{{url('doc/project-info',[project.id])}}-->"><!--{{project.name}}--></a><span class="divider">/</span></li>
			<li><a class="active" href="<!--{{url('doc/interface-list',[project.id])}}-->">接口列表</a><span class="divider">/</span></li>
			<li><!--{{interface.name}}--></li>
		</ul>
	</div>
</header>
<!--{%endblock%}-->

<!--{%block main_content%}-->
<div class="row">
    <div class="span3">
        <h3><a href="<!--{{url('doc/interface-create',[project.id])}}-->" class="btn" style="margin-top:20px">新增接口</a></h3>
        <ul class="nav nav-list">
            <!--{%for group in interfacelist%}-->
			<li class="nav-header"><!--{{group.name}}--></li>
			<!--{%for item in group.interfaces%}-->	
			<li>
			    <div class="row-fluid" style="padding-top:5px">
			        <div class="offset1">
			            <a id="interface_<!--{{item.id}}-->" href="<!--{{url('doc/interface-info',[item.id])}}-->"><!--{{item.name}}--></a>
			        </div>
			    </div>
			</li>
			<!--{%endfor%}-->
	        <!--{%endfor%}-->			
    </div>
    
    <div class="span9">
        <section id="overview">
            <div class="page-header">
                <h1><!--{{interface.name}}--></h1>
                <a href="<!--{{url('doc/interface-edit',[interface.id])}}-->" class="btn btn-primary btn-small">编辑接口</a>
            </div>
            <p class="lead">接口描述</p>
            <table class="table table-bordered table-striped center-header">
				<tbody>
				    <tr>
				        <td>名称</td>
				        <td><!--{{interface.name}}--></td>
				    </tr>
					<tr>
						<td>HTTP请求方式</td>
						<td><!--{{interface.http_method}}--></td>
					</tr>
					<tr>
				        <td>URL</td>
				        <td><!--{{interface.url}}--></td>
				    </tr>
				    <tr>
				        <td>分类</td>
				        <td><!--{{interface.cate_name}}--></td>
				    </tr>
					<tr>
						<td>接口说明</td>
						<td><!--{{interface.summary}}--></td>
					</tr>
					<tr>
						<td>开发服务器接口地址</td>
						<td><!--{{project.host_develop}}-->/<!--{{interface.url}}--></td>
					</tr>
					<tr>
						<td>测试服务器接口地址</td>
						<td><!--{{project.host_test}}-->/<!--{{interface.url}}--></td>
					</tr>
					<tr>
						<td>正式服务器接口地址</td>
						<td><!--{{project.host_product}}-->/<!--{{interface.url}}--></td>
					</tr>
				</tbody>
			</table>            
        </section>
        <section id="input">
            <p class="lead">输入参数</p>
            <table class="table table-bordered table-striped center-header">
                <thead>
					<tr>
						<td>参数名称</td>
						<td>参数类型</td>
						<td>必需</td>
						<td>说明</td>
					</tr>
				</thead>
				<tbody>
				    <!--{%for param in interface.input_params%}-->	
				    <tr>
				        <td><!--{{param.name}}--></td>
				        <td><!--{{param.type}}--></td>
				        <td><!--{{param.required}}--></td>
				        <td><!--{{param.desc}}--></td>
				    </tr>
				    <!--{%endfor%}-->
				</tbody>
            </table>
        </section>
        <section id="output-success">
            <legend>请求成功时输出数据</legend>
            <p style="margin-top:30px"><i class="icon-ok"></i>示例:</p>
            <pre class="code-pre" ><!--{{interface.out_code}}--></pre>
            <p style="margin-top:30px">
				<i class="icon-ok"></i>参数说明:
			</p>
			<table class="table table-bordered table-striped center-header">
                <thead>
					<tr>
						<td>参数名称</td>
						<td>实例</td>
						<td>说明</td>
						<td>参数类型</td>
					</tr>
				</thead>
				<tbody>
				    <!--{%for param in interface.out_params%}-->	
				    <tr>
				        <td><!--{{param.name}}--></td>
				        <td><!--{{param.sample}}--></td>
				        <td><!--{{param.desc}}--></td>
				        <td><!--{{param.type}}--></td>
				    </tr>
				    <!--{%endfor%}-->
				</tbody>
			</table>
			
			<p style="margin-top:30px">
				<i class="icon-ok"></i>错误码:
			</p>
			<table class="table table-bordered table-striped center-header">
                <thead>
					<tr>
					    <td>error_no</td>
						<td>error_code</td>
						<td>error_description</td>
					</tr>
				</thead>
				<tbody>
				    <!--{%for param in interface.error_params%}-->
				    <tr>
				        <td><!--{{param.error_no}}--></td>
				        <td><!--{{param.error_code}}--></td>
				        <td><!--{{param.error_description}}--></td>
				    </tr>
				    <!--{%endfor%}-->
				</tbody>
			</table>
        </section>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>

$(function() {
	$(".lined").linedtextarea(
		{selectedLine: 1}
	);
});
</script>
<!--{%endblock%}-->
