<!--{%extends "help/base-help.twig"%}-->

<!--{%block main_nav%}-->
<header>
	<div class="container navi-breadcrumb">
		<ul class="breadcrumb">
			<li> <a href="<!--{{url('doc/index')}}-->">项目列表</a> <span class="divider">/</span> </li>
			<li><a href="<!--{{url('doc/project-info',[project.id])}}-->"><!--{{project.name}}--></a><span class="divider">/</span></li>
			<li>接口列表</li>
		</ul>
	</div>
</header>
<!--{%endblock%}-->

<!--{%block main_content%}-->
<a href="<!--{{url('doc/interface-create',[project.id])}}-->" class="btn" style="margin-top:20px">新增接口</a>
<table class="table table-bordered" style="margin-top:20px">
    <!--{%for group in interfacelist%}-->			
	<tr class="info"><td><!--{{group.name}}--></td></tr>					
	<tr>
		<td>
		<div class="row-fluid">
		    <div class="span12"></div>
		<!--{%for item in group.interfaces%}-->
		    <div class="span3" style="margin-left:20px;">
				<a href="<!--{{url('doc/interface-info',[item.id])}}-->">
					<!--{{item.name}}-->
				</a>
			</div>
		<!--{%endfor%}-->
		    <div class="span12"></div>
		</div>
		</td>
	</tr>	
	<!--{%endfor%}-->
</table>
<!--{#
<table class="table table-bordered" style="margin-top:20px">
    <!--{%for group in interfacelist%}-->			
	<tr class="info"><td><!--{{group.name}}--></td></tr>
	<!--{%for item in group.interfaces%}-->				
	<tr>
		<td>
			<p class="interface-info">
				<a href="<!--{{url('doc/interface-info',[item.id])}}-->">
					<!--{{item.name}}-->
				</a>
			</p>
			<p class="interface-subinfo">
				<i class="icon-time"> </i>
				更新时间: <!--{{item.ctime|date('Y-m-d H:i:s')}}-->
			</p>
		</td>
	</tr>
	<!--{%endfor%}-->
	<!--{%endfor%}-->
</table>
#}-->
<!--{%endblock%}-->