<!--{%extends "help/base-help.twig"%}-->

<!--{%block main_nav%}-->
<header>
	<div class="container navi-breadcrumb">
		<ul class="breadcrumb">
			<li> <a href="<!--{{url('doc/index')}}-->">项目列表</a> <span class="divider">/</span> </li>
			<li><a href="<!--{{url('doc/project-info',[])}}-->"><!--{{project.name}}--></a><span class="divider">/</span></li>
			<li><a class="active" href="<!--{{url('doc/interface-list',[project.id])}}-->">接口列表</a><span class="divider">/</span></li>
			<!--{%if interface%}-->
			<li><!--{{interface.name}}--></li>
			<!--{%else%}-->
			<li>新增接口</li>
			<!--{%endif%}-->
		</ul>
	</div>
</header>
<!--{%endblock%}-->

<!--{%block main_content%}-->
<form action="<!--{{url('doc/interface-save')}}-->" method="post">
    <input name="id" type="hidden" value="<!--{{interface.id}}-->" />
    <input name="project_id" type="hidden" value="<!--{{project.id}}-->" />    
    <legend>接口基本信息</legend>
    <div class="row">
	    <div class="span3">
	    <label for="">接口名称</label>
		<input type="text" placeholder="必填" name="name" value= "<!--{{interface.name}}-->">
		</div>
		<div class="span3">
		<label for="">HTTP请求方式</label>
		<!--{{form_select('http_method',{'GET':'GET','POST':'POST'},interface.http_method)}}-->
		</div>
		<div class="span3">
		<label for="">URL</label>
		<input type="text" placeholder="必填" name="url" value= "<!--{{interface.url}}-->">
		</div>
		<div class="span3">
		<label for="">所属类别</label>
		<!--{{form_select('cate_id',categorylist,interface.cate_id)}}-->
		</div>
	</div>
	<div class="row">
	    <div class="span3">
		<label for="">是否需要登录</label>
		<div class="control-group">
		    <div class="controls">	    
		        <label class="radio"><!--{{form_radio('require_login','1',interface.require_login==1)}}-->需要</label>
		        <label class="radio"><!--{{form_radio('require_login','0',interface.require_login==0)}}-->不需要</label>
		    </div>
		</div>
		</div>
		<div class="span9">
		<label for="">接口说明</label>
		<input type="text" placeholder="选填" name="summary" value="<!--{{interface.summary}}-->">
		</div>
	</div>
	<legend>输入参数</legend>
	<table class="table" id="input_params_table">
	    <thead>
			<tr>
				<td>参数名称</td>
				<td>参数类型</td>
				<td>必需</td>
				<td>说明</td>
				<td>
					<a class="add_input_param_button"><i class="icon-plus"></i></a>
				</td>
			</tr>
		</thead>
		<tbody>
		    <!--{%for param in interface.input_params%}-->							
			<tr>
				<td><input type="text" placeholder="必填" name="input_name[]" value="<!--{{param.name}}-->" /></td>
				<td><input type="text" placeholder="必填" name="input_type[]" value="<!--{{param.type}}-->" /></td>
				<td><input type="text" placeholder="选填" name="input_required[]" value="<!--{{param.required}}-->" /></td>
				<td><input type="text" placeholder="选填" name="input_desc[]" value="<!--{{param.desc}}-->" /></td>								
				<td>
					<a class="delete_param_button"><i class="icon-minus"></i></a>
					<a class="add_input_param_button"><i class="icon-plus"></i></a>
				</td>
			</tr>
			<!--{%endfor%}-->
		</tbody>
	</table>
	<div id="output-success">
	    <legend>请求成功时输出数据</legend>
	    <p style="margin-top:30px">
			<i class="icon-ok"></i>示例:
			<a class="btn format-output-button" style="margin-left:20px">格式化数据</a> 
		</p>
		<textarea name="out_code" rows="30" class="lined"><!--{{interface.out_code}}--></textarea>
		<p style="margin-top:30px">
			<i class="icon-ok"></i>参数说明:
		</p>
		<table class="table" id="out_params_table">
		    <thead>
				<tr>
					<td>参数名称</td>
					<td>输入值实例</td>
					<td>说明</td>
					<td>类型</td>
					<td>
						<a class="add_out_param_button"><i class="icon-plus"></i></a>
					</td>
				</tr>
			</thead>
			<tbody>	
			    <!--{%for param in interface.out_params%}-->							
				<tr>
					<td><input type="text" placeholder="必填" name="out_name[]" value="<!--{{param.name}}-->"></td>
					<td><input type="text" placeholder="选填" name="out_sample[]" value="<!--{{param.sample}}-->"></td>
					<td><input type="text" placeholder="选填" name="out_desc[]" value="<!--{{param.desc}}-->"></td>
					<td><input type="text" placeholder="选填" name="out_type[]" value="<!--{{param.type}}-->"></td>
					<td>
						<a class="delete_param_button"><i class="icon-minus"></i></a>
						<a class="add_out_param_button"><i class="icon-plus"></i></a>
					</td>
				</tr>
				<!--{%endfor%}-->
			</tbody>
		</table>
		<p style="margin-top:30px">
			<i class="icon-ok"></i>错误码: 
		</p>
		<table class="table" id="error_params_table">
		    <thead>		        
				<tr>
				    <td>错误号</td>
					<td>错误码</td>
					<td>错误说明</td>
					<td>
						<a class="add_error_param_button"><i class="icon-plus"></i></a>
					</td>
				</tr>				
			</thead>
			<tbody>							
				<!--{%for param in interface.error_params%}-->
				<tr>
				    <td><input type="text" placeholder="必填" name="error_no[]" value="<!--{{param.no}}-->"></td>
					<td><input type="text" placeholder="必填" name="error_code[]" value="<!--{{param.error_code}}-->"></td>
					<td><input type="text" placeholder="必填" name="error_description[]" value="<!--{{param.error_description}}-->"></td>
					<td>
						<a class="delete_param_button"><i class="icon-minus"></i></a>
						<a class="add_error_param_button"><i class="icon-plus"></i></a>
					</td>
				</tr>
				<!--{%endfor%}-->
			</tbody>
		</table>
	</div>
</form>
<div class="row center-div">
	<a class="btn btn-large btn-success interface-button" id="submit_button">提交接口</a>
</div>
<script id="tpl_input_param" type="text/html">
<tr>
	<td><input type="text" placeholder="必填" name="input_name[]" value="" /></td>
	<td><input type="text" placeholder="必填" name="input_type[]" value="" /></td>
	<td><input type="text" placeholder="选填" name="input_required[]" value="false" /></td>
	<td><input type="text" placeholder="选填" name="input_desc[]" value="" /></td>								
	<td>
		<a class="delete_param_button"><i class="icon-minus"></i></a>
		<a class="add_input_param_button"><i class="icon-plus"></i></a>
	</td>
</tr>
</script>
<script id="tpl_out_param" type="text/html">
<tr>
	<td><input type="text" placeholder="必填" name="out_name[]" value="<!--{{param.name}}-->"></td>
	<td><input type="text" placeholder="选填" name="out_sample[]" value="<!--{{param.sample}}-->"></td>
	<td><input type="text" placeholder="选填" name="out_desc[]" value="<!--{{param.desc}}-->"></td>
	<td><input type="text" placeholder="选填" name="out_type[]" value="<!--{{param.type}}-->"></td>
	<td>
		<a class="delete_param_button"><i class="icon-minus"></i></a>
		<a class="add_out_param_button"><i class="icon-plus"></i></a>
	</td>
</tr>
</script>
<script id="tpl_error_param" type="text/html">
<tr>
    <td><input type="text" placeholder="必填" name="error_no[]" value=""></td>
	<td><input type="text" placeholder="必填" name="error_code[]" value=""></td>
	<td><input type="text" placeholder="必填" name="error_description[]" value=""></td>
	<td>
		<a class="delete_param_button"><i class="icon-minus"></i></a>
		<a class="add_error_param_button"><i class="icon-plus"></i></a>
	</td>
</tr>
</script>

<!--{%endblock%}-->



<!--{%block footer_js%}-->
<script>
$(function(){

    function getInputTpl(){
        var html = template.render('tpl_input_param');
        return html;
    }
    
    function getOutTpl(){
        var html = template.render('tpl_out_param');
        return html;
    }
    
    function getErrorTpl(){
        var html = template.render('tpl_error_param');
        return html;
    }
    
    // 格式化成功时的伪数据
	$(".format-output-button").click(function() {
		var textarea = $(this).parent().parent().find("textarea");
		textarea.val(jsl.format.formatJson(textarea.val()))
	});
    
    $("table td a").click(function() {
        var row = $(this).parents("tr");
        if ($(this).hasClass("delete_param_button")) {
            row.remove();
        }else{
            var table = $(this).parents("table");
            
            if($(this).hasClass("add_input_param_button")){
                //addTableRow(table,getInputTpl,row);
                addAfterTableRow(this,getInputTpl);
            }else if($(this).hasClass("add_out_param_button")){
                //addTableRow(table,getOutTpl);
                addAfterTableRow(this,getOutTpl);
            }else if($(this).hasClass("add_error_param_button")){
                //addTableRow(table,getErrorTpl);
                addAfterTableRow(this,getErrorTpl);
            }
        }
    
    });
    
    $(function() {
		$(".lined").linedtextarea(
			{selectedLine: 1}
		);
	});
    
    $("#submit_button").click(function() {
		$("form").submit()
	});
});
</script>
<!--{%endblock%}-->



