<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>用户信息</h3>
			</div>
			<div class="box-content">
				<form id="user-edit" action="<!--{{url('v4user/users/edit')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				<input name="act" type="hidden" value="edit" />
				<div class="control-group">
					<label for="textfield" class="control-label">用户ID</label>
					<div class="controls">
						<input type="text" name="uid" id="uid" class="input-xlarge" value="<!--{{user.uid}}-->" readonly="readonly">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">用户头像</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 200px; max-height: 150px;"><img src="<!--{{user.avatar|default('/static/img/common/avatar.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span><input type="file" name='avatar' /></span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
							</div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">用户邮箱</label>
					<div class="controls">
						<input type="text" name="email" id="email" class="input-xlarge" value="<!--{{user.email}}-->">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">用户昵称</label>
					<div class="controls">
						<input type="text" name="nickname" id="nickname" class="input-xlarge" value="<!--{{user.nickname}}-->">
					</div>
				</div>								
				<div class="control-group">
					<label for="textfield" class="control-label">手机号码</label>
					<div class="controls">
						<input type="text" name="mobile" id="mobile" class="input-small" value="<!--{{user.mobile}}-->">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">手机状态</label>
					<div class="controls">
						<label class="checkbox inline">
							<!--{{form_checkbox('is_valid',true,is_valid==true)}}-->已通过短信验证
						</label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">游币</label>
					<div class="controls">
						<label class="label"><!--{{moneys[user.uid]|default(0)}}--></label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">钻石</label>
					<div class="controls">
						<label class="label"><!--{{diamound[user.uid]|default(0)}}--></label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">签名</label>
					<div class="controls">
						<textarea name="summary" class="input-xlarge"><!--{{user.summary}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">性别</label>
					<div class="controls">
					    <label class="radio inline">
	                        <!--{{form_radio('sex','1',user.sex==1)}}-->男							    						
					    </label>
					    <label class="radio inline">
	                        <!--{{form_radio('sex','2',user.sex==2)}}-->女							    						
					    </label>
					    <label class="radio inline">
	                        <!--{{form_radio('sex','0',user.sex==0)}}-->保密							    						
					    </label>			                
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">出生日期</label>
					<div class="controls">
						<div class="input-append date datepick" id="dpEnd" data-date="">
							<input name="birthday" type="text" class="input-small" value="<!--{{user.birthday}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">地区</label>
					<div class="controls">
						<div class=" input-append">
						    <input type="text" name="province" class="input-small add-on" value="<!--{{user.province}}-->">
							<input type="text" name="city" class="input-small add-on" value="<!--{{user.city}}-->">
							<input type="text" name="region" class="input-small add-on" value="<!--{{user.region}}-->">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">收货人</label>
					<div class="controls">
						<div class=" input-append">
						    <input type="text" name="address" class="input-small" style="width:600px;" value="<!--{{consignee}}-->">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">联系电话</label>
					<div class="controls">
						<div class=" input-append">
						    <input type="text" name="address" class="input-small" style="width:600px;" value="<!--{{phone}}-->">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">收货地址</label>
					<div class="controls">
						<div class=" input-append">
						    <input type="text" name="address" class="input-small" style="width:600px;" value="<!--{{address}}-->">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">支付宝账号</label>
					<div class="controls">
						<div class=" input-append">
						    <input type="text" name="alipay_num" class="input-small" style="width:400px;"  value="<!--{{user.alipay_num}}-->">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">支付宝姓名</label>
					<div class="controls">
						<div class=" input-append">
						    <input type="text" name="alipay_num" class="input-small" style="width:400px;"  value="<!--{{user.alipay_name}}-->">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">IDFA</label>
					<div class="controls">
						<div class=" input-append">
						    <input type="text" name="idfa" class="input-small" style="width:600px;" value="<!--{{user.idfa}}-->">
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">管理员状态</label>
					<div class="controls">
						<label class="checkbox inline">
							<!--{{form_checkbox('admin_lv',1,admin_lv==1)}}-->已成为管理员账号
						</label>
					</div>
				</div>
				<div class="form-actions">
					<button id="submit-btn" type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script>
jQuery(document).ready(function(){
	jQuery("#user-edit").validationEngine({'custom_error_messages':{
		"#score_info":{
			"condRequired": {'message':'游币备注不能为空'}
		},
		"#experience_info":{
			"condRequired": {'message':'经验备注不能为空'}
		}
	}});
});
</script>
<!--{%endblock%}-->