<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>活动信息</h3>
			</div>
			<div class="box-content">
			    <form id="form_article" action="<!--{{url('liansais/home/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
                    <div class="control-group">
                        <label class="control-label">游戏名称<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="name" class="input-xxlarge" value="<!--{{data.name}}-->" data-rule-required="true" data-msg-required="请填写游戏名称" />
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">icon</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.icon|default('/static/img/bg-input.png')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                        <span class="btn btn-file"><i class="icon-picture"></i>
                            <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                            <input id="task_img" name="img" type="hidden" value="<!--{{data.icon}}-->"/>
                            <input type="file"  name="pic" >
                        </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏平台</label>
                        <!--{{form_radio('platform',1,data.platform==1)}}-->双端
                        <!--{{form_radio('platform',2,data.platform==2)}}-->安卓
                        <!--{{form_radio('platform',3,data.platform==3)}}-->ios
                    </div>
                    <div class="control-group">
                        <label class="control-label">游戏大小:<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="sizes"  class="input-xxlarge"  value="<!--{{data.sizes}}-->" data-rule-required="true" data-msg-required="请填写游戏大小" /> 游戏大小只能填写数字
                            </div>
                        </div>
                    </div>
                    <div class="control-group" id="iOS">
                        <label class="control-label">iOS下载链接:<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="iOS_downloadUrl" class="input-xxlarge" value="<!--{{data.downloadUrl.iOS}}-->" data-rule-required="true" data-msg-required="请填写游戏下载地址" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group" id="andriod">
                        <label class="control-label">安卓下载链接:<i class="tip-star">*</i></label>
                        <div class="controls">
                            <div class=" input-append">
                                <input type="text" name="android_downloadUrl" class="input-xxlarge" value="<!--{{data.downloadUrl.android}}-->" data-rule-required="true" data-msg-required="请填写游戏下载地址" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="textfield" class="control-label">活动介绍:</label>
                        <div class="controls">
                            <script id="container" name="explanation" type="text/plain"><!--{{data.explanation  }}--></script>
                        </div>
                    </div>
			    <div class="form-actions">
                    <input type="hidden" name="id" value="<!--{{data.id}}-->"/>
                    <input type="hidden" name="gameId" value="<!--{{data.gameId}}-->"/>
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
    $(function() {
        var editor = UE.getEditor('container', {initialFrameWidth: 800});
        $('input.datetimepicker').datetimepicker({format: 'Y-m-d', lang: 'ch'});

        var plat_date="<!--{{ data.platform|default(1)}}-->";
        check_platform(plat_date);
        $("input[name='platform']").on('ifChecked',function(e){
            var check_val= e.currentTarget.value;
            check_platform(check_val);
        });
        $('input:radio').iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%'
        });




        function check_platform(platformType){
           // alert(platformType);
            if(platformType=="2"&&!platformType!="3"){
                $("#iOS").hide();
                $("#andriod").show();
            }
            else if(platformType=="3"&&!platformType!="2")
            {
                $("#iOS").show();
                $("#andriod").hide();
            }
            else
            {

                $("#iOS").show();
                $("#andriod").show();
            }
        }

        })
</script>
<!--{%endblock%}-->








