<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    福利管理
                </h3>
                <div class="actions">
                    <form action="<!--{{url('/v4product/label/list')}}-->">

                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-120"></th>
                        <th class="col-200">标题</th>
                        <th class="col-120">商城种类</th>
                        <th class="table-btn-group">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{% for key,item in datalist%}-->
                        <tr id="tr_<!--{{item.kindId}}-->">
                            <td><!--{{view[key]}}--></td>
                            <td><!--{{item.kindName}}--></td>
                            <td><!--{{item.list.0.categoryName}}--></td>
                            <td>
                                <a href="<!--{{url('v4product/welfare/edit',{id:item.kindId,key:'kindId'})}}-->"                           class="btn btn-primary">编辑</a>
                            </td>
                        </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/MyHelp.js')}}-->"></script>
<script>
    $(function(){
        var settion={
            elem: 'a.caozuo,a.del',
        };
        ajaxCZ(settion);
        $('span.select-pop-cate').on('click',function(){
            $.ajax({
                url:'/v4product/goods/cate-list-select',
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog({id:'pop-cate-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });

    });
    var set_selected_cate = function(cate_id,cate_name){
        $("#selected_categoryId").val(cate_id);
        $("#selected_cate_name").val(cate_name);
    };
</script>
<!--{%endblock%}-->