<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					批次管理
					<span class="badge badge-warning"><!--{{totalcount}}--></span>
				</h3>
				<div class="actions">
				    <form action="<!--{{url('phone/batch/list')}}-->" class="">
				    <table class="table-filter">				        
				        <tr>
				            <td><input name="batch_code" type="text" class="input-small" value="<!--{{search.batch_code}}-->" /></td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <td><a href="<!--{{url('phone/batch/add')}}-->" class="btn btn-teal">添加批次</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">
						        
							</th>
						    <th class="col-50">ID</th>
							<th class="col-150">批次Code</th>
							<th class="col-150">创建时间</th>
							<th class="col-150">修改时间</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					<!--{%for item in datalist%}-->
					<tr>
						<td></td>
						<td><!--{{item.batch_id}}--></td>
						<td><!--{{item.batch_code}}--></td>
						<td><!--{{item.created_at}}--></td>
						<td><!--{{item.updated_at}}--></td>
						<td>
							<a href="<!--{{url('phone/batch/edit',{'admin_id':item.batch_id})}}-->" class="btn btn-primary">编辑</a>
							<a href="<!--{{url('phone/batch/del',{'admin_id':item.batch_id})}}-->" class="btn btn-danger">删除</a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->