<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    自分享列表
                </h3>
                <div class="actions">
                    <form id="myform2" action="<!--{{url('v4giftbag/package/card-download')}}-->"></form>
                    <form action="<!--{{url('v4_share/home/v4share')}}-->">
                        <table class="table-filter">
                            <tr>
                                <td>
                                    <select name="platform" id="gPlatform" style="width:180px;margin-bottom:0px;">
                                        <option value="">请选择平台</option>
                                        <!--{% for key, value in platforms %}-->
                                        <option value="<!--{{ key }}-->" <!--{% if key == search.platform %}-->selected<!--{% endif %}-->><!--{{ value }}--></option>
                                        <!--{% endfor %}-->
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="input-small" name="title" placeholder="名称" value="<!--{{ search.title }}-->">
                                </td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a href="<!--{{url('v4_share/home/v4share-add')}}-->" class="btn btn-teal">添加</a></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-20">ID</th>
                        <th class="col-20">平台</th>
                        <th class="col-80">标题</th>
                        <th class="col-150">新用户奖励</th>
                        <th class="col-60">老用户奖励</th>
                        <th class="col-100">开始时间</th>
                        <th class="col-100">结束时间</th>
                        <th class="col-40">达标次数</th>
                        <th class="col-40">完成人数</th>
                        <th class="col-40">新增用户</th>
                        <th class="col-150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{% for item in list %}-->
                    <tr>
                        <td><!--{{ item.id }}--></td>
                        <td><!--{{ platforms[item.platform] }}--></td>
                        <td><span title="<!--{{ item.title }}-->"><!--{{ item.title }}--></span></td>
                        <td class="user-avatar">
                            <img title="<!--{{ item.newReward.rewardName }}-->" src="<!--{{ item.newReward.iconUrl }}-->">
                            <!--{% if item.newReward.giftId and item.newReward.rewardType == 3 and item.active is sameas(false) %}-->
                            <div class="btn-group gift-op">
                                <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">礼包操作<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-primary">
                                    <li>
                                        <a href="javascript:void(0);" class="daochu" cardcode="<!--{{item.newReward.giftId}}-->" id="daochu">卡密导出</a>
                                    </li>
                                </ul>
                            </div>
                            <!--{% endif %}-->
                        </td>
                        <td class="user-avatar">
                            <img title="<!--{{ item.oldReward.rewardName }}-->" src="<!--{{ item.oldReward.iconUrl }}-->">
                            <!--{% if item.oldReward.giftId and item.oldReward.rewardType == 3  and item.active is sameas(false) %}-->
                            <div class="btn-group gift-op">
                                <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">礼包操作<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-primary">
                                    <li>
                                        <a href="javascript:void(0);" class="daochu" cardcode="<!--{{item.oldReward.giftId}}-->" id="daochu">卡密导出</a>
                                    </li>
                                </ul>
                            </div>
                            <!--{% endif %}-->
                        </td>
                        <td><!--{{ item.startTime|date('Y-m-d H:i:s') }}--></td>
                        <td><!--{{ item.endTime|date('Y-m-d H:i:s') }}--></td>
                        <td><span class="badge badge-warning"><!--{{ item.minStandard }}--></span></td>
                        <td><span class="badge"><!--{{ item.completeCount }}--></span></td>
                        <td><span class="badge"><!--{{ item.newCount }}--></span></td>
                        <td>
                            <a href="<!--{{url('v4_share/home/v4share-add')}}-->?id=<!--{{ item.id }}-->" class="btn btn-primary">编辑</a>
                            <div class="btn-group">
                                <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">其他操作<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-primary">
                                    <li><a href="<!--{{url('v4_share/home/v4share-record')}}-->?shareConfigId=<!--{{ item.id }}-->">分享记录</a></li>
                                </ul>
                            </div>
                            <!--{%if item.active is sameas(false) %}-->
                            <a href="#nogo" id="<!--{{item.id}}-->" class="btn btn-drop ajax-open btn-primary">开启</a>
                            <a href="#nogo>" id="<!--{{item.id}}-->" class="btn btn-drop ajax-open btn-primary" style="display: none">关闭</a>
                            <!--{%else%}-->
                            <a href="#nogo" id="<!--{{item.id}}-->" class="btn btn-drop ajax-open btn-primary" style="display: none">开启</a>
                            <a href="#nogo" id="<!--{{item.id}}-->" class="btn btn-drop ajax-open btn-primary">关闭</a>
                            <!--{%endif%}-->
                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{ pagelinks }}-->
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">分享地址</h4>
                            </div>
                            <div class="modal-body">
                                <p>分享地址：<span id="slink">正在加载数据...</span></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    导出
                </h4>
            </div>
            <div class="modal-body">
                <div class="box-content">
                    <div class="control-group">
                        <label class="control-label">导出状态</label>
                        <div class="controls">
                            <select id="my_status" name="status">
                                <option value="0">未使用(库存中) </option>
                                <option value="2">已使用 </option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">导出卡密数量</label>
                        <div class="controls">
                            <input type="text" name="cardNumber" id="cardNumber" >
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <a href="javascript:;" id="go_" class="btn btn-primary"> 确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
        $('.slink').click(function(){
            var shareConfigId = $(this).attr("sid");
            $.post('<!--{{url('v4_share/home/ajax-get-url')}}-->',{shareConfigId:shareConfigId,upperUid:"5345536"},function(data){
                if(data.success){
                    $('#slink').html(data.data['shareUrl']);
                }else{
                    alert(data.error);
                }
            },"json")
        });
        $('a.ajax-del').bind('click',function(){
            var act_id = $(this).attr('data');
            alertify.confirm('确定删除数据吗？',function(e){
                if(e){
                    $.get('/v4_share/home/del',{'act_id':act_id},function(resp){
                        if(resp.state){
                            alertify.success(resp.msg);
                            setTimeout(function(){
                                location.reload();
                            },1000);
                        }else{
                            alertify.error(resp.msg);
                        }
                    },'json')
                }
            });
        });
        $(".ajax-open").click(function(){
            var obj = $(this);
            var id = $(this).attr('id');
            var type = $(this).html()=="开启"? true : false;
            if($(this).html() == "开启"){
                if(confirm("确定开启ID为"+id+"的自分享？")){
                }else{
                    return false;
                }
                type = true;
            }else if($(this).html() == "关闭"){
                if(confirm("确定关闭ID为"+id+"的自分享？")){
                }else{
                    return false;
                }
                type = false;
            }
            $.post('<!--{{url('v4_share/home/ajax-open')}}-->',{id:id,active:type},function(data){
                if(data.success){
                    obj.hide();
                    obj.siblings("a").show();
                    if(type==true){
                        obj.parent().siblings(".isOpen").children().addClass("badge-success").html("开启");
                        setTimeout(function(){
                            location.reload();
                        },1000);
                    }else if(type==false){
                        obj.parent().siblings(".isOpen").children().removeClass("badge-success").html("关闭");
                        setTimeout(function(){
                            location.reload();
                        },1000);
                    }
                }
            },"json")
        })
    });
    $("a.daochu").bind('click',function(){
        $("#Modal").modal("show");
        var cardcode=$(this).attr('cardcode');
        $("#go_").bind('click',function(){
            var my_status=$("#my_status").val(),
                    cardNumber=$("#cardNumber").val();
            if(my_status && cardNumber){
                window.location.href=$("#myform2").attr("action")+'?status='+my_status+'&cardNumber='+cardNumber+'&cardCode='+cardcode;
            }else if(!cardNumber){
                window.location.href=$("#myform2").attr("action")+'?status='+my_status+'&cardcode='+cardcode;
            }else{
                window.location.href=$("#myform2").attr("action");
            }
            $("#Modal").modal("hide");
        });
    });
</script>
<!--{%endblock%}-->
