<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					奖励记录
				</h3>
				<div class="actions">
					<form action="<!--{{url('duang/variation/share-record')}}-->/<!--{{ search.act_id }}-->">
                        <table class="table-filter">
                            <tr>
                            </tr>
                        </table>
                    </form>
				</div>
			</div>
			<div class="box-content nopadding" style="float: left;width: 49%;">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
                        <th class="col-60">老用户奖励</th>
						<th class="col-60">领取量</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in data.rewardList.list %}-->
					<tr>
                        <td><!--{{ item.rewardName }}--></td>
						<td><!--{{ item.offerCount }}--></td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
			</div>

            <div class="box-content nopadding" style="float: left;width: 49%;">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-60">新用户奖励</th>
                        <th class="col-60">领取量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{% for item in data.baitList.list %}-->
                    <tr>
                        <td><!--{{ item.rewardName }}--></td>
                        <td><!--{{ item.offerCount }}--></td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
	$(function(){
		$('a.ajax-clear').bind('click',function(){
			var depot_id = $(this).attr('data');
			alertify.confirm('确定清空所有（未领取）卡号么？',function(e){
				if(e){
					$.get('/duang/gbdepot/clear',{'depot_id':depot_id},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
		$('a.ajax-del').bind('click',function(){
			var depot_id = $(this).attr('data');
			alertify.confirm('确定礼包么？（礼包卡及活动关联都会被删除）',function(e){
				if(e){
					$.get('/duang/gbdepot/delete',{'depot_id':depot_id},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
	});
</script>
<!--{%endblock%}-->