<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>商品分类信息</h3>
            </div>
            <div class="box-content">
                <form id="cate_from" action="<!--{{url('v4product/label/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

                    <div class="control-group">
                        <label class="control-label">*标签名称</label>
                        <div class="controls">
                            <input type="text" name="tagName" id="tagName" data-rule-required="true" data-msg-required="请填写标签名称" class="input-xlarge" value="<!--{{ input_old('tagName') }}-->" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">*商城类型</label>
                        <div class="controls">
                            <!--{{form_select('',productType,input_old('productType'),{'class':'input-small','id':'productType'})}}-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">*商城种类</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="selected_categoryId" name="categoryId"   type="hidden" value="<!--{{ input_old('categoryId') }}-->" />
                                <input type="text" placeholder="请选择商品种类" name="categoryName" id="selected_cate_name" readonly  style="width:120px" value="<!--{{ input_old('categoryName') }}-->" />
                                <span class="add-on select-pop-cate">选择商品种类</span>

                            </div>
                         </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">排序</label>
                        <div class="controls">
                            <input type="text" name="tagSort" id="sort" class="input-small" value="<!--{{input_old('tagSort')|default(50)}}-->" />
                            <span class="help-inline">排序值越大越靠前</span>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>

    var set_selected_cate = function(cate_id,cate_name){
        $('#selected_categoryId').val(cate_id);
        $('#selected_cate_name').val(cate_name);
    };
    $('span.select-pop-cate').on('click',function(){
        var productType=$("#productType").val();
        $.ajax({
            url:'/v4product/goods/cate-list-select/'+productType,
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-cate-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });
    });



</script>
<!--{%endblock%}-->
