<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					论坛版块列表					
				</h3>
				<div class="actions">
				    <form>
				    <table class="table-filter">
				        <tr>				            
				            <td><input id="gameselect" name="game_id" type="hidden" value="<!--{{gid}}-->" class="bigdrop select2-offscreen" tabindex="-1"></td>				            				           
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <td><!--{%if gid>0%}--><a href="<!--{{url('forum/channel/add',{'gid':gid})}}-->" class="btn btn-teal"><i class="icon-plus"></i>添加新版块</button><!--{%endif%}--></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th>ID</th>
							<th>论坛名称</th>
							<th>版块名称</th>
							<th>允许发帖</th>
							<th>版块类型</th>
							<th>排序</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.cid}}--></td>
							<td><!--{{game.shortgname|default('全局版块')}}--></td>
							<td><!--{{item.channel_name}}--></td>
							<td><!--{%if item.allowpost==1 %}-->允许<!--{%else%}-->禁止<!--{%endif%}--></td>
							<td>
							    <!--{%if item.cid==2 %}-->问答<!--{%else%}-->普通<!--{%endif%}-->
							    <!--{%if item.gid == 0%}--><span class="badge badge-important">全局</span><!--{%else%}--><span class="badge badge-important">自定义</span><!--{%endif%}--></td>
							<td><!--{{item.displayorder}}--></td>
							<td>
							    <a href="<!--{{url('forum/channel/edit',{gid:item.cid})}}-->" class="btn btn-primary">编辑</a>
							    <!--{%if item.gid>0%}-->							    
							    <a href="<!--{{url('forum/channel/delete',{gid:item.gid,cid:item.cid})}}-->" class="btn btn-primary">删除</a>
							    <!--{%endif%}-->							    
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
$(function(){
    gameselect('#gameselect');
});
</script>
<!--{%endblock%}-->