<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>论坛版块信息</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('forum/channel/save')}}-->" method="POST" class='form-horizontal'>
				<input name="cid" type="hidden" value="<!--{{channel.cid}}-->" />
				<input name="gid" type="hidden" value="<!--{{channel.gid}}-->" />				
				<div class="control-group">
					<label for="textfield" class="control-label">版块名称</label>
					<div class="controls">
					    <input name="channel_name" type="text" class="input-xlarge" value="<!--{{channel.channel_name}}-->" />
					    <!--{%if channel.gid == 0%}--><span class="help-inline">全局版块是所有微论坛共用版块,修改后会影响全局</span><!--{%endif%}-->
					</div>
				</div>
				<!--{#
				<div class="control-group">
					<label for="textfield" class="control-label">版块图标</label>
					<div class="controls">
					    <input name="icon" type="text" class="input-xlarge" value="<!--{{channel.icon}}-->" />
					</div>
				</div>
				#}-->
				<div class="control-group">
					<label for="textfield" class="control-label">所属游戏</label>
					<div class="controls">
					    <span class="label"><!--{{game.shortgname|default('全局版块')}}--></span>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">允许发帖</label>
					<div class="controls">
					    <label class="checkbox inline">
					        <!--{{form_checkbox('allowpost',1,channel.allowpost==1)}}-->允许发帖
					    </label>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">排序</label>
					<div class="controls">
					    <input name="displayorder" type="text" class="input-small" value="<!--{{channel.displayorder|default('50')}}-->" />
					</div>
				</div>						
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->