<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>远征队信息</h3>
			</div>
			<div class="box-content">
			    <form id="form-activity" action="<!--{{url('forum/channel/save-expedition')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <input id="id" name="id" type="hidden" value="<!--{{epd.id}}-->" />
				<div class="control-group">
					<label class="control-label">标题</label>
					<div class="controls">
						<input type="text" name="title" class="input-xxlarge" value="<!--{{epd.title}}-->" data-rule-required="true" data-msg-required="标题不能为空" />
					</div>
				</div>								
				<div class="control-group">
					<label class="control-label">图片</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 160px; max-height: 55px;"><img src="<!--{%if epd.litpic%}--><!--{{config('app.img_url')}}--><!--{%endif%}--><!--{{epd.litpic|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 160px; max-height: 55px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input type="file" name='litpic' /></span>
							</div>
						</div>
						<span class="help-inline">图片最佳尺寸：584*166</span>
					</div>
				</div>				
				
				<div class="control-group">
					<label class="control-label">关联的游戏</label>
					<div class="controls">
					    <div class="input-append">
					        <input id="selected_game_id" name="gid" type="hidden" value="<!--{{epd.gid}}-->" />
						    <img id="selected_game_icon" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
							<input type="text" id="selected_game_name" name="game_name" class="input-xlarge" value="<!--{{game.shortgname}}-->" data-rule-required="true" data-msg-required="关联游戏不能为空" />
							<span class="add-on select-pop-game">选择游戏</span>
						</div>												
					</div>
				</div>
							
				<div class="control-group">
					<label class="control-label">排序</label>
					<div class="controls">					    
				        <input name="sort" type="text" class="input-small" value="<!--{{epd.sort|default(50)}}-->" />				        				       
					</div>
				</div>								
			    <div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
var set_selected_game = function(game_id,game_name,icon){

    $('#selected_game_id').val(game_id);
    $('#selected_game_icon').attr('src',icon);
    $('#selected_game_name').val(game_name);
};
$(function(){
    $('.select-pop-game').bind('click',function(){        
        $.ajax({
            url:'/game/api/game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });    
        
});
</script>
<!--{%endblock%}-->