<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					点赞用户列表
					<span class="badge badge-warning"><!--{{totalcount}}--></span>
				</h3>
				<div class="actions">
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">
						        
							</th>
						    <th class="col-50">ID</th>
							<th class="col-100">用户名</th>
							<th class="col-60">头像</th>
							<th class="col-120">点赞时间</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in out%}-->
						<tr>
						    <td></td>
							<td><!--{{item.uid}}--></td>
							<td><!--{{item.nickname}}--></td>
							<td class="user-avatar"><img src="<!--{{item.avatar|default('/userdirs/common/avatar@2x.png?v=3')}}-->" /></td>
							<td><!--{{item.ctime}}--></td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->