<!--{%extends "sub-layout-other.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">

			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					发现列表

				</h3>

			</div>
			<div class="box-content nopadding">
				<table id="bbstable" class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-60">发现icon</th>
						<th class="col-120">发现标题</th>
						<th class="col-100">发现简介</th>
						<th class="col-100">排序</th>
						<th class="col-100">跳转类型</th>
						<th class="col-100">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in list %}-->
					<tr>
						<td class="user-avatar"><img src="<!--{{ item.pic }}-->"/></td>
						<td><!--{{ item.title }}--></td>
						<td><!--{{ item.description }}--></td>
						<td><!--{{ item.top }}--></td>
						<td><!--{{ item.linkValue }}--></td>
						<td><a class="btn-primary badge badge-info" href="<!--{{url('other/discovery/edit',{'id':item.id,'dataSubType':item.dataSubType})}}-->"  >编辑</a>
							<a class="btn-primary badge badge-info del" href="javascript:void(0);" bid="<!--{{item.id}}-->" >删除</a>

						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
		$(".del").click(function(){
			if(confirm("确定删除数据吗？")){
				var id = $(this).attr("bid");
				var obj =  $(this);
				$.post("<!--{{url('other/discovery/del')}}-->",{'id':id},function(data){
					if(data.success==true){
						obj.parent().parent().hide();
					}else{
						alert(data.mess);
					}
				},"json")
			}
		})
	})
</script>
<!--{%endblock%}-->