<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>联赛发布</h3>
			</div>
			<div class="box-content">
			    <form id="form_article" action="<!--{{url('liansai/home/game-add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

                <div class="control-group">
					<label class="control-label">*标题<i class="tip-star">*</i></label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="gameName" class="input-xxlarge" value="<!--{{data.gameName}}-->" data-rule-required="true" data-msg-required="请填写标题" />
						</div>
					</div>
				</div>
                    <div class="control-group">
                        <label class="control-label">icon</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{data.gameIcon|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            <span class="btn btn-file"><i class="icon-picture"></i>
                                <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input id="task_img" name="img" type="hidden" value="<!--{{data.gameIcon}}-->"/>
                                <input type="file"  name="pic" >
                            </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                            </div>
                        </div>
                    </div>
			    <div class="form-actions">
                    <input type="hidden" name="id" value="<!--{{data.id}}-->"/>
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
var set_selected_web_game = function(game_id,game_name,game_icon){
	var game_ids = $('#web_game_id').val();
	if(game_ids.length>0){
		var a = game_ids.split(',');
		a.push(game_id);
		var b = a.join(',');
		//console.log(b);
		$('#web_game_id').val(b);
	}else{
		$('#web_game_id').val(game_id);
	}
};
var set_selected_picture = function(data_id){
    $('#picture_id').val(data_id);
};
var set_selected_video = function(data_id){
    $('#video_id').val(data_id);
};
$(function(){
    var editor = UE.getEditor('container',{initialFrameWidth:800});
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    if($(".tagsinput").length > 0){
		$('.tagsinput').tagsInput({width:'auto', height:'auto',autocomplete_url:'<!--{{url('yxvl_eSports/api/tags')}}-->'});
	}
    //$('#tags').addTag('网络游戏');
    
    
    $('.select-pop-picture').bind('click',function(){        
        $.ajax({
            url:'/yxvl_eSports/api/pop-picture-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-picture-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
    
    $('.select-pop-video').bind('click',function(){        
        $.ajax({
            url:'/yxvl_eSports/api/pop-video-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-video-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
    
    $('.select-web-game').bind('click',function(){        
        $.ajax({
            url:'/yxvl_eSports/api/pop-game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
});
</script>
<!--{%endblock%}-->