<div class="box">
    <div class="actions">
        <table class="table-filter">
            <tr>
                <td>
                    模板名称
                </td>
                <td>
                    <input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{search.templateName}}-->">
                </td>
                <td>
                    <a href="javascript:searchTemplate();" class="btn btn-teal">按条件搜索</a>
                </td>
            </tr>
        </table>
    </div>
    <table class="table table-hover table-nomargin">
        <thead>
        <tr>
            <th class="col-110">ID</th>
            <th class="col-400">模板名称</th>
            <th class="table-btn-group">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{%for item in data%}-->
        <tr>
            <td><!--{{item.id}}--></td>
            <td id="template_name_<!--{{item.id}}-->"><!--{{item.templateName}}--></td>
            <td>
                <a href="javascript:void(0);" data-id="<!--{{item.id}}-->" class="btn btn-primary select-template-id">选择</a>
            </td>
        </tr>
        <!--{%endfor%}-->
        </tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>
<script>
    function searchTemplate()
    {
        var keyword = $('#keyword').val();
        $.ajax({
            url:'/IOS_yiyuan/goods/template-search',
            data:{keyword:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['pop-template-list'].content(html);
            }
        });
    }
    function init_page()
    {
        //
        $('.select-template-id').each(function(){
            $(this).click(function(){
                var template_id = $(this).attr('data-id');
                var templateName = $('#template_name_'+template_id).text();
                set_selected_template(template_id,templateName);
                $.dialog.list['pop-template-list'].close();
            });
        });
        //
        $('.pagelink a').each(function(){
            var url = $(this).attr('href');
            $(this).attr('href','javascript:void(0);');
            $(this).click(function(){
                $.ajax({
                    url:url,
                    dataType:'json',
                    success:function(json){
                        var html = '';
                        html = json.html;
                        $.dialog.list['pop-template-list'].content(html);
                    }
                });
            });

        });
    }
    init_page();
</script>