<div class="box">
    <div class="actions">
        <table class="table-filter">
            <tr>
                <td>
                    商品名称
                </td>
                <td>
                    <input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{search.title}}-->">
                </td>
                <td>
                    <a href="javascript:searchGoods();" class="btn btn-teal">按条件搜索</a>
                </td>
            </tr>
        </table>
    </div>
    <table class="table table-hover table-nomargin">
        <thead>
        <tr>
            <th class="col-110">ID</th>
            <th class="col-400">商品名字</th>
            <th class="table-btn-group">操作</th>
        </tr>
        </thead>
        <tbody>
        <!--{%for item in data%}-->
        <tr>
            <td><!--{{item.id}}--></td>
            <td id="goods_name_<!--{{item.id}}-->"><!--{{item.title}}--></td>
            <td>
                <a href="javascript:void(0);" data-id="<!--{{item.id}}-->" class="btn btn-primary select-goods-id">选择</a>
            </td>
        </tr>
        <!--{%endfor%}-->
        </tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>
<script>
    function searchGoods()
    {
        var keyword = $('#keyword').val();
        $.ajax({
            url:'/IOS_yiyuan/xilie/goods-search',
            data:{keyword:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['pop-goods-list'].content(html);
            }
        });
    }

    $(function() {
        $(document).off('click', '.select-goods-id');
        $(document).on('click', '.select-goods-id', function(){
            var goods_id = $(this).attr('data-id');
            var goods_name = $(this).parent().prev().text();
            selectObj.parent().find(".selected_goods_id").val(goods_id);
            selectObj.parent().find(".selected_goods_name").val(goods_name);
            $.dialog.list['pop-goods-list'].close();
            return false;
        });

        $(document).off('click', '.pagelink a');
        $(document).on('click', '.pagelink a', function(){
            var url = $(this).attr('href');
            $(this).attr('href','javascript:void(0);');
            $.ajax({
                url:url,
                dataType:'json',
                success:function(json){
                    var html = '';
                    html = json.html;
                    $.dialog.list['pop-goods-list'].content(html);
                }
            });
        });

    });

</script>