<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>队伍</h3>
			</div>
			<div class="box-content">
			    <form id="form_article" action="#nogo" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

                    <div class="control-group div1" >
                        <label class="control-label">战队图标</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img src="<!--{{data.facePath }}-->">
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="control-group div1">
                    <label class="control-label">战队名字 : <!--{{data.teamName}}--></label>
                    <div class="controls">
                    </div>
                </div>

                <div class="control-group div1 " style="margin-top: 25px;">
                    <label  >创建时间 : <!--{{ data.createTime }}--></label>
                    <div class="controls" style="padding: 20px;">
                    </div>
                </div>
                <div style="clear: both"></div>

                <div class="control-group div1" >
                    <label class="control-label">总积分 : <!--{{ data.score }}--></label>
                    <div class="controls">
                    </div>
                </div>

                <div class="control-group div1">
                    <label class="control-label">总场次 : <!--{{ data.matchNum }}--></label>
                    <div class="controls">
                    </div>
                </div>

                <div class="control-group div1">
                    <label class="control-label">胜率 : <!--{{ data.winRate }}--></label>
                    <div class="controls">
                    </div>
                </div>
                    <div style="clear: both"></div>
            <!--{%for item in data.members %}-->
                <div class="control-group">
                    <label class="control-label">
                        <!--{%if item.leader=="1" %}-->
                        <a href="#nogo"  class="btn btn-danger">队长</a>
                        <!--{%else%}-->
                        <a href="#nogo"  class="btn btn-primary">队员</a>
                        <!--{%endif%}-->
                    </label>
                    <div class="controls">
                        <div class="duiwu">
                            <ul style="list-style-type:none; tab-size: 50px; margin-left: -5px;">
                            <li >ID:<!--{{item.yxdUserId}}--></li>
                            <li>昵称:<!--{{item.wechatNickName}}--></li>
                            <li>手机号:<!--{{item.userMobile}}--></li>
                            <li>游戏昵称:<!--{{item.gameNickName}}--></li>
                            <li>QQ号:<!--{{item.qqAccount}}--></li>
                            </ul>
                        </div>
                        <style>
                             .duiwu ul li{margin:10px 0;}
                            .div1 {float: left; margin: 20px;}
                        </style>
                    </div>
                </div>
            <!--{%endfor%}-->
			    </form>
			</div>
		</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<!--{%endblock%}-->