<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					活动管理
				</h3>
				<div class="actions">
				    <form action="<!--{{url('a_activity/activity/index')}}-->" class="">
				    <table class="table-filter">
				        <tr>
				            <td><input id="gameselect" name="game_id" data-from="android" type="hidden" value="<!--{{search.game_id}}-->" class="bigdrop select2-offscreen width_150" tabindex="-1"></td>				            
				            <td>
				                <div class="controls">
							        <label class="radio inline">ID/标题</label>
								</div>				                
				            </td>				            
				            <td>
								<input name="keyword" type="text" class="input-medium" placeholder="ID/关键字" value="<!--{{search.keyword}}-->">								
							</td>
							<td>
				            	<label class="checkbox inline">
						        <!--{{form_checkbox('is_top',1,search.is_top==1)}}-->置顶					        					        
						        </label>
						    </td>																					
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
							<th class="col-150">活动标题</th>
                            <th class="col-150">游戏</th>
							<th class="col-80">开始时间</th>
							<th class="col-80">结束时间</th>
							<th class="col-60">显示</th>
							<th class="col-60">属性</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td>
								<!--{{item.title}}-->
							</td>
							<td><!--{{games[item.agid]['shortgname']}}--></td>
							<td><!--{{item.starttime|date('Y-m-d H:i')}}--></td>
							<td><!--{{item.endtime|date('Y-m-d H:i')}}--></td>
							<td>
							    <!--{{form_checkbox('isshow',1,item.isshow==1,{'class':'switchbox','data-tid':item.id,'data-on-text':'显示','data-off-text':'隐藏','data-size':'small','data-field':'isshow','data-off-color':'warning'})}}-->
							    <!--{{form_checkbox('istop',1,item.istop==1,{'class':'switchbox','data-tid':item.id,'data-on-text':'置顶','data-off-text':'正常','data-size':'small','data-field':'istop'})}}-->
							</td>
							<td>
							    <!--{%if item.ishot==1%}--><span class="badge badge-success">热门</span><!--{%endif%}-->
							    <!--{%if item.redirect_type>0%}--><span class="badge badge-info">跳转</span><!--{%endif%}-->
							</td>
							<td>
							    <a href="<!--{{url('a_activity/activity/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>	
							    <a href="<!--{{url('a_activity/activity/delete',{id:item.id})}}-->" class="btn btn-primary ajax-del">删除</a>
							    <a href="<!--{{url('a_system/share/adv-list')}}-->?tpl_ename=android_share_tpl_activity_info&target_id=<!--{{item.id}}-->" class="btn btn-primary">分享设置</a>						    							    								
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    gameselect('#gameselect');    
    $('.switchbox').bootstrapSwitch();
    $('.switchbox').on('switchChange.bootstrapSwitch',function(event,stat){
        var atid = $(this).attr('data-tid');
        var field = $(this).attr('data-field');
        var status = stat ? 1 : 0;
        $.get('/a_activity/activity/do-status',{'atid':atid,'field':field,'status':status});
    });
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});    
</script>
<!--{%endblock%}-->