<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					用户任务报表<span class="badge badge-info"><!--{{totalCount}}--></span>
				</h3>
				<div class="actions">
				    <form action="<!--{{url('a_activity/atask/query-task-user')}}-->" method="GET">
				    <input name="atid" type="hidden" value="<!--{{atid}}-->" />
				    <table class="table-filter">
				        <tr>
				            <td>
				                <div class="input-append date datepick" id="dpStart" data-date="">
									<input name="start_time" type="text" class="input-small" value="<!--{{search.start_time}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
				            </td>
				            <td>
				                <div class="input-append date datepick" id="dpEnd" data-date="">
									<input name="end_time" type="text" class="input-small" value="<!--{{search.end_time}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>
				            <td>
				                <!--{{form_select('complete_status',complete_status_list,complete_status,{'style':'margin-top:10px;width:80px'})}}-->
				            </td>
				            <td>
				                <!--{{form_select('reward_status',reward_status_list,reward_status,{'style':'margin-top:10px;width:80px'})}}-->
				            </td>
				            <td>
				                <input id="userselect" name="uid" type="hidden" value="<!--{{uid}}-->" class="bigdrop select2-offscreen" style="width:200px" tabindex="-1">
				            </td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-50">ID</th>
						    <th class="col-150">任务标题</th>
							<th class="col-100">用户名</th>
							<th class="col-60">完成状态</th>
							<th class="col-60">奖励状态</th>
							<th>参加时间</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.uid}}--></td>
							<td><!--{{tasks[item.atid]['title']}}--></td>
							<td><!--{{users[item.uid]['nickname']}}--></td>
							<td>
							<!--{%if item.complete_status==1%}--><span class="badge badge-info">已完成</span><!--{%endif%}-->
							<!--{%if item.complete_status==2%}--><span class="badge badge-info">待审核</span><!--{%endif%}-->
							<!--{%if item.complete_status==3%}--><span class="badge badge-info">未通过</span><!--{%endif%}-->
							</td>							
							<td>
							    <!--{%if item.reward_status==1%}--><span class="badge badge-info">已奖励</span><!--{%endif%}-->
							    <!--{%if item.reward_status==0%}--><span class="badge badge-info">未奖励</span><!--{%endif%}-->
							    <!--{%if item.reward_status==-1%}--><span class="badge error-info">失败</span><!--{%endif%}-->
							</td>
							<td><!--{{item.create_time|date('Y-m-d H:i:s')}}--></td>
							<td>
							<!--{%if tasks[item.atid]['action_type']==1 and tasks[item.atid]['complete_type']=='screenshot'%}-->
							<a href="#screenshot" data-url="<!--{{url('a_activity/atask/look-screenshot')}}-->?atid=<!--{{item.atid}}-->&uid=<!--{{item.uid}}-->" class="btn btn-primary look-screenshot" data-toggle="modal">查看截屏</a>
							<!--{%if item.complete_status==2 or item.complete_status==3%}-->
							<a href="<!--{{url('a_activity/atask/do-complete-screenshot')}}-->?id=<!--{{item.id}}-->&complete_status=1&atid=<!--{{item.atid}}-->" class="btn btn-primary ajax-confirm">通过审核</a>
							<a href="<!--{{url('a_activity/atask/do-complete-screenshot')}}-->?id=<!--{{item.id}}-->&complete_status=3&atid=<!--{{item.atid}}-->" class="btn btn-primary ajax-confirm">截图不符</a>
							<!--{%endif%}-->
							<!--{%endif%}-->
							<!--{%if tasks[item.atid]['action_type']==3%}-->
							
							<a href="<!--{{url('a_activity/atask/do-complete-recharge')}}-->?id=<!--{{item.id}}-->&complete_status=1&atid=<!--{{item.atid}}-->" class="btn btn-primary ajax-confirm">已完成充值</a>
							<a href="<!--{{url('a_activity/atask/do-complete-recharge')}}-->?id=<!--{{item.id}}-->&complete_status=3&atid=<!--{{item.atid}}-->" class="btn btn-primary ajax-confirm">未完成充值</a>
							<a href="#recharge" data-url="<!--{{url('a_activity/atask/recharge-info')}}-->?atid=<!--{{item.atid}}-->&uid=<!--{{item.uid}}-->" class="btn btn-primary ajax-info" data-toggle="modal">查看充值信息</a>
							<!--{%endif%}-->
							<!--{%if item.complete_status==1%}-->
							<!--{%if item.reward_status==0%}-->
							<a href="<!--{{url('a_activity/atask/do-reward')}}-->?id=<!--{{item.id}}-->&atid=<!--{{item.atid}}-->" class="btn btn-primary ajax-confirm">重新发放奖励</a>
							<!--{%endif%}-->
							<!--{%endif%}-->
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			    
			    <div class="modal fade" id="screenshot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">游戏截图</h3>
					</div>
				    <div id="screenshot-list" class="modal-content">				      
				    </div>
				    <div class="modal-footer">
				        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				    </div>
				  </div>
				</div>
			    
			    <div class="modal fade" id="recharge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">充值信息</h3>
					</div>
				    <div id="recharge-info" class="modal-content">				      
				    </div>
				    <div class="modal-footer">
				        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				    </div>
				  </div>
				</div>
			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){  
    userselect('#userselect');
    $('a.ajax-confirm').bind('click',function(){
        if(!confirm('确定要执行吗？')){
            return false;
        }
    });
    
    $('a.look-screenshot').bind('click',function(){
        var url = $(this).attr('data-url');
        $.getJSON(url,function(json){
            $('#screenshot-list').html(json.html);
        });
    });
    
    $('a.ajax-info').bind('click',function(){
        var url = $(this).attr('data-url');
        $.getJSON(url,function(json){
            $('#recharge-info').html(json.html);
        });
    });
});    
</script>
<!--{%endblock%}-->