<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>关联游戏</h3>
			</div>
			<div class="box-content">
				<form id="form-topic" action="<!--{{url('web_forum/topic/bbs-game-relation')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data">
				   <input id="fid" name="fid" type="hidden" value="<!--{{fid}}-->" />
				   <input id="type" name="type" type="hidden" value="1" />
				   <!--{% if game %}-->
						<div class="control-group"id="inventedType" >
                        <label for="textfield" class="control-label">所属游戏</label>
                        <div class="controls">
                         		 <label for="textfield" class="control-label">已经关联游戏：<!--{{game}}-->
                         		 <a href="<!--{{url('web_forum/topic/del-forum-game',{'fid':fid,'gid':gid,'type':type})}}-->" class="btn btn-primary">解除关联</a>
                         		 </label>
                         </div>
                    </div>
                    </div>
                    <div class="form-actions">
						<a href="<!--{{url('web_forum/topic/forum-list')}}-->" class="btn btn-teal">返回论坛列表</a>
					</div>
				   <!--{%else%}-->
						   	<div class="control-group">
								<label for="textfield" class="control-label">所属游戏</label>
								<div class="controls">
									<div class="input-append">
										<input id="selected_game_id" name="gid" type="hidden" value=""/>
										<img id="selected_game_icon" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
										<input type="text" id="selected_game_name" name="game_name" class="input-xlarge" data-rule-required="true" data-msg-required="请选择入口游戏" />
										<span class="add-on select-pop-game">选择游戏</span>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>关联</button>
							</div>
				   <!--{%endif%}-->
				</form>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<script>
	

	var set_selected_game = function(game_id,game_name,icon){
		
		$.get('/web_forum/topic/check-game-relation-bbs',{'gid':game_id,'type':1},function(resp){
			if(resp.state){
				$('#selected_game_id').val(game_id);
				$('#selected_game_icon').attr('src',icon);
				$('#selected_game_name').val(game_name);
			}else{
				alertify.error(resp.msg);
			}
		},'json');
	};

	$(function(){
		
		$('.select-pop-game').bind('click',function(){
			$.ajax({
				url:'/game/api/game-search',
				dataType:'json',
				success:function(json){
					var html = '';
					html = json.html;
					$.dialog({id:'pop-game-list',title:'提示',padding:2,content:html,width:600,height:580});
				}
			});
		});

		if($('#selected_game_id').val().length){
			var cid = $('#cid').attr('data-cid');
		}
	});
	
</script>
<!--{%endblock%}-->