<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3>
					<i class="icon-edit"></i>
					添加版块
				</h3>
				<div class="actions">
				</div>
			</div>
			<div class="box-content">
				<form id="form-activity" action="<!--{{url('web_forum/forum/edit-board')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data">
					<input type="hidden" name="old_fid" value="<!--{{ old_fid }}-->">
					<input type="hidden" name="bid" value="<!--{{ board.bid }}-->">
					<div class="control-group">
						<label class="control-label">版块名称</label>
						<div class="controls">
							<input type="text" name="forum_name" class="input-medium" data-rule-required="true" data-msg-required="请填写版块名称" value="<!--{{board.name}}-->"/>
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">所属论坛</label>
						<div class="controls">
							<div class="input-append">
								<input id="selected_bbs_id" name="fid" type="hidden" value="<!--{{ forum_info.fid }}-->"/>
								<input type="text" id="selected_bbs_name" readonly name="bbs_name" value="<!--{{ forum_info.name }}-->" class="input-medium"/>
								<span class="add-on select-pop-bbs">请选择论坛</span>
								<span class="add-on text-error">移除论坛后，版块将添加至所有论坛</span>
							</div>
							<button class="btn btn-lightred remove-forum">移除</button>
						</div>
					</div>
					<!--{#
					<div class="control-group">
						<label class="control-label">论坛类型</label>
						<div class="controls">
							<input name="type" <!--{{ board.type ? 'checked' : '' }}--> data-on-color="success" data-on-text="需要游币"
							data-off-color="danger" data-off-text="无需游币" class="switchbox" type="checkbox"/>
						</div>
					</div>
					#}-->
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls">
							<input type="submit" value="确认修改" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	var set_selected_bbs = function(fid,bbs_name){
		$('#selected_bbs_id').val(fid);
		$('#selected_bbs_name').val(bbs_name);
	};
	$(function(){
		$('.switchbox').bootstrapSwitch();
		$('.select-pop-bbs').bind('click',function(){
			$.ajax({
				url:'/web_forum/topic/bbs-search-select',
				dataType:'json',
				success:function(json){
					var html = '';
					html = json.html;
					$.dialog({id:'pop-bbs-list',title:'提示',padding:2,content:html,width:700,height:580});
				}
			});
		});

		$('.remove-forum').click(function(){
			$('#selected_bbs_name').val('');
			$('#selected_bbs_id').val('');
		});
	});
</script>
<!--{%endblock%}-->