<!--{%extends "sub-layout-forum.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
			    <h3>
					<i class="icon-table"></i>
					版主申请
				</h3>
				<div class="actions">

				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>

						<th class="col-40">申请人</th>
                        <th class="col-200">申请内容</th>
						<th class="col-80">所属论坛</th>
                        <th class="col-80">版主数</th>
                        <th class="col-80">副版主数</th>
						<th class="col-100">申请时间</th>


						<th class="col-150">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{%for item in list%}-->
					<tr>

                        <td>
                            <!--{% if users[item.proposer] %}-->
                            <span class="badge badge-info"><!--{{item.proposer}}--></span><br/><a href="<!--{{url('v4user/users/edit',{'id':item.proposer})}}-->" target="_blank"><!--{{users[item.proposer]['nickname']}}--></a>
                            <!--{% else %}-->
                            <span style="color: red; ">该用户已删除</span>
                            <!--{% endif %}-->
						</td>
						<td><!--{{item.reason}}--></td>
						<td><!--{{item.f_name}}--></td>

                        <td><!--{{item.president}}--></td>
                        <td><!--{{item.vice_president}}--></td>

                        <td><!--{{item.createTime|date('Y-m-d H:i:s')}}--></td>



						<td>
                            <!--{% if item.status==2 %}-->
                            拒绝
                            <!--{% else %}-->

                            <!--{% if item.isMaster=="版主" %}-->
                            <a href="<!--{{url('web_forum/forum/del-master',{'id':item.mid,'uid':item.proposer})}}-->" class="btn btn-primary" title="取消版主">取消版主</a>
                            <!--{% elseif item.isMaster=="副版主" %}-->
                            <a href="<!--{{url('web_forum/forum/del-master',{'id':item.mid,'uid':item.proposer})}}-->" class="btn btn-primary" title="取消副版主">取消副版主</a>
                            <!--{% else %}-->
                            <a href="<!--{{url('web_forum/forum/set-master',{'id':item.id,'targetId':item.targetId,'targetType':item.targetType,'uid':item.proposer,'isDeputy':"false"})}}-->?content=<!--{{item.f_or_b_name}}-->,正版主&uid=<!--{{item.proposer}}-->&f_name=<!--{{item.f_name}}-->&gid=<!--{{item.gid}}-->" class="btn btn-primary addMaster" title="设为版主" limit="<!--{{item.president}}-->">设为版主</a>
                            <a href="<!--{{url('web_forum/forum/set-master',{'id':item.id,'targetId':item.targetId,'targetType':item.targetType,'uid':item.proposer,'isDeputy':"true"})}}-->?content=<!--{{item.f_or_b_name}}-->,副版主&uid=<!--{{item.proposer}}-->&f_name=<!--{{item.f_name}}-->&gid=<!--{{item.gid}}-->" class="btn btn-primary addViceMaster" title="设为副版主" limit="<!--{{item.vice_president}}-->">设为副版主</a>
                            <a href="<!--{{url('web_forum/forum/refuse-application',{'id':item.id})}}-->" class="btn btn-primary refuse" title="拒绝">拒绝</a>

                            <!--{% endif %}-->
                            <!--{% endif %}-->
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>


<!--{%endblock%}-->


<!--{%block footer_js%}-->
<script>
	$('input').iCheck({
		checkboxClass: 'icheckbox_square-orange',
		radioClass: 'iradio_square-orange',
		increaseArea: '20%' // optional
	});
	$(function(){
        $(".addMaster").each(function(){
            if($(this).attr('limit')>0){
                $(this).attr("href","javascript:void(0)").click(function(){
                    alert("版主已满员");
                });
            }
        })
        $(".addViceMaster").each(function(){
            if($(this).attr('limit')>1){
                $(this).attr("href","javascript:void(0)").click(function(){
                    alert("副版主已满员");
                });
            }
        })

        $(".refuse").click(function(){
            if(!confirm("拒绝后将不能再进行任何操作，是否继续？")){
                return false;
            }
        })

    });

</script>
<!--{%endblock%}-->