<div class="box">
    <div class="actions">
        <table class="table-filter">
	        <tr>
	            <td>
	                <div class="controls">

				        <label class="radio inline">
				        名称
				        </label>
					</div>
	            </td>
	            <td>
					<input id="keyword" type="text" class="input-medium" placeholder="" value="<!--{{keyword}}-->" />
				</td>
				<td>
				    <a href="javascript:searchBbs();" class="btn btn-teal">按条件搜索</a>
				</td>
			</tr>
		</table>
    </div>
    <table class="table table-hover table-nomargin">
        <thead>
			<tr>
				<th class="col-100">论坛Logo</th>
				<th class="col-100">论坛名称</th>
				<th class="col-150">总帖子数</th>
				<th class="table-btn-group">操作</th>
			</tr>
		</thead>
		<tbody>
					<!--{% for key,item in datalist%}-->
					<tr>
						<td class="user-avatar"><img  <!--{% if item.gname %}-->title="关联游戏:<!--{{item.gname}}-->"<!--{%endif%}--> src="<!--{{item.logo}}-->"/></td>
						<td id="bbs_name_<!--{{item.fid}}-->"><!--{{item.name}}--></td>
						<td><!--{{item.totalTopicNumber}}--></td>

						<td>
							<a href="javascript:void(0);" data-id="<!--{{item.fid}}-->" class="btn btn-primary select-bbs-id">选择</a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
    </table>
    <div class="pagelink">
        <!--{{pagelinks}}-->
    </div>
</div>
    <script>
    function searchBbs()
    {
        var keytype = $("input[name='keytype']:checked").val();
        var keyword = $('#keyword').val();
        $.ajax({
            url:'/web_forum/topic/bbs-search-select',
            data:{name:keyword},
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog.list['pop-bbs-list'].content(html);
            }
        });
    }
    function init_page()
    {
        $('.select-bbs-id').each(function(){
            $(this).click(function(){
                var bbs_id = $(this).attr('data-id');
	            var bbs_name = $(this).parent().prev().prev().text();
                set_selected_bbs(bbs_id,bbs_name);
                $.dialog.list['pop-bbs-list'].close();
            });
        });
        $('.pagelink a').each(function(){
            var url = $(this).attr('href');
            $(this).attr('href','javascript:void(0);');
            $(this).click(function(){
                $.ajax({
                    url:url,
                    dataType:'json',
		            success:function(json){
		                var html = '';
		                html = json.html;
		                $.dialog.list['pop-bbs-list'].content(html);
		            }
                });
            });
        });

        $(".aui_close").click(function(){
            set_selected_bbs("","");
        })
    }
    init_page();
    </script>