<!--{%extends "sub-layout-xgame.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>修改游戏</h3>
			</div>
			<div class="box-content">
				<form id="admin-add" action="<!--{{url('xgame/forum/save/')}}-->" method="POST" enctype="multipart/form-data" class='form-horizontal form-validate'>
				<input id="id" type="hidden" name="id"  value="<!--{{result.id}}-->">
				<div class="control-group">
					<label for="username" class="control-label">游戏名称</label>
					<div class="controls">
						<input id="gamename" type="text" name="gamename" class="input-normal" data-rule-required="true" value="<!--{{result.gamename}}-->" data-msg-required="不能为空">
						<span for="gamename" class="help-inline error">名称最多13个汉字</span>
					</div>
				</div>
				<div class="control-group">
					<label for="password" class="control-label">游戏短语</label>
					<div class="controls">
						<input id="phrase" type="text" name="phrase" class="input-normal" data-rule-required="true" value="<!--{{result.phrase}}-->" data-msg-required="不能为空">
						<span for="phrase" class="help-inline error">游戏短语最多14个汉字</span>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">游戏类型</label>
					<div class="controls">
					    <!--{{form_select('tid',type,result.tid,{'class':'input-xlarge'})}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="authorname" class="control-label">游戏介绍</label>
					<div class="controls">
						<input id="introduced" type="text" name="introduced" class="input-normal" data-rule-required="true" value="<!--{{result.introduced}}-->" data-msg-required="不能为空">
					</div>
				</div>
				<div class="control-group">
					<label for="realname" class="control-label">操作说明</label>
					<div class="controls">
						<input id="instructions" type="text" name="instructions" class="input-normal" data-rule-required="true" value="<!--{{result.instructions}}-->" data-msg-required="不能为空">
					</div>
				</div>
				
				<div class="control-group">
					<label for="textfield" class="control-label">缩略图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"><!--{{result.litpic}}--></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="litpic"  value="<!--{{result.litpic}}-->"/>
						        </span>						        
						    </div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label for="realname" class="control-label">编辑推荐</label>
					<div class="controls">
					
					<!--{%if result.editorrecommend == 1%}-->
						<input id="editorrecommends" data-on-color="danger" data-on-text="是" name="editorrecommend" data-off-color="success" data-off-text="否" class="my-checkbox" type="checkbox" checked/>
					<!--{%else%}-->
						<input id="editorrecommendf" data-on-color="danger" data-on-text="是" name="editorrecommend" data-off-color="success" data-off-text="否" class="my-checkbox" type="checkbox"/>
					<!--{%endif%}-->
					</div>
				</div>
				<div class="control-group">
					<label for="realname" class="control-label">编辑推荐排序</label>
					<div class="controls">
						<input id="editorsort" type="text" name="editorsort" class="input-normal" value="<!--{{result.editorsort}}-->">
					</div>
				</div>
				
				<!--<div class="control-group">
					<label for="realname" class="control-label">热门</label>
					<div class="controls">
						<!--{%if result.hot == 1%}-->
							<input id="hots" data-on-color="danger" data-on-text="是" name="hot" data-off-color="success" data-off-text="否" class="my-checkbox" type="checkbox" checked/>
						<!--{%else%}-->
							<input id="hotf" data-on-color="danger" data-on-text="是" name="hot" data-off-color="success" data-off-text="否" class="my-checkbox" type="checkbox"/>
						<!--{%endif%}-->
						
					</div>
				</div>
				<div class="control-group">
					<label for="realname" class="control-label">热门排序</label>
					<div class="controls">
						<input id="hotsort" type="text" name="hotsort" class="input-normal" value="<!--{{result.hotsort}}-->">
					</div>
				</div>-->
				<div class="control-group">
					<label for="realname" class="control-label">游戏地址</label>
					<div class="controls">
						<input id="gameaddress" type="text" name="gameaddress" class="input-normal" data-rule-url="true" data-rule-required="true" value="<!--{{result.gameaddress}}-->" data-msg-required="不能为空">
						<span for="gameaddress" class="help-inline error">游戏地址需要加 http:// 如：http://www.youxiduo.com</span>
					</div>
				</div>
				<div class="control-group">
					<label for="realname" class="control-label">最新排序</label>
					<div class="controls">
						<input id="newsort" type="text" name="newsort" class="input-normal" value="<!--{{result.newsort}}-->">
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>完成</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$("[class='my-checkbox']").bootstrapSwitch();
</script>

<!--{%endblock%}-->