<!--{%extends "sub-layout-xgame.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<form id="addbanner" name="addbanner" action="<!--{{url('xgame/forum/add-banner')}}-->" class=""  enctype="multipart/form-data" method="POST">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					benner添加
				</h3>
				<div class="actions">
					<div class="controls">
				        	<button class="btn btn-teal js-submit" type="button">
							<i class="icon-ok"></i>
							保存
							</button>				        					        
				        	<a class="btn btn-teal js-add">增加</a>	        
				        	<a class="btn btn-teal js-del">减少</a>
					</div>	
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin"  id="add">
			        <thead>
						<tr>
							<th class="col-120">缩略图(<font style="color:red;">注意：1000*360</font>)</th>
							<th class="col-40">标题</th>		
							<th class="col-40">排序(<font style="color:red;">注意：数字</font>)</th>					
							<th class="col-120">链接地址(<font style="color:red;">注意：地址需要带http  如：http://youxiduo.com</font>)</th>
						</tr>
					</thead>
				    <tbody id="add-item">
					    <tr>
							<td class="user-avatar"><input name="uploadinput[]" type="file"> </td>
							<td><input name="title[]" type="text"></td>
							<td><input name="sort[]" type="text" style="width: 60px"></td>
							<td><input name="url[]" type="text"></td>
						</tr>
					</tbody>
			    </table>
			</div>
			</form>
		</div>
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					banner列表
				</h3>
				<div class="actions">
				    
				</div>
			</div>
			<div class="box-content nopadding">

			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">
						        <input type="checkbox" name="all" value="" /><div class="btn-group">
							        <a data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></a>
							        <ul class="dropdown-menu">
							        	<li><a href="javascript:void(0);" data-act="edit" class="ajax-edit">编辑</a></li>
							            <li><a href="javascript:void(0);" data-act="del" class="ajax-del">删除</a></li>
							        </ul>
							    </div>
							</th>
						    <th class="col-40">ID</th>
							<th class="col-120">缩略图</th>
							<th class="col-40">标题</th>	
							<th class="col-40">排序</th>					
							<th class="col-120">链接地址</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in result%}-->
						<tr>
						    <td><input type="checkbox" name="ids" value="<!--{{item.id}}-->" /></td>
							<td class="ids"><!--{{item.id}}--></td>
							<td class="user-avatar"><img src="<!--{{item.litpic|default('/userdirs/common/avatar@2x.png?v=3')}}-->" width="150" /></td>
							<td><!--{{item.title}}--></td>
							<td><!--{{item.sort}}--></td>
							<td><!--{{item.linkurl}}--></td>
							<td>
								<a href="<!--{{url('xgame/forum/edit-banner',{'id':item.id})}}-->" class="btn btn-primary">编辑</a>	
							    <a href="<!--{{url('xgame/forum/del-banner',{'id':item.id})}}-->" class="btn btn-primary ajax-del">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			</div>
		</div>
		
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
$(function(){
	$('button.js-submit').bind('click',function(){
		var len = $('#add-item tr').length;
		if(len > 0){
			 $('#addbanner').submit();
		}else{
			alert('没有上传请不要保存！');
		}
		//return false;
    });
	$('a.js-del').bind('click',function(){
		//console.log( $('#add-item:last-child'));
       $('#add-item tr:last-child').remove();
    });
	$('a.js-add').bind('click',function(){
		var	str = '<tr id="add-item">'+
						'<td class="user-avatar"><input name="uploadinput[]" type="file"> </td>'+
						'<td><input name="title[]" type="text"></td>'+
						'<td><input name="sort[]" type="text"></td>'+
						'<td><input name="url[]" type="text"></td>'+
					'</tr>';
       $('#add-item').append(str);
    });
    
    
    
    
     $('a.ajax-edit').bind('click',function(){
        if($(this).attr('data-act')=='edit'){
            var ids = [];
            $('input[name="ids"]:checked').each(function(){
                ids.push($(this).val());
            });
            if(ids.length==0) return false;
            var s_data = ids.join(',');
            window.location.href = '<!--{{url('xgame/forum/edit-banner')}}-->/'+s_data;
        }
    });
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
        if($(this).attr('data-act')=='del'){
            var ids = [];
            $('input[name="ids"]:checked').each(function(){
                ids.push($(this).val());
            });
            if(ids.length==0) return false;
            $.ajax({
                url:'<!--{{url('xgame/forum/del-banner')}}-->',
                type:'POST',
                data:{'ids':ids},
                dataType:'json',
                success:function(data){
                    if(data.status==200){
                    	$(function(){
						    $.gritter.add({
					            title:'操作完成',
					            text:data.global_tips,
					            time:3000
					        });
						});
						$('input[name="ids"]:checked').each(function(){
			                $(this).closest('tr').remove();
			            });
                       // window.location.href = window.location.href;
                    }else{
                        
                    }
                }
            });
        }
    });


    $('input[name="all"]').bind('click',function(){
        if($(this).prop('checked')==true){
            $('input[name="ids"]').prop('checked',true);
        }else{
            $('input[name="ids"]').prop('checked',false);
        }
    });
});
</script>
<!--{%endblock%}-->    