<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>共享账号</h3>
			</div>
			<div class="box-content">
				<form id="form-product" action="<!--{{url('v4shareaccount/account/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data" >
					<input type="hidden" name="id" value="<!--{{ info.id }}-->">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label">账号类型</label>
                                <div class="controls">
                                    <!--{{form_select('type',info.typeList,info.type,{'id':'complete_type'})}}-->
                                </div>
                            </div>
                        </div>
                    </div>
	                
					<div class="control-group">
						<label class="control-label">名称</label>
						<div class="controls">
							<input type="text" name="sharedname" id="name" data-rule-required="true" data-msg-required="请填写名称"
							       class="input-large" value="<!--{{ info.data.sharedname }}-->"/>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">账号</label>
						<div class="controls">
							<input type="text" name="sharedusername" id="sharedusername" data-rule-required="true" data-msg-required="请填写账号"
							       class="input-large" value="<!--{{ info.data.sharedusername }}-->"/>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">密码</label>
						<div class="controls">
							<input type="text" name="sharedpassword" id="sharedpassword" data-rule-required="true" data-msg-required="请填写密码"
							       class="input-large" value="<!--{{ info.data.sharedpassword }}-->"/>
						</div>
					</div>
					
                    <div class="control-group">
                        <label class="control-label">已购游戏</label>
                        <div class="controls">
                            <textarea id="gid" name="gid" rows="4" style="width:536px;"><!--{{ info.data.gid }}--></textarea>
                        </div>
                    </div>

					<div class="control-group">
						<label class="control-label">Icon</label>
						<div class="controls">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;">
									<img src="<!--{{ info.data.sharedimg ? info.data.sharedimg : '/static/img/nopic.gif' }}-->" />
								</div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
								<div>
									<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input type="file" name='sharedimg' /></span>
								</div>
							</div>
							<span class="help-inline" style="color: red">图片最佳尺寸：300*300</span>
							<input type="hidden" name="old_sharedimg" value="<!--{{ info.data.sharedimg }}-->">
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary sub"><i class="icon-ok"></i>保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/jquery.uniform.min.js"></script>
<script src="<!--{{asset('/static/js/xheditor/xheditor-1.1.14-zh-cn.min.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditorbbs.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="/static/js/laydate/laydate.js"></script>
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
	$(function(){
		$('input.switchbox').bootstrapSwitch();
		$('input').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			increaseArea: '20%'
		});
	});
</script>
<!--{%endblock%}-->