<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3>使用说明</h3>
			</div>
			<div class="box-content">
			    <form id="activity-task" action="<!--{{url('v4shareaccount/account/info')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

					<div class="control-group">
						<label for="textfield" class="control-label"></label>
						<div class="controls">
							<script id="data" name="data" type="text/plain"><!--{{ info.data }}--></script>
						</div>
					</div>

			    <div class="form-actions">
					<button type="submit" class="btn btn-primary sub"><i class="icon-ok"></i>保存</button>
                    <input type="hidden" name="id" value="<!--{{ info.id }}-->">
				</div>
			    </form>


</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/laydate/laydate.js"></script>
<script>
	$(function(){
		UE.getEditor('data',{initialFrameHeight:200});
	});
</script>
<!--{%endblock%}-->