<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					共享账号
				</h3>
				<div class="actions">
					<form action="<!--{{url('/v4shareaccount/account/list')}}-->">
						<table class="table-filter">
							<tr>
							<td><!--{{form_select('type',typeList,type,{'id':'complete_type','style':'margin-top:10px;width:100px'})}}--></td>
                        	<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                        	<td><a href="<!--{{url('v4shareaccount/account/add')}}-->" class="btn btn-teal"><i class="icon-plus" title="添加账号"></i></a></td>
                        </tr>
                     </table>
					</form>	
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<!-- <th class="col-60">ID</th> -->
						<th class="col-60">Icon</th>
						<th class="col-60">名称</th>
						<th class="col-80">账号</th>
						<th class="col-80">密码</th>	
						<th class="table-btn-group">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for key,item in datalist%}-->
					<tr id="tr_<!--{{item.id}}-->">
						<td class="user-avatar"><img src='<!--{{item.data.sharedimg}}-->'/></td>
						<td><!--{{item.data.sharedname}}--></td>
						<td><!--{{item.data.sharedusername}}--></td>
						<td><!--{{item.data.sharedpassword}}--></td>
						<td>
						<a href="<!--{{url('v4shareaccount/account/add',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
						<a href="javascript:void(0);" data="<!--{{ item.id }}-->" class="btn btn-primary ajax-del"><i class="icon-trash" title="删除"></i></a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
<script>
$(function(){
	$('.switchbox').bootstrapSwitch();
	$('.ajax-del').bind('click',function(){
		var p_code = $(this).attr('data');
		alertify.confirm('是否删除该记录？',function(e){
			if(e){
				$.get('/v4shareaccount/account/ajax-del/'+ p_code,function(resp){
					if(resp.state){
						alertify.success(resp.msg);
						setTimeout(function(){
							location.reload();
						},1000);
					}else{
						alertify.error(resp.msg);
					}
				},'json')
			}
		});
	});
});
</script>
<!--{%endblock%}-->