<!--{% extends "sub-layout-chat.twig" %}-->
<!--{% block main_content %}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					我的消息列表
				</h3>
				<div class="actions">
					<form action="<!--{{ url('chat/chatroom/my-message') }}-->" method="get">
					<table class="table-filter">
						<tr>
							<td><input type="text" name="uid" id="" class="input-medium" placeholder="用户ID" value="<!--{{uid}}-->"/></td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
						</tr>
					</table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
					<tbody>
					<tr>
						<th></th>
						<th>用户名</th>
						<th>头像</th>
						<th>用户ID</th>
						<th>最后聊天时间</th>
						<th>操作</th>
					</tr>
					<!--{%if list%}-->
						<!--{%for user in list%}-->
						<tr>
							<td></td>
							<td><!--{{ user.nickname }}--></td>
							<td class="user-avatar"><img src="<!--{{ user.avatar }}-->"></td>
							<td><!--{{ user.uid }}--></td>
							<td><!--{{ user.last_time }}--></td>
							<td><a href="/chat/chatroom/personal-record/<!--{{ user.hxid }}-->/<!--{{ user.uid }}-->" class="btn btn-primary">聊天</a></td>
						</tr>
						<!--{%endfor%}-->
					<!--{%else%}-->
						<tr>
							<td colspan="4" style="text-align:center;color:red;">暂无数据</td>
						</tr>
					<!--{%endif%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{ paginator }}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{% endblock %}-->