<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
                    审核(<!--{{total}}-->)
				</h3>
				<div class="actions">	
				    <form action="<!--{{url('a_activity2/task/audit-picture-list')}}-->" method="GET">
				    <input name="taskName" type="hidden" value="<!--{{taskName}}-->" />
                    <input name="id" type="hidden" value="<!--{{taskId}}-->" />
                    <input name="taskType" type="hidden" value="<!--{{taskType}}-->" />
                    <input name="prizeIds" type="hidden" value="<!--{{search.prizeIds}}-->" />
                    <input name="prizeNames" type="hidden" value="<!--{{search.prizeNames}}-->" />
				    <table class="table-filter">				        
				        <tr>
                            <td><span class="label label-blue">开始时间</span>
                                <div class="input-append date " >
                                    <input name="createTimeBegin" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search['createTimeBegin']}}-->" >
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                            <td><span class="label label-blue">结束时间</span>
                                <div class="input-append date "  data-date="">
                                    <input name="createTimeEnd" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker"  value="<!--{{search['createTimeEnd']}}-->" id="date_timepicker_end" >
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
				            <td><!--{{form_select('taskStatus',taskStatus,search['taskStatus'],{'id':'complete_type','style':'margin-top:10px;width:100px'})}}--></td>
                            <td><!--{{form_select('prizeStatus',prizeStatus,search['prizeStatus'],{'id':'complete_type','style':'margin-top:10px;width:100px'})}}--></td>
                            <td><!--{{form_select('prizeId',search['prizeList'],search['prizeId'],{'id':'complete_type','style':'margin-top:10px;width:100px'})}}--></td>
                            <td><input id="userselect" name="uid" type="hidden" value="<!--{{search['uid']}}-->" class="bigdrop select2-offscreen" style="width:200px" tabindex="-1"></td>
				            <td><button class="btn btn-teal">搜索</button></td>
                            <!--{% if taskType==3 %}-->
                            <!--
                            <td><button type="button" class="btn btn-teal" taskId="<!--{{taskId}}-->"  id="approval_success_all">一键全审</button></td>
                            -->
                            <!--{% endif %}-->
                            <td><button type="button" class="btn btn-teal" taskId="<!--{{taskId}}-->"  id="approval_by_hand">手动发奖</button></td>
                            <td><button type="button" class="btn btn-teal" taskId="<!--{{taskId}}-->"  id="release_task_stock">释放库存</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">玩家ID</th>


							<th class="col-150">任务标题</th>
                            <th class="col-100">用户名</th>
                            <th class="col-80">奖励</th>
							<th class="col-80">完成状态</th>
							<th class="col-80">奖励状态</th>

							<th class="col-100">参加时间</th>
                            <!--{% if taskType==3 %}-->
							<th class="table-btn-group">操作</th>
                            <!--{% endif %}-->
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.uid}}--></td>
                            <td><!--{{taskName}}--></td>
						    <td>
                                <!--{% if users[item.uid] %}-->
                                <span class="badge badge-info"><!--{{item.uid}}--></span><br/><a href="<!--{{url('user/users/edit',{'id':item.uid})}}-->" target="_blank"><!--{{users[item.uid]['nickname']}}--><br><!--{{users[item.uid]['mobile']}}--></a>
                                <!--{% else %}-->
                                <span style="color: red; ">该用户已删除</span>
                                <!--{% endif %}-->
                            </td>
                            <td><!--{{item.prizeInfo['prizeName']}}--></td>
							<td><span class="badge badge-success taskStatus"><!--{%if item.taskStatus==-3%}-->参与超时<!--{%elseif item.taskStatus==-2%}-->重发<!--{%elseif item.taskStatus==-1%}-->进行中/审核中<!--{%elseif item.taskStatus==0%}-->参与中<!--{%elseif item.taskStatus==1%}-->完成<!--{%elseif item.taskStatus==2%}-->失败<!--{%endif%}--></span></td>

                            <td><!--{%if item.prizeStatus==0%}--><span class="badge  badge-important">未发奖</span><!--{%else%}--><span class="badge  badge-success">已发奖</span><!--{%endif%}--></td>

                            <td><!--{{item.startTime|date('Y-m-d H:i:s')}}--></td>
                            <!--{% if taskType==3 %}-->
							<td>
							    <a href="javascript:void(0)" data-target="#exampleModal" taskStatus="<!--{{item.taskStatus}}-->" data-toggle="modal" uid="<!--{{item.uid}}-->" userTaskId="<!--{{item.userTaskId}}-->" taskId="<!--{{item.taskId}}-->" stepId="<!--{{item.stepId}}-->" uname='<!--{% if users[item.uid] %}--><span class="badge badge-info"><!--{{item.uid}}--></span><a href="<!--{{url('user/users/edit',{'id':item.uid})}}-->" target="_blank"><!--{{users[item.uid]['nickname']}}--></a><!--{% else %}--><span style="color: red; ">该用户已删除</span><!--{% endif %}-->' imgs="<!--{{item.picUrl}}-->" class="btn btn-primary b_button">查看截图</a>
                            </td>
                            <!--{% endif %}-->
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>

<!--{#模态框#}-->
<div class="modal fade" style="width: 900px; margin-left: -500px" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog bs-example-modal-lg"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">游戏截图-- <lable id="b_name"></lable></h4>
            </div>
            <div class="modal-body">
                <div class="form-group img_list" style="text-align: center">

                </div>

                <input type="hidden"  id="b_uid" name="b_uid" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary checked"  id="approval_failure">任务失败</button>
                <button type="button" class="btn btn-primary checked"  id="approval_again">截图不符</button>
                <button type="button" class="btn btn-primary checked"  id="approval_success">通过审核</button>
                <button type="button" class="btn btn-primary"  id="next_one">下一页</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script>
$(function(){
    var obj="";
    gameselect('#gameselect');
    userselect('#userselect');


    function load_img(ob){
        var taskStatus = ob.attr("taskStatus");
        if(taskStatus=="-2"||taskStatus=="1"||taskStatus=="2"){
            $(".checked").attr("disabled","disabled");
        }else{
            $(".checked").removeAttr("disabled");
        }

        var imgs = ob.attr('imgs');
        var strs= new Array(); //定义一数组
        strs=imgs.split(","); //字符分割
        $("#b_name").html("("+ob.attr("uname")+")")
        $(".img_list").html("");
        for (i=0;i<strs.length ;i++ )
        {
            $(".img_list").append('<img src="'+strs[i]+'" border="1px solid"/>')
        }

        obj = ob;
    }

    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
    $(".b_button").click(function(){
        load_img($(this));
    })


    $("#next_one").click(function(){
        var old_obj = obj;
        if(obj){
            var new_obj = obj.parent().parent().next("tr").children().children(".b_button");
            if(new_obj.parent().html()){
                load_img(new_obj);
            }else{
                $(".checked").attr("enabled","none");
                alert("已经是本页最后一个");
            }

        }

    })
    $(".checked").click(function(){
        if(confirm("是否确认更改？")){
            var type = $(this).attr("id");
            var userTaskId = obj.attr("userTaskId");
            var taskId = obj.attr("taskId");
            var stepId = obj.attr("stepId");
            $(".checked").attr("disabled","disabled");
            $.post("<!--{{url('a_activity2/task/approval')}}-->",{userTaskId:userTaskId,taskId:taskId,stepId:stepId,type:type},function(data){
                if(data.success=="true"){
                    $(".checked").attr("enabled","none");
                    if(type == "approval_failure"){
                        obj.attr("taskStatus","2").parent().siblings().children(".taskStatus").html("失败");
                    }else if(type == "approval_success"){
                        obj.attr("taskStatus","1").parent().siblings().children(".taskStatus").html("成功");
                    }else if(type == "approval_again"){
                        obj.attr("taskStatus","-2").parent().siblings().children(".taskStatus").html("重发");
                    }

                    var old_obj = obj;
                    if(obj){
                        var new_obj = obj.parent().parent().next("tr").children().children(".b_button");
                        if(new_obj.parent().html()){
                            load_img(new_obj);
                        }else{
                            $(".checked").attr("enabled","none");
                            alert("已经是本页最后一个");
                        }

                    }

                }else{
                    alert(data.mess);
                }
            },"json")
        }

    })

    $("#approval_success_all").click(function(){
        if(confirm("即将执行一键全审，是否继续？")){
            if($(this).attr("taskId")){
                var taskId = $(this).attr("taskId");
                $.post("<!--{{url('a_activity2/task/approval-all')}}-->",{taskId:taskId},function(data) {
                    if(data.success=="true"){
                       window.location.href=window.location.href;
                    }else{
                        alert(data.mess);
                    }
                },"json")
            }else{
                alert("缺少任务数据");
            }
        }
    })
    $("#approval_by_hand").click(function(){
        if(confirm("即将执行手动发奖，是否继续？")){
            if($(this).attr("taskId")){
                var taskId = $(this).attr("taskId");
                $.post("<!--{{url('a_activity2/task/approval-by-hand')}}-->",{taskId:taskId},function(data) {
                    if(data.success=="true"){
                        window.location.href=window.location.href;
                    }else{
                        alert(data.mess);
                    }
                },"json")
            }else{
                alert("缺少任务数据");
            }
        }
    })

    $("#release_task_stock").click(function(){
        if(confirm("即将执行释放库存，是否继续？")){
            if($(this).attr("taskId")){
                var taskId = $(this).attr("taskId");
                $.post("<!--{{url('a_activity2/task/release-task-stock')}}-->",{taskId:taskId},function(data) {
                    if(data.success=="true"){
                        window.location.href=window.location.href;
                    }else{
                        alert(data.mess);
                    }
                },"json")
            }else{
                alert("缺少任务数据");
            }
        }
    })
});    
</script>
<!--{%endblock%}-->