<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					任务列表
				</h3>
				<div class="actions">	
				    <form action="<!--{{url('a_activity2/task/task-list')}}-->" method="GET">
				    <input name="action_type" type="hidden" value="<!--{{action_type}}-->" />
                    <input name="lineId" type="hidden" value="<!--{{lineId}}-->" />
                    <input name="lineName" type="hidden" value="<!--{{lineName}}-->" />
                    <input name="lineType" type="hidden" value="<!--{{lineType}}-->" />
                        <table class="table-filter">
				        <tr>
                            <td><span class="label label-blue">开始时间</span>
                                <div class="input-append date " >
                                    <input name="counterTimeBegin" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search['counterTimeBegin']}}-->" >
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                            <td><span class="label label-blue">结束时间</span>
                                <div class="input-append date "  data-date="">
                                    <input name="counterTimeEnd" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" type="text" class="input-medium datetimepicker"  value="<!--{{search['counterTimeEnd']}}-->" id="date_timepicker_end" >
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
				            <td><!--{{form_select('complete_type',conditions,complete_type,{'id':'complete_type','style':'margin-top:10px;width:150px'})}}--></td>

                            <td>
                                <input name="title"  placeholder="活动标题" style="width:177px;" type="text" class="input-small" value="<!--{{title}}-->" >
                            </td>


				            <td><button class="btn btn-teal">搜索</button></td>
                            <!--{%if lineId %}-->
                            <!--{%else%}-->
				            <td><a href="<!--{{url('a_activity2/task/task-add')}}-->?lineId=<!--{{lineId}}-->&lineName=<!--{{lineName}}-->&lineType=<!--{{lineType}}-->&isSubTask=<!--{{isSubTask}}-->" class="btn btn-teal">新建任务</a></td>
                            <!--{%endif%}-->
                        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
						    <th class="col-60">活动类型</th>
							<th class="col-100">活动标题</th>
							<th class="col-80">开始时间</th>
							<th class="col-80">结束时间</th>
							<th class="col-100">待/完成/总数</th>
							<th class="col-60">属性</th>
							<th class="col-160" style="width: 18%">奖励</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr >
							<td><!--{{item.taskId}}--><br/><a href="<!--{{url('duang/variation/query-task-report')}}-->?task_id=<!--{{item.taskId}}-->">查询V3分享</a></td>
						    <td>
                                <!--{{ conditions[item.taskType] }}-->
                            </td>
							<td>
								<!--{{item.taskName}}-->
							</td>
							<td><!--{{item.startTime}}--></td>
							<td><!--{{item.endTime}}--></td>
                            <td>
                                <span class="badge "><!--{{item.processingCount|default('0')}}--></span>
                                <span class="badge badge-info"><!--{{item.completeCount|default('0')}}--></span>
                                <span class="badge badge-success"><!--{{item.totalCount|default('0')}}--></span>
                            </td>
                            <td class="isOpen">
                                <!--{%if item.offline==1%}--><span class="badge">下线</span><!--{%else%}--><!--{%if item.isOpen==1%}--><span class="badge badge-success">开启</span><!--{%else%}--><span class="badge">关闭</span><!--{%endif%}--><!--{%endif%}-->
                            </td>
							<td>
                                <!--{%for item2 in item.prizeList%}-->
                                <p><!--{{item2.prizeName}}--><!--{%if item2.prizeType==1 or item2.prizeType==2 %}-->（库存<!--{{item2.stock-item2.usedStock}}-->，总量<!--{{item2.stock}}-->)<!--{%endif%}--></p>
                                <!--{%endfor%}-->
                            </td>
							<td>
							    <a href="<!--{{url('a_activity2/task/task-add')}}-->?id=<!--{{item.taskId}}-->&lineId=<!--{{lineId}}-->&isSubTask=<!--{{isSubTask}}-->" class="btn btn-primary">编辑</a>
							    <a href="<!--{{url('a_activity2/task/audit-picture-list')}}-->?id=<!--{{item.taskId}}-->&taskName=<!--{{item.taskName}}-->&taskType=<!--{{item.taskType}}-->&prizeIds=<!--{%for item2 in item.prizeList%}--><!--{{item2.prizeId}}-->,<!--{%endfor%}-->&prizeNames=<!--{%for item2 in item.prizeList%}--><!--{{item2.prizeName}}-->,<!--{%endfor%}-->" <!--{%if item.auditFlag==1%}--> style="background-color: #5CB811"<!--{%endif%}--> class="btn btn-primary">查看参与用户</a>
							    <!--{#<a href="#" class="btn" rel="popover" data-trigger="hover" data-placement="left" title="参与用户统计" data-content="">查看统计</a>#}-->

                                <!--{%if search['isSubTask']=="false" %}-->
                                <!--{%if item.offline==1%}-->
                                <a href="#nogo" id="<!--{{item.taskId}}-->" class="btn btn-drop ajax-open">显示</a>
                                <a href="#nogo>" id="<!--{{item.taskId}}-->" class="btn btn-drop ajax-open" style="display: none">隐藏</a>
                                <!--{%else%}-->
                                <a href="#nogo" id="<!--{{item.taskId}}-->" class="btn btn-drop ajax-open" style="display: none">显示</a>
                                <a href="#nogo" id="<!--{{item.taskId}}-->" class="btn btn-drop ajax-open">隐藏</a>
                                <!--{%endif%}-->
                                <span><a href="#nogo" id="<!--{{item.taskId}}-->" class="btn btn-drop ajax-open">强制下线</a></span>
                                <!--{%endif%}-->
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script>
$(function(){
    gameselect('#gameselect');
    $(".ajax-open").click(function(){

        var obj = $(this);
        var id = $(this).attr('id');
        var type = $(this).html()=="显示"?"0":"1";
        if($(this).html() == "显示"){
            if(confirm("是否确定显示？")){

            }else{
                return false;
            }
            type = 0;
        }else if($(this).html() == "隐藏"){
            if(confirm("是否确定隐藏？")){

            }else{
                return false;
            }
            type = 1;
        }else if($(this).html() == "强制下线"){
            if(confirm("此功能影响较大，是否继续？")){
                type = 2;
            }else{
                return false;
            }
        }
        $.post('<!--{{url('a_activity2/task/task-open')}}-->',{id:id,type:type},function(data){
            if(data.success=="true"){
                obj.hide();
                obj.siblings("a").show();
                if(data.data=="0"){
                    obj.parent().siblings(".isOpen").children().addClass("badge-success").html("显示");
                }else if(data.data=="1"){
                    obj.parent().siblings(".isOpen").children().removeClass("badge-success").html("隐藏");
                }else if(data.data=="2"){
                    obj.parent().parent().siblings(".isOpen").children().removeClass("badge-success").html("强制下线");
                    obj.parent().siblings(".ajax-open").hide();
                    alert("操作成功");
                }
            }
        },"json")
    })
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            $(this).parent().parent().hide();
        }
    });
});    
</script>
<!--{%endblock%}-->