<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>修改ChinaJoy直播日程</h3>
			</div>
			<div class="box-content">
				<form id="admin-add" action="<!--{{url('zt_activity/chinajoy/save-direct')}}-->" method="POST" enctype="multipart/form-data" class='form-horizontal form-validate'>

                <div class="control-group">
                    <label class="control-label">内容</label>
                    <div class="controls">
                        <script id="container" name="content" type="text/plain"><!--{{ result.content }}--></script>
                    </div>
                </div>


				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>完成</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script>
    $(function(){
        UE.getEditor('container',{toolbars:[["undo","redo","insertunorderedlist","insertorderedlist","link","unlink","cleardoc",
            "simpleupload","bold","italic","underline","strikethrough","forecolor","backcolor","justifyleft","justifycenter",
            "justifyright","justifyjustify","fontfamily","fontsize"]],initialFrameHeight:200});
    });
</script>
<!--{%endblock%}-->