<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>跑会信息</h3>
			</div>
			<div class="box-content">
			    <form id="form-activity" action="<!--{{url('zt_activity/chinajoy/save-guide')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
			    <input id="id" name="id" type="hidden" value="<!--{{id}}-->" />
				<div class="control-group">
					<label class="control-label">标题</label>
					<div class="controls">
						<input type="text" name="title" class="input-large" value="<!--{{title}}-->" data-rule-required="true" data-msg-required="标题不能为空" />
						<span class="help-inline"></span>
					</div>
				</div>
                <div class="control-group">
                    <label class="control-label">主办方</label>
                    <div class="controls">
                        <input type="text" name="organizer" class="input-large" value="<!--{{organizer}}-->" data-rule-required="true" data-msg-required="主办方不能为空" />
                        <span class="help-inline"></span>
                    </div>
                </div>
                    <div class="control-group">
                        <label class="control-label">形式</label>
                        <div class="controls">
                            <input type="text" name="form" class="input-large" value="<!--{{form}}-->" data-rule-required="true" data-msg-required="形式不能为空" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">规模</label>
                        <div class="controls">
                            <input type="text" name="scale" class="input-small" value="<!--{{scale}}-->" data-rule-number="true" data-msg-number="规模不能为空" data-rule-required="true" data-msg-required="规模不能为空" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">地点</label>
                        <div class="controls">
                            <input type="text" name="address" class="input-large" value="<!--{{address}}-->" data-rule-required="true" data-msg-required="地点不能为空" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">报名方式</label>
                        <div class="controls">
                            <input type="text" name="register" class="input-large" value="<!--{{register}}-->" data-rule-required="true" data-msg-required="报名方式不能为空，填写链接或者文字。链接如:http://www.youxiduo.com" />
                            <span class="help-inline error" for="register">报名方式不能为空，填写链接或者文字。链接如:http://www.youxiduo.com</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">地图代码</label>
                        <div class="controls">
                            <textarea name="content" class="input-xxlarge"><!--{{content}}--></textarea>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">模块时间</label>
                        <div class="controls">
                            <div class="input-append date">
                                <input name="addtime" type="text" class="input-medium datetimepicker" value="<!--{{ addtime|date('Y-m-d H:i') }}-->">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>

                <div class="control-group">
					<label class="control-label">地图图片</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><img src="<!--{{pics|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input type="file" name='pics' /></span>
							</div>
						</div>
						<span class="help-inline">图片最佳尺寸：604*173</span>
					</div>
				</div>


                <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
                </div>
			    </form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
</script>
<!--{%endblock%}-->
