<!--{%extends "sub-layout-activity.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					礼包活动管理
				</h3>
				<div class="actions">

                    <form action="<!--{{url('zt_activity/yxdlibao/search')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td><span class="label label-blue">活动类型</span></td>
                                <td><span class="label label-blue"><!--{{form_radio('tag',1,tag==1)}}-->cj活动</span></td>
                                <td><span class="label label-blue"><!--{{form_radio('tag',2,tag==2)}}-->七夕活动</span></td>
                                <td><span class="label label-blue"><!--{{form_radio('tag',3,tag==3)}}-->教师节</span></td>
                                <td><span class="label label-blue"><!--{{form_radio('tag',4,tag==4)}}-->中秋节</span></td>
                                <td><span class="label label-blue"><!--{{form_radio('tag',5,tag==5)}}-->国庆节</span></td>
								<td><span class="label label-blue"><!--{{form_radio('tag',6,tag==6)}}-->光棍节</span></td>
								<td><span class="label label-blue"><!--{{form_radio('tag',7,tag==7)}}-->金娱奖</span></td>
								<td><span class="label label-blue"><!--{{form_radio('tag',8,tag==8)}}-->乐逗专题</span></td>
                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a class="btn btn-teal" href="<!--{{url('zt_activity/yxdlibao/add')}}-->">增加</a></td>
                            </tr>
                        </table>
                    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
                            <th class="col-20">ID</th>
						    <th class="col-60">礼包名</th>
							<th class="col-80">游戏名</th>
                            <th class="col-40">Icon</th>
                            <th class="col-40">平台</th>
							<th class="col-40 table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in result%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.title}}--></td>
							<td><!--{{item.gname}}--></td>
                            <td><!--{%if item.icon%}--><img width="100" src="<!--{{item.icon}}-->" /><!--{%endif%}--></td>
                            <td><!--{{item.plat}}--></td>
                            <td>
                                <a href="<!--{{url('zt_activity/yxdlibao/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
                                <a href="<!--{{url('zt_activity/yxdlibao/del',{id:item.id})}}-->" class="btn btn-primary">删除</a>
							</td>

						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->