<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					活动列表
				</h3>
				<div class="actions">
                    <form action="<!--{{url('duang/variation/list')}}-->">
                        <table class="table-filter">
                            <tr>
                                <td>
                                    <input type="text" class="input-small" name="title" placeholder="活动名称" value="<!--{{ title }}-->">
                                </td>

                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a href="<!--{{url('duang/variation/add')}}-->" class="btn btn-teal">添加活动</a></td>
                            </tr>
                        </table>
                    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-20">ID</th>
							<th class="col-80">活动标题</th>
							<th class="col-150">新用户奖励</th>
							<th class="col-60">老用户奖励</th>
                            <th class="col-100">开始时间</th>
							<th class="col-100">结束时间</th>
							<th class="col-60">是否开启</th>
							<th class="col-40">完成次数</th>
							<th class="col-150">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{% for item in list %}-->
						<tr>
							<td><!--{{ item.activity_id }}--></td>
							<td><span title="<!--{{ item.hashcode }}-->"><!--{{ item.title }}--></span></td>
							<td class="user-avatar">
								<!--{% for depot in item.depots %}-->
									<!--{% if depot.belong == 'newer' %}-->
									<img title="<!--{{ depot.depot_info.depot_id }}-->:<!--{{ depot.depot_info.name }}-->" src="<!--{{ depot.depot_info.icon }}-->">
									<!--{% endif %}-->
								<!--{% endfor %}-->
								<!--{% if item.money %}-->
									<img title="<!--{{ item.money }}-->游币" src="<!--{{ item.money_img }}-->">
								<!--{% endif %}-->
							</td>
							<td class="user-avatar">
								<!--{% for depot in item.depots %}-->
									<!--{% if depot.belong == 'sharer' %}-->
									<img title="<!--{{ depot.depot_info.depot_id }}-->:<!--{{ depot.depot_info.name }}-->" src="<!--{{ depot.depot_info.icon }}-->">
									<!--{% endif %}-->
								<!--{% endfor %}-->
								<!--{% if item.s_money %}-->
									<img title="<!--{{ item.s_money }}-->游币" src="<!--{{ item.money_img }}-->">
								<!--{% endif %}-->
							</td>
                            <td><!--{{ item.starttime|date('Y-m-d H:i:s') }}--></td>
							<td><!--{{ item.endtime|date('Y-m-d H:i:s') }}--></td>
							<td><!--{% if item.is_show %}--><span class="badge badge-success">开启</span><!--{% else %}--><span class="badge badge-important">关闭</span><!--{% endif %}--></td>
							<td><span class="badge badge-warning"><!--{{ item.need_times }}--></span></td>
							<td>
							    <a href="<!--{{url('duang/variation/edit',{ id:item.activity_id })}}-->" class="btn btn-primary">编辑</a>
								<div class="btn-group">
									<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">其他操作<span class="caret"></span></a>
									<ul class="dropdown-menu dropdown-primary">
										<li><a href="<!--{{url('duang/variation/money',{ id:item.activity_id })}}-->">游币记录</a></li>
										<li><a href="<!--{{url('duang/variation/share-record',{ id:item.activity_id })}}-->">分享记录</a></li>
										<li><a class="slink" slink="<!--{{ item.share_link }}-->" data-target="#slink_modal" data-toggle="modal">分享地址</a></li>
									</ul>
								</div>
								<a href="javascript:void(0);" class="btn btn-primary ajax-del" data="<!--{{ item.activity_id }}-->">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
				    <!--{{ pagination }}-->
			    </div>

				<div class="modal fade" id="slink_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">导出卡号</h4>
				      </div>
				      <div class="modal-body">
					      <p>分享地址：<span id="slink"></span></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
	$('.slink').click(function(){
		$('#slink').text($(this).attr('slink'));
    });
	$('a.ajax-del').bind('click',function(){
		var act_id = $(this).attr('data');
		alertify.confirm('确定删除数据么？',function(e){
			if(e){
				$.get('/duang/variation/del',{'act_id':act_id},function(resp){
					if(resp.state){
						alertify.success(resp.msg);
						setTimeout(function(){
							location.reload();
						},1000);
					}else{
						alertify.error(resp.msg);
					}
				},'json')
			}
		});
	});
});
</script>
<!--{%endblock%}-->
