<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					礼包仓库
				</h3>
				<div class="actions">
                    <form action="<!--{{url('duang/gbdepot/list')}}-->">
                        <table class="table-filter">
	                        <tr>
		                        <td style="padding-right: 20px;">
			                        总领取量：<span class="badge badge-warning"><!--{{ all_count }}--></span>
			                        搜索领取量：<span class="badge badge-warning"><!--{{ search_count }}--></span>
		                        </td>
		                        <td>
			                        <input type="checkbox" name="type[]" value="1" <!--{{ 1 in search.type ? 'checked' : ''}}-->>商务
			                        <input type="checkbox" name="type[]" value="2" <!--{{ 2 in search.type ? 'checked' : ''}}-->>自购
		                        </td>
								<td>
									<div class="input-append date datepick" id="dpStart" data-date="">
										<input name="startdate" type="text" class="input-small" value="<!--{{ search.start_date }}-->" readonly="">
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td>
									<div class="input-append date datepick" id="dpEnd" data-date="">
										<input name="enddate" type="text" class="input-small" value="<!--{{ search.end_date }}-->" readonly="">
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</td>
                                <td>
                                    <input type="text" class="input-small" name="name" placeholder="礼包名称" value="<!--{{ search.name }}-->">
                                </td>

                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                                <td><a href="<!--{{url('duang/gbdepot/add')}}-->" class="btn btn-teal">添加礼包</a></td>
                            </tr>
                        </table>
                    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-20">ID</th>
							<th class="col-100">礼包</th>
                            <th class="col-180">礼包描述</th>
							<th class="col-60">添加时间</th>
							<th class="col-40">剩余/总量</th>
							<th class="col-20">状态</th>
							<th class="col-20">有效</th>
							<th class="col-20">类型</th>
							<th class="col-120">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{% for item in list %}-->
						<tr>
							<td><!--{{ item.depot_id }}--></td>
							<td class="user-avatar">
								<img title="<!--{{ games[item.gid]['shortgname'] }}-->" src="<!--{{ item.icon }}-->" />
								<!--{{ item.name }}-->
							</td>
                            <td><!--{{ item.description }}--></td>
							<td><!--{{ item.addtime|date('y-m-d H:i') }}--></td>
							<td><!--{{ item.last_num }}-->/<!--{{ item.total_num }}--></td>
							<td><!--{% if item.used %}--><span class="badge badge-important">使用中</span><!--{% endif %}--></td>
							<td>
								<!--{% if item.valid %}-->
									<span class="badge badge-success btn-link" state="1" data="<!--{{ item.depot_id }}-->">有效</span>
								<!--{% else %}-->
									<span class="badge badge-important btn-link" state="0" data="<!--{{ item.depot_id }}-->">无效</span>
								<!--{% endif %}-->
							</td>
							<td><!--{{ item.type == 1 ? '<span class="badge badge-warning">商务</span>' : '<span class="badge badge-inverse">自购</span>' }}--></td>
							<td>
								<a href="<!--{{url('duang/gbdepot/edit',{id:item.depot_id})}}-->" class="btn btn-primary">编辑</a>
								<div class="btn-group">
									<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">其他操作<span class="caret"></span></a>
									<ul class="dropdown-menu dropdown-primary">
										<li><a href="<!--{{url('duang/gbdepot/import',{id:item.depot_id})}}-->">导入</a></li>
										<li><a href="<!--{{url('duang/gbdepot/cardlist',{id:item.depot_id})}}-->">卡号</a></li>
										<li><a class="export_btn" dpid="<!--{{item.depot_id}}-->" data-target="#export_modal" data-toggle="modal">导出</a></li>
									</ul>
								</div>
								<a href="javascript:void(0);" data="<!--{{ item.depot_id }}-->" class="btn btn-primary ajax-del">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
				    <!--{{ pagination }}-->
			    </div>

				<div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">导出卡号</h4>
				      </div>
				      <div class="modal-body">
				      	  <form action="<!--{{url('duang/gbdepot/export')}}-->" method="get">
				      	      <input id="depot_id" name="depot_id" type="hidden"/>
				      	      <table class="table-filter">
						          <tr>
						              <td>数量</td>
						              <td><input name="number" type="text" class="input-small" /></td>
						              <td><button class="btn">导出未领取的卡号</button></td>
						          </tr>
						      </table>
				      	  </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
	$('input').iCheck({
		checkboxClass: 'icheckbox_square-orange',
		radioClass: 'iradio_square-orange',
		increaseArea: '20%'
	});
	$('.export_btn').click(function(){
		$('#depot_id').val($(this).attr('dpid'));
    });
	$('a.ajax-clear').bind('click',function(){
		var depot_id = $(this).attr('data');
		alertify.confirm('确定清空所有（未领取）卡号么？',function(e){
			if(e){
				$.get('/duang/gbdepot/clear',{'depot_id':depot_id},function(resp){
					if(resp.state){
						alertify.success(resp.msg);
						setTimeout(function(){
							location.reload();
						},1000);
					}else{
						alertify.error(resp.msg);
					}
				},'json')
			}
		});
	});
	$('a.ajax-del').bind('click',function(){
		var depot_id = $(this).attr('data');
		alertify.confirm('确定删除礼包么？（礼包卡及活动关联都会被删除）',function(e){
			if(e){
				$.get('/duang/gbdepot/delete',{'depot_id':depot_id},function(resp){
					if(resp.state){
						alertify.success(resp.msg);
						setTimeout(function(){
							location.reload();
						},1000);
					}else{
						alertify.error(resp.msg);
					}
				},'json')
			}
		});
	});
	$('span.btn-link').bind('click',function(){
		var depot_id = $(this).attr('data');
		var state = $(this).attr('state') == '0' ? 1 : 0;
		var valid_str = $(this).attr('state') == '0' ? '有效' : '无效';
		alertify.confirm('更改为 '+ valid_str +'？',function(e){
			if(e){
				$.get('/duang/gbdepot/upvalid',{'depot_id':depot_id,'state':state},function(resp){
					if(resp.state){
						alertify.success(resp.msg);
						setTimeout(function(){
							location.reload();
						},1000);
					}else{
						alertify.error(resp.msg);
					}
				},'json')
			}
		});
	});
});
</script>
<!--{%endblock%}-->
