<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					分享记录
				</h3>
				<div class="actions">
					<form action="<!--{{url('duang/variation/share-record')}}-->/<!--{{ search.act_id }}-->">
                        <table class="table-filter">
                            <tr>
                                <td>
                                    <input type="text" class="input-small" name="from_uid" placeholder="老用户UID" value="<!--{{ search.from_uid }}-->">
                                </td>

                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            </tr>
                        </table>
                    </form>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-10">ID</th>
						<th class="col-60">分享人（老用户）</th>
						<th class="col-60">参与手机（新用户）</th>
						<th class="col-150">参与时间</th>
						<th class="col-100">是否完成</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in list %}-->
					<tr>
						<td><!--{{ item.main_id }}--></td>
						<td>
							<img width="40" style="float: left;margin-left: 15px;" src="<!--{{users[item.from_uid]['avatar']|default('/static/img/common/avatar.gif')}}-->" />
							<span class="badge badge-warning"><!--{{ users[item.from_uid]['nickname'] }}--></span><br/>
							<span class="badge badge-info"><!--{{ item.from_uid }}--></span>
						</td>
						<td><!--{{ item.phone }}--></td>
						<td><!--{{ item.addtime|date('Y-m-d H:i:s') }}--></td>
						<td>
							<!--{% if item.received %}-->
							<span class="badge badge-success">已完成</span>
							<!--{% elseif item.send_msg %}-->
							<span class="badge badge-success">已完成</span>
							<!--{% else %}-->
							<span class="badge badge-important">未完成</span>
							<!--{% endif %}-->
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{ pagination }}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
	$(function(){
		$('a.ajax-clear').bind('click',function(){
			var depot_id = $(this).attr('data');
			alertify.confirm('确定清空所有（未领取）卡号么？',function(e){
				if(e){
					$.get('/duang/gbdepot/clear',{'depot_id':depot_id},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
		$('a.ajax-del').bind('click',function(){
			var depot_id = $(this).attr('data');
			alertify.confirm('确定礼包么？（礼包卡及活动关联都会被删除）',function(e){
				if(e){
					$.get('/duang/gbdepot/delete',{'depot_id':depot_id},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
	});
</script>
<!--{%endblock%}-->