<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>添加展示</h3>
			</div>
			<div class="box-content">
				<form id="form-activity" action="<!--{{url('duang/show/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
					<div class="control-group">
						<label class="control-label">分享图片</label>
						<div class="controls">
							<div data-provides="fileupload" class="fileupload fileupload-new">
								<div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
									<img src="/static/img/wu_ss.gif">
								</div>
								<div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
								<span class="btn btn-file"><i class="icon-picture"></i>
									<span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span>
									<input type="file" name="pic" data-rule-required="true" data-msg-required="选择图片">
								</span>
								<a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">标题</label>
						<div class="controls">
							<input type="text" name="title" value="<!--{{ input_old('title') }}-->" data-rule-required="true" data-msg-required="请填写标题">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">短描述</label>
						<div class="controls">
							<input type="text" name="summary" value="<!--{{ input_old('summary') }}-->" data-rule-required="true" data-msg-required="短描述不能为空">
							<span class="help-inline"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">链接</label>
						<div class="controls">
							<input type="text" name="url" value="<!--{{ input_old('url') }}-->" data-rule-required="true" data-msg-required="链接不能为空">
							<span class="help-inline"><span class="text-error">请填写以http://开头的完整URL链接</span></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">排序</label>
						<div class="controls">
							<input type="text" name="sort" value="<!--{{ input_old('sort') }}-->" class="input-small">
							<span class="help-inline"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">是否开启</label>
						<div class="controls">
							<input name="is_show" data-on-color="success" data-on-text="开启" data-off-color="danger" data-off-text="关闭" class="switchbox" type="checkbox" checked/>
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
		$('.switchbox').bootstrapSwitch();
	});
</script>
<!--{%endblock%}-->