<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					展示列表
				</h3>
				<div class="actions">
					<table class="table-filter">
						<tr>
							<td><a href="<!--{{url('duang/show/add')}}-->" class="btn btn-teal">添加活动</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-10">ID</th>
							<th class="col-80">标题</th>
                            <th class="col-60">展示图标</th>
                            <th class="col-150">短描述</th>
							<th class="col-100">跳转链接</th>
							<th class="col-20">排序</th>
							<th class="col-60">状态</th>
							<th class="col-100">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{% for item in list %}-->
						<tr>
							<td><!--{{ item.show_id }}--></td>
							<td><!--{{ item.title }}--></td>
							<td class="user-avatar">
								<img src="<!--{{ item.pic }}-->" />
							</td>
                            <td><!--{{ item.summary }}--></td>
							<td><!--{{ item.url }}--></td>
							<td><!--{{ item.sort }}--></td>
							<td><!--{{ item.is_show ? '<span class="badge badge-success">显示</span>' : '<span class="badge badge-error">隐藏</span>' }}--></td>
							<td>
								<a href="<!--{{url('duang/show/edit',{id:item.show_id})}}-->" class="btn btn-primary">编辑</a>
								<a href="javascript:void(0);" data="<!--{{ item.show_id }}-->" class="btn btn-primary ajax-del">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
				    <!--{{ pagination }}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
	$('a.ajax-del').bind('click',function(){
		var show_id = $(this).attr('data');
		alertify.confirm('确定删除？',function(e){
			if(e){
				$.get('/duang/show/delete',{'show_id':show_id},function(resp){
					if(resp.state){
						alertify.success(resp.msg);
						setTimeout(function(){
							location.reload();
						},1000);
					}else{
						alertify.error(resp.msg);
					}
				},'json')
			}
		});
	});
});
</script>
<!--{%endblock%}-->
