<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3>任务信息</h3>
			</div>
			<div class="box-content">
			    <form id="activity-task" action="<!--{{url('duang/variation/v4share-add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">
				<div class="control-group">
					<label class="control-label">*标题</label>
					<div class="controls">
						<input type="text" name="title" class="input-xxlarge" value="<!--{{data.title}}-->" data-rule-required="true" data-msg-required="标题不能为空"  />
					</div>
				</div>

                <div class="row-fluid task_time">
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label">*开始时间</label>
                            <div class="controls">
                                <div class="input-append date">
                                    <input name="startTime" type="text" class="input-medium" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  value="<!--{{data.startTime|date('Y-m-d H:i:s')}}-->" >
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label">*结束时间</label>
                            <div class="controls">
                                <div class="input-append date">
                                    <input name="endTime" type="text" class="input-medium " onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="<!--{{data.endTime|date('Y-m-d H:i:s')}}-->" >
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">*类型</label>
                    <div class="controls">
                        <!--{{form_select('shareType',conditions,data.shareType,{'id':'complete_type'})}}-->
                    </div>
                </div>

                    <fieldset class="f_price">
                        <legend>老用户奖励(单选) <input  type="button" CLASS="btn-primary price_add" isOld="true" value="添加"></legend>
                        <!--{%if data.rewards!=""%}-->
                        <!--{%for item in data.rewards%}-->

                        <div class="for_del">
                            <input type="hidden" name="prizeId[]" value="<!--{{item.rewardId}}-->"/>
                            <div class="control-group" >
                                <label class="control-label">icon</label>
                                <div class="controls">
                                    <div data-provides="fileupload" class="fileupload fileupload-new">
                                        <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                            <img src="<!--{{item.iconUrl}}-->">
                                        </div>
                                        <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                    <span class="btn btn-file"><i class="icon-picture"></i>
                                        <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                        <input name="prize_img[]" type="hidden" value="<!--{{item.iconUrl}}-->"/>
                                        <input type="file" name="prize_pic[]" class="img_validate"  >
                                    </span>
                                        <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                        <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                                    </div>
                                </div>
                            </div>
                            <div class='control-group'>
                                <label class='control-label'>奖励类型</label>
                                <div class='controls'>
                                    <!--{{form_select('prize_type[]',prize,item.rewardType,{'class':'sel_prize',"readonly":"readonly"})}}-->
                                    <input  type="button" CLASS="btn-primary btn-danger prize_del" value="删除奖励">
                                </div>
                            </div>
                            <div class='control-group'>
                                <label class='control-label'>奖励内容</label>
                                <div class="input-append price1">
                                    <input type="text" name="youb_num[]" class="input-middle" value="<!--{{item.amount}}-->" placeholder="金额" data-rule-required="true" data-msg-required="金额不能为空"  />
                                </div>
                                <div class="price2" hidden="hidden">
                                    <div class="input-append">
                                        <input class="selected_cardCode" name="card_code[]" value="<!--{%if item.giftId %}--><!--{{item.giftId}}--><!--{%elseif item.goodId %}--><!--{{item.goodId}}--><!--{%endif%}-->" type="hidden"/>
                                        <input type="text" readonly class="input-small selected_card_name" name="card_des[]" value="<!--{{ item.rewardName }}-->" data-rule-required="true" data-msg-required="请选择卡密" />
                                        <span class="add-on select-card-code">选择</span>
                                        <span class="add-on can-use">可上架礼包<span class="text-error">0</span>个</span>
                                    </div>
                                    <div class="input-append">
                                        &nbsp;
                                        <input type="text" name="num_get[]" class="input-min" value="<!--{{item.totalCount}}-->" data-rule-required="true" data-msg-required="请输入数量" />
                                        <span class="add-on">分配数量</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--{%endfor%}-->
                        <!--{%else%}-->
                        <!--
                    <div class="for_del">
                    <input type="hidden" name="prizeId[]" value=""/>

                        <div class="control-group"  >
                            <label class="control-label">icon</label>
                            <div class="controls" >
                                <div data-provides="fileupload" class="fileupload fileupload-new">
                                    <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                        <img src="<!--{{item.gameIcon|default('http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png')}}-->">
            </div>
            <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                    <span class="btn btn-file"><i class="icon-picture"></i>
                                        <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                        <input name="prize_img[]" type="hidden" value="http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png"/>
                                        <input type="file" name="prize_pic[]" class="img_validate" >
                                    </span>
            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
            <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
        </div>
    </div>
</div>
<div class='control-group'>
    <label class='control-label'>奖励类型</label>
    <div class='controls'>
        <!--{{form_select('prize_type[]',prize,item.prizeType,{'class':'sel_prize'})}}-->
        <input  type="button" CLASS="btn-primary btn-danger prize_del" value="删除奖励">
    </div>
</div>
<div class='control-group'>
    <label class='control-label'>奖励内容</label>
    <div class="input-append price1">
        <input type="text" name="youb_num[]" class="input-middle" value="<!--{{item.prizeKey}}-->" placeholder="金额" data-rule-required="true" data-msg-required="金额不能为空"  />
    </div>
    <div class="price2" hidden="hidden">
        <div class="input-append">
            <input class="selected_cardCode" name="card_code[]" value="<!--{{item.prizeKey}}-->" type="hidden"/>
            <input type="text"  readonly class="input-small selected_card_name" name="card_des[]" value="<!--{{ item.prizeName }}-->" data-rule-required="true" data-msg-required="请选择卡密" />
            <span class="add-on select-card-code">选择</span>
            <span class="add-on can-use">可上架礼包<span class="text-error stock">0</span>个</span>
            <input type="hidden" name="prize_gid[]" class="prize_gid" value="<!--{{item.gid}}-->" />
        </div>
        <div class="input-append">
            &nbsp;
            <input type="text" name="num_get[]" class="input-min" value="<!--{{item.stock}}-->" />
            <span class="add-on">分配数量</span>
        </div>
    </div>
</div>
</div>
<hr>
-->
<!--{%endif%}-->
</fieldset>

<fieldset class="f_price2">
    <legend>新用户奖励(单选) <input  type="button" CLASS="btn-primary price_add" isOld="false" value="添加"></legend>
    <!--{%if data.baits!=""%}-->
    <!--{%for item in data.baits%}-->

    <div class="for_del">
        <input type="hidden" name="prizeId_new[]" value="<!--{{item.rewardId}}-->"/>
        <div class="control-group" >
            <label class="control-label">icon</label>
            <div class="controls">
                <div data-provides="fileupload" class="fileupload fileupload-new">
                    <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                        <img src="<!--{{item.iconUrl }}-->">
                    </div>
                    <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                    <span class="btn btn-file"><i class="icon-picture"></i>
                                        <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                        <input name="prize_img_new[]" type="hidden" value="<!--{{item.iconUrl}}-->"/>
                                        <input type="file" name="prize_pic_new[]" class="img_validate"  >
                                    </span>
                    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                    <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
                </div>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>奖励类型</label>
            <div class='controls'>
                <!--{{form_select('prize_type_new[]',prize,item.rewardType,{'class':'sel_prize',"readonly":"readonly"})}}-->
                <input  type="button" CLASS="btn-primary btn-danger prize_del" value="删除奖励">
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label'>奖励内容</label>
            <div class="input-append price1">
                <input type="text" name="youb_num_new[]" class="input-middle" value="<!--{{item.amount}}-->" placeholder="金额" data-rule-required="true" data-msg-required="金额不能为空"  />
            </div>
            <div class="price2" hidden="hidden">
                <div class="input-append">
                    <input class="selected_cardCode" name="card_code_new[]" value="<!--{%if item.giftId %}--><!--{{item.giftId}}--><!--{%elseif item.goodId %}--><!--{{item.goodId}}--><!--{%endif%}-->" type="hidden"/>
                    <input type="text" readonly class="input-small selected_card_name" name="card_des_new[]" value="<!--{{ item.rewardName }}-->" data-rule-required="true" data-msg-required="请选择卡密" />
                    <span class="add-on select-card-code">选择</span>
                    <span class="add-on can-use">可上架礼包<span class="text-error">0</span>个</span>
                </div>
                <div class="input-append">
                    &nbsp;
                    <input type="text" name="num_get_new[]" class="input-min" value="<!--{{item.totalCount}}-->" data-rule-required="true" data-msg-required="请输入数量" />
                    <span class="add-on">分配数量</span>
                </div>

            </div>
        </div>
    </div>
    <hr>
    <!--{%endfor%}-->
    <!--{%else%}-->
    <!--
                    <div class="for_del">
                    <input type="hidden" name="prizeId[]" value=""/>

                        <div class="control-group"  >
                            <label class="control-label">icon</label>
                            <div class="controls" >
                                <div data-provides="fileupload" class="fileupload fileupload-new">
                                    <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                        <img src="<!--{{item.gameIcon|default('http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png')}}-->">
    </div>
    <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                    <span class="btn btn-file"><i class="icon-picture"></i>
                                        <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                        <input name="prize_img[]" type="hidden" value="http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png"/>
                                        <input type="file" name="prize_pic[]" class="img_validate" >
                                    </span>
    <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
    <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>
    </div>
    </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>奖励类型</label>
        <div class='controls'>
            <!--{{form_select('prize_type[]',prize,item.prizeType,{'class':'sel_prize'})}}-->
            <input  type="button" CLASS="btn-primary btn-danger prize_del" value="删除奖励">
        </div>
    </div>
    <div class='control-group'>
        <label class='control-label'>奖励内容</label>
        <div class="input-append price1">
            <input type="text" name="youb_num[]" class="input-middle" value="<!--{{item.prizeKey}}-->" placeholder="金额" data-rule-required="true" data-msg-required="金额不能为空"  />
        </div>
        <div class="price2" hidden="hidden">
            <div class="input-append">
                <input class="selected_cardCode" name="card_code[]" value="<!--{{item.prizeKey}}-->" type="hidden"/>
                <input type="text"  readonly class="input-small selected_card_name" name="card_des[]" value="<!--{{ item.prizeName }}-->" data-rule-required="true" data-msg-required="请选择卡密" />
                <span class="add-on select-card-code">选择</span>
                <span class="add-on can-use">可上架礼包<span class="text-error stock">0</span>个</span>
                <input type="hidden" name="prize_gid[]" class="prize_gid" value="<!--{{item.gid}}-->" />
            </div>
            <div class="input-append">
                &nbsp;
                <input type="text" name="num_get[]" class="input-min" value="<!--{{item.stock}}-->" />
                <span class="add-on">分配数量</span>
            </div>
        </div>
    </div>
    </div>
    <hr>
    -->
    <!--{%endif%}-->
</fieldset>


                <div class="control-group">
                    <label class="control-label">所需次数</label>
                    <div class="controls">
                        <input type="text" name="minStandard" value="<!--{{ data.minStandard }}-->" class="input-small" data-rule-required="true" data-msg-required="次数不能为空" data-rule-digits="true" data-msg-digits="请填写整数"/>
                        <span class="add-on">此值为分享者分享的链接达到此值，获得奖励</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">是否开启</label>
                    <div class="controls">
                        <input name="is_show" <!--{% if(data.enableStatus == "T") %}-->checked<!--{% endif %}--> data-on-color="success" data-on-text="开启" data-off-color="danger" data-off-text="关闭" class="switchbox" type="checkbox" checked/>
                    </div>
                </div>


                    <div class="control-group">
                        <label for="textfield" class="control-label">*活动规则</label>
                        <div class="controls">
                            <script id="container" name="ruleDescription" type="text/plain"><!--{{data.ruleDescription}}--></script>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">BEST后台活动</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="selected_activity_aid" name="bestEvent" type="hidden" value="<!--{{ data.bestEvent }}-->"/>
                                <span id="selected_activity_title" class="input-xlarge uneditable-input"><!--{{ data.bestEvent }}--></span>
                                <span class="add-on select-pop-activity" data-no="2">选择活动</span>
                                <a class="add-on" href="<!--{{url('a_activity/activity/edit')}}-->" target="_blank">添加新活动</a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">微信分享Logo</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img src="<!--{{ data.wechatShareLogoUrl }}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
							<span class="btn btn-file"><i class="icon-picture"></i>
								<span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                <input name="wechatShareLogoUrl" type="hidden" value="<!--{{ data.wechatShareLogoUrl }}-->"/>
								<input type="file" name="share_pic" >
							</span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">微信分享标题</label>
                        <div class="controls">
                            <input type="text" name="wechatShareTitle" value="<!--{{ data.wechatShareTitle }}-->" class="input-large" data-rule-required="true" data-msg-required="请输入分享标题"/>
                            <span class="add-on">分享标题不要超过15个汉字</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">微信分享描述</label>
                        <div class="controls">
                            <textarea name="wechatShareDescription" class="input-large" data-rule-required="true" data-msg-required="请输入分享描述"><!--{{ data.wechatShareDescription }}--></textarea>
                            <span class="add-on"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">顶部Banner图片</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 160px; max-height: 60px;" class="fileupload-new thumbnail">
                                    <img src="<!--{{ data.backgroundPicUrl }}-->">
                                </div>
                                <div style="max-width: 160px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                <span class="btn btn-file"><i class="icon-picture"></i>
                                    <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>
                                    <input name="backgroundPicUrl" type="hidden" value="<!--{{ data.backgroundPicUrl }}-->"/>
                                    <input type="file" name="top_pic" >
                                </span>
                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                <span class="text-info">图片最佳尺寸375x140（<span class="text-error">不上传即为左边默认图</span>）</span>
                            </div>
                        </div>
                    </div>



			    <div class="form-actions">
					<button type="submit" class="btn btn-primary sub"><i class="icon-ok"></i>保存</button>
                    <input type="hidden" name="lineId" value="<!--{{lineId}}-->"/>
                    <input type="hidden" name="lineType" value="<!--{{lineType}}-->"/>
                    <input type="hidden" name="lineName" value="<!--{{lineName}}-->"/>
                    <input type="hidden" name="id" value="<!--{{data.id}}-->"/>
				</div>
			    </form>


</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/ajaxfileupload.js"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="/static/js/jquery.validationEngine.js"></script>
<script src="/static/js/jquery.validationEngine-en.js"></script>
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
var card_code1="";
var card_name1="";
var can_use1="";
var obj= "";
var complete_type;
var card_img = "";
var prize_gid = "";
$(function() {
    var editor = UE.getEditor('container');
    $('.switchbox').bootstrapSwitch();

    <!--{%if lineId!="" %}-->
    $(".task_time").hide();
    $(".notice").remove();
    <!--{%endif%}-->
//根据‘任务类型’调整附加内容
    function set_taskType(type){
        if (type == '1') {
            $(".f_price").hide();
        } else if (type == "2") {
            $(".f_price").show();
        }
    }
    complete_type = $("#complete_type").val();
    set_taskType(complete_type);
    $('#complete_type').change(function(){
        var type = $(this).val();
        set_taskType(type);
    });

    //根据‘奖励类型’调整附加内容
    function set_prizeType(obj,model){
        var type = obj.val();
        if(type == 'youb'||type == 'rmbb'){
            obj.parent().parent().next("div").children(".price1").show();
            obj.parent().parent().parent().children("div").eq(0).children("div").children("div").children().children("input[name='prize_img[]']").val("http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png");
            obj.parent().parent().next("div").children(".price2").hide();
        }else{
            if(model!="each"){
                obj.parent().parent().parent().children("div").eq(0).children("div").children("div").children().children("input[name='prize_img[]']").val("");
            }
            if(type == "gift"){
                obj.parent().parent().next("div").children(".price2").show().children().children(".select-material-list").removeClass('select-material-list').addClass("select-card-code");
            }else{
                obj.parent().parent().next("div").children(".price2").show().children().children(".select-card-code").removeClass('select-card-code').addClass("select-material-list");
            }
            obj.parent().parent().next("div").children(".price1").hide();
        }
    }

    $(".sel_prize").each(function(){
        if($(this).attr("readonly")=="readonly"){
            $(this).children(":selected").siblings().remove();
        }
        var obj = $(this);
        set_prizeType(obj,"each");
    })
    $(".sel_prize").live('change',function(){
        var obj = $(this);
        set_prizeType(obj,"change");

    })



    //提交时限制图片为空
    $(".sub").click(function() {
        var check = "true";
        $("input[name='prize_pic[]']").each(function(){
            var img = $(this).val();

            var old_img = $(this).siblings("input[name='prize_img[]']").val();
            if(!img&&!old_img){
                $(this).parent().siblings(".img_note").show();
                check = "false";
            }else{
                $(this).parent().siblings(".img_note").hide();
            }
        })

        if(!$("input[name='task_icon']").val()&&!$("#task_img").val()){
            $("#task_img").parent().siblings(".img_note").show();
            check = "false";
        }else{
            $("#task_img").parent().siblings(".img_note").hide();
        }
        if(check=="false"){
//            return false;
        }
    })

    $('input.datetimepicker').datetimepicker({format: 'Y-m-d H:i:s', lang: 'ch'});



//    $(".f_share").hide().attr("disabled","disabled");
//    $("#dd_total_time").hide().attr("disabled", "disabled");

//选择游戏
    $('.select-pop-game').bind('click', function () {
        $.ajax({
            url: '/a_game/api/game-search',
            dataType: 'json',
            success: function (json) {
                var html = json.html;
                $.dialog({id: 'pop-game-list', title: '提示', padding: 2, content: html, width: 600, height: 580});
            }
        });
    });

    //选择活动弹窗
    $('.select-pop-variation').live('click',function(){
        var url =  '/duang/variation/variation-search';
        $.ajax({
            url:url,
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-variation-list',title:'提示',padding:2,content:html,width:600});
            }
        });
    });

    $(".price_add").click(function(){
        var o = $(this);
        if($(this).parent().siblings("for_del").length<4){
            if(o.attr("isOld")=="true"){
                $(this).parent().parent().append('<div class="for_del"><input type="hidden" name="prizeId[]" value=""/>  <div class="control-group">            <label class="control-label">icon</label>            <div class="controls" >            <div data-provides="fileupload" class="fileupload fileupload-new">            <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">            <img src="http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png">            </div>            <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>            <span class="btn btn-file"><i class="icon-picture"></i>            <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>   <input name="prize_img[]" type="hidden" value="http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png" />          <input type="file" name="prize_pic[]"  class="img_validate" >            </span>            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a> <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>           </div>            </div>            </div><div class="control-group"><label class="control-label">奖励类型</label>        <div class="controls">            <!--{{form_select("prize_type[]",prize,data.complete_type,{"class":"sel_prize"})}}-->   <input  type="button" CLASS="btn-primary btn-danger prize_del" value="删除奖励">     </div>        </div>        <div class="control-group">        <label class="control-label">奖励内容</label>        <div class="input-append price1">            <input type="text" name="youb_num[]" class="input-middle" value="" placeholder="金额" data-rule-required="true" data-msg-required="金额不能为空"  />          </div>            <div class="price2" hidden="hidden">            <div class="input-append">            <input class="selected_cardCode" name="card_code[]" value="" type="hidden"/>            <input type="text"  readonly class="input-small selected_card_name" name="card_des[]" value="" data-rule-required="true" data-msg-required="请选择卡密" />            <span class="add-on select-card-code">选择</span>            <span class="add-on can-use">可上架礼包<span class="text-error">0</span>个</span>   <input type="hidden" name="prize_gid[]" class="prize_gid" value="" />         </div>            <div class="input-append">            &nbsp;        <input type="text" name="num_get[]" class="input-min" value="" data-rule-required="true" data-msg-required="请输入数量" />            <span class="add-on">分配数量</span>            </div>            </div>        </div> <hr> </div> ');
            }else{
                $(this).parent().parent().append('<div class="for_del"><input type="hidden" name="prizeId_new[]" value=""/>  <div class="control-group">            <label class="control-label">icon</label>            <div class="controls" >            <div data-provides="fileupload" class="fileupload fileupload-new">            <div style="max-width: 60px; max-height: 60px;" class="fileupload-new thumbnail">            <img src="http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png">            </div>            <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>            <span class="btn btn-file"><i class="icon-picture"></i>            <span class="fileupload-new">选择照片</span><span class="fileupload-exists">Change</span>   <input name="prize_img_new[]" type="hidden" value="http://test.img.youxiduo.com/userdirs/2015/11/20151117175733BZts.png" />          <input type="file" name="prize_pic_new[]"  class="img_validate" >            </span>            <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a> <span style="color: rgb(185, 74, 72);" class="img_note" hidden="hidden">图片不能为空且限于png,gif,jpeg,jpg格式</span>           </div>            </div>            </div><div class="control-group"><label class="control-label">奖励类型</label>        <div class="controls">            <!--{{form_select("prize_type_new[]",prize,data.complete_type,{"class":"sel_prize"})}}-->   <input  type="button" CLASS="btn-primary btn-danger prize_del" value="删除奖励">     </div>        </div>        <div class="control-group">        <label class="control-label">奖励内容</label>        <div class="input-append price1">            <input type="text" name="youb_num_new[]" class="input-middle" value="" placeholder="金额" data-rule-required="true" data-msg-required="金额不能为空"  />          </div>            <div class="price2" hidden="hidden">            <div class="input-append">            <input class="selected_cardCode" name="card_code_new[]" value="" type="hidden"/>            <input type="text"  readonly class="input-small selected_card_name" name="card_des_new[]" value="" data-rule-required="true" data-msg-required="请选择卡密" />            <span class="add-on select-card-code">选择</span>            <span class="add-on can-use">可上架礼包<span class="text-error">0</span>个</span>   <input type="hidden" name="prize_gid_new[]" class="prize_gid" value="" />         </div>            <div class="input-append">            &nbsp;        <input type="text" name="num_get_new[]" class="input-min" value="" data-rule-required="true" data-msg-required="请输入数量" />            <span class="add-on">分配数量</span>            </div>    </div>        </div> <hr> </div> ');
            }
        }else{
            alert("最多只能添加4个奖励");
        }
    })

//选择礼包
    $(".select-card-code").live('click',function(){
        obj = $(this);
        $.ajax({
            url:'/v4agiftbag/package/cate-card-select',
            dataType:'json',
            success:function(json){
                var html = json.html;
                $.dialog({id:'pop-card-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });
    })

    //选择实物
    $(".select-material-list").live('click',function(){
        obj = $(this);
        $.ajax({
            url:'/v4agiftbag/package/material-select',
            dataType:'json',
            success:function(json){
                var html = json.html;
                $.dialog({id:'pop-card-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });
    })

    //选择活动弹窗
    $('.select-pop-activity').bind('click',function(){
        var no = $(this).attr('data-no');
        var url =  '/a_activity/activity/pop-search/'+ no;
        $.ajax({
            url:url,
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-data-list',title:'提示',padding:2,content:html,width:600});
            }
        });
    });

    $(".prize_del").live('click',function(){
        if(confirm("删除后无法恢复，确认删除？")){
            $(this).parent().parent().parent(".for_del").remove();
        }
    });
})

var set_selected_game=function(game_id,game_name,icon){
    $('#selected_game_id').val(game_id);
    $('#selected_game_name').val(game_name);
    $('#selected_game_icon').attr('src',icon);
    $("#task_img").val(icon);
};
function set_selected_card(card_code,card_name,card_stock,can_use){
    card_code1 = card_code;
    card_name1=card_name;
    can_use1=can_use;
    obj.parent().parent().parent().parent().find("img").attr("src",card_img);
    obj.parent().parent().parent().parent().find("input[name='prize_img[]']").val(card_img);
    obj.parent().parent().parent().parent().find("input[name='prize_img_new[]']").val(card_img);
    $(function(){
        obj.siblings(".selected_cardCode").val(card_code1);
        obj.siblings(".selected_card_name").val(card_name1);
        obj.siblings(".can-use").children().html(can_use1);
        obj.siblings(".prize_gid").val(prize_gid);
    })
}
function set_selected_variation(activity_id,share_title,share_pic,share_des,share_url){
    $("input[name='activity_id']").val(activity_id);
    $("input[name='share_icon']").val(share_pic);
    $("input[name='share_title']").val(share_title);
    $("input[name='share_desc']").val(share_des);
    $("input[name='share_url']").val(share_url);
    $("#share_img").attr("src",share_pic);
}
//选择活动
var set_selected_activity = function(id,title){
    $('#selected_activity_aid').val(id);
    $('#selected_activity_title').text(title);
};

</script>
<!--{%endblock%}-->