<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
                    老用户排行榜
				</h3>
				<div class="actions">
					<form action="<!--{{url('duang/variation/v4share-users')}}-->/<!--{{ search.act_id }}-->">
                        <table class="table-filter">
                            <tr>
                                <td>
                                    <input type="text" class="input-small" name="upperUid" placeholder="老用户UID" value="<!--{{ search.upperUid }}-->">
                                </td>
                                <input type="hidden" name="shareConfigId" value="<!--{{ search.shareConfigId }}-->"/>

                                <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
                            </tr>
                        </table>
                    </form>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
                        <th class="col-60">老用户</th>
						<th class="col-60">新增人数</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in data %}-->
					<tr>
						<td>
                            <span class="badge badge-info"><!--{{item.upperUid}}--></span>
                            <br/>
                            <a href="<!--{{url('user/users/edit',{'id':item.upperUid})}}-->" target="_blank">
                                <!--{{users[item.upperUid]['nickname']}}--><br>
                                <!--{{users[item.upperUid]['mobile']}}-->
                            </a></td>
						<td><!--{{ item.lowerCount }}--></td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{ pagination }}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
	$(function(){
		$('a.ajax-clear').bind('click',function(){
			var depot_id = $(this).attr('data');
			alertify.confirm('确定清空所有（未领取）卡号么？',function(e){
				if(e){
					$.get('/duang/gbdepot/clear',{'depot_id':depot_id},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
		$('a.ajax-del').bind('click',function(){
			var depot_id = $(this).attr('data');
			alertify.confirm('确定礼包么？（礼包卡及活动关联都会被删除）',function(e){
				if(e){
					$.get('/duang/gbdepot/delete',{'depot_id':depot_id},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},1000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
	});
</script>
<!--{%endblock%}-->