<!--{%extends "sub-layout-message.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>通知信息</h3>
			</div>
			<div class="box-content">
				<form id="form-message" action="<!--{{url('a_message/push/save')}}-->" method="POST" class="form-horizontal form-validate">		
				<input name="csrf_token" type="hidden" value="<!--{{csrf_token}}-->" />								
				<div class="control-group">
					<label for="textfield" class="control-label">消息标题</label>
					<div class="controls">
						<input type="text" name="title" class="input-xxlarge" value="" data-rule-required="true" data-msg-required="标题不能为空">
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">消息内容</label>
					<div class="controls">
						<textarea id="notice" name="content" class="input-xxlarge" rows="5" data-rule-required="true" data-msg-required="内容不能为空"></textarea>
					</div>
				</div>
					<div class="control-group">
						<label for="textfield" class="control-label">推送平台</label>
						<div class="controls">
							<!--{{form_select('pushPlatform',{'1':'百度','2':'个推'})}}-->
						</div>
					</div>
				<div class="control-group">
					<label for="textfield" class="control-label">推送</label>
					<div class="controls">
					    <label class="checkbox inline"><!--{{form_checkbox('is_push',1,false)}}-->通知栏推送</label>
					</div>
				</div>

                <div class="control-group">
                    <label for="textfield" class="control-label">版本</label>
                    <div class="controls">
                        <label class="checkbox inline"><input type="checkbox" name="c0" id="c0"/>全部</label>
                        <label class="checkbox inline"><input type="checkbox" name="version[]" value="3.0.2" class="ck1"/>3.0.2</label>
                        <label class="checkbox inline"><input type="checkbox" name="version[]" value="3.1.0" class="ck1"/>3.1.0</label>
                    </div>
                </div>

				<div class="control-group">
					<label for="textfield" class="control-label">链接类型</label>
					<div class="controls">
					    <!--{{form_select('linktype',linkTypeList,'',{'id':'linktype'})}}-->
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">链接参数</label>
					<div class="controls">
						<input type="text" name="link" class="input-xxlarge" value="">
						<span id="param_desc" class="help-block badge badge-warning"></span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">所属游戏</label>
					<div class="controls">
					    <input id="gameselect" name="game_id" data-from="android" type="hidden" value="" class="bigdrop select2-offscreen" style="width:200px" tabindex="-1">
						<a href="javascript:select_users();">选择用户</a>
					</div>					
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">
					定向发送
					<input id="direct" name="msgtype" type="radio" class="validate[required]" value="1">
					</label>
					<div class="controls">
						<textarea id="to_uids" name="to_uids" class="input-xxlarge" rows="3"></textarea>
						<span class="help-inline">此处填写用户的UID,多个用户之间用<b style="color:red">逗号(英文)</b>分割</span>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">全局推送 <input name="msgtype" type="radio" class="validate[required]" value="2"></label>
				</div>
				<div class="form-actions">
					<button id="submit-btn" type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/jquery.validationEngine.js" ></script>
<script src="/static/js/jquery.validationEngine-en.js" ></script>
<script type="text/javascript">
var descs = <!--{{descs}}-->;
function show_tips(k){
    $('#param_desc').text(descs[k]);
}

function select_users(){
    var game_id = $('#gameselect').val();
	if(game_id){
	    $.ajax({
		    url:"<!--{{url('a_game/api/game-users')}}-->",
			data:{game_id:game_id},
			type:"GET",
			dataType:"text",
			success:function(text){
			    $('#direct').prop('checked',true);
			    $('#to_uids').val(text);
			},
			error:function(e){}
		});
	}

}

jQuery(document).ready(function(){
	// binds form submission and fields to the validation engine
	jQuery("#form-message").validationEngine();
	$("#submit-btn").click(function(){
		if($("input[name='msgtype']:checked").val() == 1 && !$.trim($("#to_uids").val())){
			alert("定向发送请填写用户UID");return false;
		}
	});
	$('#linktype').change(function(){
	    var k = $(this).val();
	    show_tips(k);
	});
	show_tips($('#linktype').val());
	gameselect('#gameselect');	
});
$(function(){
    $("#c0").click(function(){
        if($("#c0").prop("checked")){
            $(".ck1").attr("disabled","disabled");
        }else{
            $(".ck1").removeAttr("disabled");
        }
    })
})
</script>
<!--{%endblock%}-->   