<!--{%extends "sub-layout-message.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					消息列表					
				</h3>
				<div class="actions">
				    <form action="<!--{{url('v4_message/push/list')}}-->">
				    <table class="table-filter">
				        <tr>				            
				            <td>
				                <div class="input-append date datepick" id="dpStart" data-date="">
									<input name="beginTime" type="text" class="input-small" value="<!--{{search.beginTime}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
				            </td>
				            <td>
				                <div class="input-append date datepick" id="dpEnd" data-date="">
									<input name="endTime" type="text" class="input-small" value="<!--{{search.endTime}}-->" readonly="">
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <td><a href="<!--{{url('v4_message/push/add')}}-->" class="btn btn-teal">发布消息</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th>ID</th>
							<th>内容</th>
							<th>发送对象</th>
							<th>添加时间</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td><!--{{item.content}}--></td>
							<td><!--{%if item.to_uid==0%}-->全体用户<!--{%else%}--><!--{{item.to_uid}}--><!--{%endif%}--></td>
							<td><!--{{item.sendtime|date('Y-m-d H:i:s')}}--></td>
							<td>
							    <!--{#<a href="<!--{{url('message/push/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>#}-->							    
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->