<!--{%extends "sub-layout-lottery.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					活动列表
				</h3>
				<div class="actions">
					<form action="<!--{{url('lottery/inscharge/activity-search')}}-->">
						<table class="table-filter">
						<tbody>
						<tr>
							<td>
								<div class="input-append date datepick" id="dpStart">
									<input name="starttime" type="text" class="input-small" value="<!--{{search.start_time}}-->" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>
							<td>
								<div class="input-append date datepick" id="dpEnd">
									<input name="endtime" type="text" class="input-small" value="<!--{{search.end_time}}-->" readonly>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</td>
							<td><input type="text" name="name" id="" class="input-small" placeholder="活动名" value="<!--{{search.title}}-->"/></td>
							<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
							<td><a class="btn btn-teal" href="/lottery/inscharge/activity-add">添加</a></td>
						</tr>
						</tbody></table>
					</form>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-50">
							<input type="checkbox" value="" name="all">
							<div class="btn-group">
								<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a class="ajax-del" data-act="del" href="javascript:void(0);">删除</a></li>
								</ul>
							</div>
						</th>
						<th class="col-40">ID</th>
						
						<th class="col-120">活动名称</th>
						<th class="col-150">抽奖方式</th>
						<th class="col-100">开始时间</th>
						<th class="col-100">结束时间</th>
						<th class="col-100">暗语</th>
						<th class="col-60">是否开启</th>
						<th class="col-150 table-btn-group">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{% for item in activities %}-->
					<tr>
						<td><input name="ids" type="checkbox" value="<!--{{ item.activity_id }}-->"></td>
						<td><!--{{item.activity_id}}--></td>
						<td><!--{{ item.name }}--></td>
						<td>
							<!--{% if item.lot_info %}-->
							<!--{% for lot in item.lot_info %}-->
								<span class="badge badge-warning"><span class="badge badge-success"><!--{{ lot.lottery_id }}--></span><!--{{ lot.title }}--><!--{% if lot.lot_type == 1%}--><span class="badge badge-info">随时</span><!--{% else %}--><span class="badge badge-inverse">定时</span><!--{% endif %}--></span>
							<!--{% endfor %}-->
							<!--{% else %}-->
								<span style="color:red;">未选抽奖方式</span>
							<!--{% endif %}-->
						</td>
						<td><!--{{ item.start_time|date('Y-m-d H:i') }}--></td>
						<td><!--{{ item.end_time|date('Y-m-d H:i') }}--></td>
						<td><span class="badge badge-important"><!--{{ item.command }}--></span></td>
						<td><!--{% if item.is_open == 1 %}--><span class="badge badge-success">开启</span><!--{% else %}--><span class="badge badge-error">关闭</span><!--{% endif %}--></td>
						<td>
							<a href="<!--{{ url('lottery/inscharge/join-list',item.activity_id) }}-->" class="btn btn-primary">参与者</a>
							<a href="<!--{{url('/lottery/inscharge/activity-edit',item.activity_id)}}-->" class="btn btn-primary">编辑</a>
							<a href="javascript:void(0);" data-act="del" data="<!--{{ item.activity_id }}-->" class="btn btn-primary ajax-del">删除</a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{ pagination }}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
		$('a.ajax-del').bind('click',function(){
			if(!confirm('确定要删除数据吗？')){
				return false;
			}
			if($(this).attr('data-act')=='del'){
				var ids = [];
				$('input[name="ids"]:checked').each(function(){
					ids.push($(this).val());
				});
				if(ids.length==0) return false;
				$.get('<!--{{url('lottery/inscharge/activity-del')}}-->',{'ids':ids},function(resp){
					if(resp.status){
						alertify.success(resp.msg);
						setTimeout(function(){
						location.reload();
						},2000);
					}else{
						alertify.error(resp.msg);
					}
				},'json');
			}
		});


		$('input[name="all"]').bind('click',function(){
			if($(this).prop('checked')==true){
				$('input[name="ids"]').prop('checked',true);
			}else{
				$('input[name="ids"]').prop('checked',false);
			}
		});
	});
</script>
<!--{%endblock%}-->