<!--{%extends "sub-layout-lottery.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
	<div class="span12">
		<div class="box">
			<div class="box-title">
				<h3>
					<i class="icon-edit"></i>
					表单推送
				</h3>
				<div class="actions">
				</div>
			</div>
			<div class="box-content">
				<form id="form-push" action="<!--{{url('lottery/inscharge/form-push')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data">
					<div class="control-group">
						<label class="control-label">标识符</label>
						<div class="controls">
							<input type="text" name="gid" data-rule-required="true" data-msg-required="请输入标识符" value="<!--{{ input_old('gid') }}-->"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">推送标题</label>
						<div class="controls">
							<input type="text" name="title" data-rule-required="true" data-msg-required="请输入推送标题" value="<!--{{ input_old('title') }}-->"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">推送描述</label>
						<div class="controls">
							<input type="text" name="des" data-rule-required="true" data-msg-required="请输入推送描述" value="<!--{{ input_old('des') }}-->"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">用户ID</label>
						<div class="controls">
							<textarea name="uids" data-rule-required="true" data-msg-required="请输入用户ID"><!--{{ input_old('uids') }}--></textarea>
							<span class="text-error">（用户ID可填写多个，多个ID之间请用逗号（英文）隔开）</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">表单选项</label>
						<div class="controls">
							<!--{% for key,fset in formset %}-->
							<input type="checkbox" class="validate[minCheckbox[1]]" name="<!--{{ key }}-->" checked><!--{{ fset }}-->
							<!--{% endfor %}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls">
							<input type="submit" value="确认推送" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
		$('input').iCheck({
			checkboxClass: 'icheckbox_square-orange',
			radioClass: 'iradio_square-orange',
			increaseArea: '20%' // optional
		});
		$('.switchbox').bootstrapSwitch();
		$('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
	});
</script>
<!--{%endblock%}-->
