<!--{%extends "sub-layout-lottery.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					奖项列表
				</h3>
				<div class="actions">
					<table class="table-filter">
						<tbody><tr>
							<td><a class="btn btn-teal" href="<!--{{ url('lottery/inscharge/prize-add') }}-->">添加</a></td>
						</tr>
						</tbody></table>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-40">ID</th>
						<th class="col-150">抽奖活动</th>
						<th class="col-100">奖项名称</th>
						<th class="col-40">概率</th>
						<th class="col-40">奖项个数</th>
						<th class="col-150">奖项描述</th>
						<th class="col-40 table-btn-group">操作</th>
					</tr>
					</thead>
					<tbody>
					<!--{%for item in prizes%}-->
					<tr>
						<td><!--{{item.prize_id}}--></td>
						<td>
							<!--{% if item.lot_info %}-->
							<span class="badge badge-info"><!--{{ item.lottery_id }}--></span>
							<span class="badge badge-success"><!--{{item.lot_info}}--></span>
							<!--{% else %}-->
							<span class="badge badge-important">抽奖方式已删除</span>
							<!--{% endif %}-->
						</td>
						<td><!--{{item.title}}--></td>
						<td><!--{{ item.probab }}--> %</td>
						<td><!--{{ item.number }}--></td>
						<td><!--{{ item.des }}--></td>
						<td>
							<a href="<!--{{url('lottery/inscharge/prize-edit',item.prize_id)}}-->" class="btn btn-primary">编辑</a>
							<a href="javascript:void(0);" data="<!--{{ item.prize_id }}-->" class="btn btn-primary ajax-del">删除</a>
						</td>
					</tr>
					<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{ pagination }}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
	$(function(){
		$('a.ajax-del').bind('click',function(){
			var prize_id = $(this).attr('data');
			alertify.confirm('确定删除数据么？',function(e){
				if(e){
					$.get('/lottery/inscharge/prize-del/' + prize_id,{},function(resp){
						if(resp.state){
							alertify.success(resp.msg);
							setTimeout(function(){
								location.reload();
							},2000);
						}else{
							alertify.error(resp.msg);
						}
					},'json')
				}
			});
		});
	});
</script>
<!--{%endblock%}-->