<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>商品分类信息</h3>
			</div>
			<div class="box-content">
			    <form action="<!--{{url('shop/goods/save-cate')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <input id="id" name="id" type="hidden" value="<!--{{cate.id}}-->" />
			    <div class="control-group">
					<label class="control-label">商品分类名称</label>
					<div class="controls">
						<input type="text" name="cate_name" id="cate_name" class="input-xlarge" value="<!--{{cate.cate_name}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">列表小图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;"><img id="listpic_img" src="<!--{%if cate.icon%}--><!--{{config('app.img_url')}}--><!--{%endif%}--><!--{{cate.icon|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input id="icon" type="file" name='icon' /></span>
							</div>
						</div>
						<span class="help-inline">图片最佳尺寸:100*100</span>
					</div>
				</div>				
				<div class="control-group">
					<label class="control-label">商品分类说明</label>
					<div class="controls">
						<textarea id="summary" name="summary" style="width:300px;height:100px;"><!--{{cate.summary}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">是否淘宝链接</label>
					<div class="controls">
						<label class="radio inline"><!--{{form_radio('istaobao',1,cate.istaobao==1)}}-->是淘宝链接</label>
						<label class="radio inline"><!--{{form_radio('istaobao',0,cate.istaobao==0)}}-->正常分类</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">类型</label>
					<div class="controls">
						<label class="radio inline"><!--{{form_radio('taobaotype',1,cate.taobaotype==1)}}-->宝贝</label>
						<label class="radio inline"><!--{{form_radio('taobaotype',0,cate.taobaotype==0)}}-->店铺</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">宝贝或店铺的ID</label>
					<div class="controls">
					    <input type="text" name="taobaoid" id="taobaoid" class="input-small" value="<!--{{cate.taobaoid}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">排序</label>
					<div class="controls">
						<input type="text" name="sort" id="sort" class="input-small" value="<!--{{cate.sort|default(50)}}-->" />
						<span class="help-inline">排序值越大越靠前</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">是否显示</label>
					<div class="controls">
						<label class="radio inline"><!--{{form_radio('show',1,cate.show==1)}}-->显示</label>
						<label class="radio inline"><!--{{form_radio('show',0,cate.show==0)}}-->隐藏</label>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->

<!--{%endblock%}-->