<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>商品信息</h3>
			</div>
			<div class="box-content">
			    <form action="<!--{{url('shop/goods/save')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <input id="id" name="id" type="hidden" value="<!--{{goods.id}}-->" />
			    <input id="day_limit_goods_last" name="day_limit_goods_last" type="hidden" value="<!--{{goods.day_limit_goods_last}}-->" />
			    <div class="control-group">
					<label class="control-label">商品类型</label>
					<div class="controls">
						<label class='radio inline'>
							<!--{{form_radio('gtype',1,goods.gtype==1)}}-->实物奖品
						</label>
						<label class='radio inline'>
							<!--{{form_radio('gtype',2,goods.gtype==2)}}-->虚拟奖品
						</label>
					</div>
				</div>			
				<div id="tab_goods" style="display:none">
					<div class="control-group">
						<label class="control-label">领取方式</label>
						<div class="controls">
							<input type="text" name="expense" class="input-xlarge" value="<!--{{goods.expense}}-->" />
						</div>
					</div>
				</div>
				<div id="tab_gift" style="display:none">
					<div class="control-group">
						<label class="control-label">礼包ID</label>
						<div class="controls">
							<input type="text" name="gift_id" class="input-small" value="<!--{{goods.gift_id}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">每天商品限制个数</label>
					<div class="controls">
						<label class='radio inline'>
							<!--{{form_radio('limit_flag',0,goods.limit_flag==0)}}-->不限制
						</label>
						<label class='radio inline'>
							<!--{{form_radio('limit_flag',1,goods.limit_flag==1)}}-->限制
						</label>
					</div>
				</div>
				<div id="tab_limit_flag" style="display:none">
					<div class="control-group">
						<label class="control-label">请填写商品每天限制的数量</label>
						<div class="controls">
							<input type="text" name="day_limit_goods_total" class="input-small" value="<!--{{goods.day_limit_goods_total}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">限制新用户</label>
					<div class="controls">
						<div class="input-append date">
							<!--{%if goods.limit_register_time%}-->
							<input name="limit_register_time" type="text" class="input-medium datetimepicker" value="<!--{{goods.limit_register_time|date('Y-m-d H:i')}}-->">
							<!--{%else%}-->
							<input name="limit_register_time" type="text" class="input-medium datetimepicker" value="<!--{{goods.limit_register_time}}-->">
							<!--{%endif%}-->
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
			    <div class="control-group">
					<label class="control-label">商品名称</label>
					<div class="controls">
						<input type="text" name="name" id="name" class="input-xlarge" value="<!--{{goods.name}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">分类</label>
					<div class="controls">
						<!--{{form_select('cate_id',catelist,goods.cate_id)}}-->
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">商品简介</label>
					<div class="controls">
						<input type="text" name="shortname" id="shortname" class="input-xlarge" value="<!--{{goods.shortname}}-->" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">详情大图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;"><img id="listpic_img" src="<!--{%if goods.bigpic_1%}-->http://img.youxiduo.com<!--{%endif%}--><!--{{goods.bigpic_1|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input id="bigpic_1" type="file" name='bigpic_1' /></span>
							</div>
						</div>
						<span class="help-inline">图片最佳尺寸:640*334</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">列表小图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="fileupload-new thumbnail" style="max-width: 120px; max-height: 120px;"><img id="listpic_img" src="<!--{%if goods.listpic%}-->http://img.youxiduo.com<!--{%endif%}--><!--{{goods.listpic|default('/static/img/nopic.gif')}}-->" /></div>
							<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; max-height: 120px; line-height: 20px;"></div>
							<div>
								<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择照片</span><span class="fileupload-exists">重新选择</span><input id="listpic" type="file" name='listpic' /></span>
							</div>
						</div>
						<span class="help-inline">图片最佳尺寸:294*190</span>
					</div>
				</div>				
				<div class="control-group">
					<label class="control-label">商品说明</label>
					<div class="controls">
						<textarea id="summary" name="summary" style="width:544px;height:200px;"><!--{{goods.summary}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">使用说明</label>
					<div class="controls">
						<textarea id="instruction" name="instruction" style="width:544px;height:200px;"><!--{{goods.instruction}}--></textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">兑换开始时间</label>
					<div class="controls">
						<div class="input-append date">
							<input name="starttime" type="text" class="input-medium datetimepicker" value="<!--{{goods.starttime|date('Y-m-d H:i')}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">兑换结束时间</label>
					<div class="controls">
						<div class="input-append date">
							<input name="endtime" type="text" class="input-medium datetimepicker" value="<!--{{goods.endtime|date('Y-m-d H:i')}}-->" readonly="">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">所需游币</label>
					<div class="controls">
						<input type="text" name="score" id="score" class="input-small" value="<!--{{goods.score}}-->" />
					</div>
				</div>	
				<div class="control-group">
					<label class="control-label">兑换次数</label>
					<div class="controls">
						<input type="text" name="max_exchange_times" class="input-small" value="<!--{{goods.max_exchange_times|default(1)}}-->" />
						<span class="help-inline label">0:表示不限制</span>
					</div>
				</div>
				
				
				<div id="tab_nums" style="display:none">
				<div class="control-group">
					<label class="control-label">数量</label>
					<div class="controls">
						<input type="text" name="totalnum" id="totalnum" class="input-small" value="<!--{{goods.totalnum}}-->" />
					</div>
				</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">排序</label>
					<div class="controls">
						<input type="text" name="sort" id="sort" class="input-small" value="<!--{{goods.sort|default(50)}}-->" />
						<span class="help-inline">排序值越大越靠前</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">是否上架</label>
					<div class="controls">
						<label class="radio inline"><!--{{form_radio('status',0,goods.status==0)}}-->上架</label>
						<label class="radio inline"><!--{{form_radio('status',1,goods.status==1)}}-->下架</label>
					</div>
				</div>						    			    
			    <div class="control-group">
					<label class="control-label">选项</label>
					<div class="controls">
					    
				        <label class="checkbox inline">
				        <!--{{form_checkbox('isrecommend',1,goods.isrecommend==1)}}-->推荐					        					        
				        </label>
				        <label class="checkbox inline">
				        <!--{{form_checkbox('ishot',1,goods.ishot==1)}}-->热门					        					        
				        </label>
				        <label class="checkbox inline">
				        <!--{{form_checkbox('isnew',1,goods.isnew==1)}}-->最新					        					        
				        </label>				        
					</div>
				</div>
			    <div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>			
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/xheditor/xheditor-1.1.14-zh-cn.min.js')}}-->"></script>
<script>

var options = {
    tools:'Cut,Copy,Paste,Pastetext,Blocktag,Fontface,FontSize,Blod,FontColor,Align,Outdent,Indent,Link,Unlink,Source,autotype',
    loadCSS:'<!--{{asset('css/notice.css')}}-->',
    plugins:{autotype:{c:'xheIcon xheBtnTable',t:'自动排版',e:function(){
        var _this=this;
        var _source = _this.getSource();
        //
        _source = _this.cleanWord(_source);
        _source = _this.cleanHTML(_source);
        _source = _source.replace(new RegExp('font-size' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('font-family' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('font-style' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('font-weight' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('font-variant' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('margin' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('padding' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('border' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('background' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('white-space' + '[^:]*:[^;]+;?','ig'),'');
        _source = _source.replace(new RegExp('line-height' + '[^:]*:[^;]+;?','ig'),'');
        //
        _source = _this.formatXHTML(_source,true);
        _this.setSource(_source);
    }}}
};
$(function(){
    //$('#summary').xheditor(options);
    //$('#instruction').xheditor(options);
    
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    
    $('input[name="gtype"]:radio').bind('click',function(){
        var type = $(this).val();
        if(type==1){
            $('#tab_goods').show();
            $('#tab_gift').hide();
            $('#tab_nums').show();
        }else if(type==2){
            $('#tab_goods').hide();
            $('#tab_gift').show();
            $('#tab_nums').hide();
        }
    });
    
    $('input[name="limit_flag"]:radio').bind('click',function(){
        var flag = $(this).val();
        if(flag==0){
            $('#tab_limit_flag').hide();
        }else if(flag==1){
            $('#tab_limit_flag').show();
        }
    });
    
    var type = $('input[name="gtype"]:checked').val();
    if(type==1){
        $('#tab_goods').show();
        $('#tab_gift').hide();
        $('#tab_nums').show();
    }else if(type==2){
        $('#tab_goods').hide();
        $('#tab_gift').show();
        $('#tab_nums').hide();
    }
    
    var flag = $('input[name="limit_flag"]:checked').val();
        if(flag==0){
            $('#tab_limit_flag').hide();
        }else if(flag==1){
            $('#tab_limit_flag').show();
        }
}); 
</script> 
<!--{%endblock%}-->