<!--{%extends "sub-layout-shop.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					商品管理				
				</h3>
				<div class="actions">
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">ID</th>
						    <th class="col-60">图片</th>
							<th class="col-150">名称</th>
							<th class="col-150">起止时间</th>							
							<th class="col-80">所需游币</th>
							<th class="col-120">剩余量/总量</th>
							<th class="col-80">选项</th>
							<th class="col-80">兑换次数</th>
							<th class="col-60">排序</th>
							<th class="col-60">状态</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td class="user-avatar"><img src="<!--{{imgurl}}--><!--{{item.listpic}}-->" class="" /></td>
							<td><!--{{item.name|default(item.name)}}--></td>
							<td><!--{{item.starttime|date('Y-m-d')}}-->至<!--{{item.endtime|date('Y-m-d')}}--></td>							
							<td><!--{{item.score}}--></td>
							<td><!--{{item.totalnum-item.usednum}}-->/<!--{{item.totalnum}}--></td>
							<td>
								<div class="btn-group">
								<a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">选项<span class="caret"></span></a>
								<ul class="dropdown-menu dropdown-primary">
									<li><a href="<!--{{url('shop/goods/operator',{id:item.id,type:'isrecommend',val:item.isrecommend})}}-->">推荐<!--{%if item.isrecommend == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<li><a href="<!--{{url('shop/goods/operator',{id:item.id,type:'ishot',val:item.ishot})}}-->">热门<!--{%if item.ishot == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
									<li><a href="<!--{{url('shop/goods/operator',{id:item.id,type:'isnew',val:item.isnew})}}-->">最新<!--{%if item.isnew == 1%}--><i class="icon-ok"></i><!--{%endif%}--></a></li>
								</ul>
								</div>
							</td>
							<td>
							    <!--{%if item.max_exchange_times==0%}-->不限制<!--{%else%}--><!--{{item.max_exchange_times}}--><!--{%endif%}-->
							</td>
							<td>
							    <!--{{item.sort}}-->
							</td>
							<td>
							    <!--{%if item.status==0%}--><span class="badge badge-success">上架</span><!--{%else%}--><span class="badge badge-important">下架</span><!--{%endif%}-->
							</td>
							<td>
							    <a href="<!--{{url('shop/goods/edit',{id:item.id})}}-->" class="btn btn-primary">编辑</a>
							    <div class="btn-group">
							    <a data-toggle="dropdown" href="#" class="btn btn-primary dropdown-toggle">操作<span class="caret"></span></a>
							    <ul class="dropdown-menu dropdown-primary">
							    <!--{%if item.status==0%}-->
							    <li><a href="<!--{{url('shop/goods/status',{'id':item.id,'status':1})}}-->">下架</a></li>	
							    <!--{%else%}-->		
							    <li><a href="<!--{{url('shop/goods/status',{'id':item.id,'status':0})}}-->">上架</a></li>
							    <!--{%endif%}-->
							    <li><a href="<!--{{url('shop/exchange/list',{'id':item.id})}}-->">兑换列表</a></li>
							    <!--{%if item.gtype==2%}-->
							    <li><a href="<!--{{url('giftbag/gift/search')}}-->?keyword=<!--{{item.gift_id}}-->&game_id=">对应礼包</a></li>
							    <!--{%endif%}-->				    
							    <li><a href="<!--{{url('shop/goods/delete',{id:item.id})}}-->" class="ajax-del"><i class="icon-trash"></i>删除</a></li>
							    </ul>
							    </div>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->