<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>新闻文章信息</h3>
			</div>
			<div class="box-content">
				<form action="<!--{{url('cms/news/save')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data" id="form1">
			    <input id="id" name="id" type="hidden" value="<!--{{result.id}}-->" />
			    <input type="hidden" name="gametype" value="<!--{{result.gametype}}-->"> 
			    <input type="hidden" name="dosave" value="edit"> 
			    <div class="tab-content padding tab-content-inline tab-content-bottom">
					<div class="control-group">
						<label class="control-label">标题<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" id="title" name="title" data-msg-required="标题不能为空" data-rule-required="true" class="input-xxlarge" value="<!--{{result.title}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">短标题</label>
						<div class="controls">
							<input type="text" name="shorttitle" class="input-xxlarge" value="<!--{{result.shorttitle}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">文章类型<span class="nes-star">*</span></label>
						<div class="controls">
							<!--{{form_select('zxtype',type,result.zxtype,{'class':'input-medium'})}}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">web关键字<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" name="webkeywords" data-msg-required="关键字不能为空" data-rule-required="true" class="input-xxlarge" value="<!--{{result.webkeywords}}-->" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">web文档摘要<span class="nes-star">*</span></label>
						<div class="controls">
							<textarea name="webdesc" data-msg-required="文档摘要不能为空" data-rule-required="true" class="input-xlarge"><!--{{result.webdesc}}--></textarea>
							<!--{{ errors.first('webdesc','<span class="text-error">:message</span>') }}-->
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">缩略图</label>
						<div class="controls">
							<div class="fileupload fileupload-new" data-provides="fileupload" style="float: left;padding:0 30px;">
								<div>WEB缩略图<span class="nes-star">*</span></div>
								<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><!--{%if result.weblitpic == '' or result.weblitpic == '0' %}--><img src="/static/img/common/avatar.gif" /><!--{%else%}--><img src="<!--{{result.oldweblitpic}}-->" /><!--{%endif%}--></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div><!--{{ errors.first('weblitpic','<span class="text-error">:message</span>') }}-->
								<div>
									<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span><input type="file" name='weblitpic' value=""/><input type="hidden" name='oldweblitpic' value="<!--{{result.weblitpic}}-->"/></span>
									<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload" style="float: left;padding:0 30px;">
								<div>缩略图1<span class="nes-star">*</span></div>
								<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><!--{%if result.litpic == '' or result.litpic == '0' %}--><img src="/static/img/common/avatar.gif" /><!--{%else%}--><img src="<!--{{result.oldlitpic}}-->" /><!--{%endif%}--></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div><!--{{ errors.first('litpic','<span class="text-error">:message</span>') }}-->
								<div>
									<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span><input type="file" name='litpic' value="" /><input type="hidden" name='litpic' value="<!--{{result.litpic}}-->" /></span>
									<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload" style="float: left;padding:0 30px;">
								<div>缩略图2</div>
								<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><!--{%if result.litpic2 == '' or result.litpic2 == '0' %}--><img src="/static/img/common/avatar.gif" /><!--{%else%}--><img src="<!--{{result.oldlitpic2}}-->" /><!--{%endif%}--></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div><!--{{ errors.first('litpic2','<span class="text-error">:message</span>') }}-->
								<div>
									<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span><input type="file" name='litpic2' value="<!--{{result.litpic2}}-->"/></span>
									<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								</div>
							</div>
							<div class="fileupload fileupload-new" data-provides="fileupload" style="float: left;padding:0 30px;">
								<div>缩略图3</div>
								<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><!--{%if result.litpic3 == '' or result.litpic3 == '0' %}--><img src="/static/img/common/avatar.gif" /><!--{%else%}--><img src="<!--{{result.oldlitpic3}}-->" /><!--{%endif%}--></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div><!--{{ errors.first('litpic3','<span class="text-error">:message</span>') }}-->
								<div>
									<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span><input type="file" name='litpic3' value="<!--{{result.litpic3}}-->"/></span>
									<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								</div>
							</div>
						</div>
					</div>


					<div id="game-group">
						<!--{%if result.gametype == 'ios' %}-->
						<div id="ios" class="control-group">
							<label class="control-label">IOS游戏ID</label>
							<div class="controls">
								<div class="input-append">
									<input id="selected_game_id" name="gid" type="hidden" value="<!--{{result.gid}}-->" />
									<img id="selected_game_icon" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
									<input type="text" id="selected_game_name" name="igame_name" class="input-xlarge" value="<!--{{result.gamename}}-->"/>
									<span class="add-on select-pop-game" id="select-pop-game">选择游戏</span>
								</div>
							</div>
						</div>
						<!--{%endif%}-->
						<!--{%if result.gametype == 'android' %}-->
						<div id="android" class="control-group">
							<label class="control-label">Android游戏ID</label>
							<div class="controls">
								<div class="input-append">
									<input id="selected_agame_id" name="agid" type="hidden" value="<!--{{result.agid}}-->" />
									<img id="selected_agame_icon" alt=""  class="add-on" src="/static/img/wu_ss.gif" />
									<input type="text" id="selected_agame_name" name="agame_name" class="input-xlarge" value="<!--{{result.gamename}}-->"/>
									<span class="add-on select-pop-game" id="select-pop-agame">选择游戏</span>
								</div>
							</div>
						</div>
						<!--{%endif%}-->
						<!--{%if result.pid == '-1' %}-->
						<div class="control-group" id="dir">
							<label class="control-label">web栏目目录名称<span class="nes-star">*</span></label>
							<div class="controls">
								<input type="text" name="webcatedir" value="<!--{{result.webcatedir}}-->" readonly="readonly" data-msg-required="当前文章为系列时必须填写,同类型文章目录名称不可重复(由小写英文字母、数字或下划线组成,不要带‘/’)" data-rule-required="true">
								<span class="help-inline error">当前文章为系列时必须填写,同类型文章目录名称不可重复(由小写英文字母、数字或下划线组成,不要带‘/’)</span>
							</div>
						</div>
						<!--{%endif%}-->
						<!--{%if result.pid > 0%}-->
						<div class="control-group">
							<label class="control-label">所属系列<span class="nes-star">*</span></label>
							<div class="controls">
								<!--{{form_select('seriesid',result.seriesid , result.pid ,{'class':'input-small valid','id':'series_select'})}}-->
							</div>
						</div>
						<!--{%endif%}-->
					</div>
					<div class="control-group">
						<label class="control-label">资讯中心显示<span class="nes-star">*</span><small></small></label>
						<div class="controls">
							<label class="inline radio">
								<!--{%if result.zxshow==1%}-->
								<input type="radio" name="zxshow" value="1" >
								<!--{%else%}-->
								<input type="radio" checked="checked" name="zxshow" value="1" >
								<!--{%endif%}-->
								 显示
							</label>
							<label class="inline radio">
								<!--{%if result.zxshow==0%}-->
								<input type="radio" name="zxshow" value="0" >
								<!--{%else%}-->
								<input type="radio" checked="checked" name="zxshow" value="0" >
								<!--{%endif%}-->
								不显示
							</label>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">作者<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" name="writer" data-msg-required="作者不能为空" data-rule-required="true" class="input-small" value="<!--{{result.writer}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">排序值</label>
						<div class="controls">
							<input type="text" name="sort" data-rule-number="true" class="input-small" value="<!--{{result.sort}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">推荐游戏ID</label>
						<div class="controls">
							<input type="text" name="game_id" data-msg-required="推荐游戏ID必须为数字" data-rule-number="true" class="input-small" value="<!--{{result.game_id}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label for="textfield" class="control-label">内容</label>
						<div class="controls">
							<script id="container" name="content" type="text/plain"><!--{{result.content}}--></script>
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script>
$(function(){
    var editor = UE.getEditor('container');
    gameselect('#gameselect');
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
});
var set_mune = function(game_id){
	var gametype = $(':radio[name="gametype"]:checked').val();
    $.ajax({
        url:'/cms/article/ajax-son-mune',
        dataType:'json',
        type     : 'GET',
        data     : {'type' : gametype,'gameid' : game_id, 'arcType' : 'news'},
        success:function(json){
            var html = '<option value="0" selected="selected">无</option>';
            for(var i = 0 ; i < json.length ; i++){
            	html += '<option value="'+json[i]['id']+'">'+json[i]['title']+'</option>';
            }
            $('#series_select').html(html);
            $("#dir").show();
        }
    });  
}
var set_selected_game = function(game_id,game_name,icon){
    $('#selected_game_id').val(game_id);
    $('#selected_game_icon').attr('src',icon);
    $('#selected_game_name').val(game_name);
    set_mune(game_id); 
};
$(function(){
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    $('#select-pop-game').bind('click',function(){        
        $.ajax({
            url:'/game/api/game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'IOS游戏',padding:2,content:html,width:600,height:580});
            }
        });        
    });    
        
});

var set_selected_agame = function(game_id,game_name,icon){
    $('#selected_agame_id').val(game_id);
    $('#selected_agame_icon').attr('src',icon);
    $('#selected_agame_name').val(game_name);
    set_mune(game_id);
};
$(function(){
    $('input.datetimepicker').datetimepicker({format:'Y-m-d H:i',lang:'ch'});
    $('#select-pop-agame').bind('click',function(){        
        $.ajax({
            url:'/a_game/api/game-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-game-list',title:'Android游戏',padding:2,content:html,width:600,height:580});
            }
        });        
    });    
        
}); 


</script>
<!--{%endblock%}-->