<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					评测 <!--{%if cond.keytype == 'gname' %}--><span>游戏是：<strong style="color:red;"><!--{{cond.keyword}}--></strong></span><!--{%endif%}-->				
				</h3>
				<div class="actions">
				    <form action="<!--{{url('cms/opinion/search')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            
				            <td>
				            	<input name="type" type="hidden"  value="<!--{{type}}-->">		
				             	<!--{{form_select('keytype',cond.keytypes,cond.keytype,{'class':'input-small','style':'margin-bottom:0px'})}}-->
				            </td>
				            <td>
								<input name="keyword" type="text" class="input-medium" placeholder="" value="<!--{{cond.keyword}}-->">								
							</td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <td><a href="<!--{{url('cms/opinion/add')}}-->" class="btn btn-teal">添加评测</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">ID</th>
						    <th class="col-160">标题</th>
							<th class="col-160">类型</th>
							<th class="col-80">作者</th>
							<th class="col-60">编辑时间</th>							
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><!--{{item.id}}--></td>							
							<td><a href="<!--{{item.id}}-->"><!--{{item.ftitle}}--></a></td>
							<td><!--{{item.gname}}--><!--{{item.type}}--></td>
							<td><!--{{item.writer}}--></td>
							<td><!--{{item.addtime|date('Y-m-d')}}--></td>
							<td>
							    <a href="<!--{{url('cms/opinion/edit',{'id':item.id})}}-->" class="btn btn-primary">编辑</a>
							    <a href="<!--{{url('cms/opinion/del',{'id':item.id})}}-->" class="btn btn-primary">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->