<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					其他
					<!--{%if cond.keytype == 'gname' %}--><span>游戏是：<strong style="color:red;"><!--{{cond.keyword}}--></strong></span><!--{%endif%}-->				
				</h3>
				<div class="actions">
				    <form action="<!--{{url('cms/other/search')}}-->" class="">
				    <table class="table-filter">
				        <tr>				            
				            <td>
				            	<input name="type" type="hidden"  value="<!--{{type}}-->">		
				             	<!--{{form_select('keytype',cond.keytypes,cond.keytype,{'class':'input-small','style':'margin-bottom:0px'})}}-->
				            </td>
				            <td>
								<input name="keyword" type="text" class="input-medium" placeholder="" value="<!--{{cond.keyword}}-->">								
							</td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				            <td><a href="<!--{{url('cms/other/add',{'arttype':type})}}-->" class="btn btn-teal">添加</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
							<th class="col-60">
								<input type="checkbox" name="all">
								<div class="btn-group">
							        <a data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></a>
							        <ul class="dropdown-menu">
							        	<li><a href="<!--{{url('cms/other/make')}}-->" data-act="make" class="ajax-digest-all">更新</a></li>
							            <li><a href="<!--{{url('cms/other/make')}}-->" data-act="check"  class="ajax-digest-all">审核</a></li>
							            <li><a href="<!--{{url('cms/other/property')}}-->"  data-act="add-property" class="ajax-digest-all">增加属性</a></li>
							            <li><a href="<!--{{url('cms/other/property')}}-->" data-act="del-property"  class="ajax-digest-all">删除属性</a></li>
							        </ul>
							    </div>
							</th>
						    <th class="col-40">ID</th>
						    <th class="col-160">标题</th>
							<th class="col-160">类型</th>
							<th class="col-80">作者</th>
							<th class="col-60">编辑时间</th>							
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><input type="checkbox" name="everyone[]" value="<!--{{item.id}}-->"></td>
							<td><!--{{item.id}}--></td>							
							<td><a href="<!--{{item.id}}-->"><!--{{item.title}}--></a></td>
							<td><!--{{item.gname}}--><!--{{item.type}}--></td>
							<td><!--{{item.writer}}--></td>
							<td><!--{{item.addtime|date('Y-m-d')}}--></td>
							<td>
							    <a href="<!--{{url('cms/other/edit',{'id':item.id,'arttype':type})}}-->" class="btn btn-primary">编辑</a>
							    <div class="btn-group">
							        <a data-toggle="dropdown" class="btn  btn-primary dropdown-toggle"><span class="caret"></span></a>
							        <ul class="dropdown-menu dropdown-primary">
							        	<li><a href="<!--{{url('cms/other/make',{'id':item.id})}}-->" data-act="make" data-id="<!--{{item.id}}-->" class="ajax-digest">更新</a></li>
							            <li><a href="<!--{{url('cms/other/make',{'id':item.id})}}-->" data-act="check" data-id="<!--{{item.id}}-->" class="ajax-digest">审核</a></li>
							            <li><a href="<!--{{url('cms/other/property',{'id':item.id})}}-->" data-id="<!--{{item.id}}-->"  data-act="add-property" class="ajax-digest">增加属性</a></li>
							            <li><a href="<!--{{url('cms/other/property',{'id':item.id})}}-->" data-act="del-property" data-id="<!--{{item.id}}-->" class="ajax-digest">删除属性</a></li>
							        </ul>
							    </div>
							    <a href="<!--{{url('cms/other/del',{'type':type,'id':item.id})}}-->" class="btn btn-primary">删除</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>

$(function(){
    $("input[name='all']").bind('click',function(){
    	if($(this).attr("checked") == 'checked'){
    		$("input[name='everyone[]']").attr("checked","checked");	
    	}else{
    		$("input[name='everyone[]']").removeAttr("checked");
    	}
    });
});

$(function(){
	var _this = $("input[name='everyone[]']");
	var all = $("input[name='all']");
	var count = _this.length;
	_this.bind('click',function(){
		var i = 0 ;
		_this.each(function (){
			if($(this).attr("checked") == 'checked'){
				i++;
			}
		});
		if( i == count){
			all.attr("checked","checked");
		}else{
			all.removeAttr("checked");
		}
    });
});
//var all = $("input[name='all']:checked").val();



$('a.ajax-digest-all').bind('click',function(){
	
	var url = $(this).attr('href');
    $(this).attr('href','javascript:void(0);')
    var act = $(this).attr('data-act');
    //var tid = $(this).attr('data-id');
    var tid = '';
    var _this = $("input[name='everyone[]']");
    _this.each(function (){
		if($(this).attr("checked") == 'checked'){
			tid += ( tid == '' ) ? $(this).val() : ',' + $(this).val();
		}
	});
    if(tid == ''){
    	$(this).closest('.btn-group').removeClass('open');
    	$(this).attr('href',url);
    	alert('请选择要操作的文章！~~ ');
        return false;	
    }
    
    var data = {'act':act,'type':'<!--{{type}}-->','tmpids':tid};
    /* console.log(data);
    return false; */
    $.ajax({
        url:url,
        type:'POST',
        data:data,
        dataType:'json',
        success:function(data){
        	console.log($(this));
        	if(act == 'add-property'){
        		html = data['html'];
                $.dialog({id:'pop-tag-list',title:'添加属性',padding:2,content:html,width:600,height:580});
        	}else if(act == 'del-property'){
        		html = data['html'];
                $.dialog({id:'pop-tag-list',title:'删除属性',padding:2,content:html,width:600,height:580});
        	}else if(act == 'move'){
        		html = data['html'];
                $.dialog({id:'pop-type-list',title:'移动文章',padding:2,content:html,width:600,height:580});
        	}else{
        		html = data['html'];
        		alert(html);
        		window.location.href = window.location.href;
        	}
        	
        }
    });
    return false;
	
});


$('a.ajax-digest').bind('click',function(){
    var url = $(this).attr('href');
    $(this).attr('href','javascript:void(0);')
    var act = $(this).attr('data-act');
    var tid = $(this).attr('data-id');
    var data = {'act':act,'type':'<!--{{type}}-->','tmpids':tid};
    $.ajax({
        url:url,
        type:'POST',
        data:data,
        dataType:'json',
        success:function(data){
        	if(act == 'add-property'){
        		html = data['html'];
                $.dialog({id:'pop-tag-list',title:'添加属性',padding:2,content:html,width:600,height:580});
        	}else if(act == 'del-property'){
        		html = data['html'];
                $.dialog({id:'pop-tag-list',title:'删除属性',padding:2,content:html,width:600,height:580});
        	}else if(act == 'move'){
        		html = data['html'];
                $.dialog({id:'pop-type-list',title:'移动文章',padding:2,content:html,width:600,height:580});
        	}else{
        		html = data['html'];
        		alert(html);
        		window.location.href = window.location.href;
        	}
        }
    });
    return false;
});

$(function(){
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
});
</script>
<!--{%endblock%}-->