<div class="box">   
	<form action="<!--{{url('cms/news/save-flag')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data" id="flag">
    <table class="table table-hover table-nomargin">
		<tbody>
		<tr height="28">
		    <td width="80" class="bline">&nbsp;推荐管理：</td>
		    <td class="bline">
			    <input type="hidden" value="<!--{{type}}-->" name="type">
			    <input type="hidden" value="<!--{{action}}-->" name="action">
			    <!--{%for item in flag%}-->
			    	组<!--{{loop.index}}-->：<br/>
			    	<!--{%for v in item%}-->
					<input type="radio" value="<!--{{v.att}}-->" id="flags<!--{{v.att}}-->" name="flagname" class="np"><!--{{v.attname}}-->
					<!--{%endfor%}--> 
					<br/>
				<!--{%endfor%}--> 
		    </td>
		</tr>
		<tr height="32">
		    <td width="80" class="bline">&nbsp;文档ID：</td>
		    <td class="bline">
		        <input type="text" style="width:310px;overflow:hidden;" value="<!--{{id}}-->" name="tmpids">
		    </td>
		</tr>
		<tr height="32">
		    <td align="center" style="padding-top:12px" colspan="2">
			     <a class="btn btn-primary" id="submit">确定</a>
				 <a class="btn btn-primary" id="cancel">取消</a>
			</td>
		</tr>
		</tbody>

    </table>
    </form>
</div>    
    <script>
      
    function init_page()
    {
    	$('#submit').bind('click',function(){
    	   	$('#flag').submit();
    	   	$.dialog.list['pop-tag-list'].close();
    	    return false;
    	});
    	$('#cancel').bind('click',function(){
    	   	$.dialog.list['pop-tag-list'].close();
    	    return false;
    	});
    }
    init_page();
    </script>