<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box box-bordered box-color">
			<div class="box-title">
				<h3><i class="icon-edit"></i>视频信息</h3>
			</div>
			<div class="box-content nopadding">
				<form action="<!--{{url('cms/video/save')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data" id="videoForm">
			    <input name="editor" type="hidden" value="<!--{{editor}}-->" />
			    <input name="dosave" type="hidden" value="<!--{{dosave}}-->" />
			    <input name="id" type="hidden" value="<!--{{result.id}}-->" />
			    <div class="tab-content padding tab-content-inline tab-content-bottom">
					<div class="control-group">
						<label class="control-label">视频标题<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" id="vname" name="vname" data-msg-required="标题不能为空" data-rule-required="true" class="input-xlarge" value="<!--{{result.vname}}-->" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">应用类型 <span class="nes-star">*</span></label>
						<div class="controls">
							<!--{{form_checkbox('iosgid',1,result.iosgid,{'id':'iosgid'})}}--> IOS &nbsp;&nbsp;
							<!--{{form_checkbox('androidgid',2,result.androidgid,{'id':'androidgid'})}}--> Android &nbsp;&nbsp;
							<span class="add-on text-error">至少选择一个</span>
						</div>
					</div>

					<div id="iosgiddiv" class="control-group">
						<label for="igame_name" class="control-label">IOS游戏名</label>
						<div class="controls">
							<input id="selected_game_id" name="gid" type="hidden" value="<!--{{result.gid}}-->" />
							<input type="text" name="igame_name" id="selected_game_name" value="<!--{{result.gname}}-->">
						</div>
					</div>

					<div id="androidgiddiv" class="control-group">
						<label for="agame_name" class="control-label">Android游戏名</label>
						<div class="controls">
							<input id="selected_agame_id" name="agid" type="hidden" value="<!--{{result.agid}}-->" />
							<input type="text" name="agame_name" id="selected_agame_name" value="<!--{{result.agname}}-->">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">视频类型<span class="nes-star">*</span></label>
						<div class="controls">
							<!--{{form_select('type',videotype,result.type,{'class':'input-small'})}}-->
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">关联礼包</label>
						<div class="controls">
							<input type="text" name="gfid" data-msg-required="关联礼包必须为数字" data-rule-number="true" class="input-small" value="<!--{{result.gfid}}-->" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">缩略图<span class="nes-star">*</span></label>
						<div class="controls">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail" style="max-width: 60px; max-height: 60px;"><!--{%if result.litpic == '' or result.litpic == '0' %}--><img src="/static/img/common/avatar.gif" /><!--{%else%}--><img src="<!--{{result.oldlitpic}}-->" /><!--{%endif%}--></div>
								<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 60px; max-height: 60px; line-height: 20px;"></div><!--{{ errors.first('weblitpic','<span class="text-error">:message</span>') }}-->
								<div>
									<span class="btn btn-file"><i class="icon-picture"></i><span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span><input type="file" name='litpic' value=""/><input type="hidden" name='oldweblitpic' value="<!--{{result.litpic}}-->"/></span>
									<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
								</div>
							</div>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">主页推荐<span class="nes-star">*</span><small></small></label>
						<div class="controls">
							<input id="toggle" data-on-color="danger" data-on-text="关" name="toggle" data-off-color="success" data-off-text="开" class="my-checkbox" <!--{{ result.flag ? 'checked' : '' }}--> type="checkbox" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">评分<span class="nes-star">*</span></label>
						<div class="controls">
							<div id="star"></div><div id="target"></div>
							<!--{{ errors.first('score','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">作者<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" name="writer" data-msg-required="作者不能为空" data-rule-required="true" class="input-small" value="<!--{{result.writer}}-->" />
						</div>
					</div>
				    <div class="control-group">
						<label class="control-label">时长</label>
						<div class="controls">
							<input type="text" name="duration" class="input-small" value="<!--{{result.duration}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">排序值</label>
						<div class="controls">
							<input type="text" name="sort" data-rule-number="true" class="input-small" value="<!--{{result.sort}}-->" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">视频地址<span class="nes-star">*</span></label>
						<div class="controls">
							<input type="text" name="videourl" data-msg-required="视频地址不能为空" data-rule-required="true" data-rule-url="true" class="input-xlarge" value="<!--{{result.video}}-->" />
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">视频介绍<span class="nes-star">*</span></label>
						<div class="controls">
							<textarea name="editorcomt" data-msg-required="视频介绍不能为空" data-rule-required="true" class="input-xlarge"><!--{{result.description}}--></textarea>
							<!--{{ errors.first('editorcomt','<span class="text-error">:message</span>') }}-->
						</div>
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
					</div>
			    </div>
			    </form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/plugins/raty/js/jquery.raty.js"></script>
<link rel="stylesheet" href="<!--{{asset('/static/css/plugins/tagsinput/jquery.tagsinput.css')}}-->">
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script>

$("[class='my-checkbox']").bootstrapSwitch();

$(function() {
	$('input').iCheck({
		checkboxClass: 'icheckbox_square-orange',
		radioClass: 'iradio_square-orange',
		increaseArea: '20%' // optional
	});

	if ($("#iosgid").attr('checked')==undefined){
		$("#iosgiddiv").css("display","none");
	}else{
		$("#iosgiddiv").css("display","block");
	}
	
	$("#iosgid").on('ifChanged',function(){
		 if($("#iosgid").attr('checked')==undefined){
			 $("#iosgiddiv").css("display","none"); 
		 }else{
			 $("#iosgiddiv").css("display","block"); 
		 }
	});	
	
	if ($("#androidgid").attr('checked')==undefined){
		$("#androidgiddiv").css("display","none");
	}else{
		$("#androidgiddiv").css("display","block");
	}
	
	$("#androidgid").on('ifChanged',function(){
		 if($("#androidgid").attr('checked')==undefined){
			 $("#androidgiddiv").css("display","none"); 
		 }else{
			 $("#androidgiddiv").css("display","block"); 
		 }
	});		
	
	$('#star').raty({
		scoreName : 'score',
		  half  : true, 
		  score : <!--{{game.score|default("3.5")}}-->,
		  size      : 24,
		  starHalf  : '/static/js/plugins/raty/img/star-half-big.png',
		  starOff   : '/static/js/plugins/raty/img/star-off-big.png',
		  starOn    : '/static/js/plugins/raty/img/star-on-big.png'
	});
});
var callback_iosAdd = function(name){
	$.ajax({
        url:'/cms/video/ios-or-android-game/ios',
        dataType:'json',
        type     : 'GET',
        data     : {'name' : name},
        success:function(json){
            if(json.id != undefined){
            	var v = $("#selected_game_id").val();
            	if(v == ''){
            		v = json.id;
            	}else{
            		v += ',' + json.id;	
            	}
            	$("#selected_game_id").val(v);
            }else{
            	alert('IOS无此游戏');
            	$('#selected_game_name').removeTag(name);
            }
        }
    });   
}

var callback_iosDel = function(name){
	$.ajax({
        url:'/cms/video/ios-or-android-game/ios',
        dataType:'json',
        type     : 'GET',
        data     : {'name' : name},
        success:function(json){
            if(json.id != undefined){
            	var v = $("#selected_game_id").val();
            	var obj = v.split(",");  
            	obj.splice($.inArray(json.id,obj),1);
            	v = obj.join(",");   
            	$("#selected_game_id").val(v);
            }
        }
    });
}

var callback_androidAdd = function(name){
	$.ajax({
        url:'/cms/video/ios-or-android-game/',
        dataType:'json',
        type     : 'GET',
        data     : {'name' : name},
        success:function(json){
            if(json.id != undefined){
            	var v = $("#selected_agame_id").val();
            	if(v == ''){
            		v = json.id;
            	}else{
            		v += ',' + json.id;	
            	}
            	$("#selected_agame_id").val(v);
            }else{
            	alert('Android无此游戏');
            	$('#selected_agame_name').removeTag(name);
            }
        }
    });   
}

var callback_androidDel = function(name){
	$.ajax({
        url:'/cms/video/ios-or-android-game/',
        dataType:'json',
        type     : 'GET',
        data     : {'name' : name},
        success:function(json){
            if(json.id != undefined){
            	var v = $("#selected_agame_id").val();
            	var obj = v.split(",");  
            	obj.splice($.inArray(json.id,obj),1);
            	v = obj.join(",");   
            	$("#selected_agame_id").val(v);
            }
        }
    });
}

$(function(){
    $('#selected_game_name').tagsInput({'defaultText':'','height':'70px','onAddTag':callback_iosAdd,'onRemoveTag':callback_iosDel,});
    $('#selected_agame_name').tagsInput({'defaultText':'','height':'70px','onAddTag':callback_androidAdd,'onRemoveTag':callback_androidDel,});
});
</script>
<!--{%endblock%}-->