<!--{%extends "sub-layout-chat.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					反馈列表
				</h3>
				<div class="actions">
				    <form action="<!--{{url('feedback/chat/users')}}-->">
				    <table class="table-filter">
				        <tr>
				            <td>
				                <div class="controls">
								    <label class="radio inline">
							        <!--{{form_radio('keytype','uid',cond.keytype=='uid')}}-->UID					        					        
							        </label>
							        <label class="radio inline">
							        <!--{{form_radio('keytype','nickname',cond.keytype=='nickname')}}-->昵称					        					        
							        </label>
								</div>				                
				            </td>
				            <td>
								<input name="keyword" type="text" class="input-medium" placeholder="" value="<!--{{cond.keyword}}-->">								
							</td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">ID</th>
							<th class="col-150">用户</th>
							<th>最后信息</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in list%}-->
						<tr>
							<td><!--{{item.id}}--></td>
							<td>
							    <p><span class="badge badge-info"><!--{{item.uid}}--></span><span><!--{% if(users[item.uid]) %}--><img style='width: 20px;height:20px;' src='<!--{{ users[item.uid]['avatar'] }}-->'></span><!--{% endif %}--></p>
							    <p><a href="<!--{{url('user/users/edit',{'id':item.uid})}}-->" target="_blank"><!--{{users[item.uid]['nickname']}}--></a></p>
							    <p><!--{{users[item.uid]['level_name']}}--></p>
							    <p><!--{{item.addtime|date('Y-m-d H:i:s')}}--></p>
							</td>
							<td><div class="well"><!--{{item.feedback}}--></div></td>
							<td>
							    <a href="<!--{{url('feedback/achat/dialog',{id:item.id})}}-->" class="btn btn-primary">查看</a>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{ pagination }}-->
			    </div>
			</div>
		</div>
	</div>

</div>
<!--{%endblock%}-->