<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    活动期号
                </h3>
                <div class="actions">
                    <form action="<!--{{url('a_yiyuan/lottery/list')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td class="span2">
                                    <p class="span3" style="margin-bottom:0px">开始时间</p>
                                    <div class="input-append date datepick span9">
                                        <input name="startDate" type="text" class="span9" value="<!--{{ search.startDate }}-->">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td class="span2">
                                    <p class="span3" style="margin-bottom:0px">结束时间</p>
                                    <div class="input-append date datepick span9">
                                        <input name="endDate" type="text" class="span9" value="<!--{{ search.endDate }}-->">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td class="span1">
                                    <input type="text" placeholder="活动期号" class="span11" value="<!--{{ search.activityNum }}-->" name="activityNum">
                                </td>
                                <td class="span1">
                                    <input type="text" placeholder="中奖商品" class="span11" value="<!--{{ search.merchandiseName }}-->" name="merchandiseName">
                                </td>
                                <td class="span1">
                                    <input type="text" placeholder="中奖号码" class="span11" value="<!--{{ search.luckyNum }}-->" name="luckyNum">
                                </td>
                                <td class="span1">
                                    <input type="text" placeholder="中奖用户id" class="span11" value="<!--{{ search.luckyUserUid }}-->" name="luckyUserUid">
                                </td>
                                <td class="span1">
                                    <select style="width:100px;margin-bottom:0px" name="openDrawStatus">
                                        <option value="">请选择</option>
                                        <option value="O"
                                        <!--{% if search.openDrawStatus == 'O' %}-->
                                        selected
                                        <!--{% endif %}-->
                                        >已开奖</option>
                                        <option value="W"
                                        <!--{% if search.openDrawStatus == 'W' %}-->
                                        selected
                                        <!--{% endif %}-->
                                        >待开奖</option>
                                        <option value="S"
                                        <!--{% if search.openDrawStatus == 'S' %}-->
                                        selected
                                        <!--{% endif %}-->
                                        >未开奖</option>
                                        <option value="I"
                                        <!--{% if search.openDrawStatus == 'I' %}-->
                                        selected
                                        <!--{% endif %}-->
                                        >退款中</option>
                                        <option value="R"
                                        <!--{% if search.openDrawStatus == 'R' %}-->
                                        selected
                                        <!--{% endif %}-->
                                        >已退款</option>
                                    </select>
                                </td>
                                <td class="span1">
                                    <button class="btn btn-teal">
                                        <i class="icon-search"></i>
                                        搜索
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-150">活动期号</th>
                        <th class="col-150">中奖商品</th>
                        <th class="col-150">商品价值</th>
                        <th class="col-150">开奖</th>
                        <th class="col-150">购买情况</th>
                        <th class="col-150">中奖号码</th>
                        <th class="col-150">中奖时间</th>
                        <th class="col-150">中奖用户</th>
                        <th class="col-150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in list%}-->
                    <tr>
                        <td><!--{{item.drawid}}--></td>
                        <td><!--{{item.luckyGoodsName}}--></td>
                        <td><!--{{item.worth}}--></td>
                        <td>
                            <!--{% if item.drawStatus == 'O' %}-->
                            已开奖
                            <!--{% elseif item.drawStatus == 'W' %}-->
                            待开奖
                            <!--{% elseif item.drawStatus == 'S' %}-->
                            未开奖
                            <!--{% elseif item.drawStatus == 'I' %}-->
                            退款中
                            <!--{% elseif item.drawStatus == 'R' %}-->
                            已退款
                            <!--{% endif %}-->
                        </td>
                        <td><!--{{item.boughtCount}}-->/<!--{{item.totalCount}}--></td>
                        <td><!--{{item.luckyNum}}--></td>
                        <td><!--{% if item.openTime > 0 %}--><!--{{item.openTime|date('Y-m-d H:i:s')}}--><!--{% endif %}--></td>
                        <td><!--{{item.userhtml}}--></td>
                        <td>
                            <a href="<!--{{url('a_yiyuan/lottery/user-list')}}-->?drawId=<!--{{ item.drawid }}-->" class="btn btn-primary">查看参与用户</a>
                            <!--{% if item.goodsStatus and item.drawStatus == 'W' or item.drawStatus == 'S' %}-->
                            <a class="btn btn-primary cancelButton"
                               goodsStatus="<!--{{ item.goodsStatus }}-->" drawId="<!--{{ item.drawid }}-->"
                                    >强行结束</a>
                            <!--{% endif %}-->

                        </td>
                    </tr>
                    <!--{%endfor%}-->
                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
        $('.cancelButton').on('click', function(){
            var obj = $(this);
            var goodsStatus = obj.attr('goodsStatus');
            var drawId = obj.attr('drawId');
            if (goodsStatus == 'U') {
                alert('该商品尚未下线，强制结束后会开启新一轮活动，请先前往商品管理下线该商品');
            } else if (goodsStatus == 'D' || goodsStatus == 'A') {
                if(confirm("强制结束后该期活动将作废，无法再次开启，所有参与用户的游币系统将自动返还，是否强制结束？")) {
                    $.ajax({
                        type: "GET",
                        url: "<!--{{ url('a_yiyuan/lottery/compulsory-end') }}-->",
                        data: {drawId:drawId},
                        dataType: "json",
                        success: function(data){
                            if (data.success == 200) {

                                alertify.success(data.msg);
                                setTimeout(function(){
                                    location.reload();
                                },1000);

                            } else {
                                alertify.error(data.msg);
                            }
                        }
                    });
                }
            }

        });
    });
</script>
<!--{%endblock%}-->