<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>发货/编辑</h3>
			</div>
			<div class="box-content">
			    <form id="form_article" action="<!--{{url('a_yiyuan/order/add')}}-->" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

                <div class="control-group">
					<label class="control-label">订单号</label>
					<div class="controls">
                            <p><span id="add_name"><!--{{data.id}}--></span></p>
					</div>
				</div>

                <div class="control-group">
                    <label class="control-label">订单时间</label>
                    <div class="controls">
                            <p><span id="add_name"><!--{{data.createTime|date('Y-m-d H:i:s')}}--></span></p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">玩家信息</label>
                    <div class="controls">
                            <p><span id="add_name"><!--{{data.userName}}--></span></p>
                    </div>
                </div>

                    <!--{%for key,item in address%}-->
                    <!--{%if item.0%}-->
                <div class="control-group">
                    <label class="control-label"><!--{{item.0}}--></label>
                    <div class="controls">
                        <div class=" input-append">
                            <input type="hidden"  class="input-xxlarge addinfo1" value="<!--{{item.0}}-->"  />
                            <input type="text"  class="input-xxlarge addinfo2" value="<!--{{item.1}}-->"  />
                        </div>
                    </div>
                </div>
                    <!--{%endif%}-->
                    <!--{%endfor%}-->
                <div class="control-group">
                    <label class="control-label">物流单号</label>
                    <div class="controls">
                        <div class=" input-append">
                            <input type="text" id="logisticsNumber" class="input-xxlarge logisticsNumber" value="<!--{{data.logisticsNumber}}-->"  />
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">物流公司</label>
                    <div class="controls">
                        <div class=" input-append">
                            <input type="text" id="logisticsCom" class="input-xxlarge logisticsCom" value="<!--{{data.logisticsComName}}-->"  />
                            <input type="button" value="更新单号" class="btn-primary danhao"/>
                        </div>
                    </div>
                </div>


                    <div class="form-actions">
                    <input type="hidden" name="id" id="orderId" value="<!--{{data.id}}-->"/>
                    <!--{%if data.status=="0"%}-->
					<button type="button" class="btn-primary tijiao">保存</button>
                    <!--{%else%}-->
                    <button type="button" class="btn-primary back">返回</button>
                    <!--{%endif%}-->
                    <button type="button" addid="<!--{{data.receiveaddId}}-->" class="btn-primary dizhi">更新地址</button>
				</div>
			    </form>
			</div>
		</div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script>
$(function(){
    $('.dizhi').bind('click',function(){
        if(confirm('确定要更新吗？')){
            var addid = $("#orderId").val();
            var addInfo  ="{";
            $(".addinfo1").each(function(){
                addInfo += '"'+$(this).val()+'"'+':'+'"'+$(this).siblings(".addinfo2").val()+'"'+',';
            })
            addInfo = addInfo.substr(0,addInfo.length-1);
            addInfo += "}";
            addInfo = addInfo.replace("收件地址",'receiveAdd');
            addInfo = addInfo.replace("电话",'phone');
            addInfo = addInfo.replace("城市",'city');
            addInfo = addInfo.replace("收货人",'receiveUser');
            addInfo = addInfo.replace("订单号",'orderId');
            addInfo = addInfo.replace("备注",'tips');
            obj = $(this);
            $.post('<!--{{url('a_yiyuan/help/ajax-do')}}-->',{id:addid,addInfo:addInfo,url:"luckyDraw/UpdateOrderAddressIdByAddId"},function(data){
                if(data.success){
                    alert("更新成功！");
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });

    $('.danhao').bind('click',function(){
        if(confirm('确定要更新吗？')){
            var id = $("#orderId").val();
            var logisticsNumber = $("#logisticsNumber").val();
            var logisticsCom = $("#logisticsCom").val();
            obj = $(this);
            $.post('<!--{{url('a_yiyuan/help/ajax-do')}}-->',{id:id,logisticsNumber:logisticsNumber,logisticsCom:logisticsCom,url:"luckyDraw/UpdateOrderLogisticsNumberById"},function(data){
                if(data.success){
                    alert("更新成功！");
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });

    $('.tijiao').bind('click',function(){
        if(confirm('确定要发货吗？')){
            var id = $("#orderId").val();
            obj = $(this);
            $.post('<!--{{url('a_yiyuan/help/ajax-do')}}-->',{id:id,status:'1',url:"luckyDraw/UpdateOrderStatusById"},function(data){
                if(data.success){
                    var id = $("#orderId").val();
                    var logisticsNumber = $("#logisticsNumber").val();
                    if(logisticsNumber){
                        $.post('<!--{{url('a_yiyuan/help/ajax-do')}}-->',{id:id,logisticsNumber:logisticsNumber,url:"luckyDraw/UpdateOrderLogisticsNumberById"},function(data){
                        },"json")
                    }
                    window.location.href = '<!--{{url('a_yiyuan/order/list')}}-->';
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });

    $('.back').bind('click',function(){
        window.location.href = '<!--{{url('a_yiyuan/order/list')}}-->';
    });
    
});
</script>
<!--{%endblock%}-->