<!--{%extends "base-layout.twig"%}-->
<!--{%block header_css%}-->
<link rel="stylesheet" href="/static/css/plugins/tagsinput/jquery.tagsinput.css">
<!--{%endblock%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3><i class="icon-edit"></i>系列新建/编辑</h3>
            </div>
            <div class="box-content">
                <form id="form-topic" action="<!--{{url('a_yiyuan/xilie/add')}}-->" method="POST" class="form-horizontal form-validate" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="<!--{{ data.seriesId }}-->"/>
                    <div class="control-group">
                        <label class="control-label">系列名称</label>
                        <div class="controls">
                            <input name="seriesName" type="text" value="<!--{{ data.seriesName }}-->" data-rule-required="true" data-msg-required="请填写"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">添加商品</label>
                        <div class="controls">
                            <a id="addGoods" class="btn btn-primary" style="margin-bottom: 20px" onclick="addGoods($(this))">添加</a>
                        </div>
                        <!--{% for item in data.goodsArr %}-->
                        <div class="controls" style="margin-bottom: 20px"><div class="input-append"><input type="text" readonly class="input-medium selected_goods_name" value="<!--{{ item.title }}-->"/><input type="hidden" readonly class="input-medium selected_goods_id" value="<!--{{ item.id }}-->" name="merchandiseIds[]" data-rule-required="true" data-msg-required="请填写"/><span class="add-on select-pop-goods" style="cursor:pointer">选择</span><a class="btn btn-danger" onclick="delGoods($(this))">删除</a></div></div>
                        <!--{% endfor %}-->
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary">保存</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/plugins/tagsinput/jquery.tagsinput.min.js')}}-->"></script>
<script src="<!--{{asset('/static/js/plugins/jquery-ui/jquery-ui-1.9.2.custom.min.js')}}-->"></script>
<script src="/static/js/plugins/multiselect/bootstrap-multiselect.js"></script>
<script>
    var selectObj = {};

    function addGoods (obj) {
        var html = '<div class="controls" style="margin-bottom: 20px"><div class="input-append"><input type="text" readonly class="input-medium selected_goods_name" value="" data-rule-required="true" data-msg-required="请选择"/><input type="hidden" readonly class="input-medium selected_goods_id" value="" name="merchandiseIds[]" data-rule-required="true" data-msg-required="请选择"/><span class="add-on select-pop-goods" style="cursor:pointer">选择</span><a class="btn btn-danger" onclick="delGoods($(this))">删除</a></div></div>';
        obj.parent().parent().append(html);
        return false;
    }

    function delGoods (obj) {
        if (!obj) return false;
        obj.parent().parent().remove();
    }
    $(function() {
        $(document).off('click', '.select-pop-goods');
        $(document).on('click', '.select-pop-goods', function(){
            selectObj = $(this);
            $.ajax({
                url:'/a_yiyuan/xilie/goods-search',
                dataType:'json',
                success:function(json){
                    var html = json.html;
                    $.dialog({id:'pop-goods-list',title:'提示',padding:2,content:html,width:600,height:580});
                }
            });
        });

    });
</script>
<!--{%endblock%}-->