<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-btemplateed">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					模版管理
				</h3>
				<div class="actions">
				    <form action="<!--{{url('a_yiyuan/template/list')}}-->" class="">
                        <table class="table-filter">
                            <tr>
                                <td><a href="<!--{{url('a_yiyuan/template/add')}}-->" class="btn btn-teal"><i class="icon-plus"></i>新建</a></td>
                            </tr>
                        </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
                            <th class="col-120">模版名称</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
                        <tr>
                            <td><!--{{moren.template_name}}--></td>
                            <td>
                                <!--{%if moren.id=="defaultreceivetmpl"%}-->
                                <a href="<!--{{url('a_yiyuan/template/add')}}-->?templateId=<!--{{moren.id}}-->" class="btn btn-primary">查看</a>
                                <!--{%else%}-->
                                <a href="<!--{{url('a_yiyuan/template/add')}}-->?templateId=<!--{{moren.id}}-->" class="btn btn-primary">编辑</a>
                                <a href="#nogo" tid="<!--{{moren.id}}-->" class="btn btn-primary del">删除</a>
                                <!--{%endif%}-->
                            </td>
                        </tr>
					    <!--{%for key,item in list%}-->
						<tr>
                            <td><!--{{item.templateName}}--></td>
							<td>
                                <!--{%if item.id=="defaultreceivetmpl"%}-->
                                <a href="<!--{{url('a_yiyuan/template/add')}}-->?templateId=<!--{{item.id}}-->" class="btn btn-primary">查看</a>
                                <!--{%else%}-->
                                <a href="<!--{{url('a_yiyuan/template/add')}}-->?templateId=<!--{{item.id}}-->" class="btn btn-primary">编辑</a>
                                <a href="#nogo" tid="<!--{{item.id}}-->" class="btn btn-primary del">删除</a>
                                <!--{%endif%}-->
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>

			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
$(function(){
    $('.del').bind('click',function(){
        if(confirm('确定要删除数据吗？')){
            var templateId = $(this).attr('tid');
            obj = $(this);
            $.post('<!--{{url('a_yiyuan/help/ajax-do')}}-->',{templateId:templateId,url:"luckyDraw/DeleteReceiveTemplate"},function(data){
                if(data.success){
                    obj.parent().parent().hide();
                }else{
                    alert(data.error);
                }
            },"json")
        }
    });

    $(".add").click(function(){
        $('#add_add').html($(this).attr("add_add"));
        $('#add_mobile').html($(this).attr("add_mobile"));
        $('#add_name').html($(this).attr("add_name"));
    })
});    
</script>
<!--{%endblock%}-->