<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        <div class="box">
            <div class="box-title">
                <h3>多用户审核</h3><a style="margin-left: 10px;"  href='<!--{{url('IOS_activity/task/approval-one')}}-->?taskId=<!--{{taskId}}-->&taskName=<!--{{taskName}}-->&step_content=<!--{{step_content}}-->&step_img=<!--{{step_img}}-->&stepId=<!--{{stepId}}-->&stepType=<!--{{stepType}}-->&appleId=<!--{{appleId}}-->&appPasswordKey=<!--{{appPasswordKey}}-->&title=<!--{{title}}-->' class="btn btn-primary" >切换</a><a style="margin-left: 10px;"  href='<!--{{url('IOS_activity/task/user-checked')}}-->?stepId=<!--{{stepId}}-->&title=<!--{{title}}-->' class="btn btn-primary" >查看已审核用户</a>
            </div>
            <div class="box-content">
                <form id="activity-task" action="#nogo" method="POST" class='form-horizontal form-validate' enctype="multipart/form-data">

                    <div class="control-group">
                            <label class="control-label">任务标题</label>
                            <div class="controls">
                                <input type="text" name="sort" taskId="<!--{{taskId}}-->" stepId="<!--{{stepId}}-->" class="input-middle task" value="<!--{{taskName}}-->" />
                            </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">待审核人数</label>
                        <div class="controls">
                            <input type="text" class="input-middle task" value="<!--{{totle}}-->" disabled />
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label">任务步骤</label>
                        <div class="controls">
                            <input type="text" name="sort" class="input-middle" value="<!--{{title}}-->" />
                        </div>
                    </div>
                    <!--{%if stepType=="4"%}-->

                    <!--{%else%}-->
                    <div class="control-group">
                        <label class="control-label">内容</label>
                        <div class="controls">
                            <input type="text" name="sort" class="input-middle" value="<!--{{step_content}}-->" />
                        </div>
                    </div>

                    <!--{%endif%}-->
                    <div class="control-group">
                        <label class="control-label">*图片</label>
                        <div class="controls">
                            <div data-provides="fileupload" class="fileupload fileupload-new">
                                <div style="max-width: 400px" class="fileupload-new thumbnail">
                                    <img id="selected_game_icon" src="<!--{{step_img|default('/static/img/wu_ss.gif')}}-->">
                                </div>
                                <div style="max-width: 60px; max-height: 60px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">不通过原因</label>
                        <div class="controls">
                            <input type="text" name="checkFailedDesc" class="input-middle checkFailedDesc" style="width:400px;" value="上传的内容不符合要求，请重新上传" onfocus="javascript:if(this.value=='上传的内容不符合要求，请重新上传')this.value='';" /> <span> （20个字以内）</span>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">任务审核须知</label>
                        <div class="controls">
                            <input type="text" name="sort" class="input-middle" value="<!--{{approvalReminderInfo}}-->" />
                        </div>
                    </div>
                    
                    <!--{%if minlevel>0 and maxlevel>0 %}-->
                    
                    <div class="control-group">
                        <label class="control-label">限制等级</label>
                        <div class="controls">
                            <span><!--{{minlevel}}--> 到 <!--{{maxlevel}}--></span>
                        </div>
                    </div>

                    <!--{%endif%}-->
                    
                    <div>
                        <fieldset style="">
                            <legend  >上传的任务图片</legend>
                            <div class="control-group" >
                                <label class="control-label">筛选用户：</label>
                                <div class="controls">
                                    <input type="text"  class="input-small count" value="0" />
                                    	用户ID：<input type="text"  class="input-small uid" value="" />
                                    <input type="button"  class="input-small load_img" value="筛选" />
                                </div>
                            </div>

                            <div style="border: 1px solid;width: 900px;height: 700px;overflow: scroll" class="img_content">
<!--
                                <div>
                                    <div class="left" style="float: left">
                                        <div class="up" style="padding: 5px;">
                                            <img src="http://img.youxiduo.com/u/gameico/201506/4rmvwp.jpg" alt=""/>


                                        </div>
                                        <div class="down" >名字</div>
                                    </div>
                                    <div class="right" style="float: left; margin-top: 70px;padding-left: 10px;">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> 未通过
                                        </label>
                                    </div>
                                    <div style="clear: both"></div>
                                </div><hr>

                                <div style="border: 1px solid;width: 240px;float: left">
                                    <div class="left" style="float: left">
                                        <div class="up" style="padding: 5px;">
                                            <img src="http://img.youxiduo.com/u/gameico/201506/4rmvwp.jpg" alt=""/>
                                        </div>
                                        <div class="down" >名字</div>
                                    </div>
                                    <div class="right" style="float: left; margin-top: 70px;">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="inlineCheckbox1" value="option1"> 未通过
                                        </label>
                                    </div>
                                </div>
-->
                                <div style="clear: both"></div>
                            </div>
                            <div style="text-align: center; width:900px ;padding-top: 30px;">
                                <button type="button" class="btn btn-primary submit" >通过</button>
                            </div>
                        </fieldset>
                    </div>
                    </form>
				</div>
        </div>
    </div>
</div>




<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script src="/static/js/jquery.lazyload.js"></script>
<script>
$(function(){
//    $("img").each(function(){
//        lazyload();
//    })

    var obj="";
    gameselect('#gameselect');
    userselect('#userselect');


    $(".load_img").click(function(){
        var taskId =$(".task").attr("taskId");
        var stepId =$(".task").attr("stepId");
        var count = $(".count").val();
        var uid = $(".uid").val();
        $.post("<!--{{url('IOS_activity/task/screenshot-list')}}-->",{taskId:taskId,stepId:stepId,count:count,uid:uid},function(data){
            $(".img_content").html(data.html);
        },"json")
    })

    $(".img_content").on("click",".showImg",function(){
        var imgurl = $(this).children("img").attr("src")
        $("#big-img").attr("src",imgurl);
    })


    $("#approval_success_all").click(function(){
        if(confirm("即将执行一键全审，是否继续？")){
            if($(this).attr("taskId")){
                var taskId = $(this).attr("taskId");
                $.post("<!--{{url('a_activity2/task/approval-all')}}-->",{taskId:taskId},function(data) {
                    if(data.success=="true"){
                       window.location.href=window.location.href;
                    }else{
                        alert(data.mess);
                    }
                },"json")
            }else{
                alert("缺少任务数据");
            }
        }
    })

    $(".submit").click(function(){
        var stepId = "<!--{{stepId}}-->";
        var taskId = "<!--{{taskId}}-->";
        var passIds = "";
        var PassUids = "";
        var PassDeviceIds = "";
        var notPassIds = "";
        var notPassUids = "";
        var checkFailedDesc = "";
        var notPassDeviceIds = "";
        $(".ck").each(function(){
            if($(this).prop("checked")){
                notPassIds += $(this).attr("stepid")+",";
                notPassUids += $(this).attr("uid")+",";
                notPassDeviceIds += $(this).attr("deviceId")+",";
            }else{
                passIds += $(this).attr("stepid")+",";
                PassUids += $(this).attr("uid")+",";
                PassDeviceIds += $(this).attr("deviceId")+",";
            }
        })
        checkFailedDesc = $('.checkFailedDesc').val();
        $.post("<!--{{url('IOS_activity/task/approval')}}-->",{taskId:taskId,stepId:stepId,passIds:passIds,PassUids:PassUids,PassDeviceIds:PassDeviceIds,notPassIds:notPassIds,notPassUids:notPassUids,notPassDeviceIds:notPassDeviceIds,checkFailedDesc:checkFailedDesc},function(data) {
            if(data.success=="true"){
                alert("操作成功");
                var totle = $(".totle").val();
                $(".totle").val(totle+$(".count").val());
                $(".img_content").html("");
                location.reload();
            }else{
                alert(data.mess);
            }
        },"json")
    })
});    
</script>
<!--{%endblock%}-->