<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					<!--{{menu_name}}-->管理
				</h3>
				<div class="actions">	
				    <form action="" method="GET">
				    <table class="table-filter">
				        <tr>		
				            <td><a href="<!--{{url('IOS_activity/task/task-new-add')}}-->" class="btn btn-teal">新建任务</a></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-60">任务icon</th>
                            <th class="col-150">任务标题/ID</th>
                            <th class="col-60">任务奖励</th>
							<th class="col-80">创建时间</th>
                            <th class="col-60">状态</th>
							<th class="table-btn-group">操作</th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
							<td><img src='<!--{{item.pic}}-->'  width="100px"/></td>
                            <td><!--{{item.name}}--><br/><!--{{item.id}}--></td>
                            <td><!--{{item.tour}}--></td>
                            <td><!--{{item.createTime}}--></td>
                            <td>
                                <!--{%if item.isOnOff==0 %}-->
                                关闭
                                <!--{%else%}-->
                                开启
                                <!--{%endif%}-->
                            </td>
							<td>
							    <a href="<!--{{url('IOS_activity/task/task-new-add')}}-->?id=<!--{{item.id}}-->" class="btn btn-primary">编辑</a>
                                <!--{%if item.isOnOff==0 %}-->
                                <!--{%else%}-->
                                <a href="#nogo" id="<!--{{item.id}}-->" class="btn btn-drop ajax-open">关闭</a>
                                <!--{%endif%}-->
                                <span><a href="#nogo" id="<!--{{item.id}}-->" class="btn btn-drop ajax-del">删除</a></span>
							</td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>			    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script>
$(function(){
    $('[data-toggle="popover"]').popover();
    gameselect('#gameselect');
    $(".ajax-open").click(function(){

        var obj = $(this);
        var id = $(this).attr('id');
        var type = $(this).html()=="开启"?"1":"0";
        if($(this).html() == "开启"){
            if(confirm("是否确定开启？")){
            }else{
                return false;
            }
            type = 1;
        }else if($(this).html() == "关闭"){
            if(confirm("是否确定关闭？")){
            }else{
                return false;
            }
            type = 0;
        }
        $.post('<!--{{url('IOS_activity/task/task-new-open')}}-->',{id:id,type:type},function(data){
            if(data.success=="true"){
                window.location.reload();
                obj.hide();
                obj.siblings("a").show();
            }
        },"json")
    })
    $('a.ajax-del').bind('click',function(){
        if(confirm('确定要删除数据吗？')){
            var id = $(this).attr('id');
            obj = $(this);
            $.post('<!--{{url('IOS_activity/task/task-new-del')}}-->',{id:id},function(data){
                if(data.success=="true"){
                    obj.parent().parent().parent().hide();
                }else{
                    alert(data.mess);
                }
            },"json")
        }
    });

});    
</script>
<!--{%endblock%}-->