<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					用户签到任务报表
				</h3>
				<div class="actions">
				    <form action="<!--{{url('a_activity/atask/query-checkins')}}-->" method="GET">
				    <input name="ctid" type="hidden" value="<!--{{ctid}}-->" />
				    <table class="table-filter">
				        <tr>
				            <td>
				                <input type="text" name="uid" class="input-small" placeholder="用户UID" value="<!--{{uid}}-->"/>
				            </td>
				            <td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
				        </tr>
				    </table>
				    </form>
				</div>
			</div>
			<div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
			        <thead>
						<tr>
						    <th class="col-40">
						        
							</th>
						    <th class="col-50">ID</th>
							<th class="col-150">用户名</th>
							<th class="col-60">奖励</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					    <!--{%for item in datalist%}-->
						<tr>
						    <td></td>
							<td><!--{{item.uid}}--></td>
							<td><!--{{users[item.uid]['nickname']}}--></td>							
							<td><!--{{item.reward}}--></td>
							<td></td>
						</tr>
						<!--{%endfor%}-->
					</tbody>
			    </table>
			    <div class="pagelink">
			        <!--{{pagelinks}}-->
			    </div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->