<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<form  nane='fa' id='fa' method="POST" class='form-horizontal form-validate' enctype="multipart/form-data"  action='<!--{{url('/v4lotteryproduct/bigwheel/addwheel')}}-->'>
        <input type='hidden' id='mydel' name='del' value=''>
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					大转盘发布/编辑方案
				</h3>
				<div class="actions">

						<table class="table-filter">
							<tr>
								<td>*方案名称</td>
								<td>
                                    <input type='hidden' name='schemeId' value='<!--{{datalist.0.schemeId}}-->'>
									<input type="text" name="schemeName" id="schemeName" data-rule-required="true" data-msg-required="请填写方案名称" class="input-xlarge" value="<!--{{datalist.0.schemeName}}-->" />
								</td>
								<td>*方案执行时间</td>
								<td>
									<input name="startTime" value="<!--{{datalist.0.startTime}}-->" type="text" class="input-medium" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" value="" readonly="">
								</td>
								<td>*是否开启</td>
								<td>
									<input  name="onOrOff" data-on-color="success" data-on-text="启用" data-off-color="danger" data-off-text="不启用" class="switchbox" type="checkbox" <!--{{datalist.0.onOrOff ? 'checked' : '' }}-->/>
								</td>
								<td><a href="javascript:;" id="insert_fangan" class="btn iCheck"><i class="icon-plus" title="添加奖品到方案">添加奖品到方案</i></a></td>
							</tr>
						</table>
				</div>
			</div>

			  <div class="box-content nopadding">
			    <table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th class="col-80" >中奖图片</th>
						<th class="col-80">中奖物品</th>
						<th class="col-60">中奖类型</th>
						<th class="col-80">可领取数</th>
						<th class="col-80">中奖概率</th>
						<th class="col-60">操作</th>
					</tr>
					</thead>
					<tbody id="add_tr">
						<!--{% for key,item in datalist.0.detailList%}-->
							<tr id="add_<!--{{item.detailId}}-->">

								<td>
                                    <div class="control-group">
                                        <label class="control-label"></label>
                                        <div class="controls">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail" style="float:left; max-width: 70px; max-height: 60px;">
                                                    <img src="<!--{{item.prizeImg}}-->"/>
                                                </div>
                                            </div >
                                        </div>
                                </td>
								<td>
                                    <!--{{item.prizeName}}-->
                                    <input type='hidden' name='prizeName[]' value='<!--{{item.prizeName}}-->'>
                                    <input type='hidden' name='linkCode[]' value='<!--{{item.linkCode}}-->'></td>
								<td>
                                    <!--{% if item.linkType == 0 %}-->
                                        游币
                                    <!--{% elseif  item.linkType == 1 %}-->
                                        礼包卡密
                                    <!--{% elseif  item.linkType == 2 %}-->
                                        商品
                                    <!--{% elseif  item.linkType == 3 %}-->
                                        抽奖机会
                                    <!--{% elseif  item.linkType == 4 %}-->
                                        钻石
                                   <!--{% endif %}-->
                                </td>
                                <td>
                                    <!--{{item.prizeStock}}-->
                                    <input type='hidden' name='prizeStock[]' value='<!--{{item.prizeStock}}-->'>
                                </td>
								<td>
                                    <!--{{item.prizeProbability}}-->％
                                    <input type='hidden' class='prizeProbability'  name='prizeProbability[]' value='<!--{{item.prizeProbability}}-->'>
                                </td>
								<td><a href='javascript:;' url="<!--{{url('/v4lotteryproduct/bigwheel/deldetail',{'id':item.detailId})}}-->" code='<!--{{item.detailId}}-->' class='btn btn-primary tr-del'><i class='icon-trash'></i>删除</a></td>
                            </tr>
                        <!--{%endfor%}-->
					</tbody>
				</table>
			  </div>
				
			  	</br>
			   <div class="pagelink">
			   		</br>
					<button type="submit"   id="ok" class="btn btn-primary"><i class="icon-ok"></i>确认方案（需要添加8件奖品才能提交）</button>
                    </br>
			  </div>

		</div>
		</form>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
				        data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
                    方案（需要添加8件奖品才能提交）
				</h4>
			</div>
			<div class="modal-body">
				<div id="content_my" class="box-content">
					
						<div class="control-group">
								<label class="control-label">商品标签</label>
								<div class="controls" id="myradio">

								</div>
						</div>
						<div id="input">
							<div class="control-group" id="input_0">
								<label class="control-label">游  币:</label>
								<div class="controls">
									<div class="input-append">
										<input type="text"  id="youbi" name="youbi" class="input-medium" value="" />
									</div>
								</div>
							</div>
						
							<div class="control-group" id="input_1" style="display:none;">
								<label class="control-label">礼包:</label>
								<div class="controls">
									<div class="input-append">
										<input type="hidden"  id="giftId" name="giftId"  value="" />
										<input type="text"  id="giftbag" name="giftbag" class="input-large" value="" />
										<span  class="add-on select-pop-gift" id="select-pop-gift">选择礼包库</span><span class="add-on can-use">可分配数量<span class="text-error" id="text_card">0</span>个</span>
									</div> 
								</div>
							</div>
							<div class="control-group" id="input_2" style="display:none;">
								<label class="control-label">商城:</label>
								<div class="controls">
									<div class="input-append">
									  <input type="hidden"  id="productId" name="productId"  value="" />
									  <input type="text"  id="productName" name="productName" class="input-large" value="" />
									  <span  class="add-on select-pop-pro" id="select-pop-pro">选择商城</span>
									</div>
								</div>
							</div>
							<div class="control-group" id="input_3" style="display:none;">
								 <label class="control-label">抽奖机会:</label>
								 <div class="controls">
									<div class="input-append">
										<input type="text"  id="choujiangjihui" name="choujiangjihui" class="input-medium" value="" />
									</div>
								 </div>
							</div>
                            <div class="control-group" id="input_4" style="display:none;">
                                <label class="control-label">钻石:</label>
                                <div class="controls">
                                    <div class="input-append">
                                        <input type="text"  id="zhuanshi" name="zhuanshi" class="input-medium" value="" />
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="control-group"  >
								<label class="control-label">发放数量:</label>
								<div class="controls">
									<div class="input-append">
										<input type="text"  id="fafangshuliang" name="fafangshuliang" class="input-medium" value="" />
									</div>
								</div>
						</div>
						<div class="control-group" >
								<label class="control-label">中奖概率:</label>
								<div class="controls">
									<div class="input-append"> 
										<input type="text"  id="zhongjianggailv" name="zhongjianggailv" class="input-medium" value="" />
									</div>
								</div>
						</div>
						<div id="modal-footer" class="modal-footer">
							<button type="button" class="btn btn-default"
							        data-dismiss="modal">关闭
							</button>
							<a href="javascript:;" id="go_" class="btn btn-primary"> 确定</a>
						</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script src="/static/js/laydate/laydate.js"></script>
<script> 
	
	$(function(){
        $('input.switchbox').bootstrapSwitch();
        <!--{% if datalist.0.detailList %}-->
            $("#fa").attr("action","<!--{{url('/v4lotteryproduct/bigwheel/updatawheel')}}-->");
        <!--{% else %}-->
            $("#ok").attr("disabled","disabled");
        <!--{% endif %}-->
            $("#insert_fangan").bind("click",function(){
				$("#myModal").modal("show");
                var radio='<!--{{form_radio("linkType",0,"")}}-->游币&nbsp&nbsp<!--{{form_radio("linkType",1,"")}}-->礼包&nbsp&nbsp<!--{{form_radio("linkType",2,"")}}-->商城&nbsp&nbsp<!--{{form_radio("linkType",3,"")}}-->抽奖机会&nbsp&nbsp<!--{{form_radio("linkType",4,"")}}-->钻石';
            $("#myradio").html(radio);
            $('input:radio').iCheck({
                checkboxClass: 'icheckbox_square-orange',
                radioClass: 'iradio_square-orange',
                increaseArea: '20%'
            });

			    $("input[name='linkType']").on('ifChecked',function(e){
						var check_val = $(this).val();
                        $("#input > #input_"+check_val).show().siblings().hide();
				});
				$('#select-pop-gift').unbind("click").bind('click',function(){ 
					$.ajax({

						url:'/v4lotteryproduct/bigwheel/select-pop-gift',
						data:{virtualUse:4},
						dataType:'json',
						success:function(json){
							var html = json.html;
							$.dialog({id:'select-pop-gift',title:'提示',padding:2,content:html,width:600,height:580,close:function(){$("#myModal").modal("show");}});
							$("#myModal").modal("hide");
						}

						/***
                        url:'/v4giftbag/package/cate-card-select',
                        dataType:'json',
                        success:function(json){
                            var html = json.html;
                            $.dialog({id:'pop-card-list',title:'提示',padding:2,content:html,width:600,height:580,close:function(){$("#myModal").modal("show");}});
                            $("#myModal").modal("hide");
                        }***/
					});
				});
				$('#select-pop-pro').unbind("click").bind('click',function(){
			        $.ajax({

			            url:'/v4lotteryproduct/bigwheel/product-code',
				        data:{p_type:2},
			            dataType:'json',
			            success:function(json){
			                var html = '';
			                html = json.html;
			                $.dialog({id:'pop-product-list',title:'提示',padding:2,content:html,width:600,height:580 ,zIndex: 3999,close:function(){$("#myModal").modal("show");}});
			                $("#myModal").modal("hide");
			            }
                     });
			    });
			    var u=0;
				$("#go_").unbind("click").bind('click',function(){
					var j=$("#add_tr > tr"),i=j.length;
					if(i > 7){
						alertify.error('抱歉只能最多添加8条数据！'); 
					   	return false;
					}
					var linktype=$("input[name='linkType']:checked").val(),
						linkname='',
						prizeName='',
						linkCode='',
						prizeProbability=$("#zhongjianggailv").val()*100,
						prizeStock=$("#fafangshuliang").val(),
						html='',
                        div='';
                    if(linktype == ''){
                        alertify.error('抱歉中奖类型丢失');
                        return false;
                    }
                    switch(linktype)
					{
					   case '0':
					   		if(!$("#youbi").val())
					   		{
					   			alertify.error('奖品未填写'); 
					   			return false;
					   		}
							prizeName=$("#youbi").val();
						    linkname='游币';
                       break;
                       case '4':
                            if(!$("#zhuanshi").val())
                            {
                                alertify.error('钻石未填写');
                                return false;
                            }
                            prizeName=$("#zhuanshi").val();
                            linkname='钻石';
                            break;
					   case '1':     
					   		if(!$("#giftId").val() || !$("#giftbag").val())
					   		{
					   			alertify.error('奖品未填写'); 
					   			return false;
					   		}
					   	    prizeName=$("#giftbag").val();
					   	    linkCode=$("#giftId").val();
						    linkname='礼包卡密';
					   break;
					   case '2':
					   		if(!$("#productName").val() ||　!$("#productId").val())
					   		{
					   			alertify.error('奖品未填写'); 
					   			return false;
					   		}
					   		prizeName=$("#productName").val();
					   		linkCode=$("#productId").val();
						    linkname='商品';
					   break;
					   case '3':
					   		if(!$("#choujiangjihui").val())
					   		{
					   			alertify.error('奖品未填写'); 
					   			return false;
					   		}
					   		prizeName=$("#choujiangjihui").val();
						    linkname='抽奖机会';
					   break;
					};

					if(!prizeStock || !prizeProbability){
						alertify.error('中奖概率或者发放数量未填写'); 
					   	return false;
					}
					div='<div class="control-group"><label class="control-label">上传图片*</label><div class="controls"><div class="fileupload fileupload-new" data-provides="fileupload"><div class="fileupload-new thumbnail" style="float:left; max-width: 70px; max-height: 60px;"><img src="/static/img/nopic.gif" /></div><div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 70px; max-height: 60px; line-height: 20px;"></div><div ><span class="btn btn-file"><i class="icon-picture"></i>	<span class="fileupload-new">选择图片</span><span class="fileupload-exists">重新选择</span><input type="file" data-rule-required="true"  data-msg-required="请选择图片" name="prizeImg[]" /></span></div></div><span class="help-inline">图片最佳尺寸:60*60</span></div>';

					html="<tr id='add_"+i+"'><input type='hidden' name='linktype[]' value='"+linktype+"' ><td>"+div+"</td>";

					html+="<td style='width:110px;'><input type='hidden' name='prizeName[]' value='"+prizeName+"'><input type='hidden' name='linkCode[]' value='"+linkCode+"'>"+prizeName+""+linkname+"</td>";

					html+="<td>"+linkname+"</td>";

					html+="<td><input type='hidden' name='prizeStock[]' value='"+prizeStock+"'>"+prizeStock+"</td>";

					html+="<td><input type='hidden' class='prizeProbability' name='prizeProbability[]' value='"+prizeProbability+"'>"+prizeProbability+"％</td>";

                    html+="<td><a href='javascript:;' code='"+i+"' class='btn btn-primary td-del'><i class='icon-trash'></i>删除</a></td></tr>";

                    $("#add_tr").prepend(html);

                    $("input.prizeProbability").each(function(z){
                        u+=$(this).val()*1;
                    });

					if(i == 7 ){
                        if(u > 100){
                            alertify.error("奖品总和概率不能超过100%");
                        }else if(u < 100){
                            alertify.error("奖品总和概率不能低于100%");
                        }else{
                            $("#ok").removeAttr("disabled");
                        }

					}
					$("#myModal").modal("hide");
					$("#content_my  input").val('');
                    $("a.td-del").unbind("click").bind('click',function(){
                        var id = $(this).attr('code');
                        alertify.confirm('确认删除该方案？',function(e) {
                            if (e) {
                                $("#add_" + id).remove();
                                $("#ok").attr("disabled");
                            }
                        });
                    })
				});
        });
        var del=new Array();
        $("a.tr-del").unbind("click").bind('click',function(){
            var url = $(this).attr('url'),id=$(this).attr('code');
            alertify.confirm('确认删除该方案？',function(e){
                if(e) {

                    <!--{% if datalist.0.schemeId %}-->
                    /***
                    $.get(url,{},function(data){
                        $("#ok").attr("disabled","disabled");
                        if(data.errorCode == 0){
                            alertify.success(data.msg);
                            $("#add_"+id).remove();
                        }else{
                            alertify.error(data.msg);
                        }
                    },'json');
                     ***/
                    del.push(id);
                    $("#add_"+id).remove();
                    $("#ok").attr("disabled","disabled");
                    if(del.length>0){

                        $("#mydel").val(del.join(','))
                    }else{
                        $("#mydel").val('');
                    }
                    <!--{% else %}-->
                        $("#add_"+id).remove();
                    <!--{%    endif %}-->


                }
            });


        });
    });
	var setGift =function(id,name,card){
		$("#myModal").modal("show");
		$("#giftId").val(id);
		$("#giftbag").val(name);
        $("#text_card").html(card);
	}
	var set_selected_product=function(id,name){
		$("#myModal").modal("show");
		$("#productId").val(id);
		$("#productName").val(name);

	}


</script>
<!--{%endblock%}-->