<!--{%extends "../sub-layout-giftbag.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
	<div class="span12">
		<div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					当前使用方案细节
				</h3>
				<div class="actions">
					<table class="table-filter">
						<tr>
					      <td>
					     	<a href="<!--{{url('/v4lotteryproduct/bigwheel/users')}}-->" class="btn btn-teal">获奖名单</a>
					      </td>
                        </tr>
                    </table>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th >序列</th>
                        <th >中奖图片</th>
						<th >中奖物品</th>
                        <th >奖品类型</th>
						<th >领取数/总数</th>
						<th >概率</th>
					</tr>
					</thead>
					<tbody>
						<!--{% for key,item in details%}-->
							<tr>
								<td><!--{{item.detailId}}--></td>
                                <td>
                                    <div class="control-group">
                                        <label class="control-label"></label>
                                        <div class="controls">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail" style="float:left; max-width: 70px; max-height: 60px;">
                                                    <img src="<!--{{item.prizeImg}}-->"/>
                                                </div>
                                            </div >
                                        </div>
                                </td>
								<td><!--{{item.prizeName}}--></td>
                                <td>
                                    <!--{% if item.linkType == 0 %}-->
                                    游币
                                    <!--{% elseif  item.linkType == 1 %}-->
                                    礼包卡密
                                    <!--{% elseif  item.linkType == 2 %}-->
                                    商品
                                    <!--{% elseif  item.linkType == 3 %}-->
                                    抽奖机会
                                    <!--{% elseif  item.linkType == 4 %}-->
                                    钻石
                                    <!--{% endif %}-->
                                </td>
								<td><!--{{item.prizeStock-item.prizeUsedStock}}-->/<!--{{item.prizeStock}}--></td>
								<td><!--{{item.prizeProbability}}-->%</td>
							</tr>
						<!--{%endfor%}-->
					</tbody>
				</table>
			</div>
			</br>
			<div class="box-title">
				<h3>
					<i class="icon-table"></i>
					发布和启用的方案
				</h3>
				<div class="actions">
					<form action="<!--{{url('/v4lotteryproduct/bigwheel/supervise')}}-->">
						<table class="table-filter">
							<tr>
								<td>
									<div class="input-append">
								         <input name="schemeName"  placeholder="方案名称" style="width:177px;" type="text" class="input-small" value="<!--{{schemeName}}-->" >
								    </div>
								</td>
								<td>
									开始时间
									<div class="input-append" id="dpEnd" data-date="">
										<input name="startTimeBegin"  type="text" class="input-small datetimepicker" value="<!--{{startTime}}-->" readonly>
										<span class="add-on	"><i class="icon-calendar"></i></span>
									</div>
								</td>
								<td><button class="btn btn-teal"><i class="icon-search"></i>搜索</button></td>
							</tr>
						</table>
					 </form>
				</div>
			</div>
			<div class="box-content nopadding">
				<table class="table table-hover table-nomargin">
					<thead>
					<tr>
						<th >方案序列</th>
						<th >方案名字</th>
						<th >生效时间</th>
						<th >启用</th>
						<th >操作</th>
					</tr>
					</thead>
					<tbody>
						<!--{% for key,item in datalist%}-->
							<tr id="scheme_<!--{{item.schemeId}}-->">
								<td><!--{{item.schemeId}}--></td>
								<td><!--{{item.schemeName}}--></td>
								<td><!--{{item.startTime}}--></td>
								<td><input  name="onOrOff" data-on-color="success" data-on-text="启用"
							       data-off-color="danger" data-off-text="不启用" class="switchbox" type="checkbox" qiyong_url="<!--{{url('v4lotteryproduct/bigwheel/qiyong',{id:item.schemeId})}}-->" <!--{% if item.onOrOff%}--> checked disabled="disabled"<!--{% endif %}--> > </td>
								<td>
									<a href="<!--{{url('v4lotteryproduct/bigwheel/list',{id:item.schemeId})}}-->" class="btn btn-primary">编辑</a>
									<a href='javascript:;' code="<!--{{item.schemeId}}-->"  url="<!--{{url('v4lotteryproduct/bigwheel/deletescheme',{id:item.schemeId})}}-->" class="ajax-del"><i class="icon-trash"></i>删除</a>
								</td>
							</tr>
						<!--{%endfor%}-->
					</tbody>
				</table>
				<div class="pagelink">
					<!--{{pagelinks}}-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->
<!--{%block footer_js%}-->
<script>
	$(function(){
		$('input.datetimepicker').datetimepicker({format:'Y-m-d H:i:s',lang:'ch'});
		$('input.switchbox').bootstrapSwitch();
		$('a.ajax-del').bind('click',function(){
			var url = $(this).attr('url'),
				id = $(this).attr('code');
			alertify.confirm('确认删除该方案？',function(e){
				if(e){
					$.get(url,{},function(data){
						if(data.errorCode == 0){
							alertify.success(data.msg);
							$("#scheme_"+id).remove();
						}else{
							alertify.error(data.msg);
						}

					},'json');
				}
				return ;
			});
		});
		$("input[name='onOrOff']").on('switchChange.bootstrapSwitch', function (e, data) {
            var $this=$(this);
            if(data == true){
				var url=$(this).attr("qiyong_url");
				alertify.confirm('是否启用？',function(e){
					if(e){
						$.post(url,{},function(data){
							if(data.errorCode == 0){
								alertify.success(data.msg);
								//$("#scheme_"+data.value).remove();
                                //window.location.reload();
							}else{
								alertify.error(data.msg);
							}
						},'json');
					}else{
                        $this.removeAttr('checked');
                        window.location.reload();
                    }

				});
			}
		});



	});
</script>
<!--{%endblock%}-->