<!--{%extends "sub-layout-comment.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
		<div class="box">
			<div class="box-title">
				<h3><i class="icon-edit"></i>评论/回帖</h3>
			</div>
			<div class="box-content">
				<form action="#" method="POST" class='form-horizontal' enctype="multipart/form-data">
				<input name="target_table" type="hidden" value="<!--{{target_table}}-->" />				
				<input name="target_id" type="hidden" value="<!--{{target_id}}-->" />
				<div class="control-group">
					<label for="textfield" class="control-label">评论者UID</label>
					<div class="controls">
					    <input name="uid" type="text" class="input-small" value="" />
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">缩略图</label>
					<div class="controls">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						    <div class="input-append">
						        <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span></div>
						        <span class="btn btn-file">
						            <span class="fileupload-new">选择图片</span>
						            <span class="fileupload-exists">更改图片</span>
						            <input type="file" name="listpic"/>
						        </span>						        
						    </div>
						</div>
						<span class="help-inline">图片大小不要超过2M</span>
					</div>
				</div>
				<div class="control-group">
					<label for="textfield" class="control-label">内容</label>
					<div class="controls">
					    <textarea name="content" class="input-xxlarge" rows="10"></textarea>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div>    
				</form>
			</div>
		</div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script src="<!--{{asset('/static/js/ueditor/ueditor.config.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/ueditor.all.js')}}-->"></script>
<script src="<!--{{asset('/static/js/ueditor/lang/zh-cn/zh-cn.js')}}-->"></script>
<script>
$(function(){
    var editor = UE.getEditor('container');
});
</script>
<!--{%endblock%}-->   