<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
	    <div class="box box-color box-bordered">
			<div class="box-title">
				<h3>
					<i class="icon-table"></i><!--{{nav_bar_title}}-->
				</h3>				
			</div>
			<div class="box-content">			    
			    <form action="<!--{{url('wcms/home/slide-edit')}}-->" method="POST" class='form-horizontal' enctype="multipart/form-data">
			    <input name="position" type="hidden" value="<!--{{position}}-->"/>
			    <div class="control-group">
			        <label class="control-label">位置</label>
					<div class="controls">
					    <!--{{form_select('idx',idx_options,setting.idx)}}-->
					</div>
				</div>
				<!--{%if setting.picUrl%}-->
			    <div class="control-group">
			        <label class="control-label">图片</label>
					<div class="controls">
					    <input name="picUrl" type="hidden" value="<!--{{setting.picUrl}}-->" />
					    <a href="#bigimg" data-toggle="modal"><img src="<!--{{setting.picUrl}}-->" width="150px" /></a>
					</div>
				</div>
				<!--{%endif%}-->
				<div class="control-group">
					<label class="control-label">上传图片</label>
					<div class="controls">
					    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
								<div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">选择图片</span><span class="fileupload-exists">Change</span><input type="file" name="filedata" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
							</div>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">类型</label>
					<div class="controls">					    
				        <label class="radio inline">
				        <!--{{form_radio('type',1,setting.status==1,{'class':'select-type'})}}-->站内					        					        
				        </label>
				        <label class="radio inline">
				        <!--{{form_radio('type',2,setting.status==2,{'class':'select-type'})}}-->站外					        					        
				        </label>				        				        				     
					</div>
				</div>
				<div class="control-group div-type-1">
					<label class="control-label">关联文章</label>
					<div class="controls">
					    <div class="input-append">
							<input id="article_id" type="text" name="articleId" class="input-medium" value="<!--{{setting.articleId}}-->" /><span class="add-on select-pop-article">选择</span>
						</div>
					</div>
				</div>
				<div class="control-group div-type-2">
					<label class="control-label">标题</label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="title" class="input-xxlarge" value="<!--{{setting.title}}-->" />
						</div>
					</div>
				</div>
				<div class="control-group div-type-2">
					<label class="control-label">摘要</label>
					<div class="controls">
					    <textarea name="summary" class="input-xxlarge"><!--{{setting.summary}}--></textarea>
					</div>
				</div>
				<div class="control-group div-type-2">
					<label class="control-label">关联游戏</label>
					<div class="controls">
					    <div class="input-append">
							<input type="text" name="gameId" class="input-medium" value="<!--{{setting.gameId}}-->" /><span class="add-on">选择</span>
						</div>
					</div>
				</div>
				<div class="control-group div-type-2">
					<label class="control-label">跳转URL</label>
					<div class="controls">
					    <div class=" input-append">
							<input type="text" name="url" class="input-xxlarge" value="<!--{{setting.url}}-->" />
						</div>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"><i class="icon-ok"></i>保存</button>
				</div> 
			    </form>	    
			</div>
		</div>
	</div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
var set_selected_article = function(data_id){
    $('#article_id').val(data_id);
};
$(function(){   

    $('input').iCheck({
		checkboxClass: 'icheckbox_square-orange',
		radioClass: 'iradio_square-orange',
		increaseArea: '20%' // optional
	});
	
	$('input').on('ifChecked', function(event){
	    if($(this).val()==1){
	        $('.div-type-1').show();
	        $('.div-type-2').hide()
	    }else{
	        $('.div-type-1').hide();
	        $('.div-type-2').show();
	    }
	});
    $('a.ajax-del').bind('click',function(){
        if(!confirm('确定要删除数据吗？')){
            return false;
        }
    });
    
    
    $('.select-pop-article').bind('click',function(){        
        $.ajax({
            url:'/wcms/api/pop-article-search',
            dataType:'json',
            success:function(json){
                var html = '';
                html = json.html;
                $.dialog({id:'pop-article-list',title:'提示',padding:2,content:html,width:600,height:580});
            }
        });        
    });
    var div_type = $('input[name="type"]:checked').val();
    if(div_type==1){
        $('.div-type-1').show();
        $('.div-type-2').hide()
    }else{
        $('.div-type-1').hide();
        $('.div-type-2').show();
    }
});    
</script>
<!--{%endblock%}-->